<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MonitorServiceTimer" value="60000" />
    <!--Monitor timers by (ClassName)Timer-->
    <add key="ApiControllerMonitorTimer" value="900000" />
    <add key="PosPushJobMonitorTimer" value="1800000" />
    <add key="PushControllerMonitorTimer" value="900000" />
    <add key="MammothApiControllerMonitorTimer" value="900000" />
    <add key="MammothPriceControllerMonitorTimer" value="900000" />
    <add key="MammothItemLocaleControllerMonitorTimer" value="900000" />
    <add key="GloConControllerMonitorTimer" value="1200000" />
    <add key="PosPushStartTimeMonitorTimer" value="600000" />
    <add key="DvoBulkImportJobMonitorTimer" value="600000" />
    <add key="TLogConJobMonitorTimer" value="600000" />
    <add key="VimLocaleControllerMonitorTimer" value="600000" />
    <!--TLogConMonitor-->
    <add key="ItemMovementMaximumRows" value="500000" />
    <add key="MinutesAllowedSinceLastTLogCon" value="10" />
    <add key="EnableTLogConJobMonitor" value="true"/>
    <add key="EnableItemMovementTableCheck" value="true"/>

    <!--VIMLocaleConMonitor Settings-->
    <add key="MinutesAllowedSinceLastVimLocaleCon" value="10" />
    <add key="EnableVimLocaleConJobMonitor" value="true"/>

    <!--setting to disable pager duty alerts during sunday downtime-->
    <add key="MaintenanceDay" value="0"/>
    <add key="MaintenanceStartTime" value="02:00:00"/>
    <add key="MaintenanceEndTime" value="04:00:00"/>

    <!-- api controller monitor-->
    <add key="StoreOpenCentralTime_FL" value="06:00:00"/>
    <add key="StoreOpenCentralTime_MA" value="05:00:00"/>
    <add key="StoreOpenCentralTime_MW" value="06:00:00"/>
    <add key="StoreOpenCentralTime_NA" value="06:00:00"/>
    <add key="StoreOpenCentralTime_NC" value="08:00:00"/>
    <add key="StoreOpenCentralTime_NE" value="06:00:00"/>
    <add key="StoreOpenCentralTime_PN" value="08:00:00"/>
    <add key="StoreOpenCentralTime_RM" value="07:00:00"/>
    <add key="StoreOpenCentralTime_SO" value="06:00:00"/>
    <add key="StoreOpenCentralTime_SP" value="08:00:00"/>
    <add key="StoreOpenCentralTime_SW" value="06:00:00"/>
    <add key="StoreOpenCentralTime_UK" value="04:00:00"/>
    <add key="NumberOfMinutesBeforeStoreOpens" value="120" />
    <add key="ApiControllerMonitorRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW"/>

    <!--POS Push by region timers in minutes -->
    <add key="PosPushTimeSpan_FL" value="180" />

    <add key="PosPushTimeSpan_MA" value="180" />
    <add key="PosPushTimeSpan_MW" value="180" />
    <add key="PosPushTimeSpan_NA" value="180" />
    <add key="PosPushTimeSpan_NC" value="180" />
    <add key="PosPushTimeSpan_NE" value="180" />
    <add key="PosPushTimeSpan_PN" value="180" />
    <add key="PosPushTimeSpan_RM" value="180" />
    <add key="PosPushTimeSpan_SO" value="180" />
    <add key="PosPushTimeSpan_SP" value="180" />
    <add key="PosPushTimeSpan_SW" value="180" />
    <add key="PosPushTimeSpan_UK" value="180" />
    <!--POS Push start times by region Central Time Zone-->


    <add key="PosPushStartTime_FL" value="23:59:59" />
    <add key="PosPushStartTime_MA" value="23:59:59" />
    <add key="PosPushStartTime_MW" value="23:59:59" />
    <add key="PosPushStartTime_NA" value="23:59:59" />
    <add key="PosPushStartTime_NC" value="23:59:59" />
    <add key="PosPushStartTime_NE" value="23:59:59" />
    <add key="PosPushStartTime_PN" value="23:59:59" />
    <add key="PosPushStartTime_RM" value="23:59:59" />
    <add key="PosPushStartTime_SO" value="23:59:59" />
    <add key="PosPushStartTime_SP" value="23:59:59" />
    <add key="PosPushStartTime_SW" value="23:59:59" />
    <add key="PosPushStartTime_UK" value="23:59:59" />
    <!--Pager Duty-->
    <add key="IntegrationKey" value="ba11ea781e884e448a54b69c598753ee" />
    <add key="SendPagerDutyNotifications" value="false" />
    <add key="PagerDutyUri" value="https://events.pagerduty.com/generic/2010-04-15/create_event.json" />
    <add key="Environment" value="TEST" />
    <!--DVO Bulk Import Job-->
    <add key="EnableDvoBulkImportJobMonitor" value="false"/>
    <add key="DvoBulkImportFileMaxMinuteThreshold" value="15"/>
    <add key="DvoBulkImportJobMonitorBlackoutStart" value="00:00:00"/>
    <add key="DvoBulkImportJobMonitorBlackoutEnd" value="07:00:00"/>
    <add key="DvoBulkImportJobMonitorRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW,UK"/>
    <add key="DvoDirectoryPath" value="\\irmaqafile\DataMonkey 2\conf"/>
    <!--EMAILS -->
    <add key="SendEmails" value="false" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />
  </appSettings>
  <connectionStrings>
    <add name="Icon" connectionString="data source=CEWD1815\SQLSHARED2012D;initial catalog=IconDev;integrated security=True;MultipleActiveResultSets=True" />
    <add name="Mammoth" connectionString="data source=MAMMOTH-DB01-DEV\MAMMOTH;initial catalog=Mammoth_Dev;integrated security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_FL" connectionString="data source=idd-fl\fld;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_MA" connectionString="data source=idd-ma\mad;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_MW" connectionString="data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NA" connectionString="data source=idd-na\nad;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NC" connectionString="data source=idt-nc\nct;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NE" connectionString="data source=idt-ne\net;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_PN" connectionString="data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_RM" connectionString="data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SO" connectionString="data source=idd-so\sod;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SP" connectionString="data source=idt-sp\spt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SW" connectionString="data source=idt-sw\swt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_UK" connectionString="data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target name="dbLogMammoth" type="Database" connectionString="data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="14" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
    <rules>
      <logger name="Icon.Monitoring.*" minlevel="Debug" writeTo="dbLogMammoth" final="true" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>