<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Icon" connectionString="data source=CEWD8526\ss2016;initial catalog=Icon2016;Integrated Security=True;MultipleActiveResultSets=True" xdt:Locator="Match(name)" xdt:Transform="Replace" />
    <!-- ** Conn strings for IRMA DBs are the same for Dev and Test, so we don't need to specify here, as default app.config should have Test IRMA DB connections. -->
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="2016" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="Sender" value="Icon-2016@wholefoods.com" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
   
    <add key="EnableVimLocaleConJobMonitor" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace"/>  
  </appSettings>
  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" xdt:Transform="Replace">
    <targets>
      <target name="dbLogMonitor" type="Database" connectionString="data source=CEWD8526\ss2016;initial catalog=Icon2016;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="14" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
    <rules>
      <logger name="Icon.Monitoring.*" minlevel="Debug" writeTo="dbLogMonitor" final="true" />
    </rules>
  </nlog>
</configuration>