<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Icon" connectionString="data source=idq-icon\SQLSHARED3Q;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" xdt:Locator="Match(name)" xdt:Transform="Replace" />
    <add name="Mammoth" connectionString="Data Source=MAMMOTH-DB01-QA\MAMMOTH;Initial Catalog=Mammoth;integrated security=True;MultipleActiveResultSets=True"  xdt:Locator="Match(name)" xdt:Transform="Replace" />
    <add name="ItemCatalog_FL" connectionString="data source=idq-fl\flq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_MA" connectionString="data source=idq-ma\maq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_MW" connectionString="data source=idq-mw\mwq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_NA" connectionString="data source=idq-na\naq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_NC" connectionString="data source=idq-nc\ncq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_NE" connectionString="data source=idq-ne\neq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_PN" connectionString="data source=idq-pn\pnq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_RM" connectionString="data source=idq-rm\rmq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_SO" connectionString="data source=idq-so\soq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_SP" connectionString="data source=idq-sp\spq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_SW" connectionString="data source=idq-sw\swq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_UK" connectionString="data source=idq-uk\ukq;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="QA" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="Sender" value="Icon-QA@wholefoods.com" xdt:Locator="Match(key)" xdt:Transform="Replace"/>

    <add key="MonitorServiceTimer" value="60000" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="ApiControllerMonitorTimer" value="1200000" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushJobMonitorTimer" value="1800000" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PushControllerMonitorTimer" value="900000" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="MammothApiControllerMonitorTimer" value="900000" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="MammothPriceControllerMonitorTimer" value="900000" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="MammothItemLocaleControllerMonitorTimer" value="900000" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="GloConControllerMonitorTimer" value="1200000" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTimeMonitorTimer" value="600000" xdt:Locator="Match(key)" xdt:Transform="Replace"/>

    <add key="EnableVimLocaleConJobMonitor" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    
    <add key="PosPushTimeSpan_FL" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushTimeSpan_MA" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushTimeSpan_MW" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushTimeSpan_NA" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushTimeSpan_NC" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushTimeSpan_NE" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushTimeSpan_PN" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushTimeSpan_RM" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushTimeSpan_SO" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushTimeSpan_SP" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushTimeSpan_SW" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushTimeSpan_UK" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace"/>

    <add key="PosPushStartTime_FL" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTime_MA" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTime_MW" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTime_NA" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTime_NC" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTime_NE" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTime_PN" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTime_RM" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTime_SO" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTime_SP" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTime_SW" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="PosPushStartTime_UK" value="23:59:59" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  </appSettings>
  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" xdt:Transform="Replace">
    <targets>
      <target name="dbLogMammoth" type="Database" connectionString="data source=idq-icon\SQLSHARED3Q;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="14" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
    <rules>
      <logger name="Icon.Monitoring.*" minlevel="Debug" writeTo="dbLogMammoth" final="true" />
    </rules>
  </nlog>
</configuration>