<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Icon" connectionString="data source=Icon-db-prd;initial catalog=iCon;Integrated Security=True;MultipleActiveResultSets=True" xdt:Locator="Match(name)" xdt:Transform="Replace" />
    <add name="Mammoth" connectionString="Data Source=MAMMOTH-DB01-PRD\MAMMOTH;Initial Catalog=Mammoth;integrated security=True;MultipleActiveResultSets=True" xdt:Locator="Match(name)" xdt:Transform="Replace" />
    <add name="ItemCatalog_FL" connectionString="data source=IRMA-FL-DB-Prd;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_MA" connectionString="data source=IRMA-MA-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_MW" connectionString="data source=IRMA-MW-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_NA" connectionString="data source=IRMA-NA-DB-Prd;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_NC" connectionString="data source=IRMA-NC-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_NE" connectionString="data source=IRMA-NE-DB-Prd;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_PN" connectionString="data source=IRMA-PN-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_RM" connectionString="data source=IRMA-RM-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_SO" connectionString="data source=IRMA-SO-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_SP" connectionString="data source=IRMA-SP-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_SW" connectionString="data source=IRMA-SW-DB-Prd;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_UK" connectionString="data source=irma-uk-db-prd;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="IntegrationKey" value="5c9df61f-ff16-4eef-8533-6fd8ed9664a3" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="SendOpsGenieAlert" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="Environment" value="PRD" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="MonitorServiceTimer" value="60000" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ApiControllerMonitorTimer" value="1200000" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushJobMonitorTimer" value="1800000" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PushControllerMonitorTimer" value="900000" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="MammothApiControllerMonitorTimer" value="900000" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="MammothPriceControllerMonitorTimer" value="900000" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="MammothItemLocaleControllerMonitorTimer" value="900000" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="GloConControllerMonitorTimer" value="1200000" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTimeMonitorTimer" value="600000" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="PosPushTimeSpan_FL" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushTimeSpan_MA" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushTimeSpan_MW" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushTimeSpan_NA" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushTimeSpan_NC" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushTimeSpan_NE" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushTimeSpan_PN" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushTimeSpan_RM" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushTimeSpan_SO" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushTimeSpan_SP" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushTimeSpan_SW" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushTimeSpan_UK" value="180" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="PosPushStartTime_FL" value="00:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTime_MA" value="00:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTime_MW" value="00:45:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTime_NA" value="00:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTime_NC" value="02:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTime_NE" value="00:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTime_PN" value="02:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTime_RM" value="02:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTime_SO" value="00:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTime_SP" value="02:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTime_SW" value="01:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PosPushStartTime_UK" value="09:00:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="DvoDirectoryPath" value="\\irmaqafile\DataMonkey 2\conf" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="Sender" value="Icon@wholefoods.com" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <!-- Prime Affinity Controller Monitor Settings -->
    <add key="PrimeAffinityControllerMonitorEnabled_FL" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityControllerMonitorEnabled_MA" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityControllerMonitorEnabled_MW" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityControllerMonitorEnabled_NA" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityControllerMonitorEnabled_NC" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityControllerMonitorEnabled_NE" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityControllerMonitorEnabled_PN" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityControllerMonitorEnabled_RM" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityControllerMonitorEnabled_SO" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityControllerMonitorEnabled_SP" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityControllerMonitorEnabled_SW" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityPsgCompletionUtcTime_FL" value="07:10:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityPsgCompletionUtcTime_MA" value="07:10:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityPsgCompletionUtcTime_MW" value="07:20:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityPsgCompletionUtcTime_NA" value="07:40:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityPsgCompletionUtcTime_NC" value="07:40:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityPsgCompletionUtcTime_NE" value="07:10:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityPsgCompletionUtcTime_PN" value="08:10:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityPsgCompletionUtcTime_RM" value="09:10:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityPsgCompletionUtcTime_SO" value="07:10:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityPsgCompletionUtcTime_SP" value="09:10:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="PrimeAffinityPsgCompletionUtcTime_SW" value="07:40:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <!-- Mammoth Gpm Active Price Service Settings -->
    <add key="ActivePriceServiceMonitorEnabled_FL" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceMonitorEnabled_MA" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceMonitorEnabled_MW" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceMonitorEnabled_NA" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceMonitorEnabled_NC" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceMonitorEnabled_NE" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceMonitorEnabled_PN" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceMonitorEnabled_RM" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceMonitorEnabled_SO" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceMonitorEnabled_SP" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceMonitorEnabled_SW" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <!-- DAYLIGHT SAVING TIME UTC -5 -->
    <add key="ActivePriceServiceCompletionUtcTime_FL" value="05:50:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_MA" value="06:00:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_MW" value="06:20:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_NA" value="05:55:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_NC" value="07:50:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_NE" value="06:05:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_PN" value="08:05:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_RM" value="07:55:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_SO" value="05:55:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_SP" value="08:00:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_SW" value="06:50:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <!-- DAYLIGHT SAVING TIME-->

    <!-- STANDARD TIME UTC -6 --><!--
    <add key="ActivePriceServiceCompletionUtcTime_FL" value="06:50:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_MA" value="07:00:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_MW" value="07:20:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_NA" value="06:55:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_NC" value="08:50:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_NE" value="07:05:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_PN" value="09:05:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_RM" value="08:55:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_SO" value="06:55:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_SP" value="09:00:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ActivePriceServiceCompletionUtcTime_SW" value="07:50:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    --><!-- STANDARD TIME UTC -6 -->

    <!-- Mammoth Gpm Expiring TPR Service Settings -->
    <add key="ExpiringTprServiceMonitorEnabled_FL" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceMonitorEnabled_MA" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceMonitorEnabled_MW" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceMonitorEnabled_NA" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceMonitorEnabled_NC" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceMonitorEnabled_NE" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceMonitorEnabled_PN" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceMonitorEnabled_RM" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceMonitorEnabled_SO" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceMonitorEnabled_SP" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceMonitorEnabled_SW" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <!-- DAYLIGHT SAVING TIME UTC -5 -->
    <add key="ExpiringTprServiceCompletionUtcTime_FL" value="06:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_MA" value="06:35:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_MW" value="06:40:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_NA" value="06:45:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_NC" value="06:50:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_NE" value="06:55:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_PN" value="07:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_RM" value="08:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_SO" value="08:35:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_SP" value="08:40:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_SW" value="08:45:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <!-- DAYLIGHT SAVING TIME UTC -5 -->

    <!-- STANDARD TIME UTC -6 --><!--
    <add key="ExpiringTprServiceCompletionUtcTime_FL" value="07:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_MA" value="07:35:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_MW" value="07:40:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_NA" value="07:45:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_NC" value="07:50:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_NE" value="07:55:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_PN" value="08:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_RM" value="09:30:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_SO" value="09:35:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_SP" value="09:40:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ExpiringTprServiceCompletionUtcTime_SW" value="09:45:00" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    --><!-- STANDARD TIME UTC -6 -->

  </appSettings>
  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" xdt:Transform="Replace" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="dbLogMonitor" type="Database" connectionString="data source=Icon-db-prd;initial catalog=iCon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="14" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
      <target name="json-file" type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="Icon.Monitoring.*" minlevel="Debug" writeTo="dbLogMonitor,json-file" final="true" />
    </rules>
  </nlog>
</configuration>