<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="Esb.Core" version="2018.10.19.1" targetFramework="net46" />
  <package id="Icon.Common" version="2018.8.16.2" targetFramework="net46" />
  <package id="Icon.DbContextFactory" version="2017.2.8.1" targetFramework="net461" />
  <package id="Icon.Esb" version="2018.8.16.2" targetFramework="net46" />
  <package id="Icon.Esb.Schemas.Infor" version="2017.12.13.1" targetFramework="net46" />
  <package id="Icon.Esb.Schemas.Mammoth" version="2017.12.27.2" targetFramework="net46" />
  <package id="Icon.Esb.Schemas.Wfm" version="2018.10.8.1" targetFramework="net46" />
  <package id="Icon.Esb.Schemas.Wfm.PreGpm" version="2018.8.28.1" targetFramework="net46" />
  <package id="Icon.Framework" version="2018.10.11.1" targetFramework="net46" />
  <package id="Icon.Logging" version="2016.10.18.4" targetFramework="net461" />
  <package id="Icon.RenewableContext" version="2016.10.19.5" targetFramework="net461" />
  <package id="NLog" version="4.5.10" targetFramework="net46" />
  <package id="NLog.Extended" version="4.5.10" targetFramework="net46" />
  <package id="TIBCO.EMS" version="2016.10.21.1" targetFramework="net461" />
</packages>