<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding  xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity
            name="nunit.framework.dll"
            publicKeyToken="96d09a1eb7f44a77" />
        <bindingRedirect oldVersion="2.5.9" newVersion="2.6.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
</configuration>