<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="sftphost" value="wholebox.wholefoods.com"/>
    <add key="username" value="unfited"/>
    <add key="password" value ="Uinta082017"/>
    <add key="DBServerName" value ="oosdbtest"/>
  </appSettings>
  <connectionStrings>
    <add name="oosConnection" connectionString="Server={0};Database=oos;Trusted_Connection=True;"/>
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


    <targets>
      
      <target name="file" xsi:type="File"
                       layout="${longdate} ${message}" 
                       fileName="${basedir}/logs/logfile.txt" 
                       archiveFileName="${basedir}/archives/log.{#####}.txt"
                       archiveAboveSize="10240"
                       archiveNumbering="Sequence"
                       concurrentWrites="true"
                       keepFileOpen="false"
                       encoding="iso-8859-2" />

      <target xsi:type="Console"
              name="console"
              layout="${longdate} ${message}" 
              />

    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="console,file" />
    </rules>
    

  </nlog>
  
</configuration>