
/* not currently used. for a UI redesign of product status page */

.panel
{
    position: relative;
    padding-bottom: 15px;
    width: 500px;
}

.panel-header
{
    border: solid #ccc 1px;
    background-color: #eee;
}

.panel-content
{
}

.panel-info
{
    border: solid #ccc 1px;
    border-top-width: 0px;
    min-height: 75px;
}

.panel-header-text
{
    display: table-cell;
    overflow: hidden;
    padding: .500em .133em;
    max-width: 470px;
    border-color: #000;
    white-space: nowrap;
    font-weight: bold;
}

.panel-info-control
{
    position: absolute;
    right: 5px;
    bottom: 25px;
    display: none;
    padding-top: 5px;
    padding-left: 10px;
    width: 80px;
    height: 30px;
    border: solid #ccc 2px;
    background-color: #eee;
    -webkit-box-shadow: 2px 2px 4px #e3e3e3;
    box-shadow: 2px 2px 4px #e3e3e3;
}

    .panel-info-control > *
    {
        display: table-cell;
        width: 30%;
    }


.control-edit img:hover
{
    border: outset #ccc 1px;
}

.control-delete img:hover
{
    border: outset #ccc 1px;
}

.panel-sections
{
    margin-right: -0.25em;
    margin-left: -0.25em;
    background-color: #fbf8eb;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(223, 225, 227, 0.53);
    box-shadow: 1px 1px 1px 1px rgba(223, 225, 227, 0.53);
    line-height: 6px;
    /* background-image: url("http://i.imgur.com/frGjq7m.png"); */
}

.panel-sections-top
{
    overflow: hidden;
    padding: .833em;
    border: solid black 1px;
    border-color: #ccc;
    border-bottom-width: 0;
    vertical-align: middle;
}

.panel-sections-bottom
{
    padding: .833em;
    border: solid black 1px;
    border-color: #ccc;
    border-top-width: 0;
    border-top-style: none;
    vertical-align: middle;
}

.section-content
{
    display: table;
    width: 100%;
}

    .section-content > *
    {
        display: table-cell;
        min-width: 60px;
    }

    .section-content span strong
    {
        padding-right: 3px;
    }

body
{
    font-size: 14px;
    font-family: "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}

.panel-bottom
{
    position: relative;
    margin: 0 22px;
    height: 6px;
    background: url("http://www.orbitz.com/static/28.53.3/image/global/trim-gradients.png") repeat-x 0 -1800px;
}

#overlay
{
    position: fixed;
    z-index: 10000;
    border: solid #ccc 1px;
    background-color: #eee;
        -webkit-box-shadow: 5px 5px 5px #bbb;
    box-shadow: 5px 5px 5px #bbb;

}

.panel-info-text
{
    display: inline-block;
    padding: .500em .333em;
    border-color: #000;
    text-align: justify;
    -ms-text-justify: inter-word;
    text-justify: inter-word;
    font-size: 1em;
}

.panel-header-info
{
    display: inline;
    text-align: center;
}



.overlay-top
{
    margin: 0px -4px 0px -4px;
    margin-bottom: 10px;
    padding: 10px;
    border: solid #ccc 1px;
    border-top-width: 0px;
    background-color: #fbf8eb;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(223, 225, 227, 0.53);
    box-shadow: 1px 1px 1px 1px rgba(223, 225, 227, 0.53);
    font-weight: bold;
}




#searchpanel
{
    float: left;
    padding: 5px;
    width: 360px;
}

#right
{
    float: right;
    padding: 10px;
    width: 560px;
}

#wrap
{
    margin: 0 auto;
    width: 960px;
    background: #99c;
}


.searchbox
{
    margin: 0px -4px 0px -4px;
    margin-bottom: 10px;
    padding: 10px;
    border: solid #ccc 1px;
    border-top-width: 0px;
    background-color: #fbf8eb;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(223, 225, 227, 0.53);
    box-shadow: 1px 1px 1px 1px rgba(223, 225, 227, 0.53);
    font-weight: bold;
}

.searchbox-upc
{
    padding: 5px;
}

.search-wrap
{
    padding-bottom: 10px;
    border: solid #ccc 1px;
}

    .search-wrap label
    {
        display: inline-block;
        padding-left: 10px;
        width: 4.5em;
        text-align: right;
    }

    .search-wrap input
    {
        margin-left: 1em;
        padding-right: 75px;
    }

.searchbutton
{
    float: right;
    margin-top: 5px;
    padding: 3px;
    width: 101%;
}

.overlay-editor-wrap
{
    height: 65%;
}

.overlay-editor
{
    width: 100%;
    height: 75%;
    text-align: center;
}

    .overlay-editor textarea
    {
        margin-right: auto;
        margin-left: auto;
        padding: 5px;
        width: 95%;
        height: 85%;
        border: 3px solid #cccccc;
        background-image: url(bg.gif);
        background-position: bottom right;
        background-repeat: no-repeat;
        font-family: Tahoma, sans-serif;
        resize: none;
    }
