<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/WebSupport</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/WebSupport</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Irma.Framework.IrmaContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Irma.Framework.IrmaContext, Irma.Framework" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_FL" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idd-fl\fld;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_FL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-fl\fld;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_MA" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idd-ma\mad;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_MA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-ma\mad;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_MW" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idd-mw\mwd;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_MW_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_NA" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idd-na\nad;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_NA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-na\nad;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_NC" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idt-nc\nct;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_NC_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-nc\nct;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_NE" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idt-ne\net;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_NE_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-ne\net;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_PN" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idt-pn\pnt;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_PN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_RM" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idd-rm\rmd;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_RM_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_SO" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idd-so\sod;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_SO_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-so\sod;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_SP" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idt-sp\spt;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_SP_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-sp\spt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_SW" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idt-sw\swt;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_SW_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-sw\swt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemCatalog_UK" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=idt-uk\ukt;Initial Catalog=ItemCatalog_Test;Integrated Security=True;Persist Security Info=True;User ID=IConInterfaceUserTes;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItemCatalog_UK_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Irma.Framework.IrmaContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_FL-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_MA-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_MW-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_NA-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_NC-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_NE-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_PN-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_RM-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_SO-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_SP-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_SW-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemCatalog_UK-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Irma.Framework.IrmaContext" />
  </ItemGroup>
</Project>