<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InstanceID" value="1" />
    <add key="RunIntervalInMilliseconds" value="1000" />
    <add key="RegionsToProcess" value="FL" />
    <add key="MaxNumberOfRowsToMark" value="100" />
    <add key="BaseAddress" value="http://mammoth-dev/" />
    <add key="SendEmails" value="true" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="dev@wholefoods.com" />
    <add key="ApiRowLimit" value="500" />
  </appSettings>
  <connectionStrings>
    <add name="ItemCatalog_FL" providerName="System.Data.SqlClient" connectionString="Data Source=idd-fl\fld;Initial Catalog=ItemCatalog_Test;Integrated Security=SSPI" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>