<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Icon.DbContextFactory" version="2019.5.22.1" targetFramework="net472" />
  <package id="Icon.RenewableContext" version="2019.5.14.2" targetFramework="net472" />
</packages>