<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="Sender" value="Icon-Dev@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="Icon" providerName="System.Data.SqlClient" connectionString="Data Source=icon-db01-dev;initial catalog=Icon;Integrated Security=true" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <security>
      <authorization xdt:Transform="Replace">
        <add accessType="Allow" users="WFM\NutriconServiceDev" />
        <add accessType="Allow" roles="WFM\IRMA.Developers" />
      </authorization>
    </security>
  </system.webServer>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets xdt:Transform="Replace" async="true">
      <target name="dbLogNutritionApi" xsi:type="Database" connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="12" />
        <parameter name="@UserName" layout="${identity:authType=false:isAuthenticated=false}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
      <target name="json-file" type="File" fileName="e:\logs\NutritionWebApi\application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </targets>
  </nlog>
</configuration>