
.store-functions{
    margin: 0 auto;
    text-align: center;
    .page-title-wrapper{
        p{
            margin: 10px auto;
            text-align: center;
        }
    }
    .subteam-select{
        select{
            width: 90%;
        }
    }
    .subteam-buttons{
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 500px;
        button{
            color: rgb(255, 255, 255); 
            background-color: rgb(0, 78, 54);
            flex: 1 1 40%;
            max-width: 49%;
            a{
                color: rgb(255, 255, 255);
                text-decoration: none;
            }
        }
    }

}