/****** Object:  StoredProcedure [dbo].[Replenishment_Tlog_House_LoadDWCMVar]    Script Date: 09/25/2006 08:33:48 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Replenishment_Tlog_House_LoadDWCMVar]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Replenishment_Tlog_House_LoadDWCMVar]
GO
/****** Object:  StoredProcedure [dbo].[Replenishment_Tlog_House_LoadDWCMVar]    Script Date: 09/25/2006 08:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.Replenishment_Tlog_House_LoadDWCMVar
	@Path as varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @Sql as varchar(1024)
	
	set @Sql = 'BULK INSERT TLOG_CMVAR FROM ''' +  @Path + ''' WITH (FIELDTERMINATOR = '','')'
	exec(@Sql)

END
GO
