/****** Object:  StoredProcedure [dbo].[TaxHosting_GetTaxFlagActiveCount]    Script Date: 05/19/2006 16:33:36 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TaxHosting_GetTaxFlagActiveCount]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[TaxHosting_GetTaxFlagActiveCount]
GO

/****** Object:  StoredProcedure [dbo].[TaxHosting_GetTaxFlagActiveCount]    Script Date: 05/19/2006 16:33:36 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE dbo.TaxHosting_GetTaxFlagActiveCount(@TaxClassID int, @TaxJurisdictionID int) AS	
	
	--THIS PROCEDURE IS USED FOR UK ONLY; UK REQUIRES ONLY 1 TaxFlag BE ACTIVE AT A TIME
	--QUERY BELOW DOES NOT CHECK COUNT FOR OVERRIDE TAX FLAGS AS UK DOES NOT ALLOW OVERRIDES
	SELECT COUNT(1) As ActiveCount
	FROM TaxFlag
	WHERE TaxClassID = @TaxClassID
		AND TaxJurisdictionID = @TaxJurisdictionID
		AND TaxFlagValue = 1 

GO

