/****** Object:  StoredProcedure [dbo].[TaxHosting_DeleteTaxOverride]    Script Date: 05/19/2006 16:33:28 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TaxHosting_DeleteTaxOverride]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[TaxHosting_DeleteTaxOverride]
GO

/****** Object:  StoredProcedure [dbo].[TaxHosting_DeleteTaxOverride]    Script Date: 05/19/2006 16:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE dbo.TaxHosting_DeleteTaxOverride
	@ItemKey int,	
	@StoreNo int,
	@TaxFlagKey varchar(1)	
AS 

BEGIN
    SET NOCOUNT ON
    
    -- delete TaxOverride data
    DELETE FROM TaxOverride
    WHERE Item_Key = @ItemKey
	AND Store_No = @StoreNo
	AND TaxFlagKey = @TaxFlagKey

    SET NOCOUNT OFF
END
GO

