/****** Object:  StoredProcedure [dbo].[TaxHosting_GetTaxOverride]    Script Date: 05/19/2006 16:33:41 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TaxHosting_GetTaxOverride]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[TaxHosting_GetTaxOverride]
GO

/****** Object:  StoredProcedure [dbo].[TaxHosting_GetTaxOverride]    Script Date: 05/19/2006 16:33:41 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE    PROCEDURE dbo.TaxHosting_GetTaxOverride(@ItemKey int, @StoreNo int) AS	

	SELECT TaxOverride.Store_No, TaxOverride.Item_Key, TaxOverride.TaxFlagKey, TaxOverride.TaxFlagValue
	FROM TaxOverride, Store, Item
	WHERE TaxOverride.Store_No = Store.Store_No
		AND TaxOverride.Item_Key = Item.Item_Key
		AND Store.Store_No = @StoreNo
		AND Item.Item_Key = @ItemKey

GO

