/****** Object:  StoredProcedure [dbo].[TaxHosting_UpdateTaxOverride]    Script Date: 05/19/2006 16:33:53 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TaxHosting_UpdateTaxOverride]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[TaxHosting_UpdateTaxOverride]
GO

/****** Object:  StoredProcedure [dbo].[TaxHosting_UpdateTaxOverride]    Script Date: 05/19/2006 16:33:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.TaxHosting_UpdateTaxOverride
	@ItemKey int,
	@StoreNo int,
	@TaxFlagKey varchar(1),
	@TaxFlagValue bit
AS 

BEGIN
    SET NOCOUNT ON
    
    -- First set all tax flags for the item to Inactive (so that only one will be active at once)
    UPDATE TaxOverride SET TaxFlagValue = 0
    WHERE Item_Key = @ItemKey
	AND Store_No = @StoreNo

    -- Set the selected flag to active
    UPDATE TaxOverride SET TaxFlagValue = @TaxFlagValue
    WHERE Item_Key = @ItemKey
	AND Store_No = @StoreNo
	AND TaxFlagKey = @TaxFlagKey

    SET NOCOUNT OFF
END
GO


