/****** Object:  StoredProcedure [dbo].[TaxHosting_InsertTaxOverride]    Script Date: 05/19/2006 16:33:47 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TaxHosting_InsertTaxOverride]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[TaxHosting_InsertTaxOverride]
GO

/****** Object:  StoredProcedure [dbo].[TaxHosting_InsertTaxOverride]    Script Date: 05/19/2006 16:33:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.TaxHosting_InsertTaxOverride
	@ItemKey int,
	@StoreNo int,
	@TaxFlagKey varchar(1),
	@TaxFlagValue bit
AS 

BEGIN
    SET NOCOUNT ON

	IF EXISTS (SELECT TaxFlagKey FROM TaxOverride WHERE Item_Key = @ItemKey AND Store_No = @StoreNo AND TaxFlagKey = @TaxFlagKey)
		BEGIN
			-- First set all tax flags for the item to Inactive (so that only one will be active at once)
			UPDATE TaxOverride SET TaxFlagValue = 0
			WHERE Item_Key = @ItemKey
			AND Store_No = @StoreNo
			
			-- First set all tax flags for the item to Inactive (so that only one will be active at once)
			UPDATE TaxOverride SET TaxFlagValue = @TaxFlagValue
			WHERE Item_Key = @ItemKey
			AND Store_No = @StoreNo
			AND TaxFlagKey = @TaxFlagKey
		END
	ELSE
		BEGIN		
			IF @TaxFlagValue = 1
				-- First set all tax flags for the item to Inactive (so that only one will be active at once)
				UPDATE TaxOverride SET TaxFlagValue = 0
				WHERE Item_Key = @ItemKey
				AND Store_No = @StoreNo
			
			-- Insert new flag and make it active
			INSERT INTO TaxOverride (Item_Key, Store_No, TaxFlagKey, TaxFlagValue)
			VALUES (@ItemKey, @StoreNo, @TaxFlagKey, @TaxFlagValue)
		END

    SET NOCOUNT OFF
END
GO


