/****** Object:  StoredProcedure [dbo].[TaxHosting_GetTaxFlag]    Script Date: 05/19/2006 16:33:33 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TaxHosting_GetTaxFlag]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[TaxHosting_GetTaxFlag]
GO

/****** Object:  StoredProcedure [dbo].[TaxHosting_GetTaxFlag]    Script Date: 05/19/2006 16:33:33 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE dbo.TaxHosting_GetTaxFlag
(
	@TaxClassID int
	,@TaxJurisdictionID int
)
AS	
BEGIN
	SELECT
		[TaxClassID] = TaxFlag.TaxClassID
		,[TaxClassDesc] = TaxClass.TaxClassDesc
		,[TaxJurisdictionID] = TaxFlag.TaxJurisdictionID
		,[TaxJurisdictionDesc] = TaxJurisdiction.TaxJurisdictionDesc
		,[TaxFlagKey] = TaxFlag.TaxFlagKey
		,[TaxFlagValue] = TaxFlag.TaxFlagValue
		,[TaxPercent] = TaxDefinition.TaxPercent
		,[POSID] = TaxDefinition.POSID
		,[ExternalTaxGroupCode] = TaxClass.ExternalTaxGroupCode
	FROM
		TaxFlag
		,TaxClass
		,TaxJurisdiction
		,TaxDefinition
	WHERE
		TaxFlag.TaxClassID = TaxClass.TaxClassID
		AND TaxFlag.TaxJurisdictionID = TaxJurisdiction.TaxJurisdictionID
		AND TaxFlag.TaxJurisdictionID = TaxDefinition.TaxJurisdictionID
		AND TaxFlag.TaxFlagKey = TaxDefinition.TaxFlagKey
		AND TaxFlag.TaxClassID = @TaxClassID
		AND TaxFlag.TaxJurisdictionID = @TaxJurisdictionID
	ORDER BY TaxFlag.TaxFlagKey
END
GO

