/****** Object:  UserDefinedFunction [dbo].[fn_IsFixedSpoilageSubTeam]    Script Date: 10/24/2009 23:38:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fn_IsFixedSpoilageSubTeam]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[fn_IsFixedSpoilageSubTeam]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsFixedSpoilageSubTeam]    Script Date: 10/24/2009 23:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fn_IsFixedSpoilageSubTeam]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'

CREATE FUNCTION [dbo].[fn_IsFixedSpoilageSubTeam]
	(@SubTeamNo int
)
RETURNS bit
AS

BEGIN  
    DECLARE @return int

    SELECT @return = FixedSpoilage
	FROM SubTeam (NOLOCK)
	WHERE SubTeam_No = @SubTeamNo

	RETURN @return
END



' 
END

GO
