/****** Object:  UserDefinedFunction [dbo].[fn_JulianDate]    Script Date: 05/19/2006 16:35:05 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[fn_JulianDate]') AND xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].[fn_JulianDate]
GO

/****** Object:  UserDefinedFunction [dbo].[fn_JulianDate]    Script Date: 05/19/2006 16:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   FUNCTION [dbo].[fn_JulianDate]
	(@Date smalldatetime)
RETURNS varchar(7)

	BEGIN
		-- returns # days since 1900-01-01
		RETURN DATEDIFF (day, CONVERT(datetime, '1900-01-01', 110), @Date)
  	END

GO
