<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="Audits" type="Audit.AuditConfigSection, MammothAudit"/>
    <section name="Upload" type="Audit.UploadConfigSection, MammothAudit"/>
    <section name="Variables" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <Audits>
    <add name="GPMPrice" proc="dbo.AuditGPMPrice" excludeRegions="MA,MW,NA,NC,NE,PN,RM,SP,SW,UK" isActive="false" fileName="Mammoth_Price_{Region}_{Date}.txt" delimiter="|" isGlobal="false" groupSize="250000" profileName="s3" dbConnectionName="Mammoth" />
    <add name="ItemLocale" proc="dbo.AuditItemLocale" excludeRegions="MA,MW,NA,NC,NE,PN,RM,SP,SW,UK" isActive="false" fileName="Mammoth_ItemLocale_{Region}_{Date}.txt" delimiter="|" isGlobal="false" groupSize="250000" profileName="s3" dbConnectionName="Mammoth" />
    <add name="GlobalItem" proc="dbo.AuditGlobalItem" isActive="false" fileName="Mammoth_Item_{Date}.txt" delimiter="|" isGlobal="true" groupSize="250000" profileName="s3" dbConnectionName="Mammoth"/>
    <add name="GPMMessageSequence" proc="dbo.AuditGPMMessageSequence" isActive="false" fileName="Mammoth_Sequence_Number_{Date}.txt" delimiter="|" isGlobal="true" groupSize="250000" profileName="s3" dbConnectionName="Mammoth" />
    <add name="IRMAItemAuth" proc="dbo.AuditAuthorizedItems" isActive="false" fileName="IRMA_Item_Auths_{Region}_{Date}.txt" delimiter="|" isGlobal="false" groupSize="250000" profileName="s3Irma" dbConnectionName="IRMA_{Region}" />
  </Audits>

  <Upload>
    <add profileName="s3" isS3Bucket="true" accessKey="{S3.accessKey}" secretKey="{S3.secretKey}" bucketRegion="https://s3.us-east-1.amazonaws.com" bucketName="14447-gpm-dev" destinationDir="MammothAudit" />
    <add profileName="s3Irma" isS3Bucket="true" accessKey="{S3.accessKey}" secretKey="{S3.secretKey}" bucketRegion="https://s3.us-east-1.amazonaws.com" bucketName="14447-gpm-dev" destinationDir="Irma" />
    <!--<add profileName="localTemp" isS3Bucket="false" accessKey="" secretKey="" bucketRegion="" bucketName="" destinationDir="E:\MammothAudit" />-->
  </Upload>

  <Variables>
    <add key="{S3.accessKey}" value="${AccessKey.NonProd}" />
    <add key="{S3.secretKey}" value="${SecretKey.NonProd}" />
  </Variables>

  <connectionStrings>
    <add name="Mammoth" connectionString="data source=MAMMOTH-DB01-DEV\MAMMOTH;initial catalog=Mammoth_Dev;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_FL" providerName="System.Data.SqlClient" connectionString="Data Source=idd-fl\fld;Initial Catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_MA" providerName="System.Data.SqlClient" connectionString="Data Source=idd-ma\mad;Initial Catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_MW" providerName="System.Data.SqlClient" connectionString="Data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_NA" providerName="System.Data.SqlClient" connectionString="Data source=idd-na\nad;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_NC" providerName="System.Data.SqlClient" connectionString="Data source=idt-nc\nct;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_NE" providerName="System.Data.SqlClient" connectionString="Data source=idt-ne\net;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_PN" providerName="System.Data.SqlClient" connectionString="Data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_RM" providerName="System.Data.SqlClient" connectionString="Data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_SO" providerName="System.Data.SqlClient" connectionString="Data source=idd-so\sod;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_SP" providerName="System.Data.SqlClient" connectionString="Data source=idt-sp\spt;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_SW" providerName="System.Data.SqlClient" connectionString="Data source=idt-sw\swt;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
	<add name="IRMA_UK" providerName="System.Data.SqlClient" connectionString="Data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True" />
  </connectionStrings>

  <appSettings>
    <add key="isEncrypted" value="${isEncrypted}" /> <!--DevOps only: Encryption config flag.-->
    <add key="Description" value="Extracts Mammoth Audit data to a delimited file and sends it to an s3 bucket" />
    <add key="DisplayName" value="Mammoth Audit Service" />
    <add key="ServiceName" value="MammothAuditExtract" />
    <add key="InstanceID" value="1" />
    <add key="UseMultithreaded" value="false" />
    <add key="Regions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW,UK" />
    <add key="RunIntervalInMilliseconds" value="3600000"/>
    <add key="ScheduledTimeStart" value="3:30"/>
    <add key="ScheduledTimeEnd" value="8:00"/>
    <add key="CommandTimeout" value="3000"/>
    <add key="TempDir" value="E:\\Temp\\s3Files"/>
  </appSettings>

  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\Temp\nlog-internal.log">
    <targets>
      <target name="dbLogMammoth"
              type="Database"
              connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI"
              commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
        <parameter name="@AppId" layout="25" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="dbLogMammoth" final="true" />
    </rules>
  </nlog>
</configuration>