<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="Audits" type="Audit.AuditConfigSection, MammothAudit"/>
    <section name="Upload" type="Audit.UploadConfigSection, MammothAudit"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <Audits>
    <add name="GPMPrice" proc="dbo.AuditGPMPrice" excludeRegions="MA,MW,NA,NC,NE,PN,RM,SP,SW,UK" isActive="false" fileName="Mammoth_Price_{Region}_{Date}.txt" delimiter="|" isGlobal="false" groupSize="250000" profileName="localTemp" dbConnectionName="Mammoth" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemLocale" proc="dbo.AuditItemLocale" excludeRegions="MA,MW,NA,NC,NE,PN,RM,SP,SW,UK" isActive="false" fileName="Mammoth_ItemLocale_{Region}_{Date}.txt" delimiter="|" isGlobal="false" groupSize="250000" profileName ="localTemp" dbConnectionName="Mammoth" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="GlobalItem" proc="dbo.AuditGlobalItem" isActive="false" fileName="Mammoth_Item_{Date}.txt" delimiter="|" isGlobal="true" groupSize="250000" profileName="s3" dbConnectionName="Mammoth" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="GPMMessageSequence" proc="dbo.AuditGPMMessageSequence" isActive="false" fileName="Mammoth_Sequence_Number_{Date}.txt" delimiter="|" isGlobal="true" groupSize="250000" profileName="localTemp" dbConnectionName="Mammoth" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	<add name="IRMAItemAuth" proc="dbo.AuditAuthorizedItems" excludeRegions="MA,MW,NA,NC,NE,PN,RM,SP,SW,UK" isActive="false" fileName="IRMA_Item_Auths_{Region}_{Date}.txt" delimiter="|" isGlobal="false" groupSize="250000" profileName="localTemp" dbConnectionName="IRMA_{Region}" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </Audits>

  <Upload>
    <add profileName="localTemp" isS3Bucket="false" accessKey="" secretKey="" bucketRegion="" bucketName="14447-gpm-dev" destinationDir="C:\Temp\MammothAudit\Debug"  xdt:Transform="Replace" xdt:Locator="Match(profileName)" />
    <!--<add profileName="s3" isS3Bucket="true" accessKey="{S3.accessKey}" secretKey="{S3.secretKey}" bucketRegion="https://s3.us-east-2.amazonaws.com" bucketName="wfm-apple-test" destinationDir="mammoth" xdt:Transform="Replace" xdt:Locator="Match(profileName)" />-->
    <!--<add profileName="s3Irma" isS3Bucket="true" accessKey="{S3.accessKey}" secretKey="{S3.secretKey}" bucketRegion="https://s3.us-east-2.amazonaws.com" bucketName="wfm-apple-test" destinationDir="irma" xdt:Transform="Replace" xdt:Locator="Match(profileName)" />-->
  </Upload>

  <Variables>
    <add key="{S3.accessKey}" value="***REMOVED***" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="{S3.secretKey}" value="***REMOVED***" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </Variables>

  <connectionStrings>
    <add name="Mammoth" connectionString="data source=MAMMOTH-DB01-DEV\MAMMOTH;initial catalog=Mammoth_Dev;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="RunIntervalInMilliseconds" value="3000" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="TempDir" value="C:\\Temp\\s3Files" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="UseMultithreaded" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>

  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\Temp\nlog-internal.log">
    <targets>
      <target name="dbLogMammoth"
              type="Database"
              connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI"
              commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
        <parameter name="@AppId" layout="25" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
      </target>
    </targets>
  </nlog>
</configuration>