<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="Audits" type="Audit.AuditConfigSection, MammothAudit"/>
    <section name="Upload" type="Audit.UploadConfigSection, MammothAudit"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <Audits>
    <add name="GPMPrice" proc="dbo.AuditGPMPrice" excludeRegions="" isActive="false" fileName="Mammoth_Price_{Region}_{Date}.txt" delimiter="|" isGlobal="false" groupSize="250000" profileName="s3" dbConnectionName="Mammoth" xdt:Transform="Replace" xdt:Locator="Match(name)"  />
    <add name="ItemLocale" proc="dbo.AuditItemLocale" excludeRegions="" isActive="false" fileName="Mammoth_ItemLocale_{Region}_{Date}.txt" delimiter="|" isGlobal="false"  groupSize="250000" profileName="s3" dbConnectionName="Mammoth" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="GlobalItem" proc="dbo.AuditGlobalItem" isActive="false" fileName="Mammoth_Item_{Date}.txt" delimiter="|" isGlobal="true" groupSize="250000" profileName="s3" dbConnectionName="Mammoth" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="GPMMessageSequence" proc="dbo.AuditGPMMessageSequence" isActive="false" fileName="Mammoth_Sequence_Number_{Date}.txt" delimiter="|" isGlobal="true" groupSize="250000" profileName="s3" dbConnectionName="Mammoth" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="IRMAItemAuth" proc="dbo.AuditAuthorizedItems" isActive="false" fileName="IRMA_Item_Auths_{Region}_{Date}.txt" delimiter="|" isGlobal="false" groupSize="250000" profileName="s3Irma" dbConnectionName="IRMA_{Region}" xdt:Transform="Replace" xdt:Locator="Match(profileName)" />
    <add name="IconLocale" proc="app.AuditLocationHierarchy" isActive="false" fileName="Icon_Location_Hierarchy_{Date}.txt" delimiter="|" isGlobal="true" groupSize="250000" profileName="s3Icon" dbConnectionName="Icon" xdt:Transform="Replace" xdt:Locator="Match(profileName)" />
  </Audits>

  <Upload>
    <add profileName="s3" isS3Bucket="true" accessKey="{S3.accessKey}" secretKey="{S3.secretKey}" bucketRegion="https://s3.us-east-1.amazonaws.com" bucketName="14447-gpm-dev" destinationDir="mammoth/QA" xdt:Transform="Replace" xdt:Locator="Match(profileName)" />
    <add profileName="s3Irma" isS3Bucket="true" accessKey="{S3.accessKey}" secretKey="{S3.secretKey}" bucketRegion="https://s3.us-east-1.amazonaws.com" bucketName="14447-gpm-dev" destinationDir="irma/QA" xdt:Transform="Replace" xdt:Locator="Match(profileName)" />
    <add profileName="s3Icon" isS3Bucket="true" accessKey="{S3.accessKey}" secretKey="{S3.secretKey}" bucketRegion="https://s3.us-east-1.amazonaws.com" bucketName="14447-gpm-dev" destinationDir="icon/QA" xdt:Transform="Replace" xdt:Locator="Match(profileName)" />
  </Upload>

  <connectionStrings>
    <add name="Mammoth" connectionString="data source=QA-01-MAMMOTH02\MAMMOTH02;initial catalog=Mammoth;integrated security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="Icon" connectionString="data source=icon-db-qa;initial catalog=Icon;integrated security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="IRMA_FL" providerName="System.Data.SqlClient" connectionString="data source=irma-fl-db-qa;initial catalog=ItemCatalog;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="IRMA_MA" providerName="System.Data.SqlClient" connectionString="data source=idd-ma\mad;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="IRMA_MW" providerName="System.Data.SqlClient" connectionString="data source=irma-mw-db-qa;initial catalog=ItemCatalog;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="IRMA_NA" providerName="System.Data.SqlClient" connectionString="data source=irma-na-db-qa;initial catalog=ItemCatalog;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="IRMA_NC" providerName="System.Data.SqlClient" connectionString="data source=irma-nc-db-qa;initial catalog=ItemCatalog;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="IRMA_NE" providerName="System.Data.SqlClient" connectionString="data source=irma-ne-db-qa;initial catalog=ItemCatalog;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="IRMA_PN" providerName="System.Data.SqlClient" connectionString="data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="IRMA_RM" providerName="System.Data.SqlClient" connectionString="data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="IRMA_SO" providerName="System.Data.SqlClient" connectionString="Data source=irma-so-db-qa;initial catalog=ItemCatalog;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="IRMA_SP" providerName="System.Data.SqlClient" connectionString="Data source=irma-sp-db-qa;initial catalog=ItemCatalog;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="IRMA_SW" providerName="System.Data.SqlClient" connectionString="Data source=irma-sw-db-qa;initial catalog=ItemCatalog;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="IRMA_UK" providerName="System.Data.SqlClient" connectionString="Data source=irma-uk-db-qa;initial catalog=ItemCatalog;integrated security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="UseMultithreaded" value="true"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ScheduledTimeStart" value="3:30" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ScheduledTimeEnd" value="5:00" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TempDir" value="E:\\Temp\\s3Files\\Perf" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\Temp\nlog-internal.log">
    <targets xdt:Transform="Replace">
      <target name="dbLogMammoth"
              type="Database"
              connectionString="Data Source=QA-01-MAMMOTH02\MAMMOTH02;Initial Catalog=Mammoth;Integrated Security=SSPI"
              commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
        <parameter name="@AppId" layout="25" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="dbLogMammoth" final="true" />
    </rules>
  </nlog>
</configuration>