<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="Audits" type="Audit.AuditConfigSection, MammothAudit"/>
    <section name="Upload" type="Audit.UploadConfigSection, MammothAudit"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <Audits>
    <add name="ItemLocale" proc="dbo.AuditItemLocale" excludeRegions="" isActive="true" fileName="ItemLocale_{Region}_{Date}.txt" delimiter="|" intervalMinutes="1440" enableUpload="true" isGlobal="false" profileName ="profile1" />
    <add name="GPMPrice" proc="dbo.AuditGPMPrice" isActive="true" fileName="GPMPrice_{Region}_{Date}.txt" delimiter="|" intervalMinutes="1440" enableUpload="true" isGlobal="false" profileName ="profile1" />
  </Audits>

  <Upload>
    <add profileName="profile1" accessKey="***REMOVED***" secretKey="***REMOVED***" bucketRegion="https://s3.us-east-2.amazonaws.com" bucketName="wfm-apple-test" destinationDir="MammothGpmAudit" />
  </Upload>

  <connectionStrings>
    <add name="Mammoth" connectionString="data source=A-01-MAMMOTH02\MAMMOTH02;initial catalog=Mammoth_Dev;integrated security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="Description" value="Extracts Mammoth Audit data to a delimited file and sends it to an s3 bucket" />
    <add key="DisplayName" value="Mammoth Audit Service" />
    <add key="ServiceName" value="MammothAuditExtract" />
    <add key="InstanceID" value="1" />

    <add key="RunIntervalInMilliseconds" value="3600000"/>
    <add key="ScheduledTimeStart" value="5:00"/>
    <add key="ScheduledTimeEnd" value="8:00"/>
    <add key="CommandTimeout" value="600"/>
    <add key="TempDir" value="C:\\Temp\\s3Files"/>
  </appSettings>

  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\Temp\nlog-internal.log">
    <targets>
      <target name="dbLogMammoth"
              type="Database"
              connectionString="Data Source=A-01-MAMMOTH02\MAMMOTH02;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI"
              commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
        <parameter name="@AppId" layout="3" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="dbLogMammoth" final="true" />
    </rules>
  </nlog>
</configuration>