<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--Email FROM address-->
		<add key="EmailFrom" value="mw.irma.support@wholefoods.com"/>
		
		<!-- a default delimiter, in case one isn't specified -->
		<add key="ExportDelimiter" value="|"/>

		<!--SETTINGS BELOW ARE SPECIFIC TO THE VIM SUPPLEMENT EXTRACT -->
		<!-- what the cost file should be named -->
		<add key="VIMExtractPrefix" value="VIM"/>
		<add key="VIMFileExt" value=".dat"/>
		<!-- what delimiter should the VIM extract use-->
		<add key="VIMDelimiter" value="|"/>
		
	</appSettings>
</configuration>

