/****** Object:  UserDefinedFunction [dbo].[fn_GetTorexJulianDate]    Script Date: 05/19/2006 16:35:00 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[fn_GetTorexJulianDate]') AND xtype in (N'FN', N'IF', N'TF'))
DROP FUNCTION [dbo].[fn_GetTorexJulianDate]
GO

/****** Object:  UserDefinedFunction [dbo].[fn_GetTorexJulianDate]    Script Date: 05/19/2006 16:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE  FUNCTION [dbo].[fn_GetTorexJulianDate]
	(@Date smalldatetime)
RETURNS int

	BEGIN
		-- returns # days since 1900-01-01 + 109208 to adjust for TOREX (UK)
		-- system''s julian date starting at 01/01/1601
		RETURN CONVERT(int, dbo.fn_JulianDate(@Date)) + CONVERT(int,109208)
  	END
GO
