<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="scadv4" value="https://pkgs.dev.azure.com/wholefoods/bd3da896-5a63-47d5-a1b7-cc6d19ee7de3/_packaging/SCAD4/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <scadv4>
      <add key="Username" value="1143979@wholefoods.com" />
      <add key="ClearTextPassword" value="lruw7tqg23hcjaxk2dpfhksbcdicgjluisgp2n6aipt3ntxsxs7q" />
    </scadv4>
  </packageSourceCredentials>
</configuration>
