/****** Object:  StoredProcedure [dbo].[EPromotions_DeletePromotionalOffer]    Script Date: 05/31/2006 16:02:08 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[EPromotions_DeletePromotionalOffer]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[EPromotions_DeletePromotionalOffer]
GO
/****** Object:  StoredProcedure [dbo].[EPromotions_DeletePromotionalOffer]    Script Date: 05/31/2006 16:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE dbo.EPromotions_DeletePromotionalOffer
	@OfferID int	
AS 

BEGIN
    SET NOCOUNT ON

    BEGIN TRAN

    DECLARE @error_no int
    SELECT @error_no = 0
    
    -- delete Promotional Offer members
    DELETE FROM PromotionalOfferMembers
    WHERE Offer_ID = @OfferID

	SELECT @error_no = @@ERROR

	-- delete Promotional Offer Store associations
    DELETE FROM PromotionalOfferStore
    WHERE Offer_ID = @OfferID

	SELECT @error_no = @@ERROR
	

	If @error_no = 0
	BEGIN
	    -- delete Promotional Offer
		DELETE FROM PromotionalOffer
		WHERE Offer_ID = @OfferID

		SELECT @error_no = @@ERROR
	END

    SET NOCOUNT OFF

    IF @error_no = 0
	COMMIT TRAN
    ELSE
    BEGIN
        IF @@TRANCOUNT <> 0
            ROLLBACK TRAN
        DECLARE @Severity smallint
        SELECT @Severity = ISNULL((SELECT severity FROM master.dbo.sysmessages WHERE error = @error_no), 16)
        RAISERROR ('EPromotions_DeletePromotionalOffer failed with @@ERROR: %d', @Severity, 1, @error_no)
    END
END

GO


