/****** Object:  StoredProcedure [dbo].[EPromotions_GetAvailableItemGroups]    Script Date: 05/31/2006 16:02:33 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[EPromotions_GetAvailableItemGroups]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[EPromotions_GetAvailableItemGroups]
GO
/****** Object:  StoredProcedure [dbo].[EPromotions_GetAvailableItemGroups]    Script Date: 05/31/2006 16:02:33 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[EPromotions_GetAvailableItemGroups]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'



CREATE  PROCEDURE dbo.EPromotions_GetAvailableItemGroups
	@OfferID int	
AS 

BEGIN
    SET NOCOUNT ON

    BEGIN TRAN

    DECLARE @error_no int
    SELECT @error_no = 0
    
    -- Get ItemGroups that are not already assigned to the Promotion.
	Select *  FROM ItemGroup
	  WHERE Group_Id Not IN (Select Group_Id from PromotionalOfferMemebres where OfferId = @OfferId)

    SELECT @error_no = @@ERROR

    SET NOCOUNT OFF

    IF @error_no = 0
	COMMIT TRAN
    ELSE
    BEGIN
        IF @@TRANCOUNT <> 0
            ROLLBACK TRAN
        DECLARE @Severity smallint
        SELECT @Severity = ISNULL((SELECT severity FROM master.dbo.sysmessages WHERE error = @error_no), 16)
        RAISERROR (''EPromotions_GetAvailableItemGroupsr failed with @@ERROR: %d'', @Severity, 1, @error_no)
    END
END' 
END
GO

