@model OutOfStock.Controllers.ServerInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TelerikIsTerribleLayout.cshtml";
}





<h2>UTILITY PAGES</h2>


    <link href="../../Content/Utility.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-ui-1.8.11.js"></script>
    @*<link href="../../Content/css/font-awesome.min.css" rel="stylesheet" />*@
    <script src="../../Scripts/knockout-2.2.1.js"></script>
    <script src="../../Scripts/Utility.js"></script>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Server Info</a></li>
            @*<li><a href="#tabs-2">Scans with Bad Dates from Handhelds</a></li>*@
            <li><a href="#tabs-2">Out Of Stock Notification</a></li>
            <li><a href="#tabs-3">Dupes</a></li>
            <li><a href="#tabs-4">Timezone Offsets</a></li>
        </ul>
        <div id="tabs-1">
            @System.Environment.MachineName
        </div>
        @*<div id="tabs-2">
            <p>
                <button id="GetScans" type="button" class="btn-large">Get Bad Scans</button>
                <button id="fixThem" type="button" class="btn-large" style="display: none">Fix Scans</button>
            </p>
        
            <div id="badScans" style="display: none">
                <table id="badScanTable" class="reportTable">
                    <tr>
                        <th>
                            <i class="icon-bolt" id="boltSmash"></i>
                            <button id="boltSmash" type="button"> X </button>
                        </th>
                        <th>StoreName</th>
                        <th>Abbreviation</th>
                        <th>CreatedDate</th>
                        <th>UpdateDate</th>
                    </tr>
                </table>
            </div>

        </div>*@
        
        <div id="tabs-2">
            <textarea id="oosNotification" data-bind="text: oosNotificationHtml">
    
            </textarea> 

        </div>



        <div id="tabs-3" style="text-align: left">

            <div id="buttonsAtTop">
                <button class="bigGreenButton" data-bind="text: region, visible: region() != undefined, click: $root.clearRegion"></button>
                <button class="bigGreenButton" data-bind="text: selectedStoreName, visible: selectedStore() != undefined, click: $root.clearStore"></button>

                <button class="btn-large" id="zeCompareButton" data-bind="click: $root.compareReports, visible: firstScan() > 1 && secondScan() > 1" style="margin-left: 150px; font-size: 25px;">COMPARE</button>

            </div>

            <div class="selectionColumn">
                <ul data-bind="foreach: $root.regions, visible: region() == undefined">
                    <li class="bigGreenButton" data-bind="text: $data.RegReg, click: $root.goToRegion"></li>
                </ul>



                <table class="reportTable" data-bind="visible: region() != undefined && selectedStore() == undefined">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Store Name</th>
                        <th>Last Scan</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: store">
                    <tr>
                        <td><button data-bind="click: $root.getStoreScans" type="button">Select</button></td>
                        <td data-bind="text: StoreName"></td>
                        <td data-bind="text: LastUpdate"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="reportTable" data-bind="visible: selectedStore() != undefined">
                    <thead>
                    <tr>
                        <th>Compare</th>
                        <th>ScanDate</th>
                        <th>Items</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: storeScans">
                    <tr>
                        <td>
                            <button type="button" data-bind="attr: { 'id': 'one_' + ReportId }, click: $root.reportSelection, css: { 'selectedFirst': $root.firstScan() == ReportId }">1</button>
                            <button type="button" data-bind="attr: { 'id': 'two_' + ReportId }, click: $root.reportSelection, css: { 'selectedSecond': $root.secondScan() == ReportId }">2</button>
                            <button type="button" data-bind="click: $root.disregardReport">X</button>
                        </td>
                        <td data-bind="text: Scandate"></td>
                        <td data-bind="text: ItemCount"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="reportingColumn">
                <br/>
                <h1></h1>



                <table class="reportTable" data-bind="visible: allThoseComparisons().length > 1 && firstScan() > 1 && secondScan() > 1">

                    <tbody data-bind="foreach: allThoseComparisons">
                    <tr>
                        <td data-bind="text: Description"></td>
                        <td data-bind="text: Count"></td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>

        <div id="tabs-4" style="text-align: left">
            <table class="reportTable" data-bind="visible: timezoneData().length > 1">

                <tbody data-bind="foreach: timezoneData">
                <tr>
                    <td style="text-align: right;" data-bind="text: RegionName"></td>
                    <td><input type="text" maxlength="3" style="width: 50px;" data-bind="value: TimezoneOffset"/></td>
                </tr>
                </tbody>
            </table>
            <br/>
            <button data-bind='click: saveTimezoneInfo'>Save</button>
            <br/>
            <span id="timezonemessage"></span>
        </div>

    </div>


    <div id="globalModal" title="Change this title">
   
    </div>

