@model Icon.Dashboard.Mvc.ViewModels.IconApplicationViewModel

@{
    string title = String.Format("Detailed Dashboard Entry for \"{0}\"", Model.DisplayName);
    ViewBag.Title = title;
}

<h3 class="text-center">@title</h3>

<div class="container-fluid">
    @Html.DisplayForModel("IconApplicationDetailsViewModel")

    @{Html.RenderPartial("_BackToListPartial", Model);}
</div>
