<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Mammoth" connectionString="data source=MAMMOTH-DB01-DEV\MAMMOTH;initial catalog=Mammoth_Dev;integrated security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="ServerUrl" value="ssl://cerd1616.wfm.pvt:7233" />
    <add key="JmsUsername" value="mammothUser" />
    <add key="JmsPassword" value="tXt5NGpSqaEk" />
    <add key="JndiUsername" value="jndiMammothUser" />
    <add key="JndiPassword" value="maMmothU$er" />
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory" />
    <add key="SslPassword" value="esb" />
    <add key="QueueName" value="WFMESB.Enterprise.Hierarchy.ItemGateway.Queue.V2" />
    <add key="SessionMode" value="ClientAcknowledge" />
    <add key="CertificateName" value="CN=CA-ROOT-I, O=Whole Foods Market" />
    <add key="CertificateStoreName" value="Root" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="TargetHostName" value="cerd1616.wfm.pvt" />
    <add key="ReconnectDelay" value="30000" />
    <add key="SendEmails" value="true" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Mammoth-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />
    <add key="NumberOfListenerThreads" value="1" />
  </appSettings>
  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target name="dbLogMammoth" type="Database" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI" commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
        <parameter name="@AppId" layout="7" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="dbLogMammoth" final="true" />
    </rules>
  </nlog>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
