/****** Object:  StoredProcedure [dbo].[GetWasteTypes]    Script Date: 10/23/2009 15:24:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetWasteTypes]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetWasteTypes]
GO
/****** Object:  StoredProcedure [dbo].[GetWasteTypes]    Script Date: 10/23/2009 15:24:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetWasteTypes]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		Faisal Ahmed
-- Create date: 10/23/2009
-- Description:	Returns the waste types
-- =============================================
CREATE PROCEDURE dbo.GetWasteTypes
AS
BEGIN
    SET NOCOUNT ON
    
	SELECT 
		Abbreviation AS Waste_Type, 
		AdjustmentDescription AS Description
	FROM InventoryAdjustmentCode
	WHERE Abbreviation in (''SM'', ''SP'', ''FB'')
    
    SET NOCOUNT OFF
END
' 
END
GO
GRANT EXECUTE ON [dbo].[GetWasteTypes] TO [IRMAAdminRole]
GO
GRANT EXECUTE ON [dbo].[GetWasteTypes] TO [IRMAClientRole]
GO
