IF EXISTS (select * from dbo.sysobjects where id = object_id(N'[dbo].GetAllProdHierLevel3') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	BEGIN
		DROP  Procedure [dbo].GetAllProdHierLevel3
	END
GO

CREATE Procedure dbo.GetAllProdHierLevel3
AS
    SELECT   Description, ProdHierarchyLevel3_ID
    FROM     ProdHierarchyLevel3
    ORDER BY Description

GO

