<?xml version="1.0"?>
<configuration>
	<!--CONNECTION STRINGS ARE NOW INHERITED FROM IIS FROM THE REGIONAL VIRTUAL DIRECTORY
		 UNCOMMENT SECTION TO TEST LOCALLY-->
	<connectionStrings>
		<add name="PromoPlanner_Conn" connectionString="Data Source=idd-ce;Initial Catalog=ItemCatalog_V36;User ID=PromoPlanner_User;Password=wh0l3f00ds;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!-- identifies this application and the environment it is connected to -->
		<add key="ApplicationGUID" value="C495B25E-F913-442A-92E3-734ABD70C89C"/>
		<add key="EnvironmentGUID" value="20C5DDAC-659C-4B81-84F6-5F79CC390D10"/>
		<add key="ConnectionStringName" value="PromoPlanner_Conn"/>
	</appSettings>
	<system.web>
		<machineKey validationKey="C84053F982794D1F2033B8FDCFB507B74BFF1E041EBF00C75F4206FAF3BAE1DC20DA37C4FAB14A1C606772FE8450B7DBCA801F4E10B95C131067196050971C57" decryptionKey="95F518E4BED5C86DEE996007E12126C60BDDE5596647ABCFC5E60646B7D7B903" validation="SHA1" decryption="AES"/>
		<compilation defaultLanguage="vb" debug="true" explicit="true" targetFramework="4.0">
		</compilation>
		<!--
						The <authentication> section enables configuration 
						of the security authentication mode used by 
						ASP.NET to identify an incoming user. 
				-->
		<authentication mode="Windows"/>
		<!--
						The <customErrors> section enables configuration 
						of what to do if/when an unhandled error occurs 
						during the execution of a request. Specifically, 
						it enables developers to configure html error pages 
						to be displayed in place of a error stack trace.

				<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
						<error statusCode="403" redirect="NoAccess.htm" />
						<error statusCode="404" redirect="FileNotFound.htm" />
				</customErrors>
				-->
		<customErrors mode="Off"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
</configuration>
