<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <targets xdt:Transform="Replace" async="true">
    <target name="dbLogIconEsb" xsi:type="Database" connectionString="data source=Icon-db-prd;initial catalog=iCon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.PerformanceLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
      <parameter name="@AppId" layout="3" />
      <parameter name="@UserName" layout="${windows-identity}" />
      <parameter name="@LogDate" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Source" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@MachineName" layout="${machinename}" />
    </target>
    <target name="json-file" xsi:type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
      <layout xsi:type="JsonLayout">
        <attribute name="date" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
  </targets>
</nlog>