<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- identifies this application and the environment it is connected to -->
		<add key="ApplicationGUID" value="6C6CFA66-1692-444B-9BEC-6B5C48C9F8AC"/>
		<add key="EnvironmentGUID" value="20C5DDAC-659C-4B81-84F6-5F79CC390D10"/>
		<!-- Flag set to true if the database connection strings are encrypted -->
		<add key="encryptedConnectionStrings" value="False"/>
	</appSettings>
	<connectionStrings>
		<add name="ItemCatalog" providerName="System.Data.SqlClient" connectionString="Data Source=idd-mw;Initial Catalog=ItemCatalog_Test;User Id=IRSUser;Password=1ll1n015;"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
