<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net46" />
  <package id="bootstrap" version="3.3.7" targetFramework="net46" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net46" />
  <package id="CodeAssassin.ConfigTransform" version="1.2" targetFramework="net46" />
  <package id="Dapper" version="1.50.5" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="Esb.Core" version="2019.4.25.2" targetFramework="net46" />
  <package id="FastMember" version="1.3.0" targetFramework="net46" />
  <package id="Icon.Common" version="2018.8.16.2" targetFramework="net46" />
  <package id="Icon.DbContextFactory" version="2017.2.8.1" targetFramework="net46" />
  <package id="Icon.Esb" version="2018.8.16.2" targetFramework="net46" />
  <package id="Icon.Esb.Schemas.Infor" version="2017.12.13.1" targetFramework="net46" />
  <package id="Icon.Esb.Schemas.Mammoth" version="2017.12.27.2" targetFramework="net46" />
  <package id="Icon.Esb.Schemas.Wfm" version="2019.4.25.2" targetFramework="net46" />
  <package id="Icon.Framework" version="2019.4.16.3" targetFramework="net46" />
  <package id="Icon.Logging" version="2016.10.18.4" targetFramework="net46" />
  <package id="Icon.RenewableContext" version="2016.10.19.5" targetFramework="net46" />
  <package id="Irma.Framework" version="2018.8.16.1" targetFramework="net46" />
  <package id="jQuery" version="3.2.1" targetFramework="net46" />
  <package id="jQuery.Validation" version="1.16.0" targetFramework="net46" />
  <package id="Mammoth.Common.DataAccess" version="2019.3.20.1" targetFramework="net46" />
  <package id="Mammoth.Framework" version="2019.3.20.1" targetFramework="net46" />
  <package id="Mammoth.PrimeAffinity.Library" version="2018.9.25.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net46" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net46" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="Modernizr" version="2.8.3" targetFramework="net46" />
  <package id="Moment.js" version="2.19.1" targetFramework="net46" />
  <package id="morelinq" version="2.10.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="NLog" version="4.5.10" targetFramework="net46" />
  <package id="NLog.Extended" version="4.5.10" targetFramework="net46" />
  <package id="Quartz" version="3.0.4" targetFramework="net46" />
  <package id="Respond" version="1.4.2" targetFramework="net46" />
  <package id="SimpleInjector" version="4.3.0" targetFramework="net46" />
  <package id="SimpleInjector.Integration.Web" version="4.3.0" targetFramework="net46" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="4.3.0" targetFramework="net46" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net46" />
  <package id="System.Data.SqlClient" version="4.5.1" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
  <package id="TIBCO.EMS" version="2016.10.21.1" targetFramework="net46" />
  <package id="vue" version="2.5.16" targetFramework="net46" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net46" />
  <package id="WebGrease" version="1.6.0" targetFramework="net46" />
</packages>