<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="MaxItemsForCheckpointReq" value="1000" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="AppName" value="WebSupportQA" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<!-- ActiveMQ Settings (default - beta) -->
		<add key="ActiveMqServerUrl" value="failover:(ssl://b-dbe17350-b1ae-40c5-909b-7670ddfb52a7-1.mq.us-west-2.amazonaws.com:61617,ssl://b-c24c6cbd-bc7a-4ff2-82f6-315673768772-1.mq.us-west-2.amazonaws.com:61617,ssl://b-4231a649-45d2-4cfb-b5d0-ef8e1d373e00-1.mq.us-west-2.amazonaws.com:61617)?randomize=true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ActiveMqJmsUsername" value="wfmdatavayuactivemqv2producer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ActiveMqJmsPassword" value="03SSSVeKoWnBWZiA" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ActiveMqQueueName" value="WFMActiveMQ.Commerce.Retail.PriceMgmt.Price.Queue.V2" />
		<add key="ActiveMqSessionMode" value="AutoAcknowledge" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ActiveMqReconnectDelay" value="30000" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<!-- Bridge Account Settings -->
		<add key="MammothGpmBridgeAwsAccount" value="385627060817" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="JobSchedulerBridgeAwsAccount" value="948135231911" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
	<esbConnections>
		<connections>
			<esbConnection
			  name="Sb1EmsConnection"
			  serverUrl="tcp://cerd1671.wfm.pvt:27232,tcp://cerd1672.wfm.pvt:27232"
			  jmsUsername="sb1_mammothPriceUser"
			  jmsPassword="Op2721$5IV"
			  sslPassword="esb"
			  queueName="WFMSB1.Mammoth.Retail.JustInTime.PricePushStarter.Queue.V1"
			  sessionMode="ClientAcknowledge"
			  certificateName="E=mallik.akula@wholefoods.com, CN=Mallik Akula, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
			  certificateStoreName="Root"
			  certificateStoreLocation="LocalMachine"
			  targetHostName="cerd1671.wfm.pvt"
			  xdt:Transform="Replace"
			  xdt:Locator="Match(name)"/>
			<esbConnection
			  name="IRMA"
			  serverUrl="tcp://cerd1671.wfm.pvt:27232,tcp://cerd1672.wfm.pvt:27232"
			  jmsUsername="sb1_mammothPriceIrmaUser"
			  jmsPassword="Bw70534z$r"
			  sslPassword="esb"
			  queueName="WFMSB1.Mammoth.Retail.JustInTimeIrma.MammothPrice.XX.Queue.V1"
			  sessionMode="ClientAcknowledge"
			  certificateName="E=mallik.akula@wholefoods.com, CN=Mallik Akula, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
			  certificateStoreName="Root"
			  certificateStoreLocation="LocalMachine"
			  targetHostName="cerd1671.wfm.pvt"
			  xdt:Transform="Replace"
			  xdt:Locator="Match(name)" />
			<esbConnection
			  name="R10"
			  serverUrl="tcp://cerd1671.wfm.pvt:27232,tcp://cerd1672.wfm.pvt:27232"
			  jmsUsername="sb1_mammothPriceR10User"
			  jmsPassword="7EtZ5*806q"
			  sslPassword="esb"
			  queueName="WFMSB1.Mammoth.Retail.JustInTimeR10.MammothPrice.Queue.V1"
			  sessionMode="ClientAcknowledge"
			  certificateName="E=mallik.akula@wholefoods.com, CN=Mallik Akula, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
			  certificateStoreName="Root"
			  certificateStoreLocation="LocalMachine"
			  targetHostName="cerd1671.wfm.pvt"
			  xdt:Transform="Replace"
			  xdt:Locator="Match(name)" />
			<esbConnection
			  name="EsbEmsConnection"
			  serverUrl="ssl://QA-ESB-EMS-1.wfm.pvt:27293,ssl://QA-ESB-EMS-2.wfm.pvt:27293"
			  jmsUsername="mammothUser"
			  jmsPassword="I94h767@4o"
			  jndiUsername="jndiMammothUser"
			  jndiPassword="t4H41v48MT7s"
			  connectionFactoryName="ItemQueueConnectionFactory"
			  sslPassword="esb"
			  queueName="WFMESB.Commerce.Retail.PriceMgmt.Price.RealTime.Queue.V2"
			  sessionMode="ClientAcknowledge"
			  certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
			  certificateStoreName="Root"
			  certificateStoreLocation="LocalMachine"
			  targetHostName="QA-ESB-EMS-1.wfm.pvt"
			  xdt:Transform="Replace"
			  xdt:Locator="Match(name)" />
			<esbConnection
			  name="EsbEmsCheckPointRequestConnection"
			  serverUrl="ssl://QA-ESB-EMS-1.wfm.pvt:27293,ssl://QA-ESB-EMS-2.wfm.pvt:27293"
			  jmsUsername="mammothUser"
			  jmsPassword="I94h767@4o"
			  jndiUsername="jndiMammothUser"
			  jndiPassword="t4H41v48MT7s"
			  connectionFactoryName="ItemQueueConnectionFactory"
			  sslPassword="esb"
			  queueName="WFMESB.Technical.NotificationBOD.SequenceNotification.Queue.V2"
			  sessionMode="ClientAcknowledge"
			  certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
			  certificateStoreName="Root"
			  certificateStoreLocation="LocalMachine"
			  targetHostName="QA-ESB-EMS-1.wfm.pvt"
			  xdt:Transform="Replace"
			  xdt:Locator="Match(name)" />
		</connections>
	</esbConnections>
	<connectionStrings>
		<add name="ItemCatalog_FL" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-fl-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_MA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-MA-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_MW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-MW-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_NA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-NA-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_NC" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-Nc-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_NE" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-NE-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_PN" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-PN-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_RM" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-RM-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_SO" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-SO-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_SP" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-sp-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_SW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-sw-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_UK" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-UK-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ItemCatalog_TS" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-RM-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="MammothContext" providerName="System.Data.SqlClient" connectionString="Data Source=MAMMOTH-DB01-QA\MAMMOTH;Initial Catalog=Mammoth;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Mammoth" providerName="System.Data.SqlClient" connectionString="Data Source=MAMMOTH-DB01-QA\MAMMOTH;Initial Catalog=Mammoth;Integrated Security=SSPI;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_FL" providerName="System.Data.SqlClient" connectionString="Data Source=IRMA-fl-DB-QA;Initial Catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_MA" providerName="System.Data.SqlClient" connectionString="Data Source=IRMA-MA-DB-QA;Initial Catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_MW" providerName="System.Data.SqlClient" connectionString="Data source=IRMA-MW-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_NA" providerName="System.Data.SqlClient" connectionString="Data source=IRMA-NA-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_NC" providerName="System.Data.SqlClient" connectionString="Data source=IRMA-Nc-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_NE" providerName="System.Data.SqlClient" connectionString="Data source=IRMA-NE-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_PN" providerName="System.Data.SqlClient" connectionString="Data source=IRMA-PN-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_RM" providerName="System.Data.SqlClient" connectionString="Data source=IRMA-RM-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_SO" providerName="System.Data.SqlClient" connectionString="Data source=IRMA-SO-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_SP" providerName="System.Data.SqlClient" connectionString="Data source=IRMA-sp-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_SW" providerName="System.Data.SqlClient" connectionString="Data source=IRMA-sw-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_UK" providerName="System.Data.SqlClient" connectionString="Data source=IRMA-UK-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="IRMA_TS" providerName="System.Data.SqlClient" connectionString="Data source=IRMA-RM-DB-QA;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQA;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	</connectionStrings>
	<nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
		<targets xdt:Transform="Replace">
			<target name="dbLogMammoth" type="Database" connectionString="Data Source=MAMMOTH-DB01-QA\MAMMOTH;Initial Catalog=Mammoth;Integrated Security=SSPI" commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
				<parameter name="@AppId" layout="15" />
				<parameter name="@Level" layout="${level}" />
				<parameter name="@Logger" layout="${logger}" />
				<parameter name="@UserName" layout="${windows-identity}" />
				<parameter name="@MachineName" layout="${machinename}" />
				<parameter name="@LogDate" layout="${date}" />
				<parameter name="@Thread" layout="${threadid}" />
				<parameter name="@Message" layout="${message}" />
				<parameter name="@CallSite" layout="${callsite}" />
				<parameter name="@Exception" layout="${exception:format=tostring}" />
				<parameter name="@StackTrace" layout="${stacktrace}" />
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="dbLogMammoth" final="true" />
		</rules>
	</nlog>
	<system.web>
	</system.web>
</configuration>
