<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISmoreService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISmoreService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cewp5029.wfm.pvt/listomaticserviceDEV/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISmoreService"
                contract="ISmoreService" name="WSHttpBinding_ISmoreService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://cewp5029.wfm.pvt/listomaticserviceDEV/Service.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmoreService"
                contract="ISmoreService" name="BasicHttpBinding_ISmoreService" />
        </client>
    </system.serviceModel>
</configuration>