<div class="page-subsection">
    <h4>Invalid spreadsheet type detected.</h4>
    <h5>Please check that all headers match the layout for a bulk plu mapping spreadsheet (common errors include column order and header spelling).</h5>
</div>