@model Icon.Web.Mvc.Models.BulkPluMappingViewModel

@{
    ViewBag.Title = "PLU Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_HeaderPartial", "Bulk PLU Import");}

<div id="importOptions" class="page-section">
    @{Html.RenderPartial("_SelectSpreadsheetPartial", Model);}
</div>

<div id="importResults" class="page-section">
    @if (Model.ExcelAttachment != null && (Model.ValidSpreadsheetType.HasValue ? !Model.ValidSpreadsheetType.Value : false))
    {
        { Html.RenderPartial("_InvalidSpreadsheetTypePartial"); }
    }
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/bulk-plu-import.js")
}
