<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="DashboardCustomConfigSection" type="Icon.Dashboard.Mvc.Models.DashboardCustomConfigSectionGroup">
      <section name="EsbEnvironmentsSection" type="Icon.Dashboard.Mvc.Models.EsbEnvironmentsSection"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="activeEnvironment" value="Test" />
    <add key="webServer_Dev" value="irmadevapp1" />
    <add key="webServer_Test" value="irmatestapp1" />
    <add key="webServer_QA" value="irmaqaapp1" />
    <add key="webServer_Perf" value="irmatestapp1" />
    <add key="webServer_Prd" value="irmaprdapp1" />
    <add key="appServers_Dev" value="vm-icon-dev1" />
    <add key="appServers_Test" value="vm-icon-test1,vm-icon-test2" />
    <add key="appServers_QA" value="vm-icon-qa1,vm-icon-qa2,mammoth-app01-qa" />
    <add key="appServers_Perf" value="vm-icon-qa3,vm-icon-qa4" />
    <!--<add key="appServers_Prod" value="vm-icon-prd1,vm-icon-prd2,vm-icon-prd3,vm-icon-prd4,vm-icon-prd5,vm-icon-prd6,mammoth-app01-prd,mammoth-app02-prd" /-->
    <add key="mammothWebSupport_Dev" value="http://irmadevapp1/MammothWebSupport" />
    <add key="mammothWebSupport_Test" value="http://irmatestapp1/MammothWebSupport" />
    <add key="mammothWebSupport_QA" value="http://irmaqaapp1/MammothWebSupport" />
    <add key="mammothWebSupport_Perf" value="http://irmaqaapp1/MammothWebSupportPerf" />
    <!--<add key="mammothWebSupport_Prd" value="http://irmaprdapp1/MammothWebSupport" /-->
    <add key="iconWeb_Dev" value="http://icon-dev/" />
    <add key="iconWeb_Test" value="http://icon-test/" />
    <add key="iconWeb_QA" value="http://icon-qa/" />
    <add key="iconWeb_Perf" value="http://icon-perf/" />
    <!--<add key="iconWeb_Prd" value="https://icon-prd/" /-->
    <add key="tibcoAdminServer_Dev" value="https://cerd1668:8090/" />
    <add key="tibcoAdminServer_Test" value="https://cerd1669:18090/,https://cerd1670:18090/" />
    <add key="tibcoAdminServer_QA" value="https://cerd1673:28090/,https://cerd1674:28090/" />
    <add key="tibcoAdminServer_Perf" value="https://cerd1666:28090/,https://cerd1667:28090/" />
    <!--<add key="tibcoAdminServer_Prd" value="https://cerp1642.wfm.pvt:38090/,https://odrp1633.wfm.pvt:38090/" /-->
    <add key="iconDashboard_Dev" value="http://irmadevapp1/IconDashboard" />
    <add key="iconDashboard_Test" value="http://irmatestapp1/IconDashboard" />
    <add key="iconDashboard_QA" value="http://irmaqaapp1/IconDashboard/" />
    <add key="iconDashboard_Perf" value="http://irmaqaapp1/IconDashboardPerf/" />
    <!--<add key="iconDashboard_Prd" value="" />-->
    <add key="hoursForRecentErrors" value="24" />
    <add key="intervalForRecentErrorsPollingInSeconds" value="2" />
    <add key="securityGroupForReadOnly" value="IRMA.Applications" />
    <add key="securityGroupForEditing" value="IRMA.Developers" />
    <add key="pathToXmlDataFile" value="DashboardApplicationsTest.xml" />
    <add key="serviceCommandTimeoutMilliseconds" value="10000" />
    <add key="mammothDatabaseEnabled" value="true"/>
    <add key="environmentCookieDurationHours" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="IconDatabaseContext" 
         connectionString="
            metadata=res://*/IconDatabaseModelForDashboard.csdl|res://*/IconDatabaseModelForDashboard.ssdl|res://*/IconDatabaseModelForDashboard.msl;
            provider=System.Data.SqlClient;
            provider connection string=&quot;
              data source=cewd1815\SQLSHARED2012D;
              initial catalog=Icon;
              integrated security=True;
              MultipleActiveResultSets=True;
              App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="MammothDatabaseContext" 
         connectionString="
           metadata=res://*/MammothDatabaseModelForDashboard.csdl|res://*/MammothDatabaseModelForDashboard.ssdl|res://*/MammothDatabaseModelForDashboard.msl;
           provider=System.Data.SqlClient;
           provider connection string=&quot;
             data source=MAMMOTH-DB01-DEV\MAMMOTH;
             initial catalog=Mammoth;
             integrated security=True;
             MultipleActiveResultSets=True;
             App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <DashboardCustomConfigSection>
    <EsbEnvironmentsSection>
      <EsbEnvironments>
      <EsbEnvironment Name="DEV" 
        ServerUrl="ssl://DEV-ESB-EMS-1.wfm.pvt:7233" 
        TargetHostName="DEV-ESB-EMS-1.wfm.pvt" 
        JmsUsernameIcon="iconUser" 
        JmsPasswordIcon="ouVgOD5ld5V6" 
        JndiUsernameIcon="jndiIconUser" 
        JndiPasswordIcon="jndiIconUser"
        JmsUsernameMammoth="mammothUser" 
        JmsPasswordMammoth="tXt5NGpSqaEk" 
        JndiUsernameMammoth="jndiMammothUser" 
        JndiPasswordMammoth="maMmothU$er"
        JmsUsernameEwic="ewicIconUser" 
        JmsPasswordEwic="vvACtpXx00WN" 
        JndiUsernameEwic="jndiIconUser" 
        JndiPasswordEwic="jndiIconUser"
      />
      <EsbEnvironment Name="DEV-DUP" 
        ServerUrl="ssl://cerd1636.wfm.pvt:7233" 
        TargetHostName="cerd1636.wfm.pvt" 
        JmsUsernameIcon="iconUser" 
        JmsPasswordIcon="ouVgOD5ld5V6" 
        JndiUsernameIcon="jndiIconUser" 
        JndiPasswordIcon="jndiIconUser"
        JmsUsernameMammoth="mammothUser" 
        JmsPasswordMammoth="tXt5NGpSqaEk" 
        JndiUsernameMammoth="jndiMammothUser" 
        JndiPasswordMammoth="maMmothU$er"
        JmsUsernameEwic="ewicIconUser" 
        JmsPasswordEwic="vvACtpXx00WN" 
        JndiUsernameEwic="jndiIconUser" 
        JndiPasswordEwic="jndiIconUser"
      />
      <EsbEnvironment Name="TEST" 
        ServerUrl="ssl://cerd1617.wfm.pvt:17293" 
        TargetHostName="cerd1617.wfm.pvt" 
        JmsUsernameIcon="iconUser" 
        JmsPasswordIcon="Pjetuc9M7Kmi" 
        JndiUsernameIcon="jndiIconUser" 
        JndiPasswordIcon="jndiIconUser"
        JmsUsernameMammoth="mammothUser" 
        JmsPasswordMammoth="J40L5dsM7DQr" 
        JndiUsernameMammoth="jndiMammothUser" 
        JndiPasswordMammoth="maMmothU$er"
        JmsUsernameEwic="ewicIconUser" 
        JmsPasswordEwic="U4XEFcxlhgEW" 
        JndiUsernameEwic="jndiIconUser" 
        JndiPasswordEwic="jndiIconUser"
      />
      <EsbEnvironment Name="TEST-DUP" 
        ServerUrl="ssl://cerd1637.wfm.pvt:17293" 
        TargetHostName="cerd1637.wfm.pvt" 
        JmsUsernameIcon="iconUser" 
        JmsPasswordIcon="Pjetuc9M7Kmi" 
        JndiUsernameIcon="jndiIconUser" 
        JndiPasswordIcon="jndiIconUser*"
        JmsUsernameMammoth="mammothUser" 
        JmsPasswordMammoth="J40L5dsM7DQr" 
        JndiUsernameMammoth="jndiMammothUser" 
        JndiPasswordMammoth="maMmothU$er"
        JmsUsernameEwic="ewicIconUser" 
        JmsPasswordEwic="U4XEFcxlhgEW" 
        JndiUsernameEwic="jndiIconUser" 
        JndiPasswordEwic="jndiIconUser"
      />
      <EsbEnvironment Name="QA-FUNC" 
        ServerUrl="ssl://cerd1619.wfm.pvt:27293,ssl://cerd1622.wfm.pvt:27293"
        TargetHostName="cerd1619.wfm.pvt,cerd1622.wfm.pvt" 
        JmsUsernameIcon="iconUser" 
        JmsPasswordIcon="3E0y369%iz" 
        JndiUsernameIcon="jndiIconUser" 
        JndiPasswordIcon="jndiI8conUserdUp"
        JmsUsernameMammoth="mammothUser" 
        JmsPasswordMammoth="82l3jZ27lz5R" 
        JndiUsernameMammoth="jndiMammothUser" 
        JndiPasswordMammoth="t4H41v48MT7s"
        JmsUsernameEwic="" 
        JmsPasswordEwic="" 
        JndiUsernameEwic="" 
        JndiPasswordEwic=""
      />
      <EsbEnvironment Name="QA-DUP" 
        ServerUrl="ssl://cerd1639.wfm.pvt:27293,ssl://cerd1640.wfm.pvt:27293"
        TargetHostName="cerd1639.wfm.pvt,cerd1640.wfm.pvt" 
        JmsUsernameIcon="iconUser" 
        JmsPasswordIcon="3E0y369%iz" 
        JndiUsernameIcon="jndiIconUser" 
        JndiPasswordIcon="jndiI8conUserdUp"
        JmsUsernameMammoth="mammothUser" 
        JmsPasswordMammoth="82l3jZ27lz5R" 
        JndiUsernameMammoth="jndiMammothUser" 
        JndiPasswordMammoth="t4H41v48MT7s"
        JmsUsernameEwic="ewicIconUser" 
        JmsPasswordEwic="" 
        JndiUsernameEwic="jndiIconUser" 
        JndiPasswordEwic=""
      />
      <EsbEnvironment Name="QA-PERF" 
        ServerUrl="ssl://cerd1630.wfm.pvt:27293,ssl://cerd1631.wfm.pvt:27293" 
        TargetHostName="cerd1630.wfm.pvt,cerd1631.wfm.pvt" 
        JmsUsernameIcon="iconUser" 
        JmsPasswordIcon="3E0y369%iz" 
        JndiUsernameIcon="jndiIconUser" 
        JndiPasswordIcon="jndiI8conUserdUp"
        JmsUsernameMammoth="mammothUser" 
        JmsPasswordMammoth="82l3jZ27lz5R" 
        JndiUsernameMammoth="jndiMammothUser" 
        JndiPasswordMammoth="t4H41v48MT7s"
        JmsUsernameEwic="ewicIconUser" 
        JmsPasswordEwic="" 
        JndiUsernameEwic="jndiIconUser" 
        JndiPasswordEwic=""
      />
      <EsbEnvironment Name="PRD" 
        ServerUrl="ssl://cerp1616.wfm.pvt:37293,ssl://cerp1617.wfm.pvt:37293,ssl://odrp1609.wfm.pvt:37293,ssl://odrp1610.wfm.pvt:37293" 
        TargetHostName="cerp1616.wfm.pvt,cerp617.wfm.pvt,odrp1609.wfm.pvt,odrp1610.wfm.pvt" 
        JmsUsernameIcon="iconUser" 
        JmsPasswordIcon="*" 
        JndiUsernameIcon="jndiIconUser" 
        JndiPasswordIcon="*"
        JmsUsernameMammoth="mammothUser" 
        JmsPasswordMammoth="*" 
        JndiUsernameMammoth="jndiMammothUser" 
        JndiPasswordMammoth="*"
        JmsUsernameEwic="ewicIconUser" 
        JmsPasswordEwic="*" 
        JndiUsernameEwic="jndiIconUser" 
        JndiPasswordEwic="*"
      />
      </EsbEnvironments>
    </EsbEnvironmentsSection>
  </DashboardCustomConfigSection>
</configuration>