<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="ItemCatalog_FL" connectionString="data source=idd-fl\fld;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_MA" connectionString="data source=idd-ma\mad;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_MW" connectionString="data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NA" connectionString="data source=idd-na\nad;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NC" connectionString="data source=idt-nc\nct;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NE" connectionString="data source=idt-ne\net;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_PN" connectionString="data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_RM" connectionString="data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SO" connectionString="data source=idd-so\sod;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SP" connectionString="data source=idt-sp\spt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SW" connectionString="data source=idt-sw\swt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_UK" connectionString="data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
