<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="Icon.DbContextFactory" version="2017.2.8.1" targetFramework="net451" />
  <package id="Icon.RenewableContext" version="2016.10.19.5" targetFramework="net451" />
  <package id="Irma.Framework" version="2017.8.31.1" targetFramework="net461" />
  <package id="Irma.Testing" version="2017.6.6.3" targetFramework="net461" />
  <package id="Mammoth.Common" version="2018.3.23.1" targetFramework="net461" />
  <package id="Mammoth.Common.ControllerApplication" version="2018.3.23.1" targetFramework="net461" />
  <package id="Mammoth.Common.DataAccess" version="2018.3.23.1" targetFramework="net461" />
  <package id="Mammoth.Logging" version="2018.3.13.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="net461" />
</packages>