/****** Object:  StoredProcedure [dbo].[GetDateRangeForCurrentWeek]    Script Date: 06/20/2009 00:33:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDateRangeForCurrentWeek]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetDateRangeForCurrentWeek]
GO
/****** Object:  StoredProcedure [dbo].[GetDateRangeForCurrentWeek]    Script Date: 06/20/2009 00:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetDateRangeForCurrentWeek]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROCEDURE [dbo].[GetDateRangeForCurrentWeek]
AS
BEGIN
	DECLARE @str varchar(128)
	
	Set DATEFIRST 1
		
	DECLARE @StartDate varchar(12)
	SET @StartDate = CONVERT(varchar(12), dateadd(dd, 1-datepart(dw,GETDATE()),GETDATE()), 101)

	DECLARE @EndDate varchar(12)
	SET @EndDate = convert(varchar(12), dateadd("d",6,@StartDate), 101)

	Select @startdate + '' - '' + @enddate as DateRange

END

' 
END
GO
GRANT EXECUTE ON [dbo].[GetDateRangeForCurrentWeek] TO [IRMAAdminRole]
GO
GRANT EXECUTE ON [dbo].[GetDateRangeForCurrentWeek] TO [IRMAClientRole]
GO
GRANT EXECUTE ON [dbo].[GetDateRangeForCurrentWeek] TO [IRMAReportsRole]
GO
GRANT EXECUTE ON [dbo].[GetDateRangeForCurrentWeek] TO [IRMASchedJobsRole]
GO
