/****** Object:  StoredProcedure [dbo].[EPromotions_GetStoresByPricingMethod]    Script Date: 06/23/2006 11:12:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EPromotions_GetStoresByPricingMethod]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EPromotions_GetStoresByPricingMethod]
GO
/****** Object:  StoredProcedure [dbo].[EPromotions_GetStoresByPricingMethod]    Script Date: 06/23/2006 11:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select all stores that support a specific Pricing method
CREATE PROCEDURE  [dbo].[EPromotions_GetStoresByPricingMethod]
	@PricingMethodId int
AS 
	
BEGIN
    SET NOCOUNT ON
	select  s.* from store s 
		inner join StorePOSConfig spc on s.Store_No = spc.Store_No
		inner join POSWriter pw on spc.POSFileWriterKey = pw.POSFileWriterKey
		inner join POSWriterPricingMethods ppm on pw.POSFileWriterKey = ppm.POSFileWriterKey
		inner join PricingMethod pm on ppm.PricingMethod_Id = pm.PricingMethod_Id
	where pm.PricingMethod_Id  = @PricingMethodId

    SET NOCOUNT OFF
END 
GO

