SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

/****** Object:  Stored Procedure dbo.EPromotions_GetPromotionalOfferMembers    Script Date: 6/6/2006 6:59:19 PM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EPromotions_GetPromotionalOfferMembers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EPromotions_GetPromotionalOfferMembers]
GO



/*
	Retreives records from  PromotionalOfferMembers.
	If @OfferId < 0, all are returned. Otherwise, the results are filtered
	by the value of OfferID.
*/
CREATE  PROCEDURE dbo.EPromotions_GetPromotionalOfferMembers 
	@OfferID as integer
AS

	/*
		Returns records from table PromotionalOfferMembers.
		If OfferID < 0, returns all records that match the other criteria
		If OfferID >= 0, the requested record(s) matching this criteria is returned

		The results are returned sorted by JoinLogic 
	*/

	SELECT [OfferMember_ID], [Offer_ID], POM.[Group_ID] as [GroupID], IG.[GroupName], [Quantity], [Purpose], 
	[JoinLogic],[modified], POM.[User_ID] 
	FROM [PromotionalOfferMembers] POM
	INNER JOIN [ItemGroup] IG
	ON POM.Group_ID = IG.Group_ID
	WHERE (@OfferId < 0 OR [Offer_ID] = @OfferID)
	ORDER BY [JoinLogic], [Offer_ID]



GO


SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

