<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Note that a stacktrace at this point would be equvalent to the stack trace provided in an exception -->
    
    <target name="database" type="Database" connectionStringName="Logging" dbProvider="mssql">
      <commandText>
        insert into LogTable(timestamp,level,logger,message,Application,Server) values (@time_stamp, @level, @logger, @message, @app,@server);
      </commandText>
      <parameter name="@time_stamp" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@app" layout="OOServices" />
      <parameter name="@server" layout="${machinename}" />
    </target>
    
  </targets>
  <rules>
   <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>