<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Icon" connectionString="data source=CEWD1815\SQLSHARED2012D;initial catalog=IconDev;integrated security=True;MultipleActiveResultSets=True" />
    <!--<add name="Icon" connectionString="data source=localhost;initial catalog=Icon;integrated security=True;MultipleActiveResultSets=True"/>-->
    <add name="ItemCatalog_FL" connectionString="data source=idd-fl\fld;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_MA" connectionString="data source=idd-ma\mad;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_MW" connectionString="data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NA" connectionString="data source=idd-na\nad;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NC" connectionString="data source=idt-nc\nct;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NE" connectionString="data source=idt-ne\net;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_PN" connectionString="data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_RM" connectionString="data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SO" connectionString="data source=idd-so\sod;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SP" connectionString="data source=idt-sp\spt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SW" connectionString="data source=idt-sw\swt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_UK" connectionString="data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <!--<add name="Mammoth" connectionString="data source=localhost;initial catalog=Mammoth;integrated security=True;MultipleActiveResultSets=True"/>-->
    <add name="Mammoth" connectionString="data source=MAMMOTH-DB01-DEV\MAMMOTH;initial catalog=Mammoth_Dev;integrated security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="TimerIntervalInMilliseconds" value="5000" />
    <add key="IntegrationKey" value="6bd7fd74067e4bb99557150c517b751d" />
    <add key="SendPagerDutyNotifications" value="true" />
    <add key="PagerDutyUri" value="https://events.pagerduty.com/generic/2010-04-15/create_event.json" />
    <add key="Environment" value="TEST" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>