<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Icon" connectionString="data source=icon-db01-dev;initial catalog=Icon;integrated security=True;MultipleActiveResultSets=True"/>
    <!--<add name="Icon" connectionString="data source=localhost;initial catalog=Icon;integrated security=True;MultipleActiveResultSets=True"/>-->
    <add name="ItemCatalog_FL" connectionString="data source=fl-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="ItemCatalog_MA" connectionString="data source=ma-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="ItemCatalog_MW" connectionString="data source=mw-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="ItemCatalog_NA" connectionString="data source=na-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="ItemCatalog_NC" connectionString="data source=nc-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="ItemCatalog_NE" connectionString="data source=ne-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="ItemCatalog_PN" connectionString="data source=pn-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="ItemCatalog_RM" connectionString="data source=rm-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="ItemCatalog_SO" connectionString="data source=so-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="ItemCatalog_SP" connectionString="data source=sp-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="ItemCatalog_SW" connectionString="data source=sw-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="ItemCatalog_UK" connectionString="data source=uk-db01-tst01;initial catalog=ItemCatalog;Integrated Security=True;MultipleActiveResultSets=True"/>
    <!--<add name="Mammoth" connectionString="data source=localhost;initial catalog=Mammoth;integrated security=True;MultipleActiveResultSets=True"/>-->
    <add name="Mammoth" connectionString="data source=MAMMOTH-DB01-DEV\MAMMOTH;initial catalog=Mammoth_Dev;integrated security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="TimerIntervalInMilliseconds" value="5000"/>
    <add key="IntegrationKey" value="5c9df61f-ff16-4eef-8533-6fd8ed9664a3"/>
    <add key="SendOpsGenieAlert" value="true"/>
    <add key="OpsGenieUri" value="https://api.opsgenie.com/v2/alerts"/>
    <add key="Environment" value="TEST"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
