<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="JmsUsername" value="iCon" />
    <add key="JmsPassword" value="iCon" />
    <add key="ServerUrl" value="ssl://cerd1616.wfm.pvt:7233" />
    <add key="JndiUsername" value="iCon" />
    <add key="JndiPassword" value="iCon" />
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory" />
    <add key="SslPassword" value="esb" />
    <add key="CchTaxConsumerQueue" value="WFMESB.Enterprise.TAXCCH.ICON.Queue.V1" />
    <add key="R10ProductMaintenanceResponseConsumerQueue" value="WFMESB.Commerce.OnePosMgmt.Catalog.Reply.Queue.V1" />
    <add key="IconToIrmaTaxHierarchyUpdateAckType" value="NoAcknowledge" />
    <add key="R10ProductMaintenanceResponseAckType" value="NoAcknowledge" />
    <add key="CertificateName" value="CN=CA-ROOT-I, O=Whole Foods Market" />
    <add key="CertificateStoreName" value="Root" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="TargetHostName" value="cerd1616.wfm.pvt" />
    <add key="ConnAttempts" value="100" />
    <add key="ConnDelayMilliSeconds" value="30000" />
    <add key="ConnTimeoutMilliSeconds" value="10000" />
    <add key="ReconnAttempts" value="3" />
    <add key="ReconnDelaySecondsMilliSeconds" value="30000" />
    <add key="ReconnTimeoutMilliSeconds" value="10000" />
    <add key="ConnPollingMilliSeconds" value="30000" />
    <add key="EsbSubscribersToRun" value="CCHTax,R10Response" />
    <add key="IconToIrmaTaxHierarchyUpdateEnabledRegionsList" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW,UK" />
    <add key="DaysToKeepArchivedCCHTaxMessages" value="90" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SendEmails" value="true" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="IconSubscriberTests@wholefoods.com" />
    <add key="Recipients" value="blake.jones@wholefoods.com" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>