<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <esbConnections>
    <connections>
      <esbConnection name="listener" serverUrl="ssl://cerd1636.wfm.pvt:7233" jmsUsername="ewicIconUser" jmsPassword="ewicIconUser" jndiUsername="jndiEwicIconUser" jndiPassword="jndiEwicIconUser" connectionFactoryName="EwicQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.Retail.EWICMgmt.EWIC.Queue.V1" sessionMode="ClientAcknowledge" certificateName="CN=CA-ROOT-I, O=Whole Foods Market" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1636.wfm.pvt" reconnectDelay="30000" />

      <esbConnection name="producer" serverUrl="ssl://cerd1636.wfm.pvt:7233" jmsUsername="ewicIconUser" jmsPassword="ewicIconUser" jndiUsername="jndiEwicIconUser" jndiPassword="jndiEwicIconUser" connectionFactoryName="EwicQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.PointOfSaleMgmt.NonSequencedRequest.Queue.V2" sessionMode="ClientAcknowledge" certificateName="CN=CA-ROOT-I, O=Whole Foods Market" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1636.wfm.pvt" reconnectDelay="30000" />
    </connections>
  </esbConnections>
</configuration>
