/****** Object:  StoredProcedure [dbo].[EXEInterfaces_ZeroShippedInsert]    Script Date: 02/15/2010 11:26:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXEInterfaces_ZeroShippedInsert]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EXEInterfaces_ZeroShippedInsert]
GO
/****** Object:  StoredProcedure [dbo].[EXEInterfaces_ZeroShippedInsert]    Script Date: 02/15/2010 11:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXEInterfaces_ZeroShippedInsert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure dbo.EXEInterfaces_ZeroShippedInsert
(
@uniqueid varchar(255),
@filename  varchar(255), 
@filetype  varchar(4),
@orderheader_id  int,
@identifier  varchar(13), 
@value  int
) as
BEGIN
      INSERT INTO
          dbo.EXEInterfaces_ZeroShippedOrdersValidationWorkspace
          (
            uniqueid ,
            filename ,
            filetype ,
            orderheader_id ,
            identifier ,
            value )
      VALUES
          (
            @uniqueid ,
            @filename ,
            @filetype ,
            @orderheader_id ,
            @identifier ,
            @value )
	
END
' 
END
GO
GRANT EXECUTE ON [dbo].[EXEInterfaces_ZeroShippedInsert] TO [IRMAAdminRole]
GO
GRANT EXECUTE ON [dbo].[EXEInterfaces_ZeroShippedInsert] TO [IRMAClientRole]
GO
