/****** Object:  StoredProcedure [dbo].[EXEInterfaces_FindZeroShippedOrders]    Script Date: 02/15/2010 11:26:21 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXEInterfaces_FindZeroShippedOrders]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EXEInterfaces_FindZeroShippedOrders]
GO
/****** Object:  StoredProcedure [dbo].[EXEInterfaces_FindZeroShippedOrders]    Script Date: 02/15/2010 11:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXEInterfaces_FindZeroShippedOrders]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure dbo.EXEInterfaces_FindZeroShippedOrders
(
@uniqueid varchar(255)
) as
begin
	declare @ZeroShipped table
	(
	  OrderHeaderId int not null,
	  QtyOnOrder int null,
	  QtyZeroShipped int null
	)
	
	insert into @ZeroShipped (OrderHeaderId)
	select distinct orderheader_id from EXEInterfaces_ZeroShippedOrdersValidationWorkspace where uniqueid = @uniqueid
	
	update @ZeroShipped
	set QtyOnOrder = ( select sum(quantityordered * package_desc1) from OrderItem where OrderItem.OrderHeader_ID = oh.OrderHeader_ID ),
	QtyZeroSHipped = ( select sum(value) from EXEInterfaces_ZeroShippedOrdersValidationWorkspace exe where exe.OrderHeader_Id = oh.OrderHeader_Id  and exe.uniqueid = @uniqueid)
        from OrderHeader oh inner join @ZeroShipped zs
	on oh.OrderHeader_ID = zs.OrderheaderId
	
	
	select distinct OrderHeaderId  from @ZeroShipped where QtyOnOrder = QtyZeroShipped and not QtyOnOrder is null
	
	
	
	end
' 
END
GO
GRANT EXECUTE ON [dbo].[EXEInterfaces_FindZeroShippedOrders] TO [IRMAAdminRole]
GO
GRANT EXECUTE ON [dbo].[EXEInterfaces_FindZeroShippedOrders] TO [IRMAClientRole]
GO
