@model Icon.Dashboard.Mvc.ViewModels.ServiceViewModel

<div class="row">
    <div class="panel panel-info applicationIdentifierPanel">
        <div class="panel-body applicationIdentifierPanelBody">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-xs-2 col-sm-1 col-md-offset-1" })
            <div class="col-xs-5 col-sm-6 col-md-5">
                @Html.ActionLink(Model.Name, "Details", "Home", new { server = Model.Server, application = Model.Name  }, null)
            </div>
            @Html.LabelFor(model => model.Server, htmlAttributes: new { @class = "control-label col-xs-2 col-sm-1" })
            <div class="col-xs-3 col-sm-4">
                @Html.DisplayFor(model => model.Server)
            </div>
        </div>
    </div>
</div>

