USE [POReports]
GO
/****** Object:  Table [dbo].[FiscalPeriods]    Script Date: 11/19/2013 2:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiscalPeriods](
	[FiscalYear] [int] NULL,
	[FiscalPeriodNumber] [int] NULL,
	[Quarter] [int] NULL,
	[FPStartDate] [date] NULL,
	[FPEndDate] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FiscalWeek]    Script Date: 11/19/2013 2:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FiscalWeek](
	[Year] [int] NULL,
	[Period] [int] NULL,
	[Week] [int] NULL,
	[YearWeek] [int] NULL,
	[Description] [varchar](200) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POSecurityGroups]    Script Date: 11/19/2013 2:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POSecurityGroups](
	[SecurityGroupID] [int] NOT NULL,
	[canLogin] [bit] NOT NULL,
	[canViewItems] [bit] NOT NULL,
	[canEditItems] [bit] NOT NULL,
	[canEditPrograms] [bit] NOT NULL,
	[canViewReports] [bit] NOT NULL,
	[canImport] [bit] NOT NULL,
	[Name] [varchar](50) NULL,
	[isAdmin] [bit] NULL,
	[Priority] [tinyint] NULL,
	[canSwitchStores] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 11/19/2013 2:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionID] [varchar](5) NOT NULL,
	[Name] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FiscalPeriods] ([FiscalYear], [FiscalPeriodNumber], [Quarter], [FPStartDate], [FPEndDate]) VALUES (2008, 7, 2, CAST(0xBD2F0B00 AS Date), CAST(0xD82F0B00 AS Date))
INSERT [dbo].[FiscalPeriods] ([FiscalYear], [FiscalPeriodNumber], [Quarter], [FPStartDate], [FPEndDate]) VALUES (2008, 8, 3, CAST(0xD92F0B00 AS Date), CAST(0xF42F0B00 AS Date))
INSERT [dbo].[FiscalPeriods] ([FiscalYear], [FiscalPeriodNumber], [Quarter], [FPStartDate], [FPEndDate]) VALUES (2008, 9, 3, CAST(0xF52F0B00 AS Date), CAST(0x10300B00 AS Date))
GO
INSERT [dbo].[FiscalWeek] ([Year], [Period], [Week], [YearWeek], [Description], [StartDate], [EndDate]) VALUES (2000, 1, 1, 1, N'FY 00 FP 1 WK 1', CAST(0xA7230B00 AS Date), CAST(0xAD230B00 AS Date))
INSERT [dbo].[FiscalWeek] ([Year], [Period], [Week], [YearWeek], [Description], [StartDate], [EndDate]) VALUES (2000, 1, 2, 2, N'FY 00 FP 1 WK 2', CAST(0xAE230B00 AS Date), CAST(0xB4230B00 AS Date))
INSERT [dbo].[FiscalWeek] ([Year], [Period], [Week], [YearWeek], [Description], [StartDate], [EndDate]) VALUES (2000, 1, 3, 3, N'FY 00 FP 1 WK 3', CAST(0xB5230B00 AS Date), CAST(0xBB230B00 AS Date))
GO
INSERT [dbo].[POSecurityGroups] ([SecurityGroupID], [canLogin], [canViewItems], [canEditItems], [canEditPrograms], [canViewReports], [canImport], [Name], [isAdmin], [Priority], [canSwitchStores]) VALUES (4, 1, 0, 0, 0, 1, 0, N'Team Member', 0, 1, NULL)
INSERT [dbo].[POSecurityGroups] ([SecurityGroupID], [canLogin], [canViewItems], [canEditItems], [canEditPrograms], [canViewReports], [canImport], [Name], [isAdmin], [Priority], [canSwitchStores]) VALUES (5, 1, 1, 1, 1, 1, 1, N'Data Entry', 0, 3, 1)
INSERT [dbo].[POSecurityGroups] ([SecurityGroupID], [canLogin], [canViewItems], [canEditItems], [canEditPrograms], [canViewReports], [canImport], [Name], [isAdmin], [Priority], [canSwitchStores]) VALUES (7, 0, 0, 0, 0, 0, 0, N'No Access', 0, 0, NULL)
INSERT [dbo].[Regions] ([RegionID], [Name]) VALUES (N'CEN', N'Global')
INSERT [dbo].[Regions] ([RegionID], [Name]) VALUES (N'FL', N'Florida')
INSERT [dbo].[Regions] ([RegionID], [Name]) VALUES (N'MA', N'Mid-Atlantic')
