<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
  </configSections>
  <appSettings>
  </appSettings>
  <esbConnections>
    <connections>
      <esbConnection name="producer" serverUrl="ssl://cerd1636.wfm.pvt:7233" jmsUsername="ewicIconUser" jmsPassword="ewicIconUser" jndiUsername="jndiEwicIconUser" jndiPassword="jndiEwicIconUser" connectionFactoryName="EwicQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.PointOfSaleMgmt.NonSequencedRequest.Queue.V2" sessionMode="ClientAcknowledge" certificateName="CN=CA-ROOT-I, O=Whole Foods Market" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1636.wfm.pvt" reconnectDelay="30000" />
    </connections>
  </esbConnections>
</configuration>