<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings></appSettings>
  <esbConnections>
    <connections>
      <esbConnection name="producer" serverUrl="ssl://cerd1617.wfm.pvt:7233" jmsUsername="ewicIconUser" jmsPassword="ewicIconUser" jndiUsername="jndiEwicIconUser" jndiPassword="jndiEwicIconUser" connectionFactoryName="EwicQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.PointOfSaleMgmt.NonSequencedRequest.Queue.V2" sessionMode="ClientAcknowledge" certificateName="E=suchetha.aleti@wholefoods.com, CN=cerd1617.wfm.pvt, OU=InfraESBAdmins@wholefoods.com, O=&quot;Whole Foods Market &quot;, L=Austin, S=TX, C=US" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1617.wfm.pvt" reconnectDelay="30000" />
    </connections>
  </esbConnections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>