<?xml version="1.0"?>
<configuration>
    <appSettings>
      <!-- POSPUSH GLOBAL VARS -->
      <add key="tempPOSFileDir" value="C:\projects\IRMA\Test\"/>
      <add key="MaxPOSBatchRecords" value="65535"/>
      <add key="numDaysToKeepPOSPushFiles" value="1"/>

      <!-- ERROR NOTIFICATION -->
      <add key="region" value="UK"/>
      <add key="primaryErrorNotification" value="amanda.black@wholefoods.com;greg.bowles@wholefoods.com"/>
      <add key="secondaryErrorNotification" value="sam.gordon@wholefoods.com;brenda.mijares@wholefoods.com"/>
      <add key="encryptedConnectionStrings" value="False"/>

      <!-- Flag set to true if the database connection strings are encrypted -->
      <add key="SMTPHost" value="smtp1.wholefoods.com"/>
      <add key="SendOrdersSupportEmail" value="brenda.mijares@wholefoods.com"/>
      <add key="SendOrdersSystemEmail" value="brenda.mijares@wholefoods.com"/>
      <add key="isSendOrdersProduction" value="true"/>
      <add key="EXEFtp" value="true"/>
      <add key="gsEXE_FTPRemoteHost" value="soswebdev1"/>
      <add key="gsEXE_FTPRemotePath" value="test/irma"/>
      <add key="gsEXE_FTPRemoteUser" value="msiuser"/>
      <add key="gsEXE_FTPRemotePassword" value="msi_user"/>

      <add key="WFMFAXSERVER" value="webmail.wholefoods.com"/>
      <add key="WFMFAXLOGIN" value="so_orders_dev@wfm.pvt"/>
      <add key="WFMFAXPWD" value="wed0458"/>
      <add key="FAX_FAILURE_PATTERN" value="Tx NOT 'ok' Report"/>
      <add key="ORDER_INFO_PATTERN" value="Subject:.+#(\d+)"/>
      <add key="ORDER_INFO_PATTERN_EXPLANATION" value="Explanation:(.+)\s"/>
      <add key="WFMFAXEMAIL" value="so_orders_dev@wholefoods.com"/>
        
    </appSettings>
    <connectionStrings>
      <!-- DATABASE CONNECTIONS -->
      <add name="ItemCatalog" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ItemCatalog_b16;Data Source=idd-ce;"/>
      <!--<add name="ItemCatalog" providerName="System.Data.SqlClient" connectionString="Data Source=idd-ce;Initial Catalog=ItemCatalog_SandBox;User Id=IRMASchedJobs;Password=Sp1d#rm@n!;" /> -->
      <!--<add name="ItemCatalog" providerName="System.Data.SqlClient" connectionString="Data Source=CEWD6510;Initial Catalog=ItemCatalog;User Id=IRMAAdmin;Password=AbraC@d@bra.;" />-->
    </connectionStrings>
  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
          <!-- this switch controls Trace messages for IRMA.POSPush.* -->
          <add name="POSPushSwitch" value="4"/>
          <!-- this switch controls general Trace messages for the application. -->
          <add name="IRMASwitch" value="4"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
