/****** Object:  StoredProcedure [dbo].[Teams_SaveChanges]    Script Date: 02/05/2007 13:21:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teams_SaveChanges]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Teams_SaveChanges]
GO
/****** Object:  StoredProcedure [dbo].[Teams_SaveChanges]    Script Date: 02/05/2007 13:21:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.Teams_SaveChanges
	@Team_No int, 
	@Team_Name varchar(100),
	@Team_Abbr varchar(10)
AS
BEGIN
	SET NOCOUNT ON;

	Update  Team
	Set		Team_Name = @Team_Name,
			Team_Abbreviation = @Team_Abbr
	Where	Team_No = @Team_No
END
GO
