/****** Object:  StoredProcedure [dbo].[SubTeams_CreateSubTeamToTeamRelationship]    Script Date: 02/09/2007 14:10:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubTeams_CreateSubTeamToTeamRelationship]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SubTeams_CreateSubTeamToTeamRelationship]
GO
/****** Object:  StoredProcedure [dbo].[SubTeams_CreateSubTeamToTeamRelationship]    Script Date: 02/09/2007 14:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SubTeams_CreateSubTeamToTeamRelationship]
	-- Add the parameters for the stored procedure here
	@Store_No int, 
	@SubTeam_No int, 
	@Team_No int,
	@PS_SubTeam_No int, 
	@PS_Team_No int,
    @CostFactor decimal(9,4),
    @ICVID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert Into StoreSubTeam
	(
		Store_no, team_No, SubTeam_No, CasePriceDiscount, CostFactor, ICVID, PS_SubTeam_No, PS_Team_No
	)
	VALUES
	(
		@Store_no, @team_No, @SubTeam_No, 1, @CostFactor, @ICVID, @PS_SubTeam_No, @PS_Team_No
	)
	
END
GO
