/****** Object:  StoredProcedure [dbo].[SubTeams_LoadSubTeams]    Script Date: 02/05/2007 15:55:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubTeams_LoadSubTeams]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SubTeams_LoadSubTeams]
GO
/****** Object:  StoredProcedure [dbo].[SubTeams_LoadSubTeams]    Script Date: 02/05/2007 15:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.[SubTeams_LoadSubTeams]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	*,
			CASE SubTeamType_ID
				WHEN 1 THEN (RTRIM(SubTeam_Name) + ' (RET)')
				WHEN 2 THEN	(RTRIM(SubTeam_Name) + ' (MFG)')
				WHEN 3 THEN (RTRIM(SubTeam_Name) + ' (RET/MFG)')
				WHEN 4 THEN	(RTRIM(SubTeam_Name) + ' (EXP)')
				WHEN 5 THEN (RTRIM(SubTeam_Name) + ' (PKG)')
				WHEN 6 THEN (RTRIM(SubTeam_Name) + ' (SUP)')
			END AS SubTeam_Description
	FROM	SubTeam
	Order By SubTeam_Name


END

GO
