<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SendEmails" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailHost" value="smtp.wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailPort" value="25" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailUsername" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailPassword" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Sender" value="Icon-Test@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Recipients" value="irma.developers@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="NumberOfListenerThreads" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=icon-db01-tst01;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <esbConnections>
    <connections>
      <esbConnection name="listener"
                     serverUrl="ssl://cerd1617.wfm.pvt:17293"
                     jmsUsername="ewicIconUser"
                     jmsPassword="U4XEFcxIhgEW"
                     jndiUsername="jndiEwicIconUser"
                     jndiPassword="jndiEwicIconUser"
                     connectionFactoryName="EwicQueueConnectionFactory"
                     sslPassword="esb"
                     queueName="WFMESB.Commerce.Retail.EWICMgmt.EWIC.Queue.V1"
                     sessionMode="ClientAcknowledge"
                     certificateName="E=suchetha.aleti@wholefoods.com, CN=cerd1617.wfm.pvt, OU=InfraESBAdmins@wholefoods.com, O=&quot;Whole Foods Market &quot;, L=Austin, S=TX, C=US"
                     certificateStoreName="Root"
                     certificateStoreLocation="LocalMachine"
                     targetHostName="cerd1617.wfm.pvt"
                     reconnectDelay="30000"
                     xdt:Transform="Replace" xdt:Locator="Match(name)" />

      <esbConnection name="producer"
                     serverUrl="ssl://cerd1617.wfm.pvt:17293"
                     jmsUsername="ewicIconUser"
                     jmsPassword="U4XEFcxIhgEW"
                     jndiUsername="jndiEwicIconUser"
                     jndiPassword="jndiEwicIconUser"
                     connectionFactoryName="EwicQueueConnectionFactory"
                     sslPassword="esb"
                     queueName="WFMESB.Commerce.PointOfSaleMgmt.NonSequencedRequest.Queue.V2"
                     sessionMode="ClientAcknowledge"
                     certificateName="E=suchetha.aleti@wholefoods.com, CN=cerd1617.wfm.pvt, OU=InfraESBAdmins@wholefoods.com, O=&quot;Whole Foods Market &quot;, L=Austin, S=TX, C=US"
                     certificateStoreName="Root"
                     certificateStoreLocation="LocalMachine"
                     targetHostName="cerd1617.wfm.pvt"
                     reconnectDelay="30000"
                     xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </connections>
  </esbConnections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets xdt:Transform="Replace">
      <target name="dbLogIconEsb"
              xsi:type="Database"
              connectionString="data source=icon-db01-tst01;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True"
              commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="3" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
  </nlog>
</configuration>