
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Configuration_SetValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Configuration_SetValue]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.Configuration_SetValue
	@ApplicationId varchar(255),
	@EnvironmentId varchar(255),
	@Key varchar(1024),
	@Value varchar(1024)
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (
					SELECT	*
					FROM	ApplicationConfiguration
					WHERE	ApplicationId = @ApplicationId AND
							EnvironmentId = @EnvironmentId AND
							[Key] = @Key
			   )

			UPDATE	ApplicationConfiguration
			SET		[value] = @value
			WHERE	ApplicationId = @ApplicationId AND
					EnvironmentId = @EnvironmentId AND
					[Key] = @Key
	ELSE
			INSERT INTO ApplicationConfiguration
			(
				ApplicationId, 
				EnvironmentId, 
				[Key], 
				[Value]
			)
			VALUES
			(
				@ApplicationId, 
				@EnvironmentId,
				@Key,
				@Value
			)

END
GO
