@{
    var envManager = new Icon.Dashboard.Mvc.Services.DashboardEnvironmentManager();
}

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Support Apps
    </a>
    <ul class="dropdown-menu">
        @foreach (var environmentEnum in Enum.GetValues(typeof(Icon.Dashboard.Mvc.Models.EnvironmentEnum)).Cast<Icon.Dashboard.Mvc.Models.EnvironmentEnum>())
        {
            if (environmentEnum == Icon.Dashboard.Mvc.Models.EnvironmentEnum.Prd)
            {
                continue;
            }
            <li>
                <span class="label label-@Icon.Dashboard.Mvc.Helpers.Utils.GetBootstrapClassForEnvironment(environmentEnum)">
                    @environmentEnum.ToString()
                </span>
            </li>
            var supportLinksForEnvironment = envManager.GetSupportServerLinks(environmentEnum);
            foreach (var supportLink in supportLinksForEnvironment)
            {
                <li class="btn-link">
                    <a class="dropdown-item" href="@supportLink.Item2">
                        <span class="text-@Icon.Dashboard.Mvc.Helpers.Utils.GetBootstrapClassForEnvironment(environmentEnum)">@supportLink.Item1</span>
                    </a>
                </li>
            }
        }
    </ul>
</li>


