@model Icon.Dashboard.Mvc.ViewModels.SubMenuForSupportAppsViewModel

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        @Model.Header
    </a>
    <ul class="dropdown-menu">
        @foreach (var environment in Model.EnvironmentSubMenus)
        {
            if (environment.EnvironmentEnum == Icon.Dashboard.Mvc.Enums.EnvironmentEnum.Prd)
            {
                continue;
            }
            <li>
                <span class="label label-@(environment.BootstrapClass)">
                    @environment.EnvironmentEnum.ToString()
                </span>
            </li>
            foreach (var supportLink in environment.SubMenuItems)
            {
                <li class="btn-link">
                    <a class="dropdown-item" href="@supportLink.Link">
                        <span class="text-@(supportLink.BootstrapClass)">@supportLink.VisibleText</span>
                    </a>
                </li>
            }
        }
    </ul>
</li>


