@model Icon.Dashboard.Mvc.ViewModels.TaskViewModel

<div class="form-group row">
    <div class="col-xs-3 col-form-label">
        @Html.DisplayNameFor(model => model.LastRun)
    </div>
    <div class="col-xs-9">
        @Html.DisplayFor(model => model.LastRun)
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-form-label">
        @Html.DisplayNameFor(model => model.NextRun)
    </div>
    <div class="col-xs-9">
        @Html.DisplayFor(model => model.NextRun)
    </div>
</div>