@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Not Authorized To Make Changes";
}

<p></p>
<div class="container-wide denied_background">
    <h2 class="text-error text-center">Restricted Page</h2>
    <h3 class="text-warning col-xs-10 col-xs-offset-1">
        Your account lack a security group membership necessary to edit this page. Please contact the IRMA 
        team for assistance if you want to gain access to make changes in the dashboard.
    </h3>

    <div class="row">
        <p></p>
        <div class="col-xs-offset-2 col-xs-8 text-center">
            @Html.ActionLink("Back to Previous Page", null, null, null, new { href = Request.UrlReferrer })
        </div>
    </div>
</div>
