/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetStoresByWriter]    Script Date: 05/19/2006 16:03:24 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_GetStoresByWriter]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_GetStoresByWriter]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetStoresByWriter]    Script Date: 05/19/2006 16:03:24 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.Administration_POSPush_GetStoresByWriter
	@FileWriterKey int,
	@FileWriterType varchar(10)
AS 
-- Queries the Store and StorePOSConfig tables to retrieve the
-- list of stores associated with the specified POSWriter.

BEGIN
	SELECT *
	FROM Store ST 
	WHERE (@FileWriterType = 'POS' AND ST.Store_No in (SELECT Store_No FROM StorePOSConfig WHERE POSFileWriterKey = @FileWriterKey))
		OR (@FileWriterType = 'SCALE' AND ST.Store_No in (SELECT Store_No FROM StoreScaleConfig WHERE ScaleFileWriterKey = @FileWriterKey))
		OR (@FileWriterType = 'TAG' AND ST.Store_No in (SELECT Store_No FROM StoreShelfTagConfig WHERE POSFileWriterKey = @FileWriterKey))
	ORDER BY ST.Store_Name 
END
GO

