/****** Object:  StoredProcedure [dbo].[Administration_POSPush_UpdatePOSWriter]    Script Date: 05/19/2006 16:03:40 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_UpdatePOSWriter]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_UpdatePOSWriter]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_UpdatePOSWriter]    Script Date: 05/19/2006 16:03:40 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE dbo.Administration_POSPush_UpdatePOSWriter
@POSFileWriterKey int, 
@POSFileWriterCode varchar(20),
@POSFileWriterClass varchar(100),
@DelimChar varchar(10),
@OutputByIrmaBatches bit,
@FixedWidth bit,
@LeadingDelim bit,
@TrailingDelim bit,
@FieldIdDelim bit,
@TaxFlagTrueChar char(1), 
@TaxFlagFalseChar char(1),
@EnforceDictionary bit,
@AppendToFile bit,
@FileWriterType varchar(10),
@ScaleWriterType int,
@BatchIdMin int,
@BatchIdMax int
AS
-- Update an existing configuration record in the POSWriter table for the
-- POS Push process.
BEGIN
   UPDATE POSWriter SET
   	POSFileWriterCode=@POSFileWriterCode, 
	POSFileWriterClass=@POSFileWriterClass, 
   	DelimChar=@DelimChar,
   	OutputByIrmaBatches=@OutputByIrmaBatches,
   	FixedWidth=@FixedWidth,
   	LeadingDelim=@LeadingDelim,
   	TrailingDelim=@TrailingDelim, 
   	FieldIdDelim=@FieldIdDelim,
   	TaxFlagTrueChar=@TaxFlagTrueChar,
   	TaxFlagFalseChar=@TaxFlagFalseChar, 
   	EnforceDictionary=@EnforceDictionary,
   	AppendToFile=@AppendToFile,
   	FileWriterType=@FileWriterType,
   	ScaleWriterType=@ScaleWriterType,
   	BatchIdMin=@BatchIdMin,
   	BatchIdMax=@BatchIdMax
   WHERE POSFileWriterKey = @POSFileWriterKey
END
GO

