/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetStoresAvailableForAdd]    Script Date: 05/19/2006 16:03:21 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_GetStoresAvailableForAdd]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_GetStoresAvailableForAdd]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetStoresAvailableForAdd]    Script Date: 05/19/2006 16:03:21 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE dbo.Administration_POSPush_GetStoresAvailableForAdd
AS 
-- Queries the Store and StorePOSConfig tables to retrieve the
-- list of stores that do not have a StorePOSConfig entry.
-- Skips the Distribution_Center and Manufacturer records.

BEGIN
SELECT 
Store_No, Store_Name
FROM Store ST 
WHERE 
	ST.Store_No not in (SELECT Store_No FROM StorePOSConfig)
	and ST.Distribution_Center = 0 
	and ST.Manufacturer = 0
ORDER BY ST.Store_Name
END
GO

