/****** Object:  StoredProcedure [dbo].[Administration_POSPush_UpdatePOSWriterFileConfig]    Script Date: 05/19/2006 16:03:43 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_UpdatePOSWriterFileConfig]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_UpdatePOSWriterFileConfig]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_UpdatePOSWriterFileConfig]    Script Date: 05/19/2006 16:03:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE dbo.Administration_POSPush_UpdatePOSWriterFileConfig
@POSFileWriterKey int,
@POSChangeTypeKey int,
@RowOrder int,
@ColumnOrder int,
@BitOrder tinyint,
@DataElement varchar(100),
@FieldID varchar(20),
@MaxFieldWidth int,
@TruncLeft bit,
@DefaultValue varchar(10),
@IsTaxFlag bit, 
@IsLiteral bit,
@IsPackedDecimal bit,
@IsBinaryInt bit,
@IsDecimalValue bit,
@DecimalPrecision int,
@IncludeDecimal bit,
@PadLeft bit,
@FillChar varchar(1),
@LeadingChars varchar(10),
@TrailingChars varchar(10),
@IsBoolean bit,
@BooleanTrueChar varchar(10),
@BooleanFalseChar varchar(10),
@FixedWidthField bit,
@PackLength int

AS
-- Update an existing configuration record in the POSWriterFileConfig table for the
-- POS Push process.
BEGIN
   UPDATE POSWriterFileConfig SET 
   	DataElement=@DataElement,
   	FieldID=@FieldID, 
   	MaxFieldWidth=@MaxFieldWidth,
   	TruncLeft=@TruncLeft,
   	DefaultValue=@DefaultValue,
   	IsTaxFlag=@IsTaxFlag, 
   	IsLiteral=@IsLiteral,
   	IsPackedDecimal=@IsPackedDecimal, 
   	IsBinaryInt=@IsBinaryInt, 
   	IsDecimalValue=@IsDecimalValue, 
   	DecimalPrecision=@DecimalPrecision,
   	IncludeDecimal=@IncludeDecimal,
   	PadLeft=@PadLeft, 
	FillChar=@FillChar,
	LeadingChars=@LeadingChars,
	TrailingChars=@TrailingChars,
	IsBoolean=@IsBoolean,
	BooleanTrueChar=@BooleanTrueChar,
	BooleanFalseChar=@BooleanFalseChar,
	FixedWidthField=@FixedWidthField,
	PackLength=@PackLength
   WHERE POSFileWriterKey = @POSFileWriterKey 
	AND POSChangeTypeKey=@POSChangeTypeKey 
	AND RowOrder=@RowOrder
   	AND ColumnOrder=@ColumnOrder
   	AND BitOrder=@BitOrder
END

GO

