/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetPOSChangeTypes]    Script Date: 05/19/2006 16:03:05 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_GetPOSChangeTypes]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_GetPOSChangeTypes]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetPOSChangeTypes]    Script Date: 05/19/2006 16:03:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE dbo.Administration_POSPush_GetPOSChangeTypes
 AS 
-- Queries the POSChangeType  table to retrieve all of the available entries.
BEGIN

SELECT POSChangeTypeKey,POSDataTypeKey, ChangeTypeDesc  
FROM POSChangeType 
ORDER BY ChangeTypeDesc
END
GO

