/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetPOSWriterDictionary]    Script Date: 05/19/2006 16:03:10 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_GetPOSWriterDictionary]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_GetPOSWriterDictionary]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetPOSWriterDictionary]    Script Date: 05/19/2006 16:03:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE dbo.Administration_POSPush_GetPOSWriterDictionary 
@POSFileWriterKey int  
AS
-- Reads all of the POSWriterDictionary values for the POSFileWriterKey.

BEGIN
SELECT 
POSFileWriterKey, FieldID, DataType,  
	(SELECT COUNT(1) 
	 FROM POSWriterFileConfig  
	 WHERE 
		POSWriterFileConfig.POSFileWriterKey = @POSFileWriterKey and 
		POSWriterFileConfig.FieldID = POSWriterDictionary.FieldID  
	) AS FieldIdCount 
FROM 
POSWriterDictionary 
WHERE 
POSFileWriterKey=@POSFileWriterKey  
ORDER BY FieldId 
END

GO

