/****** Object:  StoredProcedure [dbo].[Administration_POSPush_DeletePOSWriter]    Script Date: 05/19/2006 15:54:40 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_DeletePOSWriter]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_DeletePOSWriter]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_DeletePOSWriter]    Script Date: 05/19/2006 15:54:40 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.Administration_POSPush_DeletePOSWriter
@POSFileWriterKey int
AS
-- Disable the entry in the POSWriter table, which is used for the
-- POS Push process.
-- Disabling the writer also deletes the records in the StorePOSConfig table.
-- The associated POSWriterFileConfig records are not deleted.

-- NOTE: The admin UI does not currently provide a way to enable a writer
-- that has been disabled.  This must be done directly in the database.
BEGIN
  -- Disable the writer
  update POSWriter set Disabled=1 where POSFileWriterKey=@POSFileWriterKey

  -- Delete the associated StorePOSConifg records
  delete from StorePOSConfig where POSFileWriterKey=@POSFileWriterKey
END
GO


