/****** Object:  StoredProcedure [dbo].[Administration_POSPush_InsertPOSWriter]    Script Date: 05/19/2006 16:03:30 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_InsertPOSWriter]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_InsertPOSWriter]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_InsertPOSWriter]    Script Date: 05/19/2006 16:03:30 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE dbo.Administration_POSPush_InsertPOSWriter
@POSFileWriterCode varchar(20),
@POSFileWriterClass varchar(100),
@DelimChar varchar(10),
@OutputByIrmaBatches bit,
@FixedWidth bit,
@LeadingDelim bit,
@TrailingDelim bit, 
@FieldIdDelim bit,
@TaxFlagTrueChar char(1), 
@TaxFlagFalseChar char(1),
@EnforceDictionary bit,
@AppendToFile bit,
@FileWriterType varchar(10),
@ScaleWriterType int,
@BatchIdMin int,
@BatchIdMax int
AS
-- Insert a new configuration record into the POSWriter table for the
-- POS Push process.
BEGIN
   INSERT INTO POSWriter (POSFileWriterCode, POSFileWriterClass, DelimChar, OutputByIrmaBatches, FixedWidth, 
			LeadingDelim, TrailingDelim, FieldIdDelim, TaxFlagTrueChar, TaxFlagFalseChar, 
			EnforceDictionary, AppendToFile, FileWriterType, ScaleWriterType, BatchIdMin, BatchIdMax) 
   VALUES (@POSFileWriterCode, @POSFileWriterClass, @DelimChar, @OutputByIrmaBatches, @FixedWidth,  
			@LeadingDelim, @TrailingDelim, @FieldIdDelim, @TaxFlagTrueChar, @TaxFlagFalseChar, 
			@EnforceDictionary, @AppendToFile, @FileWriterType, @ScaleWriterType, @BatchIdMin, @BatchIdMax)
		
	--return primary key value of item that was just inserted for foreign key data to be added to POSEscapeChars table
	SELECT SCOPE_IDENTITY() AS POSFileWriterKey

END

GO

