<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConfigurationURI" value="http://wfmmobile-tst/WFMUHS.xml"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="UniversalHandheldSite.Service1Behavior" name="UniversalHandheldServiceLibrary.UniversalHandheldService">
				<endpoint address="" binding="wsHttpBinding" contract="UniversalHandheldServiceLibrary.IUniversalHandheldService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<endpoint address="basic" binding="basicHttpBinding" contract="UniversalHandheldServiceLibrary.IUniversalHandheldService"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="UniversalHandheldSite.Service1Behavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
