<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cewd1815\SQLSHARED2012D;initial catalog=Icon;integrated security=true;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_FL" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-fl\fld;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_MA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-ma\mad;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_MW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_NA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-na\nad;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_NC" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-nc\nct;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_NE" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-ne\net;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_PN" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_RM" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_SO" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-so\sod;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_SP" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-sp\spt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_SW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-sw\swt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_UK" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Sender" value="Icon-Test@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>