<div class="border-warning" style="border-radius:7px; display:flex; position:fixed; left:50%; top:50%; border:2px solid; box-shadow: 0.4em 0.4em rgba(0,0,0,0.6); background-color:whitesmoke; text-align:center; padding:25px; margin:-50px 0 0 -300px">
    <h2>Contact view is currently disabled.</h2>
</div>
