@{
    ViewBag.Title = "Manage Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border-warning" style="border-radius:7px; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); border:2px solid; box-shadow: 0.4em 0.4em rgba(0,0,0,0.6); background-color:whitesmoke; text-align:center; padding:25px;">
    @{var message = @TempData["Message"] != null ? @TempData["Message"] : "Contact view is not available.";}
    <h2>@message</h2>
</div>
