@{
    ViewBag.Title = "Manage Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-10">
    <div class="text-center py-3">
        <h2>Contact Management</h2>
        <p class="lead">Contact Information</p>
        <br/>
        <div class="shadow-lg p-3 mb-5 bg-white rounded text-info rounded-lg">
            @{var message = @TempData["Message"] != null ? @TempData["Message"] : "Contact view is not available.";}
            <h4>@message</h4>
        </div>
    </div>
</div>