@using Infragistics.Web.Mvc
@using Icon.Web.Mvc.Utility
@model Icon.Web.Mvc.Models.ContactViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Main Page</h2>