<div class="page-subsection">
    <h4>Invalid spreadsheet type detected.</h4>
    <h5>Please check that all headers match the layout for an item import spreadsheet (common errors include columns out of order, missing columns, and misspelled headers).</h5>
</div>