<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRMAUserAuditConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IRMAUserAuditConsole.Properties.Settings.ItemCatalog_TestConnectionString"
            connectionString="Data Source=idt-pn\pnt;Initial Catalog=ItemCatalog_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <IRMAUserAuditConsole.Properties.Settings>
            <setting name="DefaultConnectionString" serializeAs="String">
                <value>Data Source=idp-XX\XXp;Initial Catalog=ItemCatalog;Integrated Security=True</value>
            </setting>
            <setting name="RootPath" serializeAs="String">
                <value>\\connect\davwwwroot\team\irma\irma user audit</value>
            </setting>
            <setting name="RegionsByStore" serializeAs="String">
                <value>fl,ma,mw,na,nc,ne,pn,rm,so,sp,uk</value>
            </setting>
            <setting name="RegionsByRegion" serializeAs="String">
                <value>sw</value>
            </setting>
            <setting name="ResultsPath" serializeAs="String">
                <value>c:\temp\useraudit\prd</value>
            </setting>
            <setting name="DebugRootPath" serializeAs="String">
                <value>\\connect\davwwwroot\team\irma\irma user audit</value>
            </setting>
            <setting name="TempFilePath" serializeAs="String">
                <value>c:\temp\useraudit\prd</value>
            </setting>
            <setting name="AllRegions" serializeAs="String">
                <value>fl,ma,mw,na,nc,ne,pn,rm,so,sp,uk</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>c:\temp\useraudit\prd</value>
            </setting>
            <setting name="BackupRegions" serializeAs="String">
                <value>fl,ma,mw,na,nc,ne,pn,rm,so,sp,sw,uk</value>
            </setting>
            <setting name="RestoreRegions" serializeAs="String">
                <value>fl,ma,mw,na,nc,ne,pn,rm,so,sp,sw,uk</value>
            </setting>
            <setting name="RestorePath" serializeAs="String">
                <value>c:\temp\useraudit\prd</value>
            </setting>
        </IRMAUserAuditConsole.Properties.Settings>
    </applicationSettings>
</configuration>
