<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ADONetAppender" />
    </root>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <BufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="" />
      <commandText value="
						 exec dbo.AppLogInsertEntry @logDate, '8B32925C-2BA2-4688-9BF3-74CFDE0E3633', @thread, @logLevel, @logger, @message, @exception
			"/>

      <parameter>
        <parameterName value="@logDate"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logLevel"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
  </log4net>
  <appSettings>
    <!-- identifies this application and the environment it is connected to -->
    <add key="ApplicationGUID" value="ff32bfc8-496a-44af-a6bb-b089cd4e29a7"/>
    <add key="EnvironmentGUID" value="20c5ddac-659c-4b81-84f6-5f79cc390d10"/>
    <add key="ConfigFilename" value="appSettings.config"/>
    <add key="Region" value="MW"/>
  </appSettings>
  <connectionStrings>
  <!--<add name="IRMAServiceLibrary_Conn" providerName="System.Data.SqlClient" connectionString="Data Source=idd-rm;Initial Catalog=ItemCatalog_Test;User Id=IRSUser;Password=1luVlucy!;" />
    <add name="IRMAServiceLibrary_Conn" providerName="System.Data.SqlClient" connectionString="Data Source=idt-nc\nct;Initial Catalog=ItemCatalog_Test;User Id=IRSUser;Password=Cedar$R3st;" />-->
  <!--<add name="IRMAServiceLibrary_Conn" connectionString="Server=(local)\ALEX_LAPTOP;Database=ItemCatalog;Integrated Security=True;"  />-->
    <!--<add name="IRMAServiceLibrary_Conn" connectionString="Server=idt-mw\mwt;Database=ItemCatalog_Test;Integrated Security=True;Max Pool Size=500;"  />-->
    <!--<add name="IRMAServiceLibrary_Conn" connectionString="Server=idt-so\sot;Database=ItemCatalog_Test;User ID=IRSUser;Password=anoel;Max Pool Size=500;"  />-->
    <!--<add name="IRMAServiceLibrary_Conn" connectionString="Server=idt-XX\XXt;Database=ItemCatalog_Test;Integrated Security=True;Max Pool Size=500;"  />-->
    <add name="IRMAServiceLibrary_Conn" connectionString="Data Source=idt-ma\mat;Initial Catalog=ItemCatalog_Test;User Id=IRMAAdmin;Password=B@ndwidth;"  />
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
