<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeAssassin.ConfigTransform" version="1.2" targetFramework="net461" />
  <package id="Dapper" version="1.50.4" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Icon.Common" version="2016.10.19.4" targetFramework="net461" />
  <package id="Icon.Esb" version="2017.10.9.1" targetFramework="net461" />
  <package id="Icon.Logging" version="2016.10.18.4" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="NLog.Extended" version="4.0.0.1" targetFramework="net461" />
  <package id="SimpleInjector" version="4.0.12" targetFramework="net461" />
  <package id="TIBCO.EMS" version="2016.10.21.1" targetFramework="net461" />
</packages>