<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Mammoth" connectionString="data source=MAMMOTH-DB01-DEV\MAMMOTH;initial catalog=Mammoth_Dev;integrated security=True;MultipleActiveResultSets=True" />
    <!--<add name="Mammoth" connectionString="data source=(localdb)\ProjectsV12;initial catalog=Mammoth;integrated security=True;MultipleActiveResultSets=True" />-->
  </connectionStrings>
  <appSettings>
    <add key="ServerUrl" value="ssl://DEV-ESB-EMS-1.wfm.pvt:7233" />
    <add key="JmsUsername" value="jndiMammothUser" />
    <add key="JmsPassword" value="maMmOthU$ser" />
    <add key="JndiUsername" value="jndiMammothUser" />
    <add key="JndiPassword" value="maMmothU$ser" />
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory" />
    <add key="SslPassword" value="esb" />
    <add key="QueueName" value="WFMESB.Enterprise.Hierarchy.ItemGateway.Queue.V2" />
    <add key="SessionMode" value="ClientAcknowledge" />
    <add key="CertificateName" value="E=suchetha.aleti@wholefoods.com, CN=DEV-ESB-EMS-1.wfm.pvt, OU=InfraESBAdmins@wholefoods.com, O=&quot;Whole Foods Market &quot;, L=Austin, S=TX, C=US" />
    <add key="CertificateStoreName" value="Root" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="TargetHostName" value="DEV-ESB-EMS-1.wfm.pvt" />
    <add key="ReconnectDelay" value="30000" />
    <add key="SendEmails" value="true" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />
    <add key="NumberOfListenerThreads" value="1" />
    <add key="ResendMessageCount" value="1" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
