<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- Valid values for task region lists: FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW,UK // FL,SP,PN,SO,SW -->
    <add key="NewItemsEnabledRegionsList" value="NA"></add>
    <add key="LoadTestStatusMillisecondsInterval" value="1000" />

    <add key="TestRunTimeInMinutes" value="0" />
    <add key="TestPopulateDataIntervalInMinutes" value="0" />

    <!-- For GloCon Brand Update testing -->
    <add key="BrandNameUpdateEventConfiguredRegions" value="FL" />

    <!-- ESB Settings-->
    <add key="ServerUrl" value="ssl://cerd1616.wfm.pvt:7233" />
    <add key="JmsUsername" value="iconUser" />
    <add key="JmsPassword" value="iconUser" />
    <add key="JndiUsername" value="jndiIconUser" />
    <add key="JndiPassword" value="jndiIconUser" />
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory" />
    <add key="SslPassword" value="esb" />
    <add key="QueueName" value="WFMESB.Commerce.Retail.ItemMgmt.Item.Queue.V2.Test" />
    <add key="SessionMode" value="ClientAcknowledge" />
    <add key="CertificateName" value="E=suchetha.aleti@wholefoods.com, CN=cerd1616.wfm.pvt, OU=InfraESBAdmins@wholefoods.com, O=&quot;Whole Foods Market &quot;, L=Austin, S=TX, C=US" />
    <add key="CertificateStoreName" value="Root" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="TargetHostName" value="cerd1616.wfm.pvt" />
    <add key="ReconnectDelay" value="30000" />
    <add key="SendEmails" value="true" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />
    <add key="NumberOfListenerThreads" value="1" />
    <add key="ResendMessageCount" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cewd1815\SQLSHARED2012D;initial catalog=IconLoadTest;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ItemCatalog_FL" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-fl\fld;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_MA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-ma\mad;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_MW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_NA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-na\nad;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_NC" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-nc\nct;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_NE" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-ne\net;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_PN" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_RM" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_SO" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-so\sod;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_SP" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-sp\spt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_SW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-sw\swt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_UK" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUser;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
  </connectionStrings>
</configuration>