/****** Object:  StoredProcedure [dbo].[Replenishment_POSPush_GetPOSWriterFileConfig]    Script Date: 05/19/2006 16:33:03 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Replenishment_POSPush_GetPOSWriterFileConfig]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Replenishment_POSPush_GetPOSWriterFileConfig]
GO

/****** Object:  StoredProcedure [dbo].[Replenishment_POSPush_GetPOSWriterFileConfig]    Script Date: 05/19/2006 16:33:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE dbo.Replenishment_POSPush_GetPOSWriterFileConfig
    @FileWriterKey int
AS 
-- Queries the POSWriterFileConfig table to
-- retrieve all the change type details for the  
-- specified file writer.

BEGIN
SELECT 
POSChangeTypeKey, ColumnOrder, RowOrder, BitOrder, DataElement, 
FieldID, MaxFieldWidth, TruncLeft, DefaultValue, IsTaxFlag, IsLiteral, 
IsDecimalValue, DecimalPrecision, IncludeDecimal, PadLeft, FillChar,
LeadingChars, TrailingChars, IsBoolean, BooleanTrueChar, BooleanFalseChar,
FixedWidthField, IsPackedDecimal, IsBinaryInt, PackLength 
FROM POSWriterFileConfig 
WHERE (POSFileWriterKey = @FileWriterKey) 
ORDER BY POSChangeTypeKey, RowOrder, ColumnOrder, BitOrder
END
GO


