/****** Object:  StoredProcedure [dbo].[Replenishment_Tlog_House_ClearLoadTables]    Script Date: 09/25/2006 08:33:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Replenishment_Tlog_House_ClearLoadTables]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Replenishment_Tlog_House_ClearLoadTables]
GO
/****** Object:  StoredProcedure [dbo].[Replenishment_Tlog_House_ClearLoadTables]    Script Date: 09/25/2006 08:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.Replenishment_Tlog_House_ClearLoadTables
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @Sql as varchar(1024)
	
        DELETE FROM TLOG_DISCNT
        DELETE FROM TLOG_MRKDWN
        DELETE FROM TLOG_ITEM
        DELETE FROM TLOG_TAXREC
        DELETE FROM TLOG_TENDER
        DELETE FROM TLOG_CMCARD
        DELETE FROM TLOG_CMRESERVE
        DELETE FROM TLOG_CMREWARD
        --DELETE FROM TLOG_CMVAR

END
GO
