/****** Object:  StoredProcedure [dbo].[Replenishment_UKTLog_CreateItemFact]    Script Date: 05/19/2006 16:33:18 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Replenishment_UKTLog_CreateItemFact]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Replenishment_UKTLog_CreateItemFact]
GO

/****** Object:  StoredProcedure [dbo].[Replenishment_TLog_CreateItemFact]    Script Date: 05/19/2006 16:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE dbo.[Replenishment_UKTLog_CreateItemFact]
	-- Add the parameters for the stored procedure here
	@DateKey smalldatetime, 
	@StoreNo int ,
	@RegisterNo int, 
	@TransactionNo int ,
	@OperatorNo int ,
	@SubTeamNo int ,
	@BarCode Varchar(50) ,
	@SalesQty int ,
	@Weight real,
	@RetailPrice money, 
	@SalesValue money 

AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO IRMA_TLog_ItemFact (Date_Key,  Store_No, Register_No, Transaction_No, Operator_No, SubTeam_No, BarCode, Sales_Qty ,Weight, Retail_Price, Sales_Value )
	VALUES (@DateKey, @StoreNo, @RegisterNo, @TransactionNo, @OperatorNo, @SubTeamNo, @BarCode, @SalesQty ,@Weight, @RetailPrice, @SalesValue )
END
GO

