IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[Replenishment_POSPush_AddIdentifier]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	EXEC ('create PROCEDURE [dbo].[Replenishment_POSPush_AddIdentifier] (@foo int) as select 1')
GO

ALTER PROCEDURE dbo.Replenishment_POSPush_AddIdentifier
(
	@IdentifierIds INTTYPE READONLY
)
AS 

BEGIN

BEGIN TRANSACTION

BEGIN TRY	
	UPDATE ItemIdentifier 
	SET Add_Identifier = 0
	FROM ItemIdentifier 
	INNER JOIN @IdentifierIds ids ON ItemIdentifier.Identifier_Id = ids.[Key]
	
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
	
	SELECT  
		'Replenishment_POSPush_AddIdentifier failed with error: ' + ERROR_MESSAGE() AS ErrorMessage
		, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState  
		, ERROR_PROCEDURE() AS ErrorProcedure,ERROR_LINE() AS ErrorLine 
    	
END CATCH

END
GO
GO


