/****** Object:  StoredProcedure [dbo].[Replenishment_Tlog_House_GetStores]    Script Date: 09/25/2006 08:33:14 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Replenishment_Tlog_House_GetStores]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Replenishment_Tlog_House_GetStores]
GO
/****** Object:  StoredProcedure [dbo].[Replenishment_Tlog_House_GetStores]    Script Date: 09/25/2006 08:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.Replenishment_Tlog_House_GetStores
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT store_no, store_name, storeabbr
	FROM Store 
	WHERE WFM_Store=1 and StoreAbbr is not null

END
GO
