/****** Object:  StoredProcedure [dbo].[Replenishment_TLog_UK_CreatePaymentRecord]    Script Date: 07/04/2006 08:59:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Replenishment_TLog_UK_CreatePaymentRecord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Replenishment_TLog_UK_CreatePaymentRecord]
GO
/****** Object:  StoredProcedure [dbo].[Replenishment_TLog_UK_CreatePaymentRecord]    Script Date: 07/04/2006 08:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






	CREATE PROCEDURE dbo.[Replenishment_TLog_UK_CreatePaymentRecord] 
	(
		@TimeKey smalldatetime, 
		@TransactionNo int, 
		@StoreNo int, 
		@RegisterNo int, 
		@PaymentType varchar(20),
		@PaymentAmt money
	)
	AS
	BEGIN
		SET NOCOUNT ON

		DECLARE @Payment money
		DECLARE @Change  money
		DECLARE @PaymentId int
		
		
		Set @PaymentId = (select Payment_Type from Payment where Description = @PaymentType )
		if @PaymentId is null 
			set @PaymentId = 3
		
			

		if @PaymentAmt > 0 
			begin
				set @Payment = @PaymentAmt
				set @Change = null
			end
		else
			begin
				set @Payment = null
				set @Change = @PaymentAmt
			end
		
		
		
		IF EXISTS 
		(
			SELECT TimeKey FROM TLOG_UK_Payment
			WHERE TimeKey = @TimeKey AND 
			Transaction_No = @TransactionNo AND 
			Store_No = @StoreNo AND 
			Register_No = @RegisterNo  			
		)
		BEGIN
			DELETE FROM TLOG_UK_Payment
			WHERE TimeKey = @TimeKey AND 
			Transaction_No = @TransactionNo AND 
			Store_No = @StoreNo AND 
			Register_No = @RegisterNo  
		END 


		
		
		Insert into TLOG_UK_Payment
		(
			TimeKey,
			Transaction_No, 
			Store_No, 
			Register_No, 
			Payment_Type,
			Payment_Amount, 
			Change_Amount
		)
		VALUES
		(
			@TimeKey ,
			@TransactionNo , 
			@StoreNo , 
			@RegisterNo , 
			@PaymentId,
			@Payment,
			@Change
		)

		
		SET NOCOUNT OFF
		
	END






GO
