<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--Email FROM address-->
		<add key="EmailFrom" value="nc.irma.support@wholefoods.com"/>
		<!-- a default delimiter, in case one isn't specified -->
		<add key="ExportDelimiter" value="|"/>
		<!-- what the cost file should be named -->
		<add key="COSTFilePrefix" value="COST"/>
		<!-- what the item file should be named -->
		<add key="ITEMFilePrefix" value="ITEM"/>
		<!-- what the plano file should be named-->
		<add key="PLANOFilePrefix" value="PLANO"/>
		<!-- what the plano file should be named-->
		<add key="InventoryFilePrefix" value="NC"/>
		<!-- the file extension for all exported WIMP files -->
		<add key="FileExt" value=".dat"/>
		<!-- the file extension for all exported Inventory files -->
		<add key="InvFileExt" value=".txt"/>
		<!--Automated POS Push Archive-->
		<add key="POSPushArchivePath" value="\\iap-nc\POSPushArchive$"/>
		<add key="POSPushArchiveFilter" value=".*\.txt$"/>
		<!--Automated POS Push Logs-->
		<add key="POSPushLogPath" value="\\iap-nc\POSPushLogs$"/>
		<add key="POSPushLogFilter" value=".*\.log$"/>
		<!--Day to allow UpdateSalesSubByWeekly to run (DayOfWeek Int Value - 1(Monday) thru 7 (Sunday))-->
		<add key="TLOGRunAllowedOn" value="1"/>
		<!--TLOG parser log share-->
		<add key="TLOGEmailSubject" value="Daily TLOG Error Check"/>
		<add key="TLOGParserLogPath" value="\\iap-nc\TLOGLogs$\"/>
		<add key="TLOGParserLogFilter" value=".*\.log$"/>
		<add key="TLOGParserLogFileName" value="TlogParser-{0}.log"/>
	</appSettings>
</configuration>
