body 
{
	font-family : Helvetica; font-size : small
}

#masterbody 
{
	text-align:center;
	font-family:Arial;
	margin:auto;
}

#header
{
	font-weight:bold;
	font-size:large;
	margin-left:auto;
	margin-right:auto;
	width: 382px;
}

#menuDiv
{
	font-weight:bold;
	font-size:large;
	margin-left:auto;
	margin-right:auto;
	width: 295px;
	text-align:center;
}

#content
{
	text-align:left;
	width: 864px;
	margin-left:auto;
	margin-right:auto;
}

#Menu1
{
	text-align:left;
}

.contentDiv
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width: 902px;
}
.contentDivUsers
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width: 870px;
}
.contentDivPanel
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width: 255px;
	height: 89px;
}
.contentDivPanelAdd
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width: 255px;
	height: 197px;
}
.contentFileListDiv
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:10pt;
	width:100%;
}

.contentRightDiv
{
	text-align:right;
	margin-left:auto;
	margin-right:auto;
}

.mGrid
{
	margin-left:auto;
	margin-right:auto;
}

.mGrid th
{
	background-color:Gray;
	font-weight:bold;
	text-align:left;
	font-family:Arial;
	font-size:10pt;
}

.mGrid td
{
	windows:100%;
	font-family:Arial;
	text-align:left;
	font-size:10pt;
}

.mGrid tr:hover
{
	
}



.radio
{
	float:left;
}

.savelb
{
	float:right;
	height: 18px;
}

.griddiv
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:366px;
}



.loginbox
{
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	margin:auto;
}

.logintextbox
{
	width:125px;
}

.loggedinText
{
	font-size:8;
	width:125px;
}

.labeltext
{
	font-size:8;
}

.contentUserDiv
{
	text-align:left;
	width: 75%;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

.searchPanel
{
	text-align:left;
	width: 75%;
	margin-left:auto;
	margin-right:auto;
}

.classSetupTable
{
	margin-left:auto;
	margin-right:auto;
}

.contentClassDiv
{
	text-align:left;
	width: 93%;
	margin-left:auto;
	margin-right:auto;
	
}

.modalBackgroundUsers
{
      background-color:#EEEEEE;
      -ms-filter: alpha(opacity=70);
      -ms-opacity: 0.7;
}
 
.modalPopupUsers
{
      border: 3px solid Gray;
	background-color:White;
      padding:3px;
      font-family:Arial;
	  font-size :10pt;
	  width:299px;
	  position:absolute;
	top: 325px;
	left: 156px;
	height: 231px;
}
.modalBackgroundSettings
{
      background-color:#EEEEEE;
      -ms-filter: alpha(opacity=70);
      -ms-opacity: 0.7;
}
 
.modalPopupSettings
{
      border: 3px solid Gray;
	background-color:White;
      padding:3px;
      font-family:Arial;
	  font-size :10pt;
	  width:299px;
	  position:absolute;
	top: 216px;
	left: 21px;
}
.modalBackground
{
      background-color:#EEEEEE;
      -ms-filter: alpha(opacity=70);
      -ms-opacity: 0.7;
}
 
.modalPopup
{
    border: 3px solid Gray;
	background-color:White;
    padding:3px;
    font-family:Arial;
	font-size :10pt;
	width:299px;
	position:absolute;
	top: 163px;
	left: 16px;
}
.modalTargetButton
{
	display:none;
}
.griddivscroll
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:262px;
	overflow:auto;
	height: 105px;
}
.griddivscrollAppSettings
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:519px;
	overflow:auto;
	height: 134px;
}

.griddivscrollStoreSettings
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:522px;
	overflow:auto;
	height: 209px;
}
.griddivscrollUserSettings
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:858px;
	overflow:auto;
	height: 279px;
}
.inputTextbox
{
 height:15px;
}

.ajax__calendar_container 
{ 
    z-index : 1000 ; 
}
