<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Icon" connectionString="Data Source=icon-db-qa;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets xdt:Transform="Replace" async="true">
      <target name="dbLogIconWebApi" type="Database" connectionString="data source=icon-db-qa;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="18" />
        <parameter name="@UserName" layout="${identity:authType=false:isAuthenticated=false}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${callsite}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    <target name="json-file" p6:type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3" xmlns:p6="http://www.w3.org/2001/XMLSchema-instance"><layout p6:type="JsonLayout"><attribute name="date" layout="${longdate}" /><attribute name="level" layout="${level:upperCase=true}" /><attribute name="message" layout="${message}" /><attribute name="exception" layout="${exception:format=ToString}}" /></layout></target></targets>
    <rules xdt:Transform="Replace">
      <logger name="*" minlevel="Info" writeTo="dbLogIconWebApi,json-file" final="true" />
    </rules>
  </nlog>
</configuration>