@using KitBuilder.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KitBuilder.Web</title>
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>

@{
  var user = Context.Session.GetObject<AdUserInformation>("KitBuilderUserProfile");
}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MyTecBits.com</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
            </li>
            <li><a class="nav-link">@string.Format("AD Info [ Name: {0} Region: {1} Store: {2} ]", user.FriendlyName, user.Region, user.Store)</a></li>
        </ul>
    </div>
</nav>
<partial name="_CookieConsentPartial"/>

<div class="container body-content">
  @RenderBody()
  <hr/>
  <footer>
    <p>&copy; 2018 - KitBuilder.Web</p>
  </footer>
</div>


  <script src="~/lib/jquery/jquery.min.js"></script>
  <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js" ></script>
  <script src="~/js/site.js" asp-append-version="true"></script>


@RenderSection("Scripts", required: false)
</body>
</html>
