@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("_HeaderPartial", "Choose Hierarchy Class ID to Delete");
}

<div class="page-section">
    @using (Html.BeginForm("DeleteHierarchyClass", "Support", FormMethod.Get, new { @class = "begin-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label class="form-label">Hierarchy Class ID</label>
            <input class="form-control form-input" id="HierarchyClassId" name="HierarchyClassId" type="text" />
        </div>

        <div class="form-group">
             <input type="submit" value="Review for Deletion" class="btn btn-light form-submit" />
        </div>

        <div class="validation-section page-subsection">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>@TempData["ErrorMessage"].ToString()</strong>
                </div>
            }
        </div>
    }
</div>
