/************************************************************
 * Code formatted by SoftTree SQL Assistant © v4.5.9
 * Time: 2/6/2009 3:03:57 PM
 ************************************************************/

/****** Object:  StoredProcedure [dbo].[EInvoicing_CheckForError]    Script Date: 10/08/2008 15:06:51 ******/
IF EXISTS (
       SELECT *
       FROM   sys.objects
       WHERE  OBJECT_ID = OBJECT_ID(N'[dbo].[EInvoicing_CheckForError]')
              AND TYPE IN (N'P', N'PC')
   )
    DROP PROCEDURE [dbo].[EInvoicing_CheckForError]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_CheckForError]    Script Date: 10/08/2008 15:06:51 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.EInvoicing_CheckForError
	@InvoiceId INT
AS
BEGIN
	SELECT ei.ErrorCode_id,
	       ISNULL(ec.ErrorMessage, 'Unknown') AS ErrorMessage
	FROM   einvoicing_invoices ei (NOLOCK)
	       LEFT JOIN einvoicing_errorcodes ec (NOLOCK)
	            ON  ei.errorcode_id = ec.errorcode_id
	WHERE  einvoice_id = @InvoiceId
	       AND ei.errorcode_id IS NOT NULL
END
GO

GRANT EXECUTE ON [dbo].[EInvoicing_CheckForError] TO [IRMAAdminRole]
GO

GRANT EXECUTE ON [dbo].[EInvoicing_CheckForError] TO [IRMAClientRole]
GO
