/****** Object:  StoredProcedure [dbo].[EInvoicing_RemoveConfigValue]    Script Date: 08/19/2008 13:32:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_RemoveConfigValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_RemoveConfigValue]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_RemoveConfigValue]    Script Date: 08/19/2008 13:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_RemoveConfigValue]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[EInvoicing_RemoveConfigValue]
	@ElementName varchar(255)
as
begin

	DELETE FROM EInvoicing_Config
	WHERE ElementName = @ElementName

end

' 
END
GO
