/****** Object:  StoredProcedure [dbo].[EInvoicing_GetKnownSACCodes]    Script Date: 08/14/2008 10:54:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_GetKnownSACCodes]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_GetKnownSACCodes]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_GetKnownSACCodes]    Script Date: 08/14/2008 10:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure dbo.EInvoicing_GetKnownSACCodes
as
begin
	SELECT ElementName, ChargeOrAllowance, Subteam_No, SACCodeType, NeedsConfig
	FROM EInvoicing_Config (nolock)
	WHERE IsSACCode=1 and disabled = 0
end
GO
GRANT EXECUTE ON [dbo].[EInvoicing_GetKnownSACCodes] TO [IRMAAdminRole]
GO
