/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertLineItemElement]    Script Date: 07/22/2008 15:56:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_InsertLineItemElement]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_InsertLineItemElement]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertLineItemElement]    Script Date: 07/22/2008 15:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_InsertLineItemElement]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure dbo.EInvoicing_InsertLineItemElement
	@Invoiceid int,
	@LineItemId int,
	@ElementName varchar(255),
	@Elementvalue varchar(255)
as
/*
#################################################################################################################################
Revision History
=================================================================================================================================
Date		DEV		TFS			Comment
05/24/2013	DN		12007		Added NOT EXISTS logics to elimate duplicate Line Item charges.
#################################################################################################################################
*/

begin
		IF NOT EXISTS (SELECT EInvoice_Id FROM EInvoicing_ItemData WHERE EInvoice_Id = @Invoiceid AND ItemId = @LineItemId AND ElementName = @ElementName AND ElementValue = @ElementValue)
			BEGIN
				insert into EInvoicing_ItemData
				(
					EInvoice_Id,
					ItemId,
					ElementName, 
					ElementValue
				)
				values
				(
					@InvoiceId,
					@LineItemId,
					@ElementName,
					@Elementvalue
				)
			END
		ELSE
			BEGIN
				UPDATE EInvoicing_ItemData SET
				ElementValue = @Elementvalue
				WHERE EInvoice_Id = @Invoiceid AND
				ElementName = @ElementName AND
				ItemId = @LineItemId
			END
end
' 
END
GO


