/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertLineItemRecord]    Script Date: 08/14/2008 10:55:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_InsertLineItemRecord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_InsertLineItemRecord]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertLineItemRecord]    Script Date: 08/14/2008 10:55:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_InsertLineItemRecord]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure dbo.EInvoicing_InsertLineItemRecord
	@columns varchar(max),	
	@values varchar(max),
	@InvoiceId int,
	@LineItemId int
as
begin

	declare @sql as varchar(max)
	set @sql =''''

	IF EXISTS (SELECT * FROM Einvoicing_Item where Einvoice_id = @InvoiceId and line_num=@LineItemId)
	set @sql = @sql + ''DELETE FROM Einvoicing_Item WHERE line_num = '' + cast(@LineItemId as varchar(10)) + '' and Einvoice_id = '' +  cast(@InvoiceId as varchar(100)) + ''; ''


	set @sql = @sql + ''INSERT INTO Einvoicing_Item ( Einvoice_id, '' + @columns + '' ) VALUES ( '' + cast(@InvoiceId as varchar(100)) + '','' +  @values + '' ); ''
	print @sql
exec (@sql)

end
' 
END
GO
GRANT EXECUTE ON [dbo].[EInvoicing_InsertLineItemRecord] TO [IRMAAdminRole]
GO
