/****** Object:  StoredProcedure [dbo].[EInvoicing_UpdateConfigValue]    Script Date: 08/14/2008 10:55:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_UpdateConfigValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_UpdateConfigValue]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_UpdateConfigValue]    Script Date: 08/14/2008 10:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure dbo.EInvoicing_UpdateConfigValue
	@ElementName varchar(255),
    @SACType int,
    @IsSAC bit,
	@SubTeam_No int, 
    @IsAllowance int, 
    @Label varchar(2048),
	@IsHeaderElement bit,
	@IsItemElement bit,
	@IsDisabled bit
as
begin

	Update EInvoicing_Config
	set SACCodeType = @SACType,
	IsSacCode = @IsSAC, 
	ChargeOrAllowance = @IsAllowance,
	SubTeam_No = @SubTeam_no,
	Label = @Label, 
	IsHeaderElement = @IsHeaderElement ,
	IsItemElement = @IsItemElement, 
	Disabled = @IsDisabled,
	NeedsConfig = 0
	where ElementName = @ElementName

end
GO
 

