/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertHeaderElement]    Script Date: 07/22/2008 15:56:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_InsertHeaderElement]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_InsertHeaderElement]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertHeaderElement]    Script Date: 07/22/2008 15:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure dbo.EInvoicing_InsertHeaderElement
	@Invoiceid int,
	@ElementName varchar(255),
	@Elementvalue varchar(255)
as
begin
		if @Elementvalue = '' 
			set @Elementvalue = null

		insert into EInvoicing_HeaderData
		(
			EInvoice_Id,
			ElementName, 
			ElementValue
		)
		values
		(
			@InvoiceId,
			@ElementName,
			@Elementvalue
		)
end
GO
