/****** Object:  StoredProcedure [dbo].[EInvoicing_getSubTeams]    Script Date: 08/14/2008 10:54:44 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_getSubTeams]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_getSubTeams]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_getSubTeams]    Script Date: 08/14/2008 10:54:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_getSubTeams]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure dbo.EInvoicing_getSubTeams
as
begin
	SELECT	SubTeam_No, 
			SubTeam_Name, 
			GLPurchaseAcct, 
			SubTeam_Name + '' ['' + cast(GLPurchaseAcct as varchar(100)) +'']'' as Display 
	FROM	SubTeam (nolock) 
	WHERE	GLPurchaseAcct IS NOT NULL
end
' 
END
GO
GRANT EXECUTE ON [dbo].[EInvoicing_getSubTeams] TO [IRMAAdminRole]
GO
GRANT EXECUTE ON [dbo].[EInvoicing_getSubTeams] TO [IRMAClientRole]
GO
