/****** Object:  StoredProcedure [dbo].[EInvoicing_getSACTypes]    Script Date: 08/14/2008 10:54:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_getSACTypes]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_getSACTypes]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_getSACTypes]    Script Date: 08/14/2008 10:54:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_getSACTypes]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure dbo.EInvoicing_getSACTypes
as
begin
	select * from einvoicing_sactypes (nolock)
end
' 
END
GO
GRANT EXECUTE ON [dbo].[EInvoicing_getSACTypes] TO [IRMAAdminRole]
GO
