/****** Object:  StoredProcedure [dbo].[EInvoicing_GetKnownElements]    Script Date: 08/14/2008 10:54:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_GetKnownElements]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_GetKnownElements]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_GetKnownElements]    Script Date: 08/14/2008 10:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure dbo.EInvoicing_GetKnownElements
as
begin
	SELECT DISTINCT ElementName, NeedsConfig
	FROM EInvoicing_Config (nolock) where disabled = 0
end
GO
GRANT EXECUTE ON [dbo].[EInvoicing_GetKnownElements] TO [IRMAAdminRole]
GO
