/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertConfigValue]    Script Date: 08/14/2008 10:54:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_InsertConfigValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_InsertConfigValue]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertConfigValue]    Script Date: 08/14/2008 10:54:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure dbo.EInvoicing_InsertConfigValue
	@ElementName varchar(255),
    @SACType int,
    @IsSAC bit,
	@SubTeam_No int, 
    @IsAllowance int, 
    @Label varchar(2048),
	@IsHeaderElement bit,
	@IsItemElement bit,
	@IsDisabled bit
as
begin

Insert into EInvoicing_Config
(
	ElementName, 
	SacCodeType,
	IsSacCode,
	SubTeam_No,
	ChargeOrAllowance, 
	Label,
	IsHeaderElement,
	IsItemElement,
	Disabled,
	NeedsConfig
)
values
(
	@ElementName ,
    @SACType ,
    @IsSAC ,
	@SubTeam_No , 
    @IsAllowance , 
    @Label,
	@IsHeaderElement,
	@IsItemElement,
	@IsDisabled,
	0 
)


end
GO
GRANT EXECUTE ON [dbo].[EInvoicing_InsertConfigValue] TO [IRMAAdminRole]
GO
