/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertInvoiceHeaderRecord]    Script Date: 08/14/2008 10:55:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_InsertInvoiceHeaderRecord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_InsertInvoiceHeaderRecord]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertInvoiceHeaderRecord]    Script Date: 08/14/2008 10:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_InsertInvoiceHeaderRecord]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure dbo.EInvoicing_InsertInvoiceHeaderRecord
	@columns varchar(max),	
	@values varchar(max),
	@InvoiceId int
as
begin

	declare @sql as varchar(max)
	set @sql =''''

	IF EXISTS (SELECT * FROM Einvoicing_Header where Einvoice_id = @InvoiceId)
	set @sql = @sql + ''DELETE FROM Einvoicing_Header WHERE Einvoice_id = '' +  cast(@InvoiceId as varchar(100)) + ''; ''


	set @sql = @sql + ''INSERT INTO Einvoicing_Header ( Einvoice_id, '' + @columns + '' ) VALUES ( '' + cast(@InvoiceId as varchar(100)) + '','' +  @values + '' ); ''
	print @sql
exec (@sql)

end
' 
END
GO
GRANT EXECUTE ON [dbo].[EInvoicing_InsertInvoiceHeaderRecord] TO [IRMAAdminRole]
GO
