
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_GetKnownItemElements]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_GetKnownItemElements]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure dbo.EInvoicing_GetKnownItemElements
as
begin
	SELECT ElementName, ChargeOrAllowance, Subteam_No, SACCodeType, NeedsConfig
	FROM EInvoicing_Config (nolock)
	WHERE IsItemElement=1 and issaccode = 0  and disabled = 0 
end
GO
GRANT EXECUTE ON [dbo].[EInvoicing_GetKnownItemElements] TO [IRMAAdminRole]
GO
