@model Icon.Dashboard.Mvc.ViewModels.EsbEnvironmentViewModel

<p></p>
<div class="container-wide">
    @if (Model == null)
    {
        @: no valid data found
    }
    else
    {
        @Html.DisplayForModel()

        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                @Html.ActionLink("Edit", "Edit", "Esb", new { name = Model.Name }, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>
    }

    <div class="row">
        <p></p>
        <div class="col-xs-offset-2 col-xs-8 text-center">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>