@model Icon.Dashboard.Mvc.ViewModels.EsbEnvironmentViewModel
@{ 
    var globalViewData = ViewBag.GlobalViewData as Icon.Dashboard.Mvc.ViewModels.GlobalViewData;
}
<p></p>
<div class="container-wide">
    @if (Model == null)
    {
        @: no valid data found
    }
    else
    {
        @Html.DisplayForModel()
    }

    <div class="row">
        <p></p>
        <div class="col-xs-offset-2 col-xs-8 text-center">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>