<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
  </configSections>
  <esbConnections>
    <connections>
      <esbConnection name="esb" serverUrl="ssl://DEV-ESB-EMS-1.wfm.pvt:7233" jmsUsername="iconUser" jmsPassword="ouVgOD5ld5V6" jndiUsername="jndiIconUser" jndiPassword="jndiIconUser" connectionFactoryName="ItemQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.Retail.ItemMgmt.Item.Queue.V2" sessionMode="ClientAcknowledge" certificateName="CN=CA-ROOT-I, O=Whole Foods Market" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="DEV-ESB-EMS-1.wfm.pvt" />
    </connections>
  </esbConnections>
  <connectionStrings>
    <add name="Icon" providerName="System.Data.SqlClient" connectionString="data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_FL" connectionString="data source=idd-fl\fld;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_MA" connectionString="data source=idd-ma\mad;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_MW" connectionString="data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NA" connectionString="data source=idd-na\nad;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NC" connectionString="data source=idt-nc\nct;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_NE" connectionString="data source=idt-ne\net;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_PN" connectionString="data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_RM" connectionString="data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SO" connectionString="data source=idd-so\sod;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SP" connectionString="data source=idt-sp\spt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_SW" connectionString="data source=idt-sw\swt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_UK" connectionString="data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>