/****** Object:  StoredProcedure [dbo].[SubTeams_GetSubTeamsByStore]    Script Date: 02/08/2007 14:14:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubTeams_GetSubTeamsByStore]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SubTeams_GetSubTeamsByStore]
GO
/****** Object:  StoredProcedure [dbo].[SubTeams_GetSubTeamsByStore]    Script Date: 02/08/2007 14:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.SubTeams_GetSubTeamsByStore
	-- Add the parameters for the stored procedure here
	@Store_No int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	ss.SubTeam_No, s.SubTeam_Name, s.SubTeam_Abbreviation
	FROM StoreSubteam ss inner join SubTeam s on ss.SubTeam_No = s.SubTeam_No
	WHERE Store_No = @Store_No	
END
GO
