/****** Object:  StoredProcedure [dbo].[SubTeams_GetSubTeam]    Script Date: 02/05/2007 15:55:21 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubTeams_GetSubTeam]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SubTeams_GetSubTeam]
GO
/****** Object:  StoredProcedure [dbo].[SubTeams_GetSubTeam]    Script Date: 02/05/2007 15:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.[SubTeams_GetSubTeam]
	@SubTeam_No int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	S.*
			, case
				when D.DistSubteam_No is not null then 1
				else 0
				end as Distribution
	FROM	
	SubTeam S 
	left outer join DistSubteam D on S.Subteam_No = D.DistSubteam_No
	WHERE S.SubTeam_No = @SubTeam_No
	


END

GO
