/****** Object:  StoredProcedure [dbo].[Teams_Validate_TeamName]    Script Date: 02/05/2007 12:11:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teams_Validate_TeamName]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Teams_Validate_TeamName]
GO
/****** Object:  StoredProcedure [dbo].[Teams_Validate_TeamName]    Script Date: 02/05/2007 12:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.Teams_Validate_TeamName
	@Team_No int,
	@Team_Name varchar(100)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	*
	FROM	Team
	WHERE rtrim(ltrim(Team_Name)) = @Team_Name
	AND Team_No not in (@Team_No)


END

GO
