/****** Object:  StoredProcedure [dbo].[Teams_GetTeam]    Script Date: 02/05/2007 12:11:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teams_GetTeam]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Teams_GetTeam]
GO
/****** Object:  StoredProcedure [dbo].[Teams_GetTeam]    Script Date: 02/05/2007 12:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.Teams_GetTeam
	@Team_No int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	*
	FROM	Team
	WHERE Team_No = @Team_No


END
GO
