/****** Object:  StoredProcedure [dbo].[Teams_LoadTeams]    Script Date: 02/05/2007 11:03:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teams_LoadTeams]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Teams_LoadTeams]
GO
/****** Object:  StoredProcedure [dbo].[Teams_LoadTeams]    Script Date: 02/05/2007 11:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.Teams_LoadTeams
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	*
	FROM	Team
	Order By Team_Name


END
GO
