/****** Object:  StoredProcedure [dbo].[SubTeams_GetTeamSubTeamRelationshipsByStore]    Script Date: 02/08/2007 15:45:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubTeams_GetTeamSubTeamRelationshipsByStore]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SubTeams_GetTeamSubTeamRelationshipsByStore]
GO
/****** Object:  StoredProcedure [dbo].[SubTeams_GetTeamSubTeamRelationshipsByStore]    Script Date: 02/08/2007 15:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SubTeams_GetTeamSubTeamRelationshipsByStore]
	-- Add the parameters for the stored procedure here
	@Store_no int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	ss.SubTeam_No, s.SubTeam_Name, s.SubTeam_Abbreviation, ss.Team_No, t.Team_Name, ss.PS_Team_No, ss.PS_SubTeam_No,
            ss.CostFactor, ss.ICVID, IsNull( ccv.ICVABBRV, '-NONE-' ) as ICVABBRV
	FROM StoreSubteam ss 
	INNER JOIN SubTeam s ON 
		ss.SubTeam_No = s.SubTeam_No
	INNER JOIN Team t ON 
		ss.Team_No =t.Team_no
	left outer join CycleCountVendor ccv
	    on  ccv.ICVID = ss.ICVID
	WHERE Store_No = @Store_no
END
GO

