/****** Object:  StoredProcedure [dbo].[SubTeams_ValidateSubTeamToTeamRelationships]    Script Date: 02/09/2007 13:46:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubTeams_ValidateSubTeamToTeamRelationships]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SubTeams_ValidateSubTeamToTeamRelationships]
GO
/****** Object:  StoredProcedure [dbo].[SubTeams_ValidateSubTeamToTeamRelationships]    Script Date: 02/09/2007 13:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.SubTeams_ValidateSubTeamToTeamRelationships 
	-- Add the parameters for the stored procedure here
	@Store_No int, 
	@SubTeam_No int, 
	@Team_No int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 	* 
	FROM StoreSubTeam 
	WHERE Store_No = @Store_No  and SubTeam_No = @SubTeam_No
	
END
GO
