/****** Object:  StoredProcedure [dbo].[Teams_Validate_TeamAbbr]    Script Date: 02/05/2007 12:11:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teams_Validate_TeamAbbr]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Teams_Validate_TeamAbbr]
GO
/****** Object:  StoredProcedure [dbo].[Teams_Validate_TeamAbbr]    Script Date: 02/05/2007 12:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.Teams_Validate_TeamAbbr
	@Team_No int, 
	@Team_Abbr varchar(10)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	*
	FROM	Team
	WHERE rtrim(ltrim(Team_Abbreviation)) = @Team_Abbr
	AND Team_No not in  (@Team_No)


END

GO
