<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="Icon Attribute Publisher"/>
    <add key="ServiceDisplayName" value="Icon Attribute Publisher" />
    <add key="ServiceDescription" value="Service that publishes attribute changes to the ESB" />
    <add key="NonReceivingSystems" value="AMZ,ESL1Plum,Mammoth,Slaw,Spice,KB,R10" />
  </appSettings>
  <connectionStrings>
    <add name="Icon" connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=true;MultipleActiveResultSets=true;"/>
  </connectionStrings>
  <esbConnections>
    <connections xdt:Transform="Replace">
      <esbConnection
       name="SB1"
       serverUrl="ssl://cerd1668.wfm.pvt:7233"
       jmsUsername="sb1_iconUser"
       jmsPassword="sb1_iconUser"
       sslPassword="esb"
       queueName="WFMSB1.Mammoth.Attributes.Queue.V1"
       sessionMode="ClientAcknowledge"
       certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US"
       certificateStoreName="Root"
       certificateStoreLocation="LocalMachine"
       targetHostName="cerd1668.wfm.pvt" />
    </connections>
  </esbConnections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
    <targets async="true" xdt:Transform="Replace">
      <target name="dbLog" type="Database" connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName)                          VALUES            (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="20" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="dbLog" final="true" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>