body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* overrides the mvc default max-width: 280px; allowing a wider input */
.custom-wide-input {
    max-width: 540px;
}
.custom-wider-input {
    max-width: 640px;
}

/* helps to vertically align a checkbox form-control within a form-group in bootstrap */
.custom-checkbox-form-control {
    padding-left: 20px;
}

/* wraps table cell text - breaks long strings like UTC dates or queue names to preserve table format */
td.wrap-ugly-text {
    word-break: break-all;
}

.fine-print {
    font-size: smaller;
    font-style: italic;
}

.confirm {
    border: solid 1px black;
    border-radius: 15px
}

.confirm-header {
    border: solid 1px lightgray;
    border-radius: 15px 15px 0px 0px
}