<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="BrandNameUpdateEventConfiguredRegions" value="SW,MW,PN,NC,FL" />
    <add key="HierarchyClassDeleteEventConfiguredRegions" value="SW,MW,PN,NC,FL" />
    <add key="TaxUpdateEventConfiguredRegions" value="SW,MW,PN,NC,FL" />
    <add key="BulkScanCodeSearchLimit" value="3000" />
    <add key="IconContextCommandTimeout" value="90" />
    
    <!-- ESB producer settings -->
    <add key="ServerUrl" value="ssl://cerd1617.wfm.pvt:17293" />
    <add key="JmsUsername" value="ewicIconUser" />
    <add key="JmsPassword" value="ewicIconUser" />
    <add key="JndiUsername" value="jndiEwicIconUser" />
    <add key="JndiPassword" value="jndiEwicIconUser" />
    <add key="ConnectionFactoryName" value="EwicQueueConnectionFactory" />
    <add key="SslPassword" value="esb" />
    <add key="QueueName" value="WFMESB.Commerce.PointOfSaleMgmt.NonSequencedRequest.Queue.V2" />
    <add key="SessionMode" value="ClientAcknowledge" />
    <add key="CertificateName" value="E=suchetha.aleti@wholefoods.com, CN=cerd1617.wfm.pvt, OU=InfraESBAdmins@wholefoods.com, O=&quot;Whole Foods Market &quot;, L=Austin, S=TX, C=US" />
    <add key="CertificateStoreName" value="Root" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="TargetHostName" value="cerd1617.wfm.pvt" />
    <add key="ReconnectDelay" value="30000" />
    <add key="SendEmails" value="true" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />
    <add key="NumberOfListenerThreads" value="1" />
    <!-- Mammoth settings -->
    <add key="EnableMammothEventGeneration" value="true" />
  </appSettings>
  <connectionStrings>
    <!-- Dev -->
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=true;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- Test -->
    <!--<add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cewd1815\SQLSHARED2012D;initial catalog=iCon;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
