<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <!-- Windows Background Service Settings -->
    <add key="ServiceDisplayName" value="Infor Item Listener"/>
    <add key="ServiceName" value="InforItemListener"/>
    <add key="ServiceDescription" value="Processes Infor Item updates to Icon."/>
    
    <!-- ESB Settings -->
    <add key="ServerUrl" value="ssl://cerd1616.wfm.pvt:7233"/>
    <add key="JmsUsername" value="iconUser"/>
    <add key="JmsPassword" value="ouVgOD5ld5V6"/>
    <add key="JndiUsername" value="jndiIconUser"/>
    <add key="JndiPassword" value="jndiIconUser"/>
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory"/>
    <add key="SslPassword" value="esb"/>
    <add key="QueueName" value="WFMESB.ProductDev.ItemMgmt.Item.ItemMgmtSys.Queue.V2"/>
    <add key="SessionMode" value="ClientAcknowledge"/>
    <add key="CertificateName" value="CN=CA-ROOT-I, O=Whole Foods Market"/>
    <add key="CertificateStoreName" value="Root"/>
    <add key="CertificateStoreLocation" value="LocalMachine"/>
    <add key="TargetHostName" value="cerd1616.wfm.pvt"/>
    <add key="ReconnectDelay" value="30000"/>
    <add key="NumberOfListenerThreads" value="1"/>
    
    <!-- Email Settings -->
    <add key="SendEmails" value="true"/>
    <add key="EmailHost" value="smtp.wholefoods.com"/>
    <add key="EmailPort" value="25"/>
    <add key="EmailUsername" value=""/>
    <add key="EmailPassword" value=""/>
    <add key="Sender" value="Icon-Dev@wholefoods.com"/>
    <add key="Recipients" value="irma.developers@wholefoods.com"/>
    
    <!-- Application Settings -->
    <add key="ValidateSequenceId" value="false"/>
    <add key="EnableConfirmBods" value="false"/>
  </appSettings>
  <esbConnections>
    <connections>
      <esbConnection name="ConfirmBOD" serverUrl="ssl://cerd1616.wfm.pvt:7233" jmsUsername="iconUser" jmsPassword="ouVgOD5ld5V6" jndiUsername="jndiIconUser" jndiPassword="jndiIconUser" connectionFactoryName="ItemQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Technical.ErrorBOD.Error.Queue.V2" sessionMode="ClientAcknowledge" certificateName="CN=CA-ROOT-I, O=Whole Foods Market" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1616.wfm.pvt" reconnectDelay="30000"/>
    </connections>
  </esbConnections>
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;integrated security=true;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Icon" connectionString="data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
      <target name="dbLog" type="Database" connectionString="data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName)
                         VALUES            (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="17"/>
        <parameter name="@UserName" layout="${windows-identity}"/>
        <parameter name="@LogDate" layout="${date}"/>
        <parameter name="@Level" layout="${level}"/>
        <parameter name="@Source" layout="${logger}"/>
        <parameter name="@Message" layout="${message}"/>
        <parameter name="@MachineName" layout="${machinename}"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="dbLog" final="true"/>
    </rules>
  </nlog>
</configuration>
