.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
    color: blue;
  }

  .receive-order{
    margin-top: .5rem;
      .ui.grid+.grid {
        margin-top: 0.5rem;
        margin-bottom: 0.2rem;
    }
  }

  .fixed-bottom-element {
    position: fixed;
    bottom:0;
    background: white;
  }