<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="JmsUsername" value="jndiMammothUser"/>
    <add key="JmsPassword" value="maMmothU$er"/>
    <add key="ServerUrl" value="ssl://cerd1616.wfm.pvt:7233"/>
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory"/>
    <add key="TopicConnectionFactoryName" value="ItemTopicConnectionFactory"/>
    <add key="SslPassword" value="esb"/>
    <add key="PriceQueueName" value="WFMESB.ProductDev.ItemGateway.Price.Queue.V2"/>
    <add key="RetailAppsQueueName" value="WFMESB.Commerce.Retail.PriceMgmt.Price.RealTime.Queue.V2"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
