<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServerUrl" value="ssl://DEV-ESB-EMS-1.wfm.pvt:7233" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="JmsUsername" value="iconUser" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="JmsPassword" value="iconUser" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="JndiUsername" value="jndiIconUser" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="JndiPassword" value="jndiIconUser" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SslPassword" value="esb" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="QueueName" value="WFMESB.Technical.ItemMgmt.PointOfSaleResponse.Reply.Queue.V2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SessionMode" value="ClientAcknowledge" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CertificateName" value="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CertificateStoreName" value="Root" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CertificateStoreLocation" value="LocalMachine" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TargetHostName" value="DEV-ESB-EMS-1.wfm.pvt" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReconnectDelay" value="30000" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SendEmails" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailHost" value="smtp.wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailPort" value="25" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailUsername" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailPassword" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sender" value="Icon-Dev1@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Recipients" value="irma.developers@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NumberOfListenerThreads" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="Icon" providerName="System.Data.SqlClient" connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets xdt:Transform="Replace">
      <target name="dbLogIconEsb"
              xsi:type="Database"
              connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True"
              commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName)
                         VALUES            (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="3" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
    <rules>
      <logger name="Icon.Esb.*" minlevel="Info" writeTo="dbLogIconEsb" final="true" />
    </rules>
  </nlog>
</configuration>