<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;integrated security=true;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="ItemCatalog_FL" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-fl\fld;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_MA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-ma\mad;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_MW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_NA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-na\nad;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_NC" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-nc\nct;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_NE" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-ne\net;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_PN" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_RM" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_SO" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-so\sod;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_SP" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-sp\spt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_SW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-sw\swt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_UK" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
  </connectionStrings>
  <appSettings>
    <add key="NumberOfItemsPerMessage" value="100" />
    <add key="Regions" value="FL" />
    <add key="RunInterval" value="10000" />
    <add key="InstanceId" value="77" />
    <add key="ServerUrl" value="ssl://cerd1616.wfm.pvt:7233" />
    <add key="JmsUsername" value="iconUser" />
    <add key="JmsPassword" value="iconUser" />
    <add key="JndiUsername" value="jndiIconUser" />
    <add key="JndiPassword" value="jndiIconUser" />
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory" />
    <add key="SslPassword" value="esb" />
    <add key="QueueName" value="WFMESB.ProductDev.ItemMgmt.NewItem.Queue.V2" />
    <add key="SessionMode" value="ClientAcknowledge" />
    <add key="CertificateName" value="CN=CA-ROOT-I, O=Whole Foods Market" />
    <add key="CertificateStoreName" value="Root" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="TargetHostName" value="cerd1616.wfm.pvt" />
    <add key="ReconnectDelay" value="30000" />

    <!-- Email Settings-->
    <add key="SendEmails" value="true" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />

    <!-- Regional Notification Email Settings -->
    <add key="RegionalNotificationEnabled_FL" value="true" />
    <add key="RegionalNotificationEnabled_MA" value="true" />
    <add key="RegionalNotificationEnabled_MW" value="true" />
    <add key="RegionalNotificationEnabled_NA" value="true" />
    <add key="RegionalNotificationEnabled_NC" value="true" />
    <add key="RegionalNotificationEnabled_NE" value="true" />
    <add key="RegionalNotificationEnabled_PN" value="true" />
    <add key="RegionalNotificationEnabled_RM" value="true" />
    <add key="RegionalNotificationEnabled_SO" value="true" />
    <add key="RegionalNotificationEnabled_SP" value="true" />
    <add key="RegionalNotificationEnabled_SW" value="true" />
    <add key="RegionalNotificationRecipient_FL" value="FL@wholefoods.com" />
    <add key="RegionalNotificationRecipient_MA" value="MA@wholefoods.com" />
    <add key="RegionalNotificationRecipient_MW" value="MW@wholefoods.com" />
    <add key="RegionalNotificationRecipient_NA" value="NA@wholefoods.com" />
    <add key="RegionalNotificationRecipient_NC" value="NC@wholefoods.com" />
    <add key="RegionalNotificationRecipient_NE" value="NE@wholefoods.com" />
    <add key="RegionalNotificationRecipient_PN" value="PN@wholefoods.com" />
    <add key="RegionalNotificationRecipient_RM" value="RM@wholefoods.com" />
    <add key="RegionalNotificationRecipient_SO" value="SO@wholefoods.com" />
    <add key="RegionalNotificationRecipient_SP" value="SP@wholefoods.com" />
    <add key="RegionalNotificationRecipient_SW" value="SW@wholefoods.com" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
