@using Infragistics.Web.Mvc
@model Icon.Web.Mvc.Models.PluSearchViewModel

<hr />

@if (Model.PluMapping.Count() > 0)
{
    @(Html.Infragistics().Grid(Model.PluMapping.AsQueryable())
            .ID("pluGrid")
            .Width("100%")
            .AutoGenerateColumns(false)
            .PrimaryKey("ItemId")
            .Columns(column =>
                {
                    column.For(m => m.NationalPlu).HeaderText("National PLU").Width("6%")
                        .Template("<div class='scancode-link' style='text-align:right'><a href='/PluMapping/Edit/${ItemId}'>${NationalPlu}</a></div>");
                    column.For(m => m.Brand).HeaderText("Brand").Width("10%");
                    column.For(m => m.PluDescription).HeaderText("Plu Description").Width("12%");
                    column.For(m => m.flPLU).HeaderText("FL PLU").Width("6%")
                        .Template("<div style='text-align:right'>${flPLU}</div>");
                    column.For(m => m.maPLU).HeaderText("MA PLU").Width("6%")
                        .Template("<div style='text-align:right'>${maPLU}</div>");
                    column.For(m => m.mwPLU).HeaderText("MW PLU").Width("6%")
                        .Template("<div style='text-align:right'>${mwPLU}</div>");
                    column.For(m => m.naPLU).HeaderText("NA PLU").Width("6%")
                        .Template("<div style='text-align:right'>${naPLU}</div>");
                    column.For(m => m.ncPLU).HeaderText("NC PLU").Width("6%")
                        .Template("<div style='text-align:right'>${ncPLU}</div>");
                    column.For(m => m.nePLU).HeaderText("NE PLU").Width("6%")
                        .Template("<div style='text-align:right'>${nePLU}</div>");
                    column.For(m => m.pnPLU).HeaderText("PN PLU").Width("6%")
                        .Template("<div style='text-align:right'>${pnPLU}</div>");
                    column.For(m => m.rmPLU).HeaderText("RM PLU").Width("6%")
                        .Template("<div style='text-align:right'>${rmPLU}</div>");
                    column.For(m => m.soPLU).HeaderText("SO PLU").Width("6%")
                        .Template("<div style='text-align:right'>${soPLU}</div>");
                    column.For(m => m.spPLU).HeaderText("SP PLU").Width("6%")
                        .Template("<div style='text-align:right'>${spPLU}</div>");
                    column.For(m => m.swPLU).HeaderText("SW PLU").Width("6%")
                        .Template("<div style='text-align:right'>${swPLU}</div>");
                    column.For(m => m.ukPLU).HeaderText("UK PLU").Width("6%")
                        .Template("<div style='text-align:right'>${ukPLU}</div>");
                })
            .Features(features =>
                {
                    features.Paging().PageSize(20);
                    features.Sorting().ApplyColumnCss(false);
                    features.Tooltips()
                        .Visibility(TooltipsVisibility.Overflow);
                })
            .DataBind()
            .Render()
    );

    @Html.ActionLink("Export", "PluExport", "Excel", null, new { @class = "btn btn-light form-submit" })
}
else
{
    <h4>No results found.</h4>
}
