@model Icon.Web.Mvc.Models.PluSearchViewModel

@{
    ViewBag.Title = "PLU Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{Html.RenderPartial("_HeaderPartial", "Single PLU Mapping");}

<div id="searchOptions" class="page-section">
    @{Html.RenderPartial("_PluMapSearchOptionsPartial");}
</div>

<div id="searchResults" class="page-section">
    
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/plu-search.js")
}
