<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
	
	<!-- DEV DB SETTINGS-->
	<connectionStrings>
		<add name="Mammoth" connectionString="data source=MAMMOTH-DB01-DEV\MAMMOTH;initial catalog=Mammoth_Dev;integrated security=True;MultipleActiveResultSets=True" />
	</connectionStrings>

	<!-- TEST DB SETTINGS --> 
	<!--<connectionStrings>
		<add name="Mammoth" connectionString="data source=MAMMOTH-DB01-DEV\MAMMOTH;initial catalog=Mammoth;integrated security=True;MultipleActiveResultSets=True" />
	</connectionStrings> -->
	
	
	<appSettings>
    <add key="ApiDescription" value="Extracts Mammoth Gpm Price data to a flat file and sends to an s3 bucket" />
    <add key="ApiDisplayName" value="Mammoth Gpm Price Extract Service" />
    <add key="ApiServiceName" value="MammothGpmPriceExtract" />		
		<add key="InstanceID" value="1" />
		
		<!--Timer related settings-->
		<add key="RunInterval" value="3000"/>
		<add key="ScheduledTime" value="5"/>
		
		<!--file related settings-->
		<add key="LocalFilePath" value="C:\\temp\\s3Files\\test"/>
		
		<!--amazon related settings-->
		<add key="AWSProfileName" value="profile1"/>
		<add key="AWSAccessKey" value="***REMOVED***"/>
		<add key="AWSSecretKey" value="***REMOVED***"/>
		<add key="AWSBucketRegion" value="https://s3.us-east-2.amazonaws.com"/>
		<add key="AWSBucketName" value="wfm-apple-test"/>
		<add key="AWSDirectoryName" value="MammothGpmAudit"/>
		
  </appSettings>
</configuration>