<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Regions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Sender" value="Icon@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Recipients" value="SCAD.Alerts.Prd@wholefoods.com,WFMITIncidentAlert_GlobalItemMgt@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- Regional Notification Email Settings -->
    <add key="RegionalNotificationEnabled_FL" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationEnabled_MA" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationEnabled_MW" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationEnabled_NA" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationEnabled_NC" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationEnabled_NE" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationEnabled_PN" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationEnabled_RM" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationEnabled_SO" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationEnabled_SP" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationEnabled_SW" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationRecipient_FL" value="fl.data.team@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationRecipient_MA" value="MAMACDataTeam@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationRecipient_MW" value="MWMWCDATANEWITEMS@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationRecipient_NA" value="na.data.team@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationRecipient_NC" value="nc.all.data@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationRecipient_NE" value="NEDATATEAM@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationRecipient_PN" value="pn.all.data.team@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationRecipient_RM" value="RMAllDataSpecialists@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationRecipient_SO" value="so.datacontrol@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationRecipient_SP" value="SP.Data.Specialists@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionalNotificationRecipient_SW" value="SW.DATA@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- Message Builder Settings -->
    <add key="SendOrganic" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IncludeCustomerFacingDescription" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Icon-db-prd;initial catalog=Icon;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_FL" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-FL-DB-Prd;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_MA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-MA-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_MW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-MW-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_NA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-NA-DB-Prd;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_NC" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-NC-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_NE" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-NE-DB-Prd;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_PN" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-PN-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_RM" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-RM-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_SO" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-SO-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_SP" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-SP-DB-PRD;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_SW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRMA-SW-DB-Prd;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_UK" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-uk-db-prd;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserPrd;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets xdt:Transform="Replace" async="true">
      <target name="dbLog" xsi:type="Database" connectionString="data source=Icon-db-prd;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName)                            VALUES            (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="15" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
      <target name="json-file" xsi:type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout xsi:type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </targets>
  </nlog>
</configuration>