<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
	  <add key="NumberOfListenerThreads" value="1" />
	  <!-- DVS Bridge Settings -->
	  <add key="ListenerApplicationName" value="Icon Ewic Listener" />
	  <add key="SqsQueueUrl" value="https://sqs.us-west-2.amazonaws.com/992529285318/EwicIncoming" />
	  <add key="AwsAccessKey" value="InvalidAccessKey" />
	  <add key="AwsSecretKey" value="InvalidSecretKey" />
	  <add key="Region" value="us-west-2" />
	  <add key="SqsTimeout" value="10" />
	  <add key="PollInterval" value="30000" />
  </appSettings>
  <esbConnections>
    <connections>
      <esbConnection name="listener" serverUrl="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293" jmsUsername="ewicIconUser" jmsPassword="ewicIconUser" jndiUsername="jndiEwicIconUser" jndiPassword="jndiEwicIconUser" connectionFactoryName="EwicQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.Retail.EWICMgmt.EWIC.Queue.V1" sessionMode="ClientAcknowledge" certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="DEV-ESB-EMS-1.wfm.pvt" reconnectDelay="30000" />
      <esbConnection name="producer" serverUrl="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293" jmsUsername="ewicIconUser" jmsPassword="ewicIconUser" jndiUsername="jndiEwicIconUser" jndiPassword="jndiEwicIconUser" connectionFactoryName="EwicQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.PointOfSaleMgmt.NonSequencedRequest.Queue.V2" sessionMode="ClientAcknowledge" certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="DEV-ESB-EMS-1.wfm.pvt" reconnectDelay="30000" />
    </connections>
  </esbConnections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>