<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <esbConnections>
    <connections>
      <esbConnection name="R10" serverUrl="ssl://DEV-ESB-EMS-1.wfm.pvt:7233" jmsUsername="iconUser" jmsPassword="ouVgOD5ld5V6" jndiUsername="jndiIconUser" jndiPassword="jndiIconUser" connectionFactoryName="ItemQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.Retail.ItemMgmt.Item.Queue.V2" sessionMode="ClientAcknowledge" certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="DEV-ESB-EMS-1.wfm.pvt"/>
    </connections>
  </esbConnections>
</configuration>