<?xml version="1.0"?>

<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->

<configuration>
	<appSettings>
		<add key="encryptedConnectionStrings" value="False"/>
		<add key="ApplicationGUID" value="D7411005-5822-45D5-88CC-39A6476B8A88"/>
		<add key="EnvironmentGUID" value="20C5DDAC-659C-4B81-84F6-5F79CC390D10"/>
		<add key="ConnectionStringName" value="StoreOrderGuide_Conn"/>
	</appSettings>
	<!--CONNECTION STRINGS ARE NOW INHERITED FROM IIS FROM THE REGIONAL VIRTUAL DIRECTORY
		 UNCOMMENT SECTION TO TEST LOCALLY-->

	<connectionStrings>
		<add name="StoreOrderGuide_Conn" connectionString="Data Source=idd-ma\mad;Initial Catalog=ItemCatalog_Test;User ID=StoreOrderGuideUser;Password=t0mP41n3!;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
		<system.web>
      <machineKey validationKey="C84053F982794D1F2033B8FDCFB507B74BFF1E041EBF00C75F4206FAF3BAE1DC20DA37C4FAB14A1C606772FE8450B7DBCA801F4E10B95C131067196050971C57" decryptionKey="95F518E4BED5C86DEE996007E12126C60BDDE5596647ABCFC5E60646B7D7B903" validation="SHA1" decryption="AES" />
				<sessionState timeout="60"/>
				<compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
        <pages theme="StoreOrderGuide" />
				<authentication mode="Windows"/>
				<customErrors mode="Off"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
</configuration>
