<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="dbLogKitBuilder" type="Database" connectionString="Data Source=cecen-2rT9hm2\locahost;Initial Catalog=KitBuilder;Integrated Security=SSPI" commandText="INSERT INTO AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
      <parameter name="@AppId" layout="1" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@UserName" layout="${identity:authType=false:isAuthenticated=false}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@LogDate" layout="${date}" />
      <parameter name="@Thread" layout="${threadid}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@CallSite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:format=tostring}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
    </target>
   
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="dbLogKitBuilder" final="true" />
  </rules>
</nlog>
