<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target name="dbLogKitBuilder" type="Database" connectionString="${gdc:item=nLogConnectionString}" commandText="INSERT INTO AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
      <parameter name="@AppId" layout="1" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@UserName" layout="${identity:authType=false:isAuthenticated=false}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@LogDate" layout="${date}" />
      <parameter name="@Thread" layout="${threadid}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@CallSite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:format=tostring}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
    </target>
   
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="dbLogKitBuilder" final="true">
      <filters>
        <when condition="starts-with('${logger}','Microsoft')" action="Ignore" />
      </filters>
    </logger>
  </rules>

  <!-- 
    the filter above will filter out spammy Microsoft.* related messages such as:
    
    Microsoft.AspNetCore.Hosting.Internal.WebHost		CECEN1481	2018-09-25 15:32:14.763	2018-09-25 15:32:14.349	6	Request starting HTTP/1.1 DEBUG http://localhost:55873/  0
    Microsoft.AspNetCore.Hosting.Internal.WebHost		CECEN1481	2018-09-25 15:32:14.800	2018-09-25 15:32:14.349	7	Request starting HTTP/1.1 GET http://localhost:55873/swagger/index.html  
    Microsoft.AspNetCore.Hosting.Internal.WebHost		CECEN1481	2018-09-25 15:32:14.930	2018-09-25 15:32:14.916	6	Request finished in 581.0544ms 200 
    Microsoft.AspNetCore.Hosting.Internal.WebHost		CECEN1481	2018-09-25 15:32:14.977	2018-09-25 15:32:14.959	7	Request finished in 631.5186ms 200 text/html
    Microsoft.AspNetCore.Hosting.Internal.WebHost		CECEN1481	2018-09-25 15:32:15.423	2018-09-25 15:32:15.412	7	Request starting HTTP/1.1 GET http://localhost:55873/swagger/v1/swagger.json  

  -->

</nlog>
