/****** Object:  StoredProcedure [dbo].[Administration_POSPush_DeleteStorePOSConfig]    Script Date: 05/19/2006 16:03:02 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_DeleteStorePOSConfig]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_DeleteStorePOSConfig]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_DeleteStorePOSConfig]    Script Date: 05/19/2006 16:03:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.Administration_POSPush_DeleteStorePOSConfig
@Store_No int
AS
-- Delete the entry in the StorePOSConfig table, which is used for the
-- POS Push process.
BEGIN
   delete from StorePOSConfig  
   where Store_No = @Store_No
END
GO

