/****** Object:  StoredProcedure [dbo].[Administration_POSPush_UpdateStorePOSConfig]    Script Date: 05/19/2006 16:03:50 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_UpdateStorePOSConfig]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_UpdateStorePOSConfig]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_UpdateStorePOSConfig]    Script Date: 05/19/2006 16:03:50 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.Administration_POSPush_UpdateStorePOSConfig
@Store_No int, 
@POSFileWriterKey int, 
@ConfigType varchar(20)
AS
-- Update an existing configuration record in the StorePOSConfig table for the
-- POS Push process.
BEGIN
   UPDATE StorePOSConfig SET
		Store_No = @Store_No, 
		POSFileWriterKey = @POSFileWriterKey, 
		ConfigType = @ConfigType 
   WHERE Store_No = @Store_No
END
GO

