/****** Object:  StoredProcedure [dbo].[Administration_POSPush_InsertStorePOSConfig]    Script Date: 05/19/2006 16:03:37 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_InsertStorePOSConfig]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_InsertStorePOSConfig]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_InsertStorePOSConfig]    Script Date: 05/19/2006 16:03:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.Administration_POSPush_InsertStorePOSConfig
@Store_No int, 
@POSFileWriterKey int, 
@ConfigType varchar(20)

AS
-- Insert a new configuration record into the StorePOSConfig table for the
-- POS Push process.
BEGIN
   INSERT INTO StorePOSConfig (Store_No, POSFileWriterKey, ConfigType) 
   VALUES (@Store_No, @POSFileWriterKey, @ConfigType)
END
GO

