/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetTaxFlagKeys]    Script Date: 05/19/2006 16:03:26 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_GetTaxFlagKeys]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_GetTaxFlagKeys]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetTaxFlagKeys]    Script Date: 05/19/2006 16:03:26 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.Administration_POSPush_GetTaxFlagKeys AS
-- Reads the unique list of TaxFlagKey values from the TaxFlag table for the
-- configuration of the POS Push application.
BEGIN
SELECT DISTINCT TaxFlagKey 
FROM TaxFlag  
ORDER BY TaxFlagKey 
END
GO

