<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- ActiveMQ Settings -->
    <!-- If any of the below values are to be changed, also change the values in ActiveMQConnectionSettingsTests.cs -->
    <add key="ActiveMqServerUrl" value="activemq:ssl://b-ca82e329-8e4f-4160-bc42-caa0e4624b0a-1.mq.us-west-2.amazonaws.com:61617" />
    <add key="ActiveMqJmsUsername" value="quintessence" />
    <add key="ActiveMqJmsPassword" value="quintessence" />
    <add key="ActiveMqQueueName" value="UnitTest-Queue" />
    <add key="ActiveMqSessionMode" value="AutoAcknowledge" />
    <add key="ActiveMqReconnectDelay" value="30000" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>