<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ReportManager_Conn" connectionString="Data Source=idd-so\sod;Initial Catalog=ItemCatalog_Test;Persist Security Info=True;User ID=IRMAReports;Password=v1tam1n;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ReportManager_Conn" connectionString="Data Source=idt-sw\swt;Initial Catalog=ItemCatalog_Test;Persist Security Info=True;User ID=IRMAReports;Password=W@terAgu@;" providerName="System.Data.SqlClient"/>-->
    <add name="ReportManager_Conn" connectionString="Data Source=idd-fl\fld;Initial Catalog=ItemCatalog_Test;Persist Security Info=True;User ID=IRMAReports;Password=TheWh0leTruth.;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- identifies this application and the environment it is connected to -->
    <add key="ApplicationGUID" value="523C8612-E952-4DF5-9CB1-4698236E9612"/>
    <add key="EnvironmentGUID" value="20C5DDAC-659C-4B81-84F6-5F79CC390D10"/>
    <add key="ConnectionStringName" value="ReportManager_Conn"/>
  </appSettings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
	</compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <machineKey validationKey="C84053F982794D1F2033B8FDCFB507B74BFF1E041EBF00C75F4206FAF3BAE1DC20DA37C4FAB14A1C606772FE8450B7DBCA801F4E10B95C131067196050971C57" decryptionKey="95F518E4BED5C86DEE996007E12126C60BDDE5596647ABCFC5E60646B7D7B903" validation="SHA1" decryption="AES" />
    <customErrors mode="Off" />
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>