.search-title {
    margin-top: 32px !important;
    margin-bottom: 16px !important;
}

.page-title-avatar {
    margin-left: 16px !important;
    margin-right: 0px !important;
    background-color: #254E59;
    color: rgba(0,0,0,.8);
}