@using Infragistics.Web.Mvc
@model Icon.Web.Mvc.Models.TraitViewModel

@{
    ViewBag.Title = "Traits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_HeaderPartial", "Trait Management");}

<div class="page-section">
    @using (@Html.BeginForm("Index", "Trait", FormMethod.Get))
    {
        <fieldset>
            <legend>View Traits</legend>
            <div class="form-group">
                @Html.LabelFor(model => Model.TraitGroupSelectedId, new { @class = "form-label" })
                @Html.DropDownListFor(model => Model.TraitGroupSelectedId, Model.TraitGroup)
            </div>
        </fieldset>
        <div class="form-group">
              <input type="submit" value="Search" class="btn btn-light form-submit" />
        </div>   
    }
</div>
<hr />
<div id="traitView" class="page-section">
    @if (Model.Traits != null && Model.Traits.Count > 0)
    {
        @(Html.Infragistics().Grid(Model.Traits.AsQueryable())
            .ID("traitGrid")
            .PrimaryKey("TraitId")
            .Width("100%")
            .Columns(columns =>
            {
                columns.For(c => c.TraitId).Hidden(true);
                columns.For(c => c.TraitGroupId).Hidden(true);
                columns.For(c => c.TraitPattern).Hidden(true);
                columns.For(c => c.TraitDesc).HeaderText("Trait Description").Width("50%");
                columns.For(c => c.TraitGroupDescription).HeaderText("Trait Group Description").Width("50%");
            })
            .Features(features =>
            {
                features.Sorting().Inherit(true);
                features.Paging().PageSize(20).Inherit(true);
                features.Filtering().Inherit(true);
            })
            .DataSource(Model.Traits.AsQueryable())
            .DataBind()
            .Render()
        );
    }
    else
    {
        <h4>No trait data was found.</h4>
    }
</div>