<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IRMA_Test_PN"
         connectionString="Data Source=idt-pn\pnt;Initial Catalog=ItemCatalog_Test;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    <add name="IRMA_Test_MW"
         connectionString="Data Source=idd-mw\mwd;Initial Catalog=ItemCatalog_Test;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    <add name="IRMA_Test_FL"
         connectionString="Data Source=idd-fl\fld;Initial Catalog=ItemCatalog_Test;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>