@using Infragistics.Web.Mvc
@model Icon.Web.Mvc.Models.ItemEditViewModel

@{
    ViewBag.Title = "Edit Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Infragistics/js/infragistics.loader.js")

@{Html.RenderPartial("_HeaderPartial", "Item Management");}

<div id="updateInput" class="page-section">
    @{Html.RenderPartial("_ItemEditInputPartial");}
</div>

<hr />

<div id="itemForUpdate" class="page-section">
    @{Html.RenderPartial("_SingleItemDetailsPartial");}
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/apply-autocomplete.js")
    @Scripts.Render("~/Scripts/Item/item-edit.js")
}