@{
    ViewBag.Title = "Invalid Location Information";
}

<h2>Problem:</h2>


Your Active Directory account does not contain enough information to correctly determine your Region and Store

<h2>How can I fix this?</h2>

<p>
Contact the Global helpdesk and have the set the "Office" value on your Active Directory account to your region and store.
<br/>
    Examples:   
    <ul>
        <li>PN KIT</li>
        <li>NC FRS</li>
    </ul>
</p>


