<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
   User Id=wfm\nexus.dev; Password=wh0lef00ds;
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="OOSConnectionString" connectionString="Data Source=oosdbtest;Initial Catalog=OOS;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient" />
    <add name="OOSEntities" connectionString="metadata=res://*/DataContext.OOS.csdl|res://*/DataContext.OOS.ssdl|res://*/DataContext.OOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=oosdbtest;initial catalog=OOS;integrated security=True;  multipleactiveresultsets=True;Connect Timeout=30; App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Logging" connectionString="data source=promodb-dev;initial catalog=PromotionalLogs;User Id=loggingUser;Password=loggingPassword" providerName="System.Data.SqlClient" />
    <add name="VIM" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=vim_dp)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vim_dp)));User Id=vim_app_oos;Password=PRDzb1Nyl1ArNI3;" />
    <add name="STELLA" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=vegaprd.wfm.pvt)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=stella_dp)));User Id=stella_user_sbk;Password=st3llasbk;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UseTestData" value="false" />
    <add key="AdvanceControls" value="false" />
    <!-- All of the following are comma separated lists -->
    <add key="SecurityGroupsRegional" value="WFM\OOS Regional User" />
    <add key="SecurityStoresRegional" value="NRO" />  <!-- RCL,NCC,SWC -->
    <!--<add key="SecurityGroupsCentral" value="WFM\OOS Central User,WFM\WFM NEXuS Support,WFM\WFM NEXuS Contractors" />-->
    <add key="SecurityGroupsCentral" value="WFM\OOS Central User,WFM\WFM NEXuS Support,WFM\WFM NEXuS Contractors" />
    <add key="SecurityStoresCentral" value="" /> <!-- CEN -->
    <add key="Suffix" value="_QA" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="VIM_SERVICE_NAME_Development" value="VIM_DQ1" />
    <add key="VIM_SERVICE_NAME_Production" value="VIM_DP1" />
    <add key="VIM_SERVICE_NAME_QA" value="VIM_DQ1" />
    <add key="CEDefaultRegion" value="NC" />
    <add key="ForceRegionalUsersList" value="" />
    <add key="MOVEMENT_SERVICE_NAME_Development" value="STELLA_Dev1" />
    <add key="MOVEMENT_SERVICE_NAME_Production" value="STELLA_DP1" />
    <add key="MOVEMENT_SERVICE_NAME_QA" value="STELLA_DP1" />
    <add key="ValidationMode" value="false" />
    <add key="NLogBasePath" value=".\" />
    <!-- application insights key -->
    <add key="iKey" value="a33bc7a9-41ad-41db-8157-41f416ecae9b" />
  </appSettings>

  <nlog internalLogLevel="Off"
        internalLogFile="C:\Temp\NLog.Internal.txt"
        internalLogToConsole="true"
        throwConfigExceptions="true">
    <targets>
      <!-- Note that a stacktrace at this point would be equvalent to the stack trace provided in an exception -->
      <target name="file" type="File" fileName="${basedir}/App_Data/Logs/OutOfStock.log" layout="${message}" archiveFileName="${basedir}/App_Data/Logs/OutOfStock.{####}.log" ArchiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="31" />
      <target name="json-file" type="File" fileName="${basedir}/App_Data/Logs/application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" levels="Fatal,Error,Warn,Info,Debug,Trace" writeTo="file" />
      <logger name="*" levels="Fatal,Error,Warn,Info,Debug,Trace" writeTo="json-file" />
    </rules>
  </nlog>


  <location path="WebService">
      <system.web>
        <authorization>
          <allow users="?" />
        </authorization>
      </system.web>
    </location>
  


  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <sessionState mode="InProc" timeout="20" />
    <authorization>
      <deny users="?" />
    </authorization>
    <profile enabled="false">
      <providers>
        <clear />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider">
      <providers>
        <clear />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </httpHandlers>
    <httpRuntime executionTimeout="100000" maxRequestLength="214748364" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="asset" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.16.0" newVersion="1.0.16.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="metadataAndDebugEnabled">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client />
  </system.serviceModel>
</configuration>
