<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="NonReceivingSystemsAll" value="Infor" />
    <add key="NonReceivingSystemsItemLocale" value="AMZ,ESL1Plum,Mammoth,Slaw,Spice" />
    <add key="NonReceivingSystemsPrice" value="AMZ,ESL1Plum,Mammoth,Slaw,Spice" />
    <add key="NonReceivingSystemsProduct" value="" />
    <add key="NonReceivingSystemsHierarchy" value="" />
    
    <add key="MiniBulkLimitProduct" value="100" />
    <add key="MiniBulkLimitItemLocale" value="100" />
    <add key="MiniBulkLimitPrice" value="100" />
    <add key="MiniBulkLimitHierarchy" value="100" />
    <add key="MiniBulkLimitProductSelectionGroup" value="100" />
    <add key="MiniBulkLimitMessageHistory" value="100" />
    
    <!-- The look-ahead value determines how many rows a controller will retrieve in each iteration of the main processing loop.  It needs to take enough to have a good chance
    of creating a full mini-bulk.  One thousand seems to work pretty well. -->
    <add key="QueueLookAhead" value="1000" />

    <!-- If ConfiguredBusinessUnits is empty, the API Controller will process any business unit in the queue.-->
    <add key="ConfiguredBusinessUnits" value="" />
    <add key="SendPreviousItemLinkGroup" value="false" />
    <add key="ProcessLinkedItems" value="false" />

    <!-- service configuration -->
    <add key="ControllerInstanceId" value="1" />
    <add key="RunInterval" value="30000" />
    
    <!--These needs to be changed for each controller type deployment -->
    <add key="ControllerType" value="l" /> 
    <add key="ApiDescription" value="Icon Message Producer to ESB for Hierarchy data." /> 
    <add key="ApiDisplayName" value="Icon API Controller - Hierarchy" /> 
    <add key="ApiServiceName" value="IconAPIController-Hierarchy" />
    <add key="MaintenanceDay" value="0" />
    <add key="MaintenanceStartTime" value="02:00" />
    <add key="MaintenanceEndTime" value="04:00" />
    
    <!-- email client configuration -->
    <add key="SendEmails" value="true" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />    

    <!-- ESB Settings -->
    <add key="ServerUrl" value="ssl://cerd1616.wfm.pvt:7233" />
    <add key="JmsUsername" value="iconUser" />
    <add key="JmsPassword" value="ouVgOD5ld5V6" />
    <add key="JndiUsername" value="jndiIconUser" />
    <add key="JndiPassword" value="jndiIconUser" />
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory" />
    <add key="LocaleQueueName" value="WFMESB.Commerce.Retail.LocaleMgmt.Locale.Queue.V2" />
    <add key="HierarchyQueueName" value="WFMESB.Commerce.Retail.HierarchyMgmt.Hierarchy.Queue.V2" />
    <add key="ItemQueueName" value="WFMESB.Commerce.Retail.ItemMgmt.Item.Queue.V2" />
    <add key="ProductSelectionGroupQueueName" value="WFMESB.Commerce.Retail.ItemMgmt.SelectionGroup.Queue.V2" />
    <add key="SessionMode" value="AutoAcknowledge" />
    <add key="CertificateName" value="CN=CA-ROOT-I, O=Whole Foods Market" />
    <add key="CertificateStoreName" value="Root" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="TargetHostName" value="cerd1616.wfm.pvt" />
    <add key="SslPassword" value="esb" />
    
    <!-- Message Generation Settings -->
    <add key="EnableNationalHierarchy" value="true"/>
    <add key="UseSchemaWithKit" value="false" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="dbLogIconApiController" xsi:type="Database" connectionString="data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="5" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
    <rules>
      <logger name="Icon.ApiController*" minlevel="Info" writeTo="dbLogIconApiController" final="true" />
    </rules>
  </nlog>
</configuration>
