<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="NonReceivingSystemsAll" value="Infor" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="NonReceivingSystemsItemLocale" value="AMZ,ESL1Plum,Mammoth,Slaw,Spice,KB" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="NonReceivingSystemsPrice" value="AMZ,ESL1Plum,Mammoth,Slaw,Spice,KB" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="NonReceivingSystemsProduct" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="NonReceivingSystemsHierarchy" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="Sender" value="Icon-Dev@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="SendPreviousItemLinkGroup" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ProcessLinkedItems" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="ServerUrl" value="ssl://DEV-ESB-EMS-1.wfm.pvt:7233" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="JmsUsername" value="iconUser" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="JmsPassword" value="ouVgOD5ld5V6" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="JndiUsername" value="jndiIconUser" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JndiPassword" value="jndiIconUser" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TargetHostName" value="DEV-ESB-EMS-1.wfm.pvt" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CertificateName" value="E=suchetha.aleti@wholefoods.com, CN=DEV-ESB-EMS-1.wfm.pvt, OU=InfraESBAdmins@wholefoods.com, O=&quot;Whole Foods Market &quot;, L=Austin, S=TX, C=US" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EnableNationalHierarchy" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets xdt:Transform="Replace">
      <target name="dbLogIconApiController"
              xsi:type="Database"
              connectionString="data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=True;MultipleActiveResultSets=True"
              commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="5" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
  </nlog>
</configuration>