<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeAssassin.ConfigTransform" version="1.2" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net472" />
  <package id="Icon.Common" version="2019.12.18.1" targetFramework="net472" />
  <package id="Icon.DbContextFactory" version="2019.5.22.1" targetFramework="net472" />
  <package id="Icon.Esb" version="2020.12.11.1" targetFramework="net472" />
  <package id="Icon.Esb.Schemas.Wfm" version="2019.7.4.2" targetFramework="net472" />
  <package id="Icon.Esb.Schemas.Wfm.PreGpm" version="2019.1.30.1" targetFramework="net472" />
  <package id="Icon.Framework" version="2019.12.6.1" targetFramework="net472" />
  <package id="Icon.Logging" version="2016.10.18.4" targetFramework="net472" />
  <package id="Icon.RenewableContext" version="2019.5.14.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="4.6.8" targetFramework="net472" />
  <package id="NLog.Extended" version="4.6.8" targetFramework="net472" />
  <package id="TIBCO.EMS" version="2019.7.1.1" targetFramework="net472" />
  <package id="Topshelf" version="4.2.1" targetFramework="net472" />
</packages>