<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="JmsUsername" value="iconUser" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="JmsPassword" value="3E0y369%iz" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JndiUsername" value="jndiIconUser" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JndiPassword" value="jndiI8conUserdUp" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ServerUrl" value="ssl://PERF-ESB-EMS-1.wfm.pvt:27293,ssl://PERF-ESB-EMS-2.wfm.pvt:27293" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CertificateName" value="E=uday.bhaskar@wholefoods.com, CN=uday.bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TargetHostName" value="PERF-ESB-EMS-1.wfm.pvt" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sender" value="Icon-Perf@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SendEmails" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Recipients" value="irma.developers@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idq-iCon\SQLShared3Q;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="Icon" providerName="System.Data.SqlClient" connectionString="data source=CEWD1815\SQLSHARED2012D;initial catalog=IconLoadTest;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets xdt:Transform="Replace">
      <target name="dbLogIconEsb"
              xsi:type="Database"
              connectionString="data source=CEWD1815\SQLSHARED2012D;initial catalog=IconLoadTest;Integrated Security=True;MultipleActiveResultSets=True"
              commandText="INSERT INTO app.PerformanceLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="3" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
  </nlog>
</configuration>