<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="IRMAServiceLibrary_Conn" providerName="System.Data.SqlClient" connectionString="Data Source=idt-uk\ukt;Initial Catalog=ItemCatalog_Test;User Id=IRSUser;Password=H@staLaV1sta;" />-->
    <!--<add name="IRMAServiceLibrary_Conn" providerName="System.Data.SqlClient" connectionString="Data Source=idd-ma\mad;Initial Catalog=ItemCatalog_Test;User Id=IRSUser;Password=SunnyD@yz;" />-->
    <!--<add name="IRMAServiceLibrary_Conn" providerName="System.Data.SqlClient" connectionString="Data Source=idd-rm\rmd;Initial Catalog=ItemCatalog_Test;User Id=IRSUser;Password=1luVlucy!;" />-->
    <!--<add name="IRMAServiceLibrary_Conn" providerName="System.Data.SqlClient" connectionString="Data Source=idt-nc\nct;Initial Catalog=ItemCatalog_Test;User Id=IRSUser;Password=Cedar$R3st;" />-->
    <!--<add name="IRMAServiceLibrary_Conn" providerName="System.Data.SqlClient" connectionString="Data Source=idd-so\sod;Initial Catalog=ItemCatalog_Test;User Id=IRSUser;Password=anoel;" />-->
    <!--<add name="IRMAServiceLibrary_Conn" providerName="System.Data.SqlClient" connectionString="Data Source=idt-sw\swt;Initial Catalog=ItemCatalog_Test;User Id=IRSUser;Password=C0ffeeCup;" />-->
  </connectionStrings>
  <appSettings>
    <add key="encryptedConnectionStrings" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Uncomment to test electronic GSS order creation.-->
    <!--<add key="ElectronicOrderingURL" value="http://dvotst7/dvo-tst/servlet/rpcrouter" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingSettings" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBindingSettings" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" messageEncoding="Text" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WholeFoods.ServiceLibrary.IRMA.Service1Behavior" name="WholeFoods.ServiceLibrary.IRMA.GatewayService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingSettings" contract="WholeFoods.ServiceLibrary.IRMA.IGateway">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSettings" contract="WholeFoods.ServiceLibrary.IRMA.IGateway" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/IRMA_Service_Library/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WholeFoods.ServiceLibrary.IRMA.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>