<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--Inventory File Extract-->
		<add key="SQL_INV" value="SELECT 'MW' As Region,
										rtrim(STORE_NAME) As StoreName,
										rtrim(S.BUSINESSUNIT_ID) As PS_BU,
										Case
        									When I.SUBTEAM_NO in (10,11,15) Then '1000'
        									When I.SUBTEAM_NO = 14 Then '1100'
        									When I.SUBTEAM_NO = 13 Then '1300'
        									When I.SUBTEAM_NO = 12 Then '1400'
        									When I.SUBTEAM_NO = 31 Then '2100'
        									When I.SUBTEAM_NO = 32 Then '2200'
        									When I.SUBTEAM_NO = 30 Then '2300'
        									When I.SUBTEAM_NO = 55 Then '3100'
        									When I.SUBTEAM_NO = 54 Then '6460'
        									When I.SUBTEAM_NO in (50,52) Then '3500'
        									When I.SUBTEAM_NO = 51 Then '3700'
        									When I.SUBTEAM_NO = 56 Then '3800'
        									When I.SUBTEAM_NO = 57 Then '4000'
										end											As SubTeamNo,
										Case
        									When I.SUBTEAM_NO in (10,11,15) Then 'Grocery'
        									When I.SUBTEAM_NO = 14 Then 'Frozen'
										    When I.SUBTEAM_NO = 13 Then 'Dairy'
        									When I.SUBTEAM_NO = 12 Then 'Bulk'
        									When I.SUBTEAM_NO = 31 Then 'Beer'
        									When I.SUBTEAM_NO = 32 Then 'Wine'
         									When I.SUBTEAM_NO = 30 Then 'Cheese'
        									When I.SUBTEAM_NO = 55 Then 'Books-Cards-Mags'
        									When I.SUBTEAM_NO = 54 Then 'Lifestyles'
        									When I.SUBTEAM_NO in (50,52) Then 'Vitamins'
        									When I.SUBTEAM_NO = 51 Then 'Body Care'
        									When I.SUBTEAM_NO = 56 Then 'Housewares'
        									When I.SUBTEAM_NO = 57 Then 'Nutrition Bars'
										end												As SubTeamName,
										right(replicate('0',13)+ convert(varchar(13),identifier),13) As Identifier,
										rtrim(I.ITEM_DESCRIPTION) As ItemDescription,
										CAST(ISNULL(dbo.fn_Price(PriceChgTypeId, Multiple, Price, PricingMethod_ID, Sale_Multiple, Sale_Price), 0) AS Decimal(6,2)) As RetailPrice,
										'0' As AvgCost,
										'0' As SKU,
										SIV.Vendor_ID
									FROM
										Item I (nolock)
									INNER JOIN
										Price (nolock)
										ON (Price.Item_Key = I.Item_Key)
									INNER JOIN
										SubTeam ST (nolock)
										ON (I.SubTeam_No = ST.SubTeam_No)
									INNER JOIN
										ItemIdentifier (nolock)
										ON (I.Item_Key = ItemIdentifier.Item_Key)
									INNER JOIN
										Store S (nolock)
										ON (S.Store_No = Price.Store_No)
									INNER JOIN
										StoreItemVendor SIV (nolock) ON SIV.Store_No = Price.Store_No AND SIV.Item_Key = Price.Item_Key
									LEFT JOIN
										StoreSubTeam (nolock)
										ON StoreSubTeam.Store_No = Price.Store_No AND StoreSubTeam.SubTeam_No = I.SubTeam_No
									WHERE (Shipper_Item = 0 AND Deleted_Item = 0)
									   AND ST.SubTeam_No IN (10,11,15,14,13,12,31,32,30,55,54,50,52,51,56,57)
									   AND Price.Store_No = @StoreID " />
			
	</appSettings>
</configuration>
