<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Icon" connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--
  add these attributes to the nlog element below autoReload to enable internal logging
  throwExceptions="true"
  internalLogFile="c:\nlog-internal.log"
  internalLogLevel="INFO"
  -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
    <targets async="true">
      <target name="dbLog" type="Database" connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName)                          VALUES            (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="19" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message} ${exception:format=tostring} ${stacktrace}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
      <target name="console" type="Console" />
      <target name="json-file" type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console,json-file" />
      <logger name="*" minlevel="Info" writeTo="dbLog" final="true" />
    </rules>
  </nlog>
  <appSettings>
    <!--Service settings -->
    <add key="BatchSize" value="100" />
    <add key="TimerIntervalInSeconds" value="30" />
    <add key="TimerIntervalCacheRefreshInSeconds" value="300" />
    <add key="NonReceivingSystemsProductCSV" value="" />
    <add key="AllReceivingSystemsProductCSV" value="AMZ,ESL1Plum,Mammoth,Slaw,Spice,KB,R10" />
    <add key="IncludeManufacturerHierarchy" value="true" />
    <!-- Windows Background Service Settings -->
    <add key="ServiceName" value="IconItemPublisherService" />
    <add key="ServiceDisplayName" value="Icon Item Publisher Service" />
    <add key="ServiceDescription" value="Service that publishes item changes to the ESB" />
    <!-- ESB Settings -->
    <add key="ServerUrl" value="ssl://DEV-ESB-EMS-1.wfm.pvt:7233" />
    <add key="JmsUsername" value="iconUser" />
    <add key="JmsPassword" value="ouVgOD5ld5V6" />
    <add key="JndiUsername" value="jndiIconUser" />
    <add key="JndiPassword" value="jndiIconUser" />
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory" />
    <add key="SslPassword" value="esb" />
    <add key="QueueName" value="WFMESB.Commerce.Retail.ItemMgmt.Item.Queue.V2" />
    <add key="SessionMode" value="ClientAcknowledge" />
    <add key="CertificateName" value="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" />
    <add key="CertificateStoreName" value="Root" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="TargetHostName" value="DEV-ESB-EMS-1.wfm.pvt" />
    <add key="ReconnectDelay" value="30000" />
    <!-- ActiveMQ Settings (default - beta) -->
    <add key="ActiveMqServerUrl" value="failover:(ssl://b-b1a575b2-58e7-4bd5-b17a-03dbdd11e562-1.mq.us-west-2.amazonaws.com:61617,ssl://b-b1a575b2-58e7-4bd5-b17a-03dbdd11e562-2.mq.us-west-2.amazonaws.com:61617)?randomize=true" />
    <add key="ActiveMqJmsUsername" value="wfmdatavayuactivemqproducer" />
    <add key="ActiveMqJmsPassword" value="4dsV8hY1zm3HBOtq" />
    <add key="ActiveMqQueueName" value="WFMActiveMQ.Commerce.Retail.ItemMgmt.Item.Queue.V2" />
    <add key="ActiveMqSessionMode" value="AutoAcknowledge" />
    <add key="ActiveMqReconnectDelay" value="30000"/>
  </appSettings>
</configuration>