<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Icon" connectionString="data source=Icon-db-prd;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" xdt:Transform="Replace">
    <targets async="true">
      <target name="dbLog" type="Database" connectionString="data source=icon-db-prd;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="19" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message} ${exception:format=tostring} ${stacktrace}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
      <target name="console" type="Console" />
      <target name="json-file" type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console,json-file" />
      <logger name="*" minlevel="Info" writeTo="dbLog" final="true" />
    </rules>
  </nlog>
  <appSettings>
    <!--Service settings -->
    <add key="IncludeManufacturerHierarchy" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- ActiveMQ Settings (Prod) -->
    <add key="ActiveMqServerUrl" value="failover:(ssl://b-956057af-2031-4b35-b35c-52344b82aae7-1.mq.us-east-1.amazonaws.com:61617,ssl://b-896b2334-60cf-4b48-90a6-fe91ced0b6b4-1.mq.us-east-1.amazonaws.com:61617,ssl://b-bf60d142-270f-4008-8ac9-7c0156fd5174-1.mq.us-east-1.amazonaws.com:61617)?randomize=true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ActiveMqJmsUsername" value="wfmdatavayuactivemqv2producer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ActiveMqJmsPassword" value="${WfmDataVayuActiveMqV2Producer.Password}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ActiveMqQueueName" value="WFMActiveMQ.Commerce.Retail.ItemMgmt.Item.Queue.V2" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ActiveMqSessionMode" value="AutoAcknowledge" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ActiveMqReconnectDelay" value="30000" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>