<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Icon" connectionString="data source=icon-db-qa;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets async="true" xdt:Transform="Replace">
      <target name="dbLog" type="Database" connectionString="data source=icon-db-qa;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <parameter name="@AppId" layout="19" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message} ${exception:format=tostring} ${stacktrace}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
      <target name="json-file" xsi:type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout xsi:type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}}" />
        </layout>
      </target>
    </targets>
    <rules xdt:Transform="Replace">
      <logger name="*" minlevel="Info" writeTo="dbLog,json-file" final="true" />
    </rules>
  </nlog>
  <appSettings>
    <!--Service settings -->
    <add key="BatchSize" value="100" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TimerIntervalInSeconds" value="30" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TimerIntervalCacheRefreshInSeconds" value="600" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="NonReceivingSystemsProductCSV" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IncludeManufacturerHierarchy" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- ESB Settings -->
    <add key="ServerUrl" value="ssl://QA-ESB-EMS-1.wfm.pvt:27293,ssl://QA-ESB-EMS-2.wfm.pvt:27293" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JmsUsername" value="iconUser" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JmsPassword" value="3E0y369%iz" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JndiUsername" value="jndiIconUser" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JndiPassword" value="jndiI8conUserdUp" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SslPassword" value="esb" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="QueueName" value="WFMESB.Commerce.Retail.ItemMgmt.Item.Queue.V2" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SessionMode" value="ClientAcknowledge" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CertificateName" value="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CertificateStoreName" value="Root" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CertificateStoreLocation" value="LocalMachine" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TargetHostName" value="QA-ESB-EMS-1.wfm.pvt" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReconnectDelay" value="30000" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>