<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
	  <add name="MammothContext" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_FL" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=fl-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_MA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=itemcatalog;integrated security=sspi;connection timeout=30;app=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_MW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mw-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_NA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_NC" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=idt-nc\nct;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_NE" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_PN" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_RM" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=rm-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_SO" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=so-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_SP" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_SW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	  <add name="Irma_UK" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=uk-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="ServerUrl" value="ssl://DEV-ESB-EMS-1.wfm.pvt:7233" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JmsUsername" value="iconUser" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JmsPassword" value="ouVgOD5ld5V6" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JndiUsername" value="jndiIconUser" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JndiPassword" value="jndiIconUser" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TargetHostName" value="DEV-ESB-EMS-1.wfm.pvt" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CertificateName" value="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- ActiveMQ Settings (default-beta) -->
    <add key="ActiveMqServerUrl" value="failover:(ssl://b-b1a575b2-58e7-4bd5-b17a-03dbdd11e562-1.mq.us-west-2.amazonaws.com:61617,ssl://b-b1a575b2-58e7-4bd5-b17a-03dbdd11e562-2.mq.us-west-2.amazonaws.com:61617)?randomize=true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ActiveMqJmsUsername" value="wfmdatavayuactivemqproducer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ActiveMqJmsPassword" value="4dsV8hY1zm3HBOtq" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ActiveMqSessionMode" value="AutoAcknowledge" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ActiveMqReconnectDelay" value="30000" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Console" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}" />
      <target name="json-file" xsi:type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout xsi:type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="InventoryProducer*" minlevel="Info" writeTo="Console,json-file" final="true" />
    </rules>
  </nlog>
</configuration>