<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	  <add name="MammothContext" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
	  <add name="Irma_FL" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=fl-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" />
	  <add name="Irma_MA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=itemcatalog;integrated security=sspi;connection timeout=30;app=EntityFramework&quot;" />
	  <add name="Irma_MW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mw-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" />
	  <add name="Irma_NA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" />
	  <add name="Irma_NC" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=idt-nc\nct;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" />
	  <add name="Irma_NE" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" />
	  <add name="Irma_PN" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" />
	  <add name="Irma_RM" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=rm-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" />
	  <add name="Irma_SO" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=so-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" />
	  <add name="Irma_SP" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" />
	  <add name="Irma_SW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=xx-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" />
	  <add name="Irma_UK" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=uk-db01-dev;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" />
  </connectionStrings>
  <appSettings>
    <add key="NonReceivingSystemsSpoilage" value="" />
    <!-- service configuration -->
    <add key="ProducerInstanceId" value="1" />
    <add key="RunInterval" value="300000" />
    <!--These needs to be changed for each producer type deployment -->
    <add key="ApiDescription" value="Inventory Producer to ESB for data." />
	<add key="ApiDisplayName" value="Inventory Producer" />
	<add key="ApiServiceName" value="InventoryProducer" />
    <add key="ProducerType" value="spoilage" />
    <add key="DbCommandTimeoutInSeconds" value="30" />
    <add key="DbErrorRetryCount" value="6" />
    <add key="DbRetryDelayInMilliseconds" value="10000" />
	<add key="DequeueMaxRecords" value="300" />
	<add key="DequeueMinuteOffset" value="5" />
	<add key="RegionCode" value="MW" />
	<add key="InstockDequeueStoredProcedureName" value="DequeueInventory" />
	<add key="TransactionType" value="InventorySpoilage" />
	<add key="BatchSize" value="50" />
	<add key="ServiceMaxRetryCount" value="6" />
	<add key="ServiceMaxRetryDelayInMilliseconds" value="10000" />

	<add key="InstanceGUID" value="3A500027-5CCC-4285-BAD6-C6CCDBA6DC71"/>
	<add key="MaintenanceDay" value="0" />
	<add key="MaintenanceStartTime" value="02:00" />
	<add key="MaintenanceEndTime" value="02:00" />
    <!-- ESB Settings -->
    <add key="ServerUrl" value="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293" />
    <add key="JmsUsername" value="iconUser" />
    <add key="JmsPassword" value="Pjetuc9M7Kmi" />
    <add key="JndiUsername" value="jndiIconUser" />
    <add key="JndiPassword" value="jndiIconUser" />
    <add key="ConnectionFactoryName" value="OrderTopicConnectionFactory" />
    <add key="InventoryTopicName" value="WFMESB.SupplyChain.Retail.InventoryMgmt.Info.Topic.V2" />
	<add key="DestinationType" value="Topic" />
    <add key="SessionMode" value="AutoAcknowledge" />
    <add key="CertificateName" value="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US" />
    <add key="CertificateStoreName" value="Root" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="TargetHostName" value="TST-ESB-EMS-1.wfm.pvt" />
    <add key="SslPassword" value="esb" />
    <!-- ActiveMQ Settings (default-beta) -->
    <add key="ActiveMqServerUrl" value="failover:(ssl://b-30e2193f-fe4b-4212-831e-58ef6e0e2784-1.mq.us-west-2.amazonaws.com:61617,ssl://b-ebf4b796-b53d-4480-960c-caa3e8e06722-1.mq.us-west-2.amazonaws.com:61617)?randomize=true" />
    <add key="ActiveMqJmsUsername" value="wfmdatavayuactivemqv2producer" />
    <add key="ActiveMqJmsPassword" value="f16WTI8Uqbh3CCIq" />
    <add key="ActiveMqInventorySpoilageQueueName" value="WFMActiveMQ.Commerce.Retail.InventorySpoilageMgmt.InventorySpoilage.Queue.V2" />
	<add key="ActiveMqInventoryTransferQueueName" value="WFMActiveMQ.Commerce.Retail.InventoryTransferMgmt.InventoryTransfer.Queue.V2" />
    <add key="ActiveMqSessionMode" value="AutoAcknowledge" />
    <add key="ActiveMqReconnectDelay" value="30000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Console" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}" />
      <target name="json-file" xsi:type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout xsi:type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="InventoryProducer*" minlevel="Info" writeTo="Console,json-file" final="true" />
    </rules>
  </nlog>
</configuration>