<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ServiceDescription" value="Icon Brand Upload Processor" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ServiceDisplayName" value="IconBrandUploadProcessor" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ServiceName" value="IconBrandUploadProcessor" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ServiceTimerInterval" value="3000" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="IconConnectionString" value="Server=ICON-DB-QA-PERF;Database=Icon;Trusted_Connection=True;Application Name=BrandUploadProcessor;" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BrandRefreshEventConfiguredRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
    <targets async="true">
      <target name="dbLog" type="Database" connectionString="data source=ICON-DB-QA-PERF;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True;Application Name=BrandUploadProcessor;" commandText="INSERT INTO app.AppLog (AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <parameter name="@AppId" layout="23" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
      <target name="json-file" xsi:type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout xsi:type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </targets>
  </nlog>
</configuration>