@model Icon.Web.Mvc.Models.HierarchySearchViewModel

@{
    ViewBag.Title = "Hierarchies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{Html.RenderPartial("_HeaderPartial", "");}

@if (Model.SelectedHierarchyId >= 1)
{
    Html.RenderAction("Search", "Hierarchy");
}

<div id="hierarchyView" class="page-section"></div>

@section scripts
{
    @Scripts.Render("~/Scripts/hierarchy-search.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}