@using Infragistics.Web.Mvc
@model IEnumerable<Icon.Web.Mvc.Models.FailedItemLocaleMessageViewModel>

@{Html.RenderPartial("_HeaderPartial", "Failed Item Locale Messages");}

<div id="alert">

</div>

<div class="page-section">
    @if (!Model.Any())
    {
        <h4>No failed product messages were found.</h4>
    }
    else
    {
        @(Html.Infragistics().Grid(Model.AsQueryable())
            .ID("igGrid")
            .Width("100%")
            .PrimaryKey("Id")
            .AutoGenerateColumns(false)
            .AutoCommit(true)
            .Columns(column =>
            {
                column.For(vm => vm.Id).HeaderText("Message Queue Id");
                column.For(vm => vm.RegionCode).HeaderText("Region Code");
                column.For(vm => vm.BusinessUnit_ID).HeaderText("Business Unit");
                column.For(vm => vm.ScanCode).HeaderText("Scancode");
                column.For(vm => vm.InsertDate).HeaderText("Insert Date");
                column.For(vm => vm.ProcessedDate).HeaderText("Processed Date");
            })
            .Features(features =>
            {
                features.Selection().MultipleSelection(true).Mode(SelectionMode.Row);
                features.Updating().EnableAddRow(false).EnableDeleteRow(false).EditMode(GridEditMode.None);
            })
            .DataBind()
            .Render()
        )

        <button id="reprocess" class="btn btn-light form-submit">Reprocess Failed Records</button>
    }
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/common-search.js")
    @Scripts.Render("~/Scripts/Common/reprocess-failed-data.js")
    @Scripts.Render("~/Scripts/FailedItemLocaleMessage/index.js")
}
