

.topnav {
	font:bold 10px Arial, Helvetica, sans-serif;
	color:#2d431f;	   
	text-decoration:none;
 	height:60px;
}

.topnav td 
{
    vertical-align:top;
    padding-top:17px;
}



.btn1NoHover, .btn1hover, 
.btn2NoHover, .btn2hover, 
.btn3NoHover, .btn3hover, 
.btn4NoHover, .btn4hover, 
.btn5NoHover, .btn5hover, 
.btn6NoHover, .btn6hover,
.btn7NoHover, .btn7hover, 
.btn8NoHover, .btn8hover, 
.btn9NoHover, .btn9hover, 
.btn10NoHover, .btn10hover, 
.btn11NoHover, .btn11hover, 
.btn12NoHover, .btn12hover, 
.btn13NoHover, .btn13hover, 
.btn14NoHover, .btn14hover
{
	height:59px;
	text-align:center;
	cursor:pointer;
	
	
}


.btn1NoHover, .btn1hover  
{
  	width:53px;
}

.btn1hover 
{
	background:url(../images/MenuFull.png) no-repeat 0 0;
}




.btn2NoHover, .btn2hover 
{
 	width:55px;
}

.btn2hover 
{
	background:url(../images/MenuFull.png) no-repeat -54px 0;
} 


.btn3NoHover, .btn3hover 
{
   	width:74px;
}

.btn3hover 
{
	background:url(../images/MenuFull.png) no-repeat -111px 0;
} 


.btn4NoHover, .btn4hover 
{
   	width:66px;
} 
.btn4hover 
{
	background:url(../images/MenuFull.png) no-repeat -187px 0;
} 


.btn5NoHover, .btn5hover 
{
   	width:85px;
	
}  

.btn5hover 
{
	background:url(../images/MenuFull.png) no-repeat -254px 0;
}  


.btn6NoHover, .btn6hover 
{
   	width:85px;
}  

.btn6hover 
{
	background:url(../images/MenuFull.png) no-repeat -341px 0;
}  


.btn7NoHover, .btn7hover 
{
	width:70px;
} 

.btn7hover 
{
	background:url(../images/MenuFull.png) no-repeat -427px 0;
} 



.btn8NoHover, .btn8hover 
{	
    width:85px;
	
}

.btn8hover 
{
	background:url(../images/MenuFull.png) no-repeat -499px 0;
}



.btn9NoHover, .btn9hover 
{
   	width:86px;
	
} 
.btn9hover 
{
    background:url(../images/MenuFull.png) no-repeat -586px 0;
} 



.btn10NoHover, .btn10hover  
{
    
   	width:79px;
}  

.btn10hover 
{
	background:url(../images/MenuFull.png) no-repeat -674px 0;
}  


.btn11NoHover, .btn11hover 
{
   	width:81px;
} 

.btn11hover 
{
	background:url(../images/MenuFull.png) no-repeat -755px 0;
} 



.btn12NoHover, .btn12hover 
{
   	width:80px;
}  

.btn12hover 
{
	background:url(../images/MenuFull.png) no-repeat -837px 0;
}  


.btn13NoHover, .btn13hover  
{
   	width:64px;

}  
.btn13hover 
{
	background:url(../images/MenuFull.png) no-repeat -918px 0;
}  


.btn14NoHover, .btn14hover  
{
   	width:67px;

}
.btn14hover 
{
	background:url(../images/MenuFull.png) no-repeat -984px 0;
}


.Testhover 
{
	background:url(../images/1-hover.png) no-repeat left top;
} 
