/****** Object:  StoredProcedure [dbo].[EPromotions_GetGroupItems]    Script Date: 06/20/2006 08:38:43 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[EPromotions_GetGroupItems]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[EPromotions_GetGroupItems]
GO
/****** Object:  StoredProcedure [dbo].[EPromotions_GetGroupItems]    Script Date: 06/20/2006 08:38:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*
	Retreives records from ItemGroupMembers Table by GroupId
*/

CREATE  PROCEDURE [dbo].[EPromotions_GetGroupItems] 
	@GroupID as Integer
AS
SELECT DISTINCT 
                      igm.Group_ID, igm.Item_Key, igm.modifieddate, igm.User_ID, i.Item_Description, igm.Identifier, ISNULL(igm.OfferChgTypeID, 1) 
                      AS OfferChgTypeId
FROM         dbo.ItemGroupMembers AS igm INNER JOIN
                      dbo.Item AS i ON i.Item_Key = igm.Item_Key
	WHERE Group_Id = @GroupId 
 

GO



