/****** Object:  StoredProcedure [dbo].[EPromotions_RemoveItemGroup]    Script Date: 06/19/2006 15:10:15 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[EPromotions_RemoveItemGroup]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[EPromotions_RemoveItemGroup]
GO
/****** Object:  StoredProcedure [dbo].[EPromotions_RemoveItemGroup]    Script Date: 06/19/2006 15:10:15 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE  PROCEDURE [dbo].[EPromotions_RemoveItemGroup]
 	@GroupId Int
AS 

BEGIN
	SET NOCOUNT ON
	
	BEGIN TRAN RemoveItemGroup
	
	DECLARE @error_no int
	SELECT @error_no = 0
    
	-- Remove All Items associated with the Group being Deleted.
	
	DELETE FROM ItemGroupMembers 
	WHERE Group_Id = @GroupId
	
	-- Remove the ItemGroup Record
	DELETE FROM ItemGroup 
	WHERE Group_Id = @GroupId

	SELECT @error_no = @@ERROR

	SET NOCOUNT OFF
	
	IF @error_no = 0
		COMMIT TRAN RemoveItemGroup
	ELSE
		BEGIN
			IF @@TRANCOUNT <> 0
	    			ROLLBACK TRAN CreateNewItemGroup
			DECLARE @Severity smallint
			SELECT @Severity = ISNULL((SELECT severity FROM master.dbo.sysmessages WHERE error = @error_no), 16)
			RAISERROR ('EPromotions_RemoveItemGroup failed with @@ERROR: %d', @Severity, 1, @error_no)
		END
	END
GO

