/****** Object:  StoredProcedure [dbo].[EPromotions_GetItemGroups]    Script Date: 05/31/2006 16:02:37 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[EPromotions_GetItemGroups]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[EPromotions_GetItemGroups]
GO
/****** Object:  StoredProcedure [dbo].[EPromotions_GetItemGroups]    Script Date: 05/31/2006 16:02:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
	Retreives records from ItemGroup table.
	If @GroupID < 0, all are returned. Otherwise, the results are filtered
	by the value of OfferID.
*/

CREATE  PROCEDURE dbo.EPromotions_GetItemGroups 
	@GroupID as Integer
AS
	select ig.[Group_ID], [GroupName], [GroupLogic], [createdate], [modifieddate], [User_ID], 
	(select count(distinct Offer_Id) from PromotionalOfferMembers pom where pom.Group_Id= ig.Group_Id) as PromotionCount,
	(select count(distinct POM.Offer_Id) 
	from PromotionalOfferMembers pom 
	INNER Join PriceBatchDetail PBD
	ON POM.Offer_ID = PBD.Offer_ID
	where pom.Group_Id= ig.Group_Id) as ActivePromotionCount,
	(select count(distinct POM.Offer_Id) 
	from PromotionalOfferMembers pom 
	INNER Join PriceBatchDetail PBD
	ON POM.Offer_ID = PBD.Offer_ID
	INNER Join PriceBatchHeader PBH				-- this join filters out unbatched details
	ON PBH.PriceBatchHeaderID = PBD.PriceBatchHeaderID
	where pom.Group_Id= ig.Group_Id
	AND PBH.PriceBatchStatusID <> 6) as PendingPromotionCount 

	FROM [ItemGroup] ig
	WHERE (@GroupID < 0 OR ig.[Group_ID] = @GroupID)
	ORDER BY ig.[GroupName]

GO

