/****** Object:  StoredProcedure [dbo].[EPromotions_GetPromotionalOffers]    Script Date: 05/31/2006 16:02:43 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[EPromotions_GetPromotionalOffers]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[EPromotions_GetPromotionalOffers]
GO
/****** Object:  StoredProcedure [dbo].[EPromotions_GetPromotionalOffers]    Script Date: 05/31/2006 16:02:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[EPromotions_GetPromotionalOffers]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'

/*
	Retreives records from  PricingMethods.
	If @OfferID < 0, all are returned. Otherwise, the results are filtered
	by the value of OfferID.
*/

CREATE  PROCEDURE dbo.EPromotions_GetPromotionalOffers 
	@OfferID as Integer
AS
	SELECT [Offer_ID], [Description], [PricingMethod_ID], [StartDate], [EndDate], [RewardType], [RewardQuantity], [RewardAmount], [RewardGroupID], [createdate], [modifieddate], [User_ID], [ReferenceCode], [TaxClass_ID], [SubTeam_No], [isEdited]
	FROM [PromotionalOffer]
	WHERE (@OfferID < 0 OR [Offer_ID] = @OfferID)
	ORDER BY [Description]

' 
END
GO
