/****** Object:  StoredProcedure [dbo].[EPromotions_GetPricingMethods]    Script Date: 05/31/2006 16:02:39 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[EPromotions_GetPricingMethods]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[EPromotions_GetPricingMethods]
GO
/****** Object:  StoredProcedure [dbo].[EPromotions_GetPricingMethods]    Script Date: 05/31/2006 16:02:39 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[EPromotions_GetPricingMethods]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
BEGIN
EXEC dbo.sp_executesql @statement = N'

/*
	Retreives records from  PricingMethods.
	If @PricingMethodID < 0, all are returned. Otherwise, the results are filtered
	by the value of PricingMethodID.
*/
CREATE  PROCEDURE dbo.EPromotions_GetPricingMethods 
	@PricingMethodID as Integer,
	@OfferEditorOnly as Bit
AS

	SELECT [PricingMethod_ID], [PricingMethod_Name], [EnableOfferEditor]
	FROM [PricingMethod]
	WHERE (@PricingMethodID < 0 OR [PricingMethod_ID] = @PricingMethodID)
	AND (@OfferEditorOnly = 0 or [EnableOfferEditor] = 1)
	ORDER BY PricingMethod_Name

' 
END
GO
