/****** Object:  StoredProcedure [dbo].[EPromotions_GetPromotionalOffersByPricingMethod]    Script Date: 06/14/2006 08:39:00 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[EPromotions_GetPromotionalOffersByPricingMethod]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[EPromotions_GetPromotionalOffersByPricingMethod]
GO
/****** Object:  StoredProcedure [dbo].[EPromotions_GetPromotionalOffersByPricingMethod]    Script Date: 06/14/2006 08:39:00 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*
	Retreives records from  PromotionOffers by PricingMethod
*/

CREATE  PROCEDURE dbo.EPromotions_GetPromotionalOffersByPricingMethod
	@PricingMethodId  as Integer
AS
	BEGIN
		SELECT [Offer_ID], [Description], [PricingMethod_ID], [StartDate], [EndDate], [RewardType], [RewardQuantity], [RewardAmount], [RewardGroupID], [createdate], [modifieddate], [User_ID],  [ReferenceCode], [TaxClass_ID], [SubTeam_No], [IsEdited]
		FROM [PromotionalOffer]
		WHERE (PricingMethod_Id = @PricingMethodId ) 
		ORDER BY [Description] 
	END 

go