@model Icon.Web.Mvc.Models.ConfigurationSearchViewModel

@using (Ajax.BeginForm("Search", "Configuration", null, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "searchResults",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "searchButtonClick",
    OnSuccess = "displayResults",
    OnFailure = "displayModelValidation"
}, new { @class = "begin-form" }))
{
    <fieldset>
        <legend>Select Region</legend>
        
        <div class="form-group">            
            @Html.LabelFor(model => Model.SelectedRegionCode, new { @class = "cform-label" })
            <div>
                @Html.DropDownListFor(model => Model.SelectedRegionCode, Model.RegionList, new { @class = "form-control form-input" })
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <input type="submit" value="Display" class="btn btn-light form-submit" id="search-button" />
        <div class="col-md-6 page-subsection">
            @Html.ValidationSummary(true)
        </div>
    </div>
}
