
@{
    ViewBag.Title = "Hierarchy Class Cache";
}

@{Html.RenderPartial("_HeaderPartial", "Icon Cache");}

<div class="page-section">
    <hr />

    <h4>Successfully Cleared the Hierarchy and Attribute Cache.</h4>

</div>

