
@{
    ViewBag.Title = "Hierarchy Class Cache";
}

@{Html.RenderPartial("_HeaderPartial", "Hierarchy Class Cache");}

<div class="page-section">
    <hr />

    <h4>Successfully Cleared the Hierarchy Class Cache.</h4>

</div>

