.form-container {
    padding: 8px;
}

div[class^="MuiFormControl-root-"] {
    width: 100%;
}

div[class^="MuiFormControl-root-"] input {
    padding: 10px !important;
    background-color: white;
}

.kit-search-container {
    border: 1px solid  rgba(0,0,0, 0.1);
    background-color: white;
    border-bottom: none;
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 8px !important;
    padding-left: 8px !important;
}

.kit-footer-root {
    padding-top: 16px;
}
.kit-footer-button {
    width: 100%;
}
.kit-title {
    margin-top: 40px;
}