<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="Region" value="FL" />
    <add key="NonReceivingSysName" value="Slaw,Mammoth,Spice,ESL,1Plum,Infor" />
    <add key="TransactionType" value="Item/Locale" />
    <!-- Specify 0 for MaxNumberOfRows to return all rows. -->
    <add key="MaxNumberOfRows" value="10" />
    <add key="SaveMessages" value="false" />
    <add key="SaveMessagesDirectory" value="Messages" />
    <!-- Specify false if testing and only want to save messages, not transmit with ESB-->
    <add key="SendMessagesToEsb" value="false" />
  </appSettings>
  <esbConnections>
    <connections>
      <esbConnection name="esb" serverUrl="ssl://DEV-ESB-EMS-1.wfm.pvt:7233" jmsUsername="iconUser" jmsPassword="ouVgOD5ld5V6" jndiUsername="jndiIconUser" jndiPassword="jndiIconUser" connectionFactoryName="ItemQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.Retail.ItemMgmt.Item.Queue.V2" sessionMode="ClientAcknowledge" certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="DEV-ESB-EMS-1.wfm.pvt" />
    </connections>
  </esbConnections>
  <connectionStrings>
    <add name="Mammoth" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>