<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Esb.Core" version="2017.10.18.1" targetFramework="net461" />
  <package id="FastMember" version="1.2.0" targetFramework="net461" />
  <package id="Icon.Common" version="2016.10.19.4" targetFramework="net461" />
  <package id="Icon.DbContextFactory" version="2017.2.8.1" targetFramework="net461" />
  <package id="Icon.Esb" version="2017.10.9.1" targetFramework="net461" />
  <package id="Icon.Esb.Schemas.Infor" version="2017.12.13.1" targetFramework="net461" />
  <package id="Icon.Esb.Schemas.Mammoth" version="2017.12.27.2" targetFramework="net461" />
  <package id="Icon.Esb.Schemas.Wfm" version="2017.11.22.3" targetFramework="net461" />
  <package id="Icon.Framework" version="2018.1.18.1" targetFramework="net461" />
  <package id="Icon.Logging" version="2016.10.18.4" targetFramework="net461" />
  <package id="Icon.RenewableContext" version="2016.10.19.5" targetFramework="net461" />
  <package id="Mammoth.Common" version="2017.11.28.3" targetFramework="net46" />
  <package id="Mammoth.Common.DataAccess" version="2018.2.7.2" targetFramework="net461" />
  <package id="Mammoth.Logging" version="2017.11.28.5" targetFramework="net461" />
  <package id="Mammoth.PrimeAffinity.Library" version="2018.2.7.2" targetFramework="net461" />
  <package id="morelinq" version="2.10.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net46" />
  <package id="NLog.Extended" version="4.0.0.1" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.4.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="TIBCO.EMS" version="2016.10.21.1" targetFramework="net461" />
</packages>