 .oTable {
        display: table;
        width: 701px;
        font-weight: bold;
        font-family: Verdana;
     margin: 0 auto;
    }

    .oRow {
        display: table-row;
        line-height: 36px;
    }

    span.plus {
        vertical-align: middle;
        display: inline-block;
        -ms-background-size: 24px 24px;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA+0lEQVR4nO3VsUoDQRAG4C8iqIgWQiCNqXwBr9YHsxME30QEfQQtrWObwjKNCIKJnnZnkb0Uy+3qKghGfziOm/vn/2eYuVt+O3rR8wBHOMBmgc4LbnCK+xRpiAmab1wT7KYMLgPpLHRSggHOQ/5FijTFDGuF4i3W8YynFKHBOCNwi9EHJuOgs8DqJ6uDrQLuAitfSfpbBqkZjLAdxYbhfhfFp6hSBqkO4i88hyw31cF+R6ytfK/AfAmG/KNb9Ia++dCaDu4sEW/RC/mvKcJ1EDhWtkWt+EnIv4pftKjMD40NPOKhwKCPHdQ4lPkpVqGCWtlBU4e8rvX+Rx7vh4dEgl84ehIAAAAASUVORK5CYII='); /*/Content/images/plus-square-o_000000_24.png*/
    }

    span.minus {
        vertical-align: middle;
        display: inline-block;
        -ms-background-size: 24px 24px;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA4UlEQVR4nO3VsUoDQRSF4W8loJIiEBDS6DuYJk3yYOkCQt5EhPgIWlpb7wOkEVFINGuZFDtrEZlkZ4OFkh+2mNlzz7nLXmb462Rb6x7GGKKd4LPCE6Z4iYmuMMf6gGeOy1jAfRDdhi9JoYe7UD+LiZb4wGmiecUZPrGICdbIG5pX5MHnm5MDDfdyDGgcsFB/9pe7AlqR/Rydmk02ChjUNN/L//3Jv8IX3vw8wuuShfoiJnhUjt2kQUiGm1D/sP2ioq+8NM7xjteEgAt0ld2P8BwT9kMHhbSLpgh11wlNHSnZAHn0S0vLToBBAAAAAElFTkSuQmCC'); /*/Content/images/minus-square-o_000000_24.png*/
    }

    .btn {
        cursor: pointer;
    }

    .oCell {
        display: table-cell;
        border-bottom: 1px #cecece solid;
        border-right: 1px solid black;
        padding-right: 5px;
    }

    .oRow-store {
        background-color: #dadada; /* #808080;*/
    }

        .oRow-store .oCell:first-child {
            padding-left: 5px;
        }

    .oRow .oCell:last-child {
        padding-right: 5px;
    }


    .oRow-team {
        background-color: #ececec; /*#b1b1b1;*/
    }

        .oRow-team .oCell:first-child {
            padding-left: 30px;
        }

    .oRow .oCell:first-child {
        border-left: 1px solid black;
    }

    .oRow-subteam {
        background-color: #ffffff;
    }


        .oRow-subteam div:first-child {
            padding-left: 80px;
        }

    .oRow-header {
        background-color: #30471f;
        color: white;
    }

    .clickable {
        cursor: pointer;
    }

    .collapsed {
        display: none;
        -webkit-transition: display 1s ease;
        -moz-transition: display 1s ease;
        -o-transition: display 1s ease;
    }

    .align-right {
        text-align: right;
    }

    .fixed {
        width: 250px;
    }

    #oTableContainerOuter {
        width: 1000px;
    }

    #oTableContainerInner {
        display: table;
        margin: 0 auto;
    }

    #controlsContainer {
        width: 1000px;
    }

    #controls {
        display: table;
        margin: 0 auto;
    }
