 #SearchPanel {background-color: #f5f5dc;padding-top: 5px;padding-bottom: 5px;border: #f5deb3 solid 1px;}
        #SearchPanel table { margin-left: 10px; }
        #BulkEditPanel {background-color: #f5f5dc;padding-top: 5px;padding-bottom: 5px;border: #f5deb3 solid 1px;}
        #BulkEditPanel table { margin-left: 10px; }
        #AddNewPanel {background-color: #f5f5dc;padding-top: 5px;padding-bottom: 5px;border: #f5deb3 solid 1px;}
        #AddNewPanel table { margin-left: 10px; }
        

        .t-state-active {
              background-color: #b6f0a3; 
        }

        .t-state-active .t-link {
            font-weight: bold;
        }



        .t-grid .t-button:hover
        {
            background: #A2BB7A;
        }

        .t-grid .t-status
        {
            display: none;
        }

        .t-grid
        {
            border: none 0px transparent;font-size: 11px;
        }
        .t-grid-header .t-header
        {
            border-top: solid 2px #E1E1E1;
            border-bottom: solid 2px #E1E1E1;
            border-right: solid 2px #FFFFFF;
            border-left: none 0px transparent;
            background-color: #F4F4F4;
            background: -moz-linear-gradient(top, #F4F4F4, #E1E1E1);
            background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#E1E1E1));
            filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#F4F4F4, endColorstr=#E1E1E1);
        }

        .t-grid table
        {
            width: auto;
            border-collapse: separate;
            empty-cells: show;
            border: 0;
        }

        .delete-image .t-icon {
            background: transparent url('/Content/images/icons/delete.png') no-repeat 0 0;
        }

        .edit-image .t-edit {
            background: transparent url('/Content/images/icons/page_edit.png') no-repeat 0 0;
        }

        .edit-image .t-cancel {
            background: transparent url('/Content/images/icons/arrow_undo.png') no-repeat 0 0;
        }

        .edit-image .t-update {
            background: transparent url('/Content/images/icons/page_save.png') no-repeat 0 0;

        }

        .t-footer-template td
        {
            background-color: #526B2A;
            border-color: #526B2A;
            border-width: 1px 0 0 1px;
            border-style: solid;
            color: #ffffff;

            font-size: x-small;
        }

        .t-grid .t-button { margin: 0;margin-right: 2px;}