<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeAssassin.ConfigTransform" version="1.2" targetFramework="net46" />
  <package id="Mammoth.Common" version="2017.11.28.3" targetFramework="net46" />
  <package id="Mammoth.Common.DataAccess" version="2018.1.18.1" targetFramework="net46" />
  <package id="Mammoth.Logging" version="2017.11.15.10" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NLog" version="4.4.12" targetFramework="net46" />
  <package id="NLog.Config" version="4.2.0" targetFramework="net46" />
  <package id="NLog.Schema" version="4.2.0" targetFramework="net46" />
  <package id="SimpleInjector" version="3.2.0" targetFramework="net46" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="3.2.0" targetFramework="net46" />
  <package id="SimpleInjector.Integration.WebApi" version="3.2.0" targetFramework="net46" />
</packages>