<?xml version="1.0"?>
<configuration>
  <!--CONNECTION STRINGS ARE NOW INHERITED FROM IIS FROM THE REGIONAL VIRTUAL DIRECTORY.  UNCOMMENT SECTION TO TEST LOCALLY-->
  <connectionStrings>
	  <!--<add name="SLIM_Conn" connectionString="Data Source=idd-mw\mwd;Initial Catalog=ItemCatalog_Test;User ID=SLIM_User;Password=Oh10State;" providerName="System.Data.SqlClient"/>-->
    <!--<add connectionString="Server=idt-pn\pnt;Database=itemCatalog_Test;User ID=SLIM_User;Password=sk1nnyone" name="SLIM_Conn" />-->  
  </connectionStrings>
  <appSettings>
	<!-- identifies this application and the environment it is connected to -->
	  <add key="ApplicationGUID" value="50251DA9-EB25-409F-9718-89D2051658D6"/>
	  <add key="EnvironmentGUID" value="20C5DDAC-659C-4B81-84F6-5F79CC390D10"/>
	  <add key="ConnectionStringName" value="SLIM_Conn"/>
  </appSettings>
  <system.web>
	  <machineKey validationKey="C84053F982794D1F2033B8FDCFB507B74BFF1E041EBF00C75F4206FAF3BAE1DC20DA37C4FAB14A1C606772FE8450B7DBCA801F4E10B95C131067196050971C57" decryptionKey="95F518E4BED5C86DEE996007E12126C60BDDE5596647ABCFC5E60646B7D7B903" validation="SHA1" decryption="AES"/>
	  <httpRuntime maxRequestLength="102400"/>
	  <compilation debug="true" strict="true" explicit="true" targetFramework="4.0" batch="false"></compilation>
	  <globalization uiCulture="auto" culture="auto"/>
	  <pages styleSheetTheme="DataWebControls" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>
	  <webServices>
	    <protocols>
		    <add name="HttpGet"/>
		    <add name="HttpPost"/>
	    </protocols>
	  </webServices>
	  <authentication mode="Windows"/>
	  <customErrors mode="Off"/>
  </system.web>
</configuration>