<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IRMAUserAuditConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log-file.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
    <connectionStrings>
        <add name="IRMAUserAuditConsole.Properties.Settings.ItemCatalog_TestConnectionString" connectionString="Data Source=idt-pn\pnt;Initial Catalog=ItemCatalog_Test;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="IRMAUserAuditConsole.Properties.Settings.ItemCatalog_TestConnectionString1" connectionString="Data Source=idt-mw\mwt;Initial Catalog=ItemCatalog_Test;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <applicationSettings>
        <IRMAUserAuditConsole.Properties.Settings>
          <setting name="ExportByRegion" serializeAs="String">SW</setting>
          <!-- OLD AND OBSOLETE 
            <setting name="DefaultConnectionString" serializeAs="String">
                <value>Data Source=idt-XX\XXt;Initial Catalog=ItemCatalog_test;Integrated Security=True</value>
            </setting>
            <setting name="RootPath" serializeAs="String">
                <value>\\connect\davwwwroot\team\irma\irma user audit</value>
            </setting>
            <setting name="ExportRegionsByStore" serializeAs="String">
                <value>na</value>
            </setting>
            <setting name="ExportRegionsByRegion" serializeAs="String">
                <value/>
            </setting>
            <setting name="ResultsPath" serializeAs="String">
                <value>results</value>
            </setting>
            <setting name="LocalRootPath" serializeAs="String">
                <value>c:\temp\useraudit\</value>
            </setting>
            <setting name="TempFilePath" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ImportRegions" serializeAs="String">
                <value>na</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>backup</value>
            </setting>
            <setting name="BackupRegions" serializeAs="String">
                <value>na</value>
            </setting>
            <setting name="RestoreRegions" serializeAs="String">
                <value>na</value>
            </setting>
            <setting name="RestorePath" serializeAs="String">
                <value>backup</value>
            </setting>
            
            -->
        </IRMAUserAuditConsole.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
