<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ServerUrl" value="ssl://cerd1616.wfm.pvt:7233"/>
    <add key="JmsUsername" value="iCon"/>
    <add key="JmsPassword" value="iCon"/>
    <add key="JndiUsername" value="iCon"/>
    <add key="JndiPassword" value="iCon"/>
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory"/>
    <add key="SslPassword" value="esb"/>
    <add key="QueueName" value="icon.consume"/>
    <add key="SessionMode" value="ClientAcknowledge"/>
    <add key="CertificateName" value="CN=CA-ROOT-I, O=Whole Foods Market"/>
    <add key="CertificateStoreName" value="Root"/>
    <add key="CertificateStoreLocation" value="LocalMachine"/>
    <add key="TargetHostName" value="cerd1616.wfm.pvt"/>
    <add key="ReconnectDelay" value="30000"/>
    <add key="SendEmails" value="true"/>
    <add key="EmailHost" value="smtp.wholefoods.com"/>
    <add key="EmailPort" value="25"/>
    <add key="EmailUsername" value=""/>
    <add key="EmailPassword" value=""/>
    <add key="Sender" value="Icon-Dev@wholefoods.com"/>
    <add key="Recipients" value="blake.jones@wholefoods.com"/>
    <add key="NumberOfListenerThreads" value="1"/>
    <add key="ResendMessageCount" value="1"/>
  </appSettings>
</configuration>