<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="NonReceivingSystemsSpoilage" value="" />
    <!-- service configuration -->
    <add key="ProducerInstanceId" value="1" />
    <add key="RunInterval" value="300000" />
    <!--These needs to be changed for each producer type deployment -->
    <add key="ApiDescription" value="Inventory Producer to ESB for data." />
	<add key="ApiDisplayName" value="Inventory Producer" />
	<add key="ApiServiceName" value="InventoryProducer" />
    <add key="ProducerType" value="spoilage" />
    <add key="DbCommandTimeoutInSeconds" value="30" />
    <add key="DbErrorRetryCount" value="6" />
    <add key="DbRetryDelayInMilliseconds" value="10000" />
	<add key="DequeueMaxRecords" value="50" />
	<add key="DequeueMinuteOffset" value="5" />
	<add key="RegionCode" value="MW" />
	<add key="InstockDequeueStoredProcedureName" value="DequeueInventory" />
	<add key="TransactionType" value="InventorySpoilage" />
	<add key="BatchSize" value="50" />
	<add key="ServiceMaxRetryCount" value="6" />
	<add key="ServiceMaxRetryDelayInMilliseconds" value="10000" />

	<add key="InstanceGUID" value="3A500027-5CCC-4285-BAD6-C6CCDBA6DC71"/>
	<add key="MaintenanceDay" value="0" />
	<add key="MaintenanceStartTime" value="02:00" />
	<add key="MaintenanceEndTime" value="02:00" />
    <!-- ActiveMQ Settings (default-beta) -->
    <add key="ActiveMqServerUrl" value="failover:(ssl://b-30e2193f-fe4b-4212-831e-58ef6e0e2784-1.mq.us-west-2.amazonaws.com:61617,ssl://b-ebf4b796-b53d-4480-960c-caa3e8e06722-1.mq.us-west-2.amazonaws.com:61617)?randomize=true" />
    <add key="ActiveMqJmsUsername" value="wfmdatavayuactivemqv2producer" />
    <add key="ActiveMqJmsPassword" value="f16WTI8Uqbh3CCIq" />
    <add key="ActiveMqInventorySpoilageQueueName" value="WFMActiveMQ.Commerce.Retail.InventorySpoilageMgmt.InventorySpoilage.Queue.V2" />
	<add key="ActiveMqInventoryTransferQueueName" value="WFMActiveMQ.Commerce.Retail.InventoryTransferMgmt.InventoryTransfer.Queue.V2" />
	<add key="ActiveMqInventoryReceiveQueueName" value="WFMActiveMQ.Commerce.Retail.InventoryReceiveMgmt.InventoryReceive.Queue.V2" />
    <add key="ActiveMqSessionMode" value="AutoAcknowledge" />
    <add key="ActiveMqReconnectDelay" value="30000" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>