<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <connectionStrings>
        <add name="MammothContext" providerName="System.Data.SqlClient" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework" />
    </connectionStrings>
    <esbConnections>
        <connections>
            <esbConnection
            name="ExtractServiceProducerEmsConnection"
            serverUrl="ssl://cerd1669.wfm.pvt:17233, ssl://cerd1670.wfm.pvt:17233"
            jmsUsername="sb1_auditUser"
            jmsPassword="sb1_auditUser"
            jndiUsername=""
            jndiPassword=""
            sslPassword="esb"
            queueName="WFMSB1.SCAD.Audit.ExtractService.Queue.V1"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="cerd1669.wfm.pvt"
            reconnectDelay="30000"
		/>
            <esbConnection
            name="ActivePriceServiceProducerEmsConnection"
            serverUrl="ssl://cerd1669.wfm.pvt:17233, ssl://cerd1670.wfm.pvt:17233"
            jmsUsername="sb1_mammothPriceUser"
            jmsPassword="sb1_mammothPriceUser"
            jndiUsername=""
            jndiPassword=""
            sslPassword="esb"
            queueName="WFMSB1.Mammoth.Retail.JustInTime.PricePushStarter.Queue.V1"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="cerd1669.wfm.pvt"
            reconnectDelay="30000"
		/>
            <esbConnection
            name="ExpiringTprServiceProducerEmsConnection"
            serverUrl="ssl://cerd1669.wfm.pvt:17233, ssl://cerd1670.wfm.pvt:17233"
            jmsUsername="sb1_mammothPriceUser"
            jmsPassword="sb1_mammothPriceUser"
            jndiUsername=""
            jndiPassword=""
            sslPassword="esb"
            queueName="WFMSB1.Mammoth.Retail.JustInTime.InactiveTprPriceStarter.Queue.V1"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="cerd1669.wfm.pvt"
            reconnectDelay="30000"
		/>
        </connections>
    </esbConnections>
    <appSettings>
        <!-- service configuration -->
        <add key="ApiDescription" value="Job Scheduler Service" />
        <add key="ApiDisplayName" value="Job Scheduler" />
        <add key="ApiServiceName" value="JobScheduler" />
        <!-- Email Settings -->
        <add key="SendEmails" value="false" />
        <add key="EmailHost" value="smtp.wholefoods.com" />
        <add key="EmailPort" value="25" />
        <add key="EmailUsername" value="" />
        <add key="EmailPassword" value="" />
        <add key="Sender" value="Mammoth-Dev@wholefoods.com" />
        <add key="Recipients" value="irma.developers@wholefoods.com" />
        <!-- AWS Settings -->
        <add key="AwsAccessKey" value="InvalidValue" />
        <add key="AwsSecretKey" value="InvalidValue" />
        <add key="AwsRegion" value="us-west-2" />
        <add key="AwsAccountId" value="486184129078" />
    </appSettings>
    <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
        <targets>
            <target name="dbLogMammoth" type="Database" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI" commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
                <parameter name="@AppId" layout="18" />
                <parameter name="@Level" layout="${level}" />
                <parameter name="@Logger" layout="${logger}" />
                <parameter name="@UserName" layout="${windows-identity}" />
                <parameter name="@MachineName" layout="${machinename}" />
                <parameter name="@LogDate" layout="${date}" />
                <parameter name="@Thread" layout="${threadid}" />
                <parameter name="@Message" layout="${message}" />
                <parameter name="@CallSite" layout="${callsite}" />
                <parameter name="@Exception" layout="${exception:format=tostring}" />
                <parameter name="@StackTrace" layout="${stacktrace}" />
            </target>
            <target name="json-file" type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
                <layout type="JsonLayout">
                    <attribute name="date" layout="${longdate}" />
                    <attribute name="level" layout="${level:upperCase=true}" />
                    <attribute name="message" layout="${message}" />
                    <attribute name="exception" layout="${exception:format=ToString}" />
                </layout>
            </target>
        </targets>
        <rules>
            <logger name="*" minlevel="Info" writeTo="dbLogMammoth, json-file" final="true" />
        </rules>
    </nlog>
</configuration>