<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>
      <!-- ENVIRONMENT -->
      <add key="runMode" value="DEV"/>

      <!-- POSPUSH GLOBAL VARS -->
      <add key="tempPOSFileDir" value="C:\projects\IRMA\Test\"/>
      <add key="MaxPOSBatchRecords" value="65535" />
      <add key="numDaysToKeepPOSPushFiles" value="1"/>

      <!-- ERROR NOTIFICATION -->
      <add key="region" value="CEN"/>
      <add key="primaryErrorNotification" value="amanda.black@wholefoods.com;greg.bowles@wholefoods.com"/>
      <add key="secondaryErrorNotification" value="sam.gordon@wholefoods.com;brenda.mijares@wholefoods.com"/>

      <!-- Flag set to true if the database connection strings are encrypted -->
      <add key="encryptedConnectionStrings" value="False"/>
    </appSettings>
    <connectionStrings>
      <!-- DATABASE CONNECTIONS -->
      
      <!-- CENTRAL TEST DB -->
      <add name="ItemCatalog" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ItemCatalog_Dev;Data Source=CEWD6507;" />
      
      <!-- UK TEST DB -->
      <!--<add name="ItemCatalog" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ItemCatalog;Data Source=CEWD6507;" />-->
    </connectionStrings>  
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>            
            <!-- this switch controls Trace messages for IRMA.POSPush.* -->
            <add name="POSPushSwitch" value="4" />
            <!-- this switch controls general Trace messages for the application. -->
            <add name="IRMASwitch" value="4" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
