/****** Object:  StoredProcedure [dbo].[EInvoicing_CreateInvoiceRecord]    Script Date: 07/22/2008 15:56:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_CreateInvoiceRecord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_CreateInvoiceRecord]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_CreateInvoiceRecord]    Script Date: 07/22/2008 15:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  procedure dbo.EInvoicing_CreateInvoiceRecord
	 @VendorId varchar(255) ,  
 @Store_Num int ,  
 @PO_Num varchar(255),  
 @Invoice_Num varchar(255) ,  
 @Invoice_Date smalldatetime ,  
 @InvoiceXml xml,  
 @InvoiceId int OUTPUT  
as  
begin  
   
insert into EInvoicing_Invoices  
(  
   
 Invoice_Num,  
 PSVendor_Id,   
 Store_No,   
 PO_Num,  
 InvoiceDate,  
 InvoiceXML  
) Values (  
 @Invoice_Num,  
 @VendorId,  
 @Store_Num,  
 @PO_num,   
 @Invoice_Date,  
 @InvoiceXml  
   
)  
  
 SELECT @InvoiceId = SCOPE_IDENTITY()    
  
end  
GO

