/****** Object:  StoredProcedure [dbo].[EInvoicing_GetKnownHeaderElements]    Script Date: 08/14/2008 10:54:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_GetKnownHeaderElements]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_GetKnownHeaderElements]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_GetKnownHeaderElements]    Script Date: 08/14/2008 10:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure dbo.EInvoicing_GetKnownHeaderElements
as
begin
	SELECT ElementName, ChargeOrAllowance, Subteam_No, SACCodeType, NeedsConfig
	FROM EInvoicing_Config (nolock)
	WHERE IsHeaderElement=1 and issaccode = 0 and disabled = 0
end
GO


GRANT EXECUTE ON [dbo].[EInvoicing_GetKnownHeaderElements] TO [IRMAAdminRole]
GO
