/****** Object:  StoredProcedure [dbo].[EInvoicing_GetConfigInfo]    Script Date: 08/14/2008 10:53:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_GetConfigInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_GetConfigInfo]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_GetConfigInfo]    Script Date: 08/14/2008 10:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_GetConfigInfo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure dbo.EInvoicing_GetConfigInfo
as
begin
	


SELECT c.ElementName,
       c.Label,
       c.IsSacCode,
       c.IsHeaderElement,
       c.NeedsConfig,
       c.SacCodeType,
       c.SubTeam_No,
       c.IsItemElement,
       c.Disabled,
       CASE 
            WHEN c.ChargeOrAllowance = 1 THEN 0
            ELSE 1
       END AS IsAllowance  -- 1 = Charge -1 = Allowance
FROM   einvoicing_config(NOLOCK) c
       LEFT JOIN einvoicing_sactypes s
            ON  c.saccodetype = s.sactype_id
       LEFT JOIN subteam st
            ON  c.subteam_no = st.subteam_no 
end
' 
END
GO
GRANT EXECUTE ON [dbo].[EInvoicing_GetConfigInfo] TO [IRMAAdminRole]
GO
