<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ApplicationGUID" value="5983BBE7-A2A2-4DC1-B4CC-611C94693D95" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnvironmentGUID" value="8A5FF21E-9ACE-403E-8BFB-7338C71151F5" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <log4net>
    <root>
      <level value="INFO"  xdt:Transform="Replace"/>
    </root>
    <appender name="AdoNetAppender"
              type="log4net.Appender.AdoNetAppender"
              xdt:Locator="Match(name)">
      <commandText
        value=" exec dbo.AppLogInsertEntry @logDate, '5983BBE7-A2A2-4DC1-B4CC-611C94693D95', @thread, @logLevel, @logger, @message, @exception "
        xdt:Transform="Replace" />
    </appender>
  </log4net>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.wholefoods.com" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>