<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ApplicationGUID" value="A40132D7-E95E-4F9E-B9D1-D888DAC38C90" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnvironmentGUID" value="6A62316D-B6D2-4607-848A-047588CDA1A8" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <log4net>
    <root>
      <level value="INFO"  xdt:Transform="Replace"/>
    </root>
    <appender name="AdoNetAppender"
              type="log4net.Appender.AdoNetAppender"
              xdt:Locator="Match(name)">
      <commandText
        value=" exec dbo.AppLogInsertEntry @logDate, 'A40132D7-E95E-4F9E-B9D1-D888DAC38C90', @thread, @logLevel, @logger, @message, @exception "
        xdt:Transform="Replace" />
    </appender>
  </log4net>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.wholefoods.com" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>