<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="SFtpCredentials" type="Services.Extract.Config.SFtpCredentialConfigSection, Services.Extract" />
    <section name="S3Credentials" type="Services.Extract.Config.S3CredentialConfigSection, Services.Extract" />

  </configSections>
  <appSettings>
    <add key="Regions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW,UK" />
    <add key="SendEmails" value="false" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />
    <add key="NumberOfListenerThreads" value="1" />
    <add key="ListenerApplicationName" value="Extract Service Listener" />
    <add key="OpsGenieApiKey" value="30a1d1cf-0640-40d3-a5bc-4a3abd0ed18b" />
    <add key="OpsGenieUri" value="https://api.opsgenie.com/v2/alerts" />
    <add key="TopShelfDescription" value="SCAD Extract Service" />
    <add key="TopShelfDisplayName" value="Extract Service" />
    <add key="TopShelfServiceName" value="Extract Service" />
    <add key="SendOpsGenieAlerts" value="false" />

  </appSettings>
  <connectionStrings>
    <add name="Icon" connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=SSPI;Connection Timeout=30" />
    <!--<add name="Irma" connectionString="data source=idp-{0}\{0}p;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30" />-->
    <add name="Irma_FL" connectionString="data source=idd-fl\fld;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_MA" connectionString="data source=idd-ma\mad;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_MW" connectionString="data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_NA" connectionString="data source=idd-na\nad;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_NC" connectionString="data source=idt-nc\nct;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_NE" connectionString="data source=idt-ne\net;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_PN" connectionString="data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_RM" connectionString="data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_SO" connectionString="data source=idd-so\sod;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_SP" connectionString="data source=idt-sp\spt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_SW" connectionString="data source=idt-sw\swt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_UK" connectionString="data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Mammoth" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI;MultipleActiveResultSets=True;" />

  </connectionStrings>
  <esbConnections>
    <connections>
      <esbConnection name="Sb1EmsConnection" serverUrl="ssl://cerd1668.wfm.pvt:7233" jmsUsername="sb1_auditUser" jmsPassword="sb1_auditUser" jndiUsername="" jndiPassword="" sslPassword="esb" queueName="WFMSB1.SCAD.Audit.ExtractService.Queue.V1" sessionMode="AutoAcknowledge" certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1668.wfm.pvt" reconnectDelay="" />
    </connections>
  </esbConnections>

  
  <SFtpCredentials>
    <add profileName="predictix" host="data.dev.predictix.com" username="wfm" password="pirEtQuoor" />
    <add profileName="sftptest" host="testhost" username="testuser" password="testpass" />
  </SFtpCredentials>
  <S3Credentials>
    <add profileName="s3test" accessKey="testaccesskey" secretKey="testsecretkey" bucketName="testbucketname" bucketRegion="testbucketregion" />
    <add profileName="s3DART" accessKey="testaccesskey" secretKey="testsecretkey" bucketRegion="https://s3.us-east-1.amazonaws.com" bucketName="14447-scmpa-dart-qa" />
  </S3Credentials>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.1.0" newVersion="4.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.215" newVersion="4.2.1.215" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>