<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Icon.Common" version="2016.10.19.4" targetFramework="net452" />
  <package id="Icon.DbContextFactory" version="2017.2.8.1" targetFramework="net452" />
  <package id="Icon.Esb.Schemas.Wfm" version="2017.3.14.1" targetFramework="net461" />
  <package id="Mammoth.Common" version="2017.11.28.3" targetFramework="net461" />
  <package id="Mammoth.Common.DataAccess" version="2018.1.18.1" targetFramework="net461" />
  <package id="Mammoth.Framework" version="2018.1.18.8" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="net461" />
</packages>