/****** Object:  StoredProcedure [dbo].[TaxHosting_GetTaxClass]    Script Date: 05/19/2006 16:33:30 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TaxHosting_GetTaxClass]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[TaxHosting_GetTaxClass]
GO
/****** Object:  StoredProcedure [dbo].[TaxHosting_GetTaxClass]    Script Date: 05/19/2006 16:33:30 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE dbo.TaxHosting_GetTaxClass
AS

/*********************************************************************************************************************************************
CHANGE LOG
DEV					DATE					TASK						Description
----------------------------------------------------------------------------------------------------------------------------------------------
MYounes         Jan 20, 2011                1024                   Added ExternalTaxGroupCode field for display on ManageTaxClass.vb
**********************************************************************************************************************************************/

BEGIN
	SELECT 
		TaxClassID, 
		TaxClassDesc, 
		[ItemCount]		= (SELECT COUNT(1) FROM Item WHERE Item.TaxClassID = TaxClass.TaxClassID AND Item.Deleted_Item = 0),
		[TaxFlagCount]	= (SELECT COUNT(1) FROM TaxFlag WHERE TaxFlag.TaxClassID = TaxClass.TaxClassID),
		ExternalTaxGroupCode
	FROM 
		TaxClass
	ORDER BY 
		TaxClassDesc
END
GO

