/****** Object:  StoredProcedure [dbo].[TaxHosting_GetTaxJurisdictions]    Script Date: 05/19/2006 16:33:39 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[TaxHosting_GetTaxJurisdictions]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[TaxHosting_GetTaxJurisdictions]
GO

/****** Object:  StoredProcedure [dbo].[TaxHosting_GetTaxJurisdictions]    Script Date: 05/19/2006 16:33:39 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[TaxHosting_GetTaxJurisdictions]
AS
begin
	SELECT TaxJurisdictionID, 
		TaxJurisdictionDesc, 
		LastUpdate,
		LastUpdateUserID,
		[StoreCount] =
			(SELECT COUNT(1) 
	 		 FROM dbo.Store S
	 		 WHERE S.TaxJurisdictionID = TJ.TaxJurisdictionID),
		[TaxFlagCount] =
			(SELECT COUNT(1)
	 		 FROM dbo.TaxFlag TF
	 		 WHERE TF.TaxJurisdictionID = TJ.TaxJurisdictionID),
		[RegionalJurisdictionID] = tj.RegionalJurisdictionID
	FROM dbo.TaxJurisdiction TJ
	ORDER BY TaxJurisdictionDesc
end
GO

