/****** Object:  StoredProcedure [dbo].[Replenishment_TLog_UK_CreateTransactionRecord]    Script Date: 07/04/2006 08:59:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Replenishment_TLog_UK_CreateTransactionRecord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Replenishment_TLog_UK_CreateTransactionRecord]
GO
/****** Object:  StoredProcedure [dbo].[Replenishment_TLog_UK_CreateTransactionRecord]    Script Date: 07/04/2006 08:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





	CREATE PROCEDURE [dbo].[Replenishment_TLog_UK_CreateTransactionRecord] 
		
		(
		@TimeKey smalldatetime, 
		@TransactionNo int, 
		@StoreNo int, 
		@RegisterNo int, 
	
		@OperatorNo int, 
		@TransactionDate smalldatetime ,
		@StartTime smalldatetime ,
		@TenderTime smalldatetime ,
	
		@EndTime smalldatetime,
		@ItemCount int,
		@TransactionAmount money,
		@Voided bit,
		@TransactionId int OUTPUT
)
	AS
	BEGIN
		SET NOCOUNT ON

		Insert Into TLog_UK_Transaction
		(
			TimeKey,
			Transaction_No,
			Store_No,
			Register_No, 
			Operator_No,
			TransactionDate, 
			StartTime, 
			TenderTime, 
			EndTime, 
			ItemCount, 
			Transaction_Amount, 
			Voided
		)
		VALUES
		(
			@TimeKey,
			@TransactionNo,
			@StoreNo,
			@RegisterNo,
			@OperatorNo, 
			@TransactionDate, 
			@StartTime, 
			@TenderTime, 
			@EndTime, 
			@ItemCount, 
			@TransactionAmount, 
			@Voided
		)

		SELECT @TransactionId = SCOPE_IDENTITY()
		
		SET NOCOUNT OFF
		
	END


GO
GRANT EXECUTE ON [dbo].[Replenishment_TLog_UK_CreateTransactionRecord] TO [IRSUser]
GO
