<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<appSettings>
		<add key="Sender" value="Icon-Test1@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="SQSListenerQueueUrl" value="https://sqs.us-west-2.amazonaws.com/730336209569/JobScheduler-ExtractServiceIncoming" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings>
		<add name="Icon" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=icon-db01-tst01;initial catalog=Icon;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_FL" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idd-fl\fld;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_MA" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idd-ma\mad;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_MW" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_NA" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idd-na\nad;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_NC" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idt-nc\nct;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_NE" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idt-ne\net;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_PN" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_RM" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_SO" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idd-so\sod;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_SP" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idt-sp\spt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_SW" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idt-sw\swt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Irma_UK" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
		<add name="Mammoth" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="Data Source=mammoth-db01-tst01;Initial Catalog=Mammoth;Integrated Security=SSPI;MultipleActiveResultSets=True;" />
	</connectionStrings>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets async="true">
			<target xdt:Transform="Replace" xdt:Locator="Match(name)" name="dbLog" type="Database" connectionString="data source=icon-db01-tst01;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
				<parameter name="@AppId" layout="21" />
				<parameter name="@UserName" layout="${windows-identity}" />
				<parameter name="@LogDate" layout="${date}" />
				<parameter name="@Level" layout="${level}" />
				<parameter name="@Source" layout="${logger}" />
				<parameter name="@Message" layout="${message}" />
				<parameter name="@MachineName" layout="${machinename}" />
			</target>
			<target name="json-file" xsi:type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
				<layout xsi:type="JsonLayout">
					<attribute name="date" layout="${longdate}" />
					<attribute name="level" layout="${level:upperCase=true}" />
					<attribute name="message" layout="${message}" />
					<attribute name="exception" layout="${exception:format=ToString}" />
				</layout>
			</target>
		</targets>
	</nlog>

</configuration>