<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="SFtpCredentials" type="Services.Extract.Config.SFtpCredentialConfigSection, Services.Extract" />
    <section name="S3Credentials" type="Services.Extract.Config.S3CredentialConfigSection, Services.Extract" />
    <section name="S3CredentialsDART" type="Services.Extract.Config.S3CredentialConfigSection, Services.Extract" />
    <section name="EsbCredentials" type="Services.Extract.Config.EsbCredentialConfigSection, Services.Extract" />
    <section name="FileDestinations" type="Services.Extract.Config.FileDestinationConfigSection, Services.Extract" />
	  <section name="ActiveMqCredentials" type="Services.Extract.Config.ActiveMqCredentialConfigSection, Services.Extract" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="Regions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW,UK" />
    <add key="SendEmails" value="false" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />
    <add key="NumberOfListenerThreads" value="1" />
    <add key="ListenerApplicationName" value="Extract Service Listener" />
    <add key="OpsGenieApiKey" value="76cabfd2-7690-45fc-9ea3-9faa747a22e8" />
    <add key="OpsGenieUri" value="https://api.opsgenie.com/v2/alerts" />
    <add key="SendOpsGenieAlerts" value="false" />
    <add key="TopShelfDescription" value="SCAD Extract Service" />
    <add key="TopShelfDisplayName" value="Icon Extract Service" />
    <add key="TopShelfServiceName" value="Icon Extract Service" />
  </appSettings>

  <connectionStrings>
    <add name="Icon" connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="Irma_FL" connectionString="data source=idd-fl\fld;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_MA" connectionString="data source=idd-ma\mad;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_MW" connectionString="data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_NA" connectionString="data source=idd-na\nad;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_NC" connectionString="data source=idt-nc\nct;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_NE" connectionString="data source=idt-ne\net;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_PN" connectionString="data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_RM" connectionString="data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_SO" connectionString="data source=idd-so\sod;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_SP" connectionString="data source=idt-sp\spt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_SW" connectionString="data source=idt-sw\swt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Irma_UK" connectionString="data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30;App=ExtractService" />
    <add name="Mammoth" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI;MultipleActiveResultSets=True;App=ExtractService" />
  </connectionStrings>

  <esbConnections>
    <connections>
      <esbConnection name="Sb1EmsConnection" serverUrl="ssl://cerd1668.wfm.pvt:7233" jmsUsername="sb1_auditUser" jmsPassword="sb1_auditUser" jndiUsername="" jndiPassword="" sslPassword="esb" queueName="WFMSB1.SCAD.Audit.ExtractService.Queue.V1" sessionMode="AutoAcknowledge" certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1668.wfm.pvt" reconnectDelay="" />
    </connections>
  </esbConnections>

  <S3Credentials>
    <add profileName="s3Icon" accessKey="${AccessKey.NonProd}" secretKey="${SecretKey.NonProd}" bucketRegion="https://s3.us-east-1.amazonaws.com" bucketName="14447-gpm-dev" />
    <add profileName="s3DART" accessKey="${AccessKey.DART.NonProd}" secretKey="${SecretKey.DART.NonProd}" bucketRegion="https://s3.us-east-1.amazonaws.com" bucketName="14447-scmpa-dart-qa" />
  </S3Credentials>

  <SFtpCredentials>
    <add profileName="predictix" host="data.dev.predictix.com" username="wfm" password="pirEtQuoor" />
  </SFtpCredentials>

  <EsbCredentials>
    <add profileName="inStock" serverUrl="ssl://DEV-ESB-EMS-1.wfm.pvt:7233" jmsUsername="iconUser" jmsPassword="Pjetuc9M7Kmi" jndiUsername="jndiIconUser" jndiPassword="jndiIconUser" sslPassword="esb" queueName="WFMESB.SupplyChain.Retail.InventoryMgmt.Info.Topic.V2" sessionMode="ClientAcknowledge" certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="DEV-ESB-EMS-1.wfm.pvt" connectionFactoryName="OrderTopicConnectionFactory" destinationType="Topic" messageType="ByteMessage" transactionType="ItemVendorLane" transactionId="{STORE_NUMBER}_{date:yyyyMMdd}.F.2" />
  </EsbCredentials>

	<ActiveMqCredentials>
		<add profileName="inStock" serverUrl="failover:(ssl://b-30e2193f-fe4b-4212-831e-58ef6e0e2784-1.mq.us-west-2.amazonaws.com:61617,ssl://b-ebf4b796-b53d-4480-960c-caa3e8e06722-1.mq.us-west-2.amazonaws.com:61617)?randomize=true" jmsUsername="wfmdatavayuactivemqv2producer" jmsPassword="f16WTI8Uqbh3CCIq" queueName="WFMActiveMQ.Commerce.Retail.ItemVendorMgmt.ItemVendor.Queue.V2" sessionMode="AutoAcknowledge" messageType="ByteMessage" transactionType="ItemVendorLane" transactionId="{STORE_NUMBER}_{date:yyyyMMdd}.F.2" />
	</ActiveMqCredentials>
	
  <FileDestinations>
    <add profileName="CAP" path="\\10.8.164.236\in\DEV\" />
  </FileDestinations>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="console" type="console" />
      <target name="dbLog" type="Database" connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="21" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
      <target name="file" type="File" layout="${longdate} ${logger} ${message}${exception:format=ToString}" fileName="${basedir}/logs/logfile.txt" maxArchiveFiles="4" archiveAboveSize="1024000" archiveEvery="Day" />
      <target name="json-file" xsi:type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout xsi:type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console, file, dbLog,json-file" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.1.0" newVersion="4.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.215" newVersion="4.2.1.215" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>