<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
	<connectionStrings>
		<add name="Mammoth" connectionString="data source=MAMMOTH-DB01-DEV\MAMMOTH;initial catalog=Mammoth_Dev;integrated security=True;MultipleActiveResultSets=True" />
	</connectionStrings>
	<appSettings>
    <add key="ApiDescription" value="Mammoth Item Locale/Gpm Price Date Service" />
    <add key="ApiDisplayName" value="Data Monster - Mammoth Item Locale and Gpm Price Data" />
    <add key="ApiServiceName" value="Data Monster - MammothGpmFlatFileDump" />
		<add key="MaintenanceDay" value="0" />
		<add key="MaintenanceStartTime" value="05:00" />
		<add key="MaintenanceEndTime" value="06:00" />
		<add key="RunInterval" value="30000"/>
		<add key="InstanceID" value="1" />
		
		<!--amazon related settings-->
		<add key="AWSProfileName" value="profile1"/>
		<add key="AWSAccessKey" value="***REMOVED***"/>
		<add key="AWSSecretKey" value="***REMOVED***"/>
		<add key="AWSBucketName" value="wfm-apple-test"/>
		<add key="AWSDirectoryName" value="Lakshmi"/>
		
  </appSettings>
</configuration>