<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BrandNameUpdateEventConfiguredRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SP,SW,SO" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HierarchyClassDeleteEventConfiguredRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SP,SW,SO" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HierarchyClassRefreshEventConfiguredRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TaxUpdateEventConfiguredRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SP,SW,SO" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="SendEmails" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailHost" value="smtp.wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailPort" value="25" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailUsername" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailPassword" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Sender" value="Icon-Perf@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Recipients" value="irma.developers@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="NumberOfListenerThreads" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AdminAccess" value="WFM\IRMA.Applications,WFM\SCAD,WFM\scme" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WriteAccess" value="WFM\WFM Icon Users,WFM\IRMA.Applications,WFM\glasgowt,WFM\Global Non-Perishables Technology Team,WFM\Icon Testers,WFM\scme" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReadAccess" value="WFM\WFM Icon Users,WFM\IRMA.Applications,WFM\glasgowt,WFM\Global Non-Perishables Technology Team,WFM\Icon Testers,WFM\scme"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableLocaleEventGenerationForVenue" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableManufacturerHierarchyMessages" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ContactViewEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableBulkContactUpload" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BulkNewItemMaxRowsLimit" value="20000" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=icon-db-qa-perf;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="Icon" providerName="System.Data.SqlClient" connectionString="data source=icon-db-qa-perf;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_FL" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-fl-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_MA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-ma-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_MW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-mw-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IconInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_NA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-na-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_NC" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-nc-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_NE" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-ne-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_PN" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-pn-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_RM" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-rm-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_SO" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-so-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IconInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_SP" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-sp-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_SW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-sw-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ItemCatalog_UK" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irma-uk-qa-perf;initial catalog=ItemCatalog;persist security info=True;user id=IConInterfaceUserQP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <esbConnections>
    <connections>
      <esbConnection name="producer"
                     serverUrl="ssl://PERF-ESB-EMS-1.wfm.pvt:27293,ssl://PERF-ESB-EMS-2.wfm.pvt:27293,ssl://PERF-ESB-EMS-3.wfm.pvt:27293,ssl://PERF-ESB-EMS-4.wfm.pvt:27293"
                     jmsUsername="ewicIconUser"
                     jmsPassword="g64859g7V@"
                     jndiUsername="jndiEwicIconUser"
                     jndiPassword="xJ35mWXQOp"
                     connectionFactoryName="EwicQueueConnectionFactory"
                     sslPassword="esb"
                     queueName="WFMESB.Commerce.PointOfSaleMgmt.NonSequencedRequest.Queue.V2"
                     sessionMode="ClientAcknowledge"
                     certificateName="E=uday.bhaskar@wholefoods.com, CN=uday.bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
                     certificateStoreName="Root"
                     certificateStoreLocation="LocalMachine"
                     targetHostName="PERF-ESB-EMS-1.wfm.pvt"
                     reconnectDelay="30000"
                     xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </connections>
  </esbConnections>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authorization xdt:Transform="Replace">
      <deny users="?" />
    </authorization>
  </system.web>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets xdt:Transform="Replace">
      <target name="dbLogIconWeb"
              xsi:type="Database"
              connectionString="data source=icon-db-qa-perf;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True"
              commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="1" />
        <parameter name="@UserName" layout="${identity:authType=false:isAuthenticated=false}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${callsite}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
  </nlog>
</configuration>