<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.webServer>
    <staticContent>
      <!-- This will map the xlsx extension properly even if for whatever reason the user doesn't have Excel installed. -->
      <remove fileExtension=".xlsx" />
      <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </staticContent>
    
    
  <validation validateIntegratedModeConfiguration="false" /><modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules></system.webServer>
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=icon-db01-dev;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Icon" providerName="System.Data.SqlClient" connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ItemCatalog_FL" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-fl\fld;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_MA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-ma\mad;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_MW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_NA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-na\nad;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_NC" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-nc\nct;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_NE" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-ne\net;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_PN" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_RM" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_SO" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idd-so\sod;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_SP" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-sp\spt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_SW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-sw\swt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="ItemCatalog_UK" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IRMAModel.csdl|res://*/IRMAModel.ssdl|res://*/IRMAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;persist security info=True;user id=IConInterfaceUserTes;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.allowedRoles" value="WFM\IRMA.Developers" />
    <add key="BrandNameUpdateEventConfiguredRegions" value="FL" />
    <add key="HierarchyClassDeleteEventConfiguredRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW" />
    <add key="HierarchyClassAddEventConfiguredRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW" />
    <add key="HierarchyClassUpdateEventConfiguredRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW" />
    <add key="HierarchyClassRefreshEventConfiguredRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW" />
    <add key="TaxUpdateEventConfiguredRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW" />
    <add key="UomQueryCacheExpirationInMinutes" value="480" />
    <add key="HierarchyClassQueryCacheExpirationInMinutes" value="15" />
    <add key="GetBrandsQueryCacheExpirationInMinutes" value="0" />
    <add key="CertificationAgencyQueryCacheExpirationInMinutes" value="15" />
    <add key="GetAttributesQueryCacheExpirationInMinutes" value="0" />
    <add key="ContactViewEnabled" value="true" />

    <!-- Enable Bulk Contact Upload -->
    <add key="EnableBulkContactUpload" value="true" />
	  
    <!-- Specifies the specific number of rows that can be added in Bulk New Item Adds -->
    <add key="BulkNewItemMaxRowsLimit" value="20000" />
    <add key="BulkScanCodeSearchLimit" value="3000" />
    <add key="IconContextCommandTimeout" value="90" />
	  
    <!-- Allows larger JSON posts from pages (default=1000). -->
    <add key="aspnet:MaxJsonDeserializerMembers" value="100000" />
    <add key="OrchardLinkForIcon" value="https://wfmprod.service-now.com/wfm?id=sc_issues_item&amp;sys_id=3d43a1a637f40300b0e7b15ec3990e36" />

    <!-- ESB error notification settings -->
    <add key="SendEmails" value="true" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />
    <add key="NumberOfListenerThreads" value="1" />
	  
    <!-- Mammoth settings -->
    <add key="EnableMammothEventGeneration" value="false" />
    <add key="AdminAccess" value="WFM\IRMA.Applications,WFM\IRMA.Developers,WFM\SCAD" />
    <add key="WriteAccess" value="WFM\WFM Icon Users,WFM\IRMA.Developers,WFM\IRMA.Applications,WFM\glasgowt" />
    <add key="ReadAccess" value="WFM\WFM Icon Users,WFM\IRMA.Developers,WFM\IRMA.Applications,WFM\glasgowt" />

    <add key="databaseRetryCount" value="3" />
    
    <!-- Turn off Icon management features for Infor rollout -->
    <add key="EnableLocaleEventGenerationForVenue" value="true" />
    
    <!-- GenerateESBMessage-->
    <add key="EnableManufacturerHierarchyMessages" value="true" />
    
	  
    <!-- Export Item settings -->
    <add key="maxNumberOfItemsRecordToBeExported" value="50000" />
    <add key="exportItemTimeOutInSeconds" value="300" />

  <add key="elmah.mvc.disableHandler" value="false" /><add key="elmah.mvc.disableHandleErrorFilter" value="false" /><add key="elmah.mvc.requiresAuthentication" value="false" /><add key="elmah.mvc.IgnoreDefaultRoute" value="false" /><add key="elmah.mvc.allowedRoles" value="*" /><add key="elmah.mvc.allowedUsers" value="*" /><add key="elmah.mvc.route" value="elmah" /><add key="elmah.mvc.UserAuthCaseSensitive" value="true" /></appSettings>
  <esbConnections>
    <connections>
      <esbConnection name="producer" serverUrl="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293" jmsUsername="ewicIconUser" jmsPassword="ewicIconUser" jndiUsername="jndiEwicIconUser" jndiPassword="jndiEwicIconUser" connectionFactoryName="EwicQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.PointOfSaleMgmt.NonSequencedRequest.Queue.V2" sessionMode="ClientAcknowledge" certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="TST-ESB-EMS-1.wfm.pvt" reconnectDelay="30000" />
    </connections>
  </esbConnections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <machineKey decryptionKey="BEE2CAE67F3A6B08A9CB0F729DF0BD282417C4B178CEF044" validationKey="753D9E2F16068FC5479C0153F67127634FEB2E3E4DC124F27A0EE8A2E65B93961AAF1B82B8DD6154C1760257402E59789297EF4F44A5FE27FAC5AC66462017FB" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5" executionTimeout="240" maxRequestLength="20480" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="Off" />
    
  <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules></system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TIBCO.EMS" publicKeyToken="5B83DB8FF05C64BA" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.840.14" newVersion="1.0.840.14" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TIBCO.EMS" publicKeyToken="5b83db8ff05c64ba" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.840.14" newVersion="1.0.840.14" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Icon" applicationName="Icon" />
  </elmah>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="dbLogIconWeb" xsi:type="Database" connectionString="data source=icon-db01-dev;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="1" />
        <parameter name="@UserName" layout="${identity:authType=false:isAuthenticated=false}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${callsite}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
    <rules>
      <logger name="Icon.Logging.NLogLoggerSingleton" minlevel="Debug" writeTo="dbLogIconWeb" final="true" />
    </rules>
  </nlog>
</configuration>