<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServerUrl" value="ssl://DEV-ESB-EMS-1.wfm.pvt:7233" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TargetHostName" value="DEV-ESB-EMS-1.wfm.pvt" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sender" value="KitBuilder-Dev@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Recipients" value="irma.developers@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CertificateName" value="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>