<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServerUrl" value="ssl://cerd1616.wfm.pvt:7233" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TargetHostName" value="cerd1616.wfm.pvt" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sender" value="KitBuilder-Dev@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Recipients" value="irma.developers@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CertificateName" value="E=suchetha.aleti@wholefoods.com, CN=cerd1616.wfm.pvt, OU=InfraESBAdmins@wholefoods.com, O=&quot;Whole Foods Market &quot;, L=Austin, S=TX, C=US" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <!--<nlog>
    <targets xdt:Transform="Replace">
      <target name="dbLogKitBuilder" type="Database" connectionString="Data Source=KitBuilder-DB01-DEV\KitBuilder;Initial Catalog=KitBuilder_Dev;Integrated Security=SSPI" commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
        <parameter name="@AppId" layout="6" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
      </target>
    </targets>
    <rules xdt:Transform="Replace">
      <logger name="*" minlevel="Debug" writeTo="dbLogKitBuilder" final="true" />
    </rules>
  </nlog>-->
</configuration>