<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Icon" connectionString="data source=localhost;initial catalog=Icon;integrated security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="IntegrationKey" value="6bd7fd74067e4bb99557150c517b751d" />
    <add key="SendPagerDutyNotifications" value="true" />
    <add key="PagerDutyUri" value="https://events.pagerduty.com/generic/2010-04-15/create_event.json" />
    <add key="Environment" value="TEST" />
    <add key="PosPushTimeSpan_FL" value="60" />
    <add key="PosPushTimeSpan_MA" value="90" />
    <add key="PosPushTimeSpan_MW" value="120" />
    <add key="PosPushTimeSpan_NA" value="120" />
    <add key="PosPushTimeSpan_NC" value="120" />
    <add key="PosPushTimeSpan_NE" value="90" />
    <add key="PosPushTimeSpan_PN" value="120" />
    <add key="PosPushTimeSpan_RM" value="90" />
    <add key="PosPushTimeSpan_SO" value="60" />
    <add key="PosPushTimeSpan_SP" value="180" />
    <add key="PosPushTimeSpan_SW" value="90" />
    <add key="PosPushTimeSpan_UK" value="30" />
    <add key="MonitorServiceTimer" value="10000" />
    <add key="ApiControllerMonitorTimer" value="10000" />
    <add key="PosPushJobMonitorTimer" value="10000" />
    <add key="PushControllerMonitorTimer" value="10000" />
    <add key="MammothApiControllerMonitorTimer" value="10000" />
    <add key="MammothPriceControllerMonitorTimer" value="10000" />
    <add key="MammothItemLocaleControllerMonitorTimer" value="10000" />
    <add key="GloConControllerMonitorTimer" value="10000" />
    <add key="PosPushStartTimeMonitorTimer" value="10000" />
    <add key="DvoBulkImportJobMonitorTimer" value="10000" />
    <!--POS Push start times by region Central Time Zone-->
    <add key="PosPushStartTime_FL" value="00:10:00" />
    <add key="PosPushStartTime_MA" value="00:10:00" />
    <add key="PosPushStartTime_MW" value="00:20:00" />
    <add key="PosPushStartTime_NA" value="00:40:00" />
    <add key="PosPushStartTime_NC" value="00:40:00" />
    <add key="PosPushStartTime_NE" value="00:10:00" />
    <add key="PosPushStartTime_PN" value="01:10:00" />
    <add key="PosPushStartTime_RM" value="02:10:00" />
    <add key="PosPushStartTime_SO" value="00:10:00" />
    <add key="PosPushStartTime_SP" value="02:10:00" />
    <add key="PosPushStartTime_SW" value="00:40:00" />
    <add key="PosPushStartTime_UK" value="00:01:00" />

    <add key="StoreOpenCentralTime_FL" value="06:00:00"/>
    <add key="StoreOpenCentralTime_MA" value="05:00:00"/>
    <add key="StoreOpenCentralTime_MW" value="06:00:00"/>
    <add key="StoreOpenCentralTime_NA" value="06:00:00"/>
    <add key="StoreOpenCentralTime_NC" value="08:00:00"/>
    <add key="StoreOpenCentralTime_NE" value="06:00:00"/>
    <add key="StoreOpenCentralTime_PN" value="08:00:00"/>
    <add key="StoreOpenCentralTime_RM" value="07:00:00"/>
    <add key="StoreOpenCentralTime_SO" value="06:00:00"/>
    <add key="StoreOpenCentralTime_SP" value="08:00:00"/>
    <add key="StoreOpenCentralTime_SW" value="06:00:00"/>
    <add key="StoreOpenCentralTime_UK" value="04:00:00"/>
    <add key="NumberOfMinutesBeforeStoreOpens" value="120" />
    <add key="ApiControllerMonitorRegions" value="FL,MA,MW,NA,NC,NE,PN,RM,SO,SP,SW"/>

    <!--EMAILS -->
    <add key="SendEmails" value="false" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>