/****** Object:  StoredProcedure [dbo].[SLIM_GetInStoreSpecials]    Script Date: 07/06/2007 16:06:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SLIM_GetInStoreSpecials]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SLIM_GetInStoreSpecials]
GO
/****** Object:  StoredProcedure [dbo].[SLIM_GetInStoreSpecials]    Script Date: 07/06/2007 16:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SLIM_GetInStoreSpecials]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create PROCEDURE dbo.SLIM_GetInStoreSpecials
 @requestId int
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	
	BEGIN TRAN

	SELECT	
		RequestId,
		Item_Key,
		Store_no,
		Price,
		Multiple,
		SalePrice,
		SaleMultiple,
		POSPrice,
		POSSalePrice,
		StartDate,
		EndDate,
		Status,
		RequestedBy,
		ProcessedBy,
		Comments  
	FROM SLIM_InstoreSpecials
	WHERE requestId=@requestId

	COMMIT TRAN
END
' 
END
GO

