/****** Object:  StoredProcedure [dbo].[SLIM_CreateStoreSpecial]    Script Date: 07/06/2007 16:06:44 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SLIM_CreateStoreSpecial]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SLIM_CreateStoreSpecial]
GO
/****** Object:  StoredProcedure [dbo].[SLIM_CreateStoreSpecial]    Script Date: 07/06/2007 16:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SLIM_CreateStoreSpecial]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.SLIM_CreateStoreSpecial
	@ItemKey as int,
	@Store_no as int,
	@Price as money, 
	@Multiple as int,
	@SalePrice as money, 
	@SaleMultiple as int,
	@POSPrice as money, 
	@POSSalePrice as money,
	@StartDate as smalldatetime,
	@EndDate as smalldatetime,
	@Status as int,
	@Identifier as varchar(13),
	@Item_Description as varchar(100),
	@SubTeam_Name as varchar(50),
	@RequestedBy as varchar(25),
	@RequestID as int OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	
	BEGIN TRAN

	INSERT INTO SLIM_InStoreSpecials
	(
		Item_Key,
		Store_no,
		Price,
		Multiple,
		SalePrice,
		SaleMultiple,
		POSPrice,
		POSSalePrice,
		StartDate,
		EndDate,
		Status,
		Identifier,
		Item_Description,
		SubTeam_Name,
		RequestedBy
	) 
	VALUES
	(
		@ItemKey,
		@Store_no ,
		@Price, 
		@Multiple ,
		@SalePrice , 
		@SaleMultiple ,
		@POSPrice , 
		@POSSalePrice ,
		@StartDate ,
		@EndDate ,
		@Status ,
		@Identifier ,
		@Item_Description ,
		@SubTeam_Name ,
		@RequestedBy 
	)

	set @RequestID = scope_identity()

	COMMIT TRAN
END
' 
END
GO

