SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[SLIM_ProcessStoreSpecial]    Script Date: 11/30/2009 11:01:42 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SLIM_ProcessStoreSpecial]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SLIM_ProcessStoreSpecial]
GO

CREATE PROCEDURE [dbo].[SLIM_ProcessStoreSpecial]
  @requestId int,
  @ProcessedBy varchar(25)
AS
	-- **************************************************************************
	-- Procedure: SLIM_ProcessStoreSpecial()
	--    Author: 
	--      Date: 
	--
	-- Modification History:
	-- Date			Init	Comment
	-- 2013-09-10   FA		Add transaction isolation level
	-- **************************************************************************
BEGIN
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	
	BEGIN TRAN

	Update SLIM_InstoreSpecials
	SET Status = (select statusid from slim_statustypes where status = 'InProcess'),
		ProcessedBy = @ProcessedBy
	WHERE requestId=@requestId

	COMMIT TRAN
END

GO