
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Configuration_GetValue]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Configuration_GetValue]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Configuration_GetValue]
	@ApplicationId varchar(255),
	@EnvironmentId varchar(255),
	@Key varchar(1024)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM ApplicationConfiguration
	WHERE	ApplicationId = @ApplicationId AND
			EnvironmentId = @EnvironmentId AND
			[Key] = @Key

END
GO
