/****** Object:  StoredProcedure [dbo].[GetUserID]    Script Date: 11/04/2009 14:48:11 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetUserID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetUserID]
GO
/****** Object:  StoredProcedure [dbo].[GetUserID]    Script Date: 11/04/2009 14:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetUserID]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetUserID]
@UserName varchar(255)
AS 

SELECT User_ID
FROM Users 
WHERE UserName = @UserName' 
END
GO
