
@{
    ViewBag.Title = "Ng";
}

<h2>Ng</h2>

<div class="page-section">
    <p>Ng is an Application Monitor for Icon applications. Choose an application to view its status. Depending on the application it might take a little while for the page to load.</p>
</div>

