/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetPOSDataElement]    Script Date: 05/19/2006 16:03:07 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_GetPOSDataElement]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_GetPOSDataElement]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetPOSDataElement]    Script Date: 05/19/2006 16:03:07 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE dbo.Administration_POSPush_GetPOSDataElement 
	@POSDataTypeKey int,
	@BooleanOnly bit = 0	-- flag to only return elements which evaluate to True/False
AS
-- Reads all of the POSDataElement values for the POSDataType.

BEGIN
SELECT POSDataTypeKey, DataElement, Description, IsBoolean   
FROM 
POSDataElement 
WHERE POSDataTypeKey=@POSDataTypeKey AND 
	  ISNULL(IsBoolean, 0) >= ISNULL(@BooleanOnly, 0)
ORDER BY DataElement 
END
GO


