/****** Object:  StoredProcedure [dbo].[Administration_POSPush_InsertPOSWriterFileConfig]    Script Date: 05/19/2006 16:03:33 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_InsertPOSWriterFileConfig]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_InsertPOSWriterFileConfig]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_InsertPOSWriterFileConfig]    Script Date: 05/19/2006 16:03:33 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE dbo.Administration_POSPush_InsertPOSWriterFileConfig
@POSFileWriterKey int,
@POSChangeTypeKey int,
@RowOrder int,
@ColumnOrder int,
@BitOrder tinyint,
@DataElement varchar(100),
@FieldID varchar(20),
@MaxFieldWidth int,
@TruncLeft bit,
@DefaultValue varchar(10),
@IsTaxFlag bit, 
@IsLiteral bit,
@IsPackedDecimal bit,
@IsBinaryInt bit,
@IsDecimalValue bit,
@DecimalPrecision int,
@IncludeDecimal bit,
@PadLeft bit,
@FillChar varchar(1),
@LeadingChars varchar(10),
@TrailingChars varchar(10),
@IsBoolean bit,
@BooleanTrueChar varchar(10),
@BooleanFalseChar varchar(10),
@FixedWidthField bit,
@PackLength int

AS
-- Insert a new configuration record into the POSWriterFileConfig table for the
-- POS Push process.
BEGIN
   INSERT INTO POSWriterFileConfig (POSFileWriterKey, POSChangeTypeKey, RowOrder, ColumnOrder, BitOrder, 
   				DataElement, FieldID, MaxFieldWidth, TruncLeft, DefaultValue, IsBinaryInt, 
				IsTaxFlag, IsLiteral, IsPackedDecimal, IsDecimalValue, DecimalPrecision,
				IncludeDecimal, PadLeft, FillChar, LeadingChars, TrailingChars,
				IsBoolean, BooleanTrueChar, BooleanFalseChar, FixedWidthField, PackLength) 
   VALUES (@POSFileWriterKey, @POSChangeTypeKey, @RowOrder, @ColumnOrder, @BitOrder, 
   		@DataElement, @FieldID, @MaxFieldWidth, @TruncLeft, @DefaultValue, @IsBinaryInt,
		@IsTaxFlag, @IsLiteral, @IsPackedDecimal, @IsDecimalValue, @DecimalPrecision, @IncludeDecimal,
		@PadLeft, @FillChar, @LeadingChars, @TrailingChars,
		@IsBoolean, @BooleanTrueChar, @BooleanFalseChar, @FixedWidthField, @PackLength)
END

GO

