/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetPOSWriterFileConfigRowCount]    Script Date: 05/19/2006 16:03:13 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[Administration_POSPush_GetPOSWriterFileConfigRowCount]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[Administration_POSPush_GetPOSWriterFileConfigRowCount]
GO

/****** Object:  StoredProcedure [dbo].[Administration_POSPush_GetPOSWriterFileConfigRowCount]    Script Date: 05/19/2006 16:03:13 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.Administration_POSPush_GetPOSWriterFileConfigRowCount
    @FileWriterKey int,
    @ChangeTypeKey int 
AS
-- Returns  the number of rows configured in the POSWriterFileConfig details for a 
-- writer, by change type.

BEGIN
select max(roworder) as MaxRow
from 
POSWriterFileConfig   
where 
POSFileWriterKey = @FileWriterKey and
POSChangeTypeKey = @ChangeTypeKey 
END
GO


