<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRMALib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IRMALib.Properties.Settings.ItemCatalog_TestConnectionString"
            connectionString="Data Source=idt-pn\pnt;Initial Catalog=ItemCatalog_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WholeFoods.Common.IRMALib.Properties.Settings.ItemCatalog_TestConnectionString"
            connectionString="Data Source=idt-pn\pnt;Initial Catalog=ItemCatalog_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IRMALib.Properties.Settings.ItemCatalog_TestConnectionString1"
            connectionString="Data Source=idt-mw\mwt;Initial Catalog=ItemCatalog_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <IRMALib.Properties.Settings>
            <setting name="Derp" serializeAs="String">
                <value>Derp</value>
            </setting>
        </IRMALib.Properties.Settings>
    </userSettings>
</configuration>