<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ServerUrl" value="ssl://cerd1616.wfm.pvt:7233"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JmsUsername" value="kitUser"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JmsPassword" value="kitUser"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JndiUsername" value="jndiKitUser"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JndiPassword" value="jndiKitUser"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ConnectionFactoryName" value="ItemQueueConnectionFactory"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="SslPassword" value="esb"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="QueueName" value="WFMESB.Enterprise.Item.KB.Queue.V2"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="SessionMode" value="ClientAcknowledge"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="CertificateName" value="E=suchetha.aleti@wholefoods.com, CN=cerd1616.wfm.pvt, OU=InfraESBAdmins@wholefoods.com, O=&quot;Whole Foods Market &quot;, L=Austin, S=TX, C=US" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="CertificateStoreName" value="Root"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="CertificateStoreLocation" value="LocalMachine"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="TargetHostName" value="cerd1616.wfm.pvt"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ReconnectDelay" value="30000"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="NumberOfListenerThreads" value="1"/>
  </appSettings>

  <connectionStrings>
    <add  xdt:Locator="Match(name)" xdt:Transform="Replace"  name="KitBuliderDb" providerName="System.Data.SqlClient" connectionString="Server=rds-kitbuilder-dev-1-0.cmzcz5v0yilm.us-east-1.rds.amazonaws.com;Database=KitBuilder;User Id=KitBuilderWebApi;Password=D4ng3R##$Z0n3;Application Name=KitBuilderAPI" />
  </connectionStrings>
  <!--<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
      <target name="dbLog" type="Database" connectionString="data source=rds-kitbuilder-dev-1-0.cmzcz5v0yilm.us-east-1.rds.amazonaws.com;initial catalog=KitBuilder;User Id=KitBuilderWebApi;Password=D4ng3R##$Z0n3;" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName)                          VALUES            (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="1" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="dbLog" final="true" />
    </rules>
  </nlog>-->
</configuration>