<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="Sender" value="KitBuilder-Prod@wholefoods.com" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="Recipients" value="SCAD.Alerts.Prd@wholefoods.com" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ServerUrl" value="ssl://PROD-ESB-EMS-1.wfm.pvt:37293,ssl://PROD-ESB-EMS-2.wfm.pvt:37293,ssl://PROD-ESB-EMS-3.wfm.pvt:37293,ssl://PROD-ESB-EMS-4.wfm.pvt:37293"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JmsUsername" value="kitUser"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JmsPassword" value="${kitUser.Password}"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JndiUsername" value="jndiKitUser"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JndiPassword" value="${jndiKitUser.Password}"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ConnectionFactoryName" value="ItemQueueConnectionFactory"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="SslPassword" value="esb"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="QueueName" value="WFMESB.Enterprise.Item.KB.Queue.V2"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="SessionMode" value="ClientAcknowledge"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="CertificateName" value="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="CertificateStoreName" value="Root"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="CertificateStoreLocation" value="LocalMachine"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="TargetHostName" value="PROD-ESB-EMS-1.wfm.pvt"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ReconnectDelay" value="30000"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="NumberOfListenerThreads" value="1"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="SendEmails" value="true" />
  </appSettings>

  <connectionStrings>
    <add  xdt:Locator="Match(name)" xdt:Transform="Replace"  name="KitBuliderDb" providerName="System.Data.SqlClient" connectionString="Server=cldshr-mssql-prd;Database=KitBuilder;User Id=KitBuilderWebApi;Password=${KitBuilderWebApi.Password.Prod};Application Name=KBItemListener" />
  </connectionStrings>

  

</configuration>