<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.172" newVersion="4.1.0.172" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- Email Settings -->
    <add key="SendEmails" value="false" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="KitBuilder-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />

    <!-- Windows Background Service Settings -->
    <add key="ServiceDisplayName" value="KitBuilder Item Listener" />
    <add key="ServiceName" value="KitBuilderItemListener" />
    <add key="ServiceDescription" value="Processes HospitalityItems from Global Product Messages to be used with KitBuilder" />

    <!-- ESB Settings -->
    <add key="ServerUrl" value="ssl://cerd1616.wfm.pvt:7233" />
    
    <add key="JmsUsername" value="kitUser" />
    <add key="JmsPassword" value="kitUser" />
    <add key="JndiUsername" value="jndiKitUser" />
    <add key="JndiPassword" value="jndiKitUser" />
    <add key="ConnectionFactoryName" value="ItemQueueConnectionFactory" />
    <add key="SslPassword" value="esb" />
    <add key="QueueName" value="WFMESB.Enterprise.Item.KB.Queue.V2" />
    <add key="SessionMode" value="ClientAcknowledge" />
    <add key="CertificateName" value="CN=CA-ROOT-I, O=Whole Foods Market" />
    <add key="CertificateStoreName" value="Root" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="TargetHostName" value="cerd1616.wfm.pvt" />
    <add key="ReconnectDelay" value="30000" />
    <add key="NumberOfListenerThreads" value="1" />

  
    
  </appSettings>
  <connectionStrings>
    <add name="KitBuliderDb" providerName="System.Data.SqlClient" connectionString="Server=rds-kitbuilder-dev-1-0.cmzcz5v0yilm.us-east-1.rds.amazonaws.com;Database=KitBuilder;User Id=KitBuilderWebApi;Password=D4ng3R##$Z0n3;Application Name=KitBuilderAPI" />
  </connectionStrings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <extensions>
      <add assembly="NLog.Extended" />
    </extensions>
    <targets>
      <target name="dbLog" type="Database" connectionStringName="KitBuliderDb">
        <commandText>
          INSERT INTO AppLog(AppId, UserName, LogDateUtc, Level, Logger, Message, MachineName)
          VALUES
          (@AppId, @UserName, @LogDateUtc, @Level, @Source, @Message, @MachineName);
        </commandText>
        <parameter name="@AppId" layout="5" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDateUtc" layout="${date:universalTime=true}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
      <target name="Console" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}" />

      <target name="file" xsi:type="File"
    layout="${longdate} ${logger} ${message}${exception:format=ToString}"
    fileName="${basedir}/logs/logfile.txt"
    maxArchiveFiles="4"
    archiveAboveSize="10240"
    archiveEvery="Day" />

    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file,dbLog,Console" final="true" />
    </rules>
  </nlog>
  <esbConnections>
    <connections>
    </connections>
  </esbConnections>


</configuration>
