<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="Sender" value="KitBuilder-Test@wholefoods.com" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ServerUrl" value="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JmsUsername" value="kitUser"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JmsPassword" value="kitUser"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JndiUsername" value="jndiKitUser"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="JndiPassword" value="jndiKitUser"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ConnectionFactoryName" value="ItemQueueConnectionFactory"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="SslPassword" value="esb"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="QueueName" value="WFMESB.Enterprise.Item.KB.Queue.V2"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="SessionMode" value="ClientAcknowledge"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="CertificateName" value="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=&quot;Austin &quot;, S=TX, C=US" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="CertificateStoreName" value="Root"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="CertificateStoreLocation" value="LocalMachine"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="TargetHostName" value="*.wfm.pvt"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ReconnectDelay" value="30000"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="NumberOfListenerThreads" value="1"/>
  </appSettings>

  <connectionStrings>
    <add  xdt:Locator="Match(name)" xdt:Transform="Replace"  name="KitBuliderDb" providerName="System.Data.SqlClient" connectionString="Server=rds-kitbuilder-test-1-0.cmzcz5v0yilm.us-east-1.rds.amazonaws.com;Database=KitBuilder;User Id=KitBuilderWebApi;Password=D4ng3R##$Z0n3;Application Name=KitBuilderAPI" />
  </connectionStrings>
</configuration>