@model Icon.Web.Mvc.Models.RefreshData.RefreshDataViewModel

@{
    ViewBag.Title = "Refresh Items";
}

<h2>Refresh Items</h2>


<div id="searchOptions" class="page-section">
        @using (Html.BeginForm("Items", "RefreshData", FormMethod.Post))
        {
            <div class="form-group">
                @Html.Label(String.Format("Scan Codes (one per line, maximum {0})", 3000), new { @class = "form-label" })
                @Html.TextAreaFor(model => Model.Identifiers, 15, 13, new { @class = "form-control form-input", @type = "number" })
                @Html.ValidationMessageFor(model => model.Identifiers, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Refresh" class="btn btn-light form-submit" id="refresh-button" />
            </div>
        }
    @if (ViewBag.Message != null)
    {
        <div>
            <p>@ViewBag.Message</p>
        </div>
    }
</div>
