<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Prime Affinity Controller Monitor Settings -->
    <add key="PrimeAffinityControllerMonitorEnabled_FL" value="true" />
    <add key="PrimeAffinityControllerMonitorEnabled_MA" value="true" />
    <add key="PrimeAffinityControllerMonitorEnabled_MW" value="true" />
    <add key="PrimeAffinityControllerMonitorEnabled_NA" value="true" />
    <add key="PrimeAffinityControllerMonitorEnabled_NC" value="true" />
    <add key="PrimeAffinityControllerMonitorEnabled_NE" value="true" />
    <add key="PrimeAffinityControllerMonitorEnabled_PN" value="true" />
    <add key="PrimeAffinityControllerMonitorEnabled_RM" value="true" />
    <add key="PrimeAffinityControllerMonitorEnabled_SO" value="true" />
    <add key="PrimeAffinityControllerMonitorEnabled_SP" value="true" />
    <add key="PrimeAffinityControllerMonitorEnabled_SW" value="true" />
    <add key="PrimeAffinityPsgCompletionUtcTime_FL" value="07:10:00" />
    <add key="PrimeAffinityPsgCompletionUtcTime_MA" value="07:11:00" />
    <add key="PrimeAffinityPsgCompletionUtcTime_MW" value="07:22:00" />
    <add key="PrimeAffinityPsgCompletionUtcTime_NA" value="07:43:00" />
    <add key="PrimeAffinityPsgCompletionUtcTime_NC" value="07:44:00" />
    <add key="PrimeAffinityPsgCompletionUtcTime_NE" value="07:15:00" />
    <add key="PrimeAffinityPsgCompletionUtcTime_PN" value="08:16:00" />
    <add key="PrimeAffinityPsgCompletionUtcTime_RM" value="09:17:00" />
    <add key="PrimeAffinityPsgCompletionUtcTime_SO" value="07:18:00" />
    <add key="PrimeAffinityPsgCompletionUtcTime_SP" value="09:19:00" />
    <add key="PrimeAffinityPsgCompletionUtcTime_SW" value="07:40:00" />
  </appSettings>
</configuration>