<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Prime Affinity Controller Monitor Settings -->
    <add key="PrimeAffinityControllerMonitorEnabled_FL" value="true"/>
    <add key="PrimeAffinityControllerMonitorEnabled_MA" value="true"/>
    <add key="PrimeAffinityControllerMonitorEnabled_MW" value="true"/>
    <add key="PrimeAffinityControllerMonitorEnabled_NA" value="true"/>
    <add key="PrimeAffinityControllerMonitorEnabled_NC" value="true"/>
    <add key="PrimeAffinityControllerMonitorEnabled_NE" value="true"/>
    <add key="PrimeAffinityControllerMonitorEnabled_PN" value="true"/>
    <add key="PrimeAffinityControllerMonitorEnabled_RM" value="true"/>
    <add key="PrimeAffinityControllerMonitorEnabled_SO" value="true"/>
    <add key="PrimeAffinityControllerMonitorEnabled_SP" value="true"/>
    <add key="PrimeAffinityControllerMonitorEnabled_SW" value="true"/>
    <add key="PrimeAffinityPsgCompletionUtcTime_FL" value="07:10:00"/>
    <add key="PrimeAffinityPsgCompletionUtcTime_MA" value="07:11:00"/>
    <add key="PrimeAffinityPsgCompletionUtcTime_MW" value="07:22:00"/>
    <add key="PrimeAffinityPsgCompletionUtcTime_NA" value="07:43:00"/>
    <add key="PrimeAffinityPsgCompletionUtcTime_NC" value="07:44:00"/>
    <add key="PrimeAffinityPsgCompletionUtcTime_NE" value="07:15:00"/>
    <add key="PrimeAffinityPsgCompletionUtcTime_PN" value="08:16:00"/>
    <add key="PrimeAffinityPsgCompletionUtcTime_RM" value="09:17:00"/>
    <add key="PrimeAffinityPsgCompletionUtcTime_SO" value="07:18:00"/>
    <add key="PrimeAffinityPsgCompletionUtcTime_SP" value="09:19:00"/>
    <add key="PrimeAffinityPsgCompletionUtcTime_SW" value="07:40:00"/>

    <!--MammothActivePriceServiceMonitor Settings-->
    <add key="ActivePriceServiceMonitorEnabled_FL" value="true"/>
    <add key="ActivePriceServiceMonitorEnabled_MA" value="true"/>
    <add key="ActivePriceServiceMonitorEnabled_MW" value="true"/>
    <add key="ActivePriceServiceMonitorEnabled_NA" value="true"/>
    <add key="ActivePriceServiceMonitorEnabled_NC" value="true"/>
    <add key="ActivePriceServiceMonitorEnabled_NE" value="true"/>
    <add key="ActivePriceServiceMonitorEnabled_PN" value="true"/>
    <add key="ActivePriceServiceMonitorEnabled_RM" value="true"/>
    <add key="ActivePriceServiceMonitorEnabled_SO" value="true"/>
    <add key="ActivePriceServiceMonitorEnabled_SP" value="true"/>
    <add key="ActivePriceServiceMonitorEnabled_SW" value="true"/>
    <add key="ActivePriceServiceCompletionUtcTime_FL" value="04:05:00"/>
    <add key="ActivePriceServiceCompletionUtcTime_MA" value="05:10:00"/>
    <add key="ActivePriceServiceCompletionUtcTime_MW" value="06:15:00"/>
    <add key="ActivePriceServiceCompletionUtcTime_NA" value="07:20:00"/>
    <add key="ActivePriceServiceCompletionUtcTime_NC" value="08:25:00"/>
    <add key="ActivePriceServiceCompletionUtcTime_NE" value="09:30:00"/>
    <add key="ActivePriceServiceCompletionUtcTime_PN" value="10:35:00"/>
    <add key="ActivePriceServiceCompletionUtcTime_RM" value="11:40:00"/>
    <add key="ActivePriceServiceCompletionUtcTime_SO" value="12:45:00"/>
    <add key="ActivePriceServiceCompletionUtcTime_SP" value="13:50:00"/>
    <add key="ActivePriceServiceCompletionUtcTime_SW" value="14:55:00"/>

    <!--MammothExpiringTprServiceMonitor Settings-->
    <add key="ExpiringTprServiceMonitorEnabled_FL" value="true"/>
    <add key="ExpiringTprServiceMonitorEnabled_MA" value="true"/>
    <add key="ExpiringTprServiceMonitorEnabled_MW" value="true"/>
    <add key="ExpiringTprServiceMonitorEnabled_NA" value="true"/>
    <add key="ExpiringTprServiceMonitorEnabled_NC" value="true"/>
    <add key="ExpiringTprServiceMonitorEnabled_NE" value="true"/>
    <add key="ExpiringTprServiceMonitorEnabled_PN" value="true"/>
    <add key="ExpiringTprServiceMonitorEnabled_RM" value="true"/>
    <add key="ExpiringTprServiceMonitorEnabled_SO" value="true"/>
    <add key="ExpiringTprServiceMonitorEnabled_SP" value="true"/>
    <add key="ExpiringTprServiceMonitorEnabled_SW" value="true"/>
    <add key="ExpiringTprServiceCompletionUtcTime_FL" value="06:12:00"/>
    <add key="ExpiringTprServiceCompletionUtcTime_MA" value="06:14:00"/>
    <add key="ExpiringTprServiceCompletionUtcTime_MW" value="06:16:00"/>
    <add key="ExpiringTprServiceCompletionUtcTime_NA" value="07:18:00"/>
    <add key="ExpiringTprServiceCompletionUtcTime_NC" value="07:20:00"/>
    <add key="ExpiringTprServiceCompletionUtcTime_NE" value="07:22:00"/>
    <add key="ExpiringTprServiceCompletionUtcTime_PN" value="08:24:00"/>
    <add key="ExpiringTprServiceCompletionUtcTime_RM" value="08:26:00"/>
    <add key="ExpiringTprServiceCompletionUtcTime_SO" value="09:28:00"/>
    <add key="ExpiringTprServiceCompletionUtcTime_SP" value="09:30:00"/>
    <add key="ExpiringTprServiceCompletionUtcTime_SW" value="10:32:00"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
