<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CEWD8526\ss2016;initial catalog=Icon2016;integrated security=true;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <!-- Regions to Process -->
    <add key="RegionsToProcess" value="MA,MW,NC,NE,PN,RM,SO,SP,SW" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- email client configuration -->
    <add key="Sender" value="Icon-2016@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Recipients" value="irma.developers@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- email configuration for the Retail UOM changes. -->
    <add key="PriceUomChangeSubject" value="Price UOM Change Alert" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PriceUomChangeRecipients" value="irma.developers@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets xdt:Transform="Replace">
      <target name="dbLogIconPushController"
              xsi:type="Database"
              connectionString="data source=CEWD8526\ss2016;initial catalog=Icon2016;Integrated Security=True;MultipleActiveResultSets=True"
              commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName) VALUES (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="6" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
  </nlog>
</configuration>