/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
body{
	background: url('../img/wild_oliva.png') #333;
}

h1
{
    text-align:center;
    font-family:'ElderkinWFMBold';
    font-weight:normal;
    margin:0;
}

p{
	/*color: #DCD8B1;*/
    margin: 1.5em 1em 0.5em;
}
ul{list-style:none; padding:0; margin:0;}

.content{
	 background-color: #F5F1DF;
    box-shadow: 0 0 40px #000000;
    color: #735017;
    margin: 0 auto;
    min-height: 1000px;
    min-width: 675px;
    position: relative;
    width: auto;
}

.wrapper{ padding: 1em 3em;}

#btn_logout
{
    position: absolute;
    right: 1em;
    top: 0.5em;
}

a{
	color:#006e2e;
}

.question{
	border-radius:10px;
	background-color:#dcd8b1;
	padding:1em;
	color: #4d3b28;
	margin:1em;
	box-shadow:2px 2px 6px #333;
}

.spacer{
	height:10px;
	margin-bottom:10px;
	border-bottom:1px solid #C1C4A9;
}

h2.title{
	font-family:'ElderkinWFMBold';
	font-weight:normal;
	font-size:2em;
	text-shadow:1px 1px 1px white;
	margin:0;
}

label{ font-weight:bold; }
.answer{ margin-bottom:1em;}

.description{
	color: #626848;
    margin-bottom: 0.5em;
}

.center{ text-align:center; margin: 0 auto; display:block;}

.comments-wrapper{
	padding:0.5em;
	background-color:white; 
	border:1px solid #AAA; 
}

.loader{
	background: none repeat scroll 0 0 white;
    border: 4px solid orange;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 6px #000000;
    left: 0;
    position: absolute;
    top: 0;
    padding: 1em;
    z-index: 99;
}

.loader h2{
    color: #EE7624;
    font-family: 'ElderkinWFMBold';
    font-size: 3.75em;
    font-weight: normal;
    border: 2px solid #FFFFFF;
    margin:0;
}


.dialog{
	background: none repeat scroll 0 0 white;
    border: 4px solid orange;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 6px #000000;
    left: 0;
    position: absolute;
    top: 0;
    padding: 1em;
    z-index: 99;
}

.dialog h2{
    color: #EE7624;
    font-family: 'ElderkinWFMBold';
    font-size: 3.75em;
    font-weight: normal;
    border: 2px solid #FFFFFF;
    margin:0;
}

#dropdownlistContenttechtm{ font-size:2em; margin-top: 11px !important; line-height:1em;}

.mask{
	background:url('../img/black_50.png');
	z-index:98;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.copyright
{
    display:block;
    clear:both;
    text-align:center;
    color:#FFF;
    font-size:0.8em;
    margin:1em 0;
}

.copyright a
{
    color:#CDFF82;
}

.copyright a:hover{ color:White;}

.page_header
{
    color: White;
    font-family: 'ElderkinWFMBold';
    font-size: 3em;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 2px #333333;
    background: #a4b357; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0YjM1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTg5MGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a4b357 0%, #75890c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a4b357 0%,#75890c 100%); /* W3C */

}

.toolbar
{
    padding:0.25em 0.5em;
    color:White;
    border-top: 1px solid #3B5724;
    border-bottom: 1px solid #5F7A47;
    background: #57723f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3NzIzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDRmMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #57723f 0%, #3d4f2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57723f), color-stop(100%,#3d4f2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #57723f 0%,#3d4f2d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57723f', endColorstr='#3d4f2d',GradientType=0 ); /* IE6-8 */
}

.toolbar a, .dialog-button
{
    border: 1px solid #0A4711;
    border-bottom: 1px solid #627D4D;
    border-right: 1px solid #627D4D;
    border-radius: 6px 6px 6px 6px;
    color: White;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.25em 0.75em;
    text-decoration: none;
    text-shadow: 1px 1px 1px #0A4711;
    text-transform: uppercase;
    background: #57723f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3NzIzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDRmMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #57723f 0%, #3d4f2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57723f), color-stop(100%,#3d4f2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #57723f 0%,#3d4f2d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57723f', endColorstr='#3d4f2d',GradientType=0 ); /* IE6-8 */
}
.tb_string
{
    font-size:0.9em;
    float:right;
}

.toolbar a:hover, .dialog-button:hover
{
    background-color:#052B09;
    background-image:none;
}

.dialog-button
{
    display:block;
    margin:1em auto 0.5em;
    text-align:center;
}

#download_link
{
    display:block;
    margin:0 auto;
    width:200px;
    text-align:center;
}

table
{
    margin:0 auto 1em;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    width:100%;
}

table thead tr th
{
    cursor:pointer;
    color:#FFF;
    font-size:0.9em;
    text-shadow:1px 1px 0px #006e2e;
    padding:0.5em;
    border:1px solid #45484d;
    background: #45484d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
}

table tbody tr table
{
    font-size:1.2em;
}

table tbody tr table thead tr th
{
    text-align:center;
    color:#FFF;
    font-size:0.9em;
    text-shadow:none;
    padding:0.5em;
    border:1px solid #45484d;
    background: #57723f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3NzIzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDRmMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #57723f 0%, #3d4f2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57723f), color-stop(100%,#3d4f2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #57723f 0%,#3d4f2d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57723f', endColorstr='#3d4f2d',GradientType=0 ); /* IE6-8 */
}

table tfoot tr td, table tbody tr table tfoot tr td
{
    background-color: #D6D6D6 !important;
    border-color: #006E2E;
    color: #666666;
    font-weight: bold;
}


table.fw_table thead tr th:first-child
{
    background-color:transparent;
    background-image:none;
    border-left:none;
    border-top:none;
    border-bottom:none;
}

table tbody tr td 
{
    padding:0.5em; 
    color: #333; 
    background-color:White; 
    text-align:center; 
    border-bottom:1px solid #AAAAAA;
    font-size:0.8em;
}

table.fw_detail_table tbody tr td:first-child, 
table.vendor_detail_table tbody tr td:first-child,
table.vendor_resolution_table tbody tr td:first-child,
table.fw_store_table tbody tr td:first-child,
table.fw_resolution_table tbody tr td:first-child
{
    border-left:1px solid #45484d;
}

table.vendor_detail_table tbody tr td
{    
    text-align:left;
}

table tbody tr td:last-child
{
    border-right: 1px solid #006e2e;
}

.clickable:hover
{
    cursor:pointer;
    background-color:#006E2E;
    color:White;
    border-radius:10px 0 0 10px;
}

table tbody tr th{ 
    background-color: transparent;
    border-bottom: medium none;
    border-right: 1px solid #006E2E;
    color: #75890C;
    font-weight: bold;
    padding: 0.5em;
    text-align: right;
}

table.vendor_detail_table thead tr th{ font-size:0.8em;}
table.vendor_detail_table tbody tr td{ font-size:0.7em;}

table tbody tr:nth-child(even) td{ background-color:#E3E3E3;}
table tbody tr:nth-child(odd) td{ background-color:#FFF;}

table tbody tr table tbody tr:nth-child(even) td{ background-color:#E3E3E3;}
table tbody tr table tbody tr:nth-child(odd) td{ background-color:#FFF;}

table tbody tr td.week-rating-best{ background-color:#BEF073 !important; border-bottom:1px solid #47C439;}
table tbody tr:nth-child(even) td.week-rating-best{ background-color:#B7E96C !important;}

table tbody tr td.week-rating-good{ background-color:#F0E773 !important; border-bottom:1px solid #C4A839;}
table tbody tr:nth-child(even) td.week-rating-good{ background-color:#E6DD69 !important;}

table tbody tr td.week-rating-meh{ background-color:#F0B173 !important; border-bottom:1px solid #C47E39;}
table tbody tr:nth-child(even) td.week-rating-meh{ background-color:#E6A769 !important;}

table tbody tr td.week-rating-bad{ background-color:#FC7F7F !important; font-weight:bold; color:#7F0000; border-bottom:1px solid #C43939;}
table tbody tr:nth-child(even) td.week-rating-bad{ background-color:#F07373 !important;}


table thead th span.sort_arrow
{
    background-image: url("../img/ui-icons_eeeeee_256x240.png");
    background-position: -128px -16px;
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 16px;
    left: 0;
    position: relative;
    top: 2px;
    width: 16px;
}

table thead th span.sort_arrow_bottom
{
    background-image: url("../img/ui-icons_eeeeee_256x240.png");
    background-position: -128px -16px;
    background-repeat: no-repeat;
    clear: both;
    display: block;
    height: 16px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 16px;
}

table thead th.headerSortDesc span.sort_arrow, 
table thead th.headerSortDesc span.sort_arrow_bottom
{
   background-position: -64px -16px;
}

table thead th.headerSortAsc span.sort_arrow, 
table thead th.headerSortAsc span.sort_arrow_bottom
{
     background-position: 0 -16px;
}

img.wfm_logo
{
    margin-right: 0.25em;
    position: relative;
    top: -0.15em;
}

.chart{ margin: 0 auto;}
.chart table { border:none;}
.chart table tbody tr, .chart table tbody tr td{ border:none;}
.chart table tbody tr:nth-child(2n) td{ background-color:white;}
.chart table tbody tr td{ padding:0;}

.chart_wrapper
{
    display: inline-block;
    vertical-align: top;
}

.resolution_totals
{
    display: inline-block;
    margin-left: 1em;
    vertical-align: top;
    width: 400px;
}

.detail_button
{
    border-radius: 20px 20px 20px 20px;
    display: inline-block;
    font-size: 0.8em;
    font-weight: normal;
    margin: 0 0.1em 0.5em;
    padding: 0.25em 1em;
    text-decoration: none;
    text-shadow:0 1px 0 #000;
    cursor:pointer;
    
    border: 1px solid #0A4711;
    color:White;
    background: #57723f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3NzIzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDRmMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #57723f 0%, #3d4f2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57723f), color-stop(100%,#3d4f2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #57723f 0%,#3d4f2d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #57723f 0%,#3d4f2d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57723f', endColorstr='#3d4f2d',GradientType=0 ); /* IE6-8 */
    background-color: #57723f;
}

.detail_button:hover
{
    background: #a4b357; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0YjM1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTg5MGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #a4b357 0%, #75890c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a4b357 0%,#75890c 100%); /* W3C */
}

.detail_button.selected, .detail_button.selected:hover
{
    background-color: #052B09;
    background-image:none;
    cursor:default;
}

.warning_button
{
    border-radius: 20px 20px 20px 20px;
    display: inline-block;
    font-size: 0.8em;
    font-weight: normal;
    margin: 0 0.1em 0.5em;
    padding: 0.25em 1em;
    text-decoration: none;
    text-shadow:0 1px 0 #000;
    cursor:pointer;
    
    border: 1px solid #460B0B;
    color:White;
    background: #9b4141;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliNDE0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZjNiM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #9b4141 0%, #7f3b3b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b4141), color-stop(100%,#7f3b3b));
    background: -webkit-linear-gradient(top, #9b4141 0%,#7f3b3b 100%);
    background: -o-linear-gradient(top, #9b4141 0%,#7f3b3b 100%);
    background: -ms-linear-gradient(top, #9b4141 0%,#7f3b3b 100%);
    background: linear-gradient(to bottom, #9b4141 0%,#7f3b3b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b4141', endColorstr='#7f3b3b',GradientType=0 );
    background-color: #9b4141;
}

.warning_button:hover
{
    background: #d65959;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMjUzNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #d65959 0%, #b25353 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d65959), color-stop(100%,#b25353));
    background: -webkit-linear-gradient(top, #d65959 0%,#b25353 100%);
    background: -o-linear-gradient(top, #d65959 0%,#b25353 100%);
    background: -ms-linear-gradient(top, #d65959 0%,#b25353 100%);
    background: linear-gradient(to bottom, #d65959 0%,#b25353 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d65959', endColorstr='#b25353',GradientType=0 );
 background-color: #d65959;
}

.warning_button.selected, .warning_button.selected:hover
{
    background-color: #052B09;
    background-image:none;
    cursor:default;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

table.fp_detail a, 
table.fw_detail_table a, 
table.fw_store_table a, 
table.fw_resolution_table a, 
table.vendor_detail_table a,
table.fw_table a
{
    font-size: 2em;
    font-weight: normal;
    text-decoration:none;
}

a.fp_detail_btn
{
    color: #e28400;
    text-shadow: 0 1px 0 #FFF;
}

a.fp_detail_btn:hover
{
     color:#735017;
}

table.fp_detail a:hover, 
table.fw_detail_table a:hover, 
table.fw_store_table a:hover, 
table.fw_resolution_table a:hover, 
table.vendor_detail_table a:hover
{
    color:#735017;
}

a.nav_button
{
    display: block;
    font-size: 1em !important;
    color:White !important;
    margin: 0 0.25em;
    padding: 0.25em;
    width: 2em;
}

a.nav_button:hover
{
    background-color:#000;    
}

a.nav_button.disabled
{
     background: none repeat scroll 0 0 transparent !important;
    color: #646464 !important;
    text-shadow: none;
}

span.nav_label
{
    line-height: 2em;
    text-align: center;
    color:#FFFFFF;
}

th.navbar
{
    background: none repeat scroll 0 0 #4B4B4B;
    font-size: 0.9em;
    padding: 0;
}

.crumb_trail
{
    background:#666;
    display:block;
    width:100%;
    border-bottom: 1px solid #B8B0A0;
    box-shadow: 0 1px 2px #000000;
    background: #544a34;
    position:relative;
}

#poman
{
    display: block;
    margin: 0 auto;
    position: relative;
}

em
{
    color:#333;
    font-size:0.7em;
    text-align:right;
    display:block;
}

a.crumb
{
    color:#B8B0A0;
    text-decoration:none;
    text-shadow:1px 1px 0 #333;
    border-right:1px solid #AAA;
    position: relative; 
    margin-right: 1em;
    padding: 3px 6px;
    font-size:0.8em;
    display:inline-block;
    border-color:#AAA;
}

a.crumb:hover
{
    color:#FFFFFF;
}

a.crumb:after, 
a.crumb:before { left: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
a.crumb:after { border-color: rgba(51, 51, 51, 0); border-left-color: #544a34; border-width: 12px; top: 50%; margin-top: -12px; } 
a.crumb:before { border-color: rgba(170, 170, 170, 0); border-left-color: #B8B0A0; border-width: 13px; top: 50%; margin-top: -13px; }

.top_content
{
    position:relative;
    display:block;
    z-index:2;
}

:focus {outline:none !important;}
::-moz-focus-inner {border:0;}

a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

table thead tr.subheader th
{
    background:#666;
    text-shadow:0 1px 0 #333;
    font-weight:bold;
    border:none;
}

table thead tr.subheader th:nth-child(1), table thead tr.subheader td:nth-child(1){ background:transparent;}

#login_form input[type="text"], #login_form input[type="password"]
{
    border:1px solid #AAA;
    padding:0.5em;
    color:#333;
}

#login_form input[type="text"]:focus, 
#login_form input[type="password"]:focus
{
    box-shadow:0 0 6px #A4B357;
    
}

.message p
{
    font-size:2em;
    color:#FF6363;
    text-align:center;
    padding:0.25em 0;
    margin-top:1em;
    text-shadow:1px 1px 2px #000;
}

#logo
{
    display:block;
    margin:0 auto;
    z-index:3;
    position:relative;
}

#logo_background
{
    background-color: transparent;
    border-radius: 2000px 2000px 2000px 2000px;
    box-shadow: 0 0 0 #FFFFFF;
    display: block;
    height: 79px;
    left: 50%;
    margin: 0 auto 0 -150px;
    position: absolute;
    top: 22px;
    width: 79px;
    z-index: 2;
}

.compare-tables-1
{
    width:100%;
}

.compare-tables-2
{
    float:left;
    width:46%;
    margin:2%;
    font-size:0.95em;
}

.compare-tables-wrapper div.compare-tables-2:nth-child(2){ margin-left:0; }
.compare-tables-wrapper div.compare-tables-2:nth-child(3){ margin-right:0;}

.compare-tables-3
{
    width:30.666%;
    margin: 2%;
    float:left;
    font-size:0.9em;
}

.compare-tables-wrapper div.compare-tables-3:nth-child(2){ margin-left:0; }
.compare-tables-wrapper div.compare-tables-3:nth-child(4){ margin-right:0;}

.compare-tables-4
{
    width:22%;
    float:left;
    margin:2%;
    font-size:0.85em;
}

.compare-tables-wrapper div.compare-tables-4:nth-child(2){ margin-left:0; }
.compare-tables-wrapper div.compare-tables-4:nth-child(5){ margin-right:0;}

.inp-group
{
    position:relative;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.inp-group > input
{
    border: 1px solid #AAAAAA;
    border-radius: 20px 0 0 20px;
    display: inline-block;
    font-size: 16px;
    height: auto;
    left: 0;
    line-height: 16px;
    margin-left: 5px;
    margin-right: 0;
    padding: 4px 8px;
    position: relative;
    top: 0;
    width: 175px;
}

.inp-group > a
{
   border-radius: 0 20px 20px 0;
    font-size: 17px;
    height: auto;
    left: -5px;
    line-height: 17px;
    margin-left: 0;
    margin-right: 5px;
    position: relative;
    top: 0;
    _top: 1px; /* show to IE */
}

@media (max-width: 680px) {
  .compare-tables-2, .compare-tables-3, .compare-tables-4
    {
        clear: both;
        float: none;
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
      
    .content {
        margin: 0;
        min-height: 1000px;
        min-width: 100%;
        position: relative;
        width: auto;
    }
    
    .wrapper
    {
        padding:0.5em 0.5em;
    }
    
    .page_header > img
    {
        max-width:100%;
    }
    .rp-hide
    {
        display:none;
    }
}

@media (max-width: 910px) 
{
    .compare-tables-3 .rp-hide, .compare-tables-4 .rp-hide
    {
        display:none;
    }
}