<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="webServer_Dev" value="irmadevapp1" />
    <add key="webServer_Test" value="irmatestapp1" />
    <add key="webServer_QA" value="irmaqaapp1" />
    <add key="webServer_Perf" value="irmatestapp1" />
    <add key="webServer_Prd" value="irmaprdapp1" />
    <add key="appServers_Dev" value="vm-icon-dev1" />
    <add key="appServers_Test" value="vm-icon-test1,vm-icon-test2" />
    <add key="appServers_QA" value="vm-icon-qa1,vm-icon-qa2,vm-icon-qa3,vm-icon-qa4,mammoth-app01-qa" />
    <add key="appServers_Perf" value="vm-icon-test2,mammoth-app01-qa" />
    <add key="appServers_Prd" value="vm-icon-prd1,vm-icon-prd2,vm-icon-prd3,vm-icon-prd4,vm-icon-prd5,vm-icon-prd6,mammoth-app01-prd,mammoth-app02-prd" />
    <add key="mammothWebSupport_Dev" value="http://irmadevapp1/MammothWebSupport" />
    <add key="mammothWebSupport_Test" value="http://irmatestapp1/MammothWebSupport" />
    <add key="mammothWebSupport_QA" value="http://irmaqaapp1/MammothWebSupport" />
    <add key="mammothWebSupport_Perf" value="http://irmaqaapp1/MammothWebSupportPerf" />
    <add key="mammothWebSupport_Prd" value="http://irmaprdapp1/MammothWebSupport" />
    <add key="iconWeb_Dev" value="http://icon-dev/" />
    <add key="iconWeb_Test" value="http://icon-test/" />
    <add key="iconWeb_QA" value="http://icon-qa/" />
    <add key="iconWeb_Perf" value="http://icon-perf/" />
    <add key="iconWeb_Prd" value="https://icon-prd/" />
    <add key="tibcoAdminServer_Dev" value="https://cerd1668:8090" />
    <add key="tibcoAdminServer_Test" value="https://cerd1669:1809" />
    <add key="tibcoAdminServer_QA" value="https://cerd1673:28090/" />
    <add key="tibcoAdminServer_Prd" value="tibco_prd_admin?" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
