<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="Audits" type="Audit.AuditConfigSection, MammothAudit" />
    <section name="Upload" type="Audit.UploadConfigSection, MammothAudit" />
    <section name="Variables" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <Audits>
    <add name="GPMPrice" proc="dbo.AuditGPMPrice" excludeRegions="FL,MA,MW,NC,NE,PN,RM,SP,SW,UK" isActive="true" fileName="Mammoth_Price_{Region}_{Date}.txt" delimiter="|" intervalMinutes="1440" isGlobal="false" groupSize="250000" profileName="s3" />
    <add name="ItemLocale" proc="dbo.AuditItemLocale" excludeRegions="" isActive="true" fileName="Mammoth_ItemLocale_{Region}_{Date}.txt" delimiter="|" intervalMinutes="1440" isGlobal="false" groupSize="250000" profileName="s3" />
    <add name="GlobalItem" proc="dbo.AuditGlobalItem" isActive="true" fileName="Mammoth_Item_{Date}.txt" delimiter="|" intervalMinutes="1440" isGlobal="true" groupSize="250000" profileName="s3" />
  </Audits>
  <Upload>
    <add profileName="s3" isS3Bucket="true" accessKey="{S3.accessKey}" secretKey="{S3.secretKey}" bucketRegion="https://s3.us-east-1.amazonaws.com" bucketName="14447-gpm-dev" destinationDir="MammothAudit/Dev" />
    <!--<add profileName="localTemp" isS3Bucket="false" accessKey="" secretKey="" bucketRegion="" bucketName="" destinationDir="E:\MammothAudit" />-->
  </Upload>
  <Variables configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>NidghRkmlawFMgCcdmj2djWL/PHabPggUg+HmKTuaPIHJK+72qdR6flKkaYEnVygxJyf5px6o4/nCtNe/WHGLoxBeWYZ2pTW084piG6JBNJ8byid0LHVFjWxjPJa2T4qrK9ObiZYbRNAZ9CRe1nUKFKud2IqftuEC/2Hh/F8vy8=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>oQWoNzxmy4X+8R+weJffrq+8yh204YBVHM4HmD3Lvbs+IU8Aq02aGXRNF/CNZWIF75jH1VL925REyPCaCNLuIvyrB14u86hsjXBBDW735IDKg8SVgJ1v8lV6SYH8cQ8ACGZs6Ovksx3PULqfyD7EYU+o0iZqxKCqWksTzSzWXz+35zXe+fRs/REeDdmKL5P1ESN13oHMVgr4RigP7FJAc47U8D95p+TLgrht6KICR8uJJ3GZYLbi1A==</CipherValue>
      </CipherData>
    </EncryptedData>
  </Variables>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>b60ikX0zKca+7UGMfUwDllG6lZjFvdrBtrnVZzcwmiwjK5g+GIoQi7yDChCpgya4LYDkjqDUZQ5EVM4pzU8erYkjtolkCYBwVeGhaENdPzZTyMPJoOZA/wnaRFiWtpEQgx1FieTAtBarUrkDU68Nm9YhJNAYqhiPN2EXOMAD/qU=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>dTC7piFvRrHlG7Ah/eUpuKPKZIsBqKYrln+j7F7QYwN4aPH4BRdQGNMJYINKOREhuGxXoLdITDgRe9iqZ68iYeTyL6n4IweoG5hxRQ9exShjedReq6/feW/HsSCbmGBlNoKoorCuxyK8+gXYfN1jzdEIl4JJ1/D27MZ4O+Yhysjpoe8fnTjP51vv1T1jMldzmh7SjXeK0AmIr+GmFCvLb90/ygT4OFmPgDpZJv52dOslsbEBI/muihjssmbf8C8Mkf1BTZ5GCFTJ6x8yHA73ihDdMTuQawIIOHMxeds2x24=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="isEncrypted" value="true" />
    <!--DevOps only: Encryption config flag.-->
    <add key="Description" value="Extracts Mammoth Audit data to a delimited file and sends it to an s3 bucket" />
    <add key="DisplayName" value="Mammoth Audit Service" />
    <add key="ServiceName" value="MammothAuditExtract" />
    <add key="InstanceID" value="1" />
    <add key="RunIntervalInMilliseconds" value="3600000" />
    <add key="ScheduledTimeStart" value="3:30" />
    <add key="ScheduledTimeEnd" value="8:00" />
    <add key="CommandTimeout" value="3000" />
    <add key="TempDir" value="E:\\Temp\\s3Files" />
  </appSettings>
  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\Temp\nlog-internal.log">
    <targets>
      <target name="dbLogMammoth" type="Database" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI" commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
        <parameter name="@AppId" layout="25" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="dbLogMammoth" final="true" />
    </rules>
  </nlog>
</configuration>