<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--The values in ControllerEventList are in priority order.  The first event listed is the highest priority.-->
    <!--Full List: IconToIrmaValidatedNewItems,IconToIrmaItemValidation,IconToIrmaItemUpdates,IconToIrmaBrandNameUpdate,IconToIrmaTaxClassUpdate,IconToIrmaNewTaxClass,IconToIrmaNutritionDelete-->
    <add key="GlobalEvents" value="IconToIrmaValidatedNewItems,IconToIrmaItemValidation,IconToIrmaItemUpdates,IconToIrmaBrandNameUpdate,IconToIrmaNutritionUpdate,IconToIrmaNutritionAdd,IconToIrmaNutritionDelete,IconToIrmaBrandDelete,IconToIrmaNationalHierarchyUpdate,IconToIrmaNationalHierarchyDelete" />
    <add key="MaxQueueEntriesToProcess" value="1000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ControllerUserName" value="iconcontrolleruser" />
    <add key="DbContextConnectionTimeout" value="120" />
    <!--Email Settings-->
    <add key="SendEmails" value="true" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Test@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />
    <!--Service Settings-->
    <add key="ControllerInstanceId" value="1" />
    <add key="RunInterval" value="30000" />
    <add key="ServiceDescription" value="Processes Global Event Controller from IRMA to Icon." />
    <add key="ServiceDisplayName" value="Icon Global Event Controller Service" />
    <add key="ServiceName" value="GlobalEventControllerService" />
    <add key="MaintenanceDay" value="0" />
    <add key="MaintenanceStartTime" value="02:00" />
    <add key="MaintenanceEndTime" value="04:00" />
    <!--Regional Email Settings-->
    <add key="EmailSubjectEnvironment" value="Test" />
    <add key="SendUomChangeEmails_FL" value="false" />
    <add key="SendUomChangeEmails_MA" value="false" />
    <add key="SendUomChangeEmails_MW" value="false" />
    <add key="SendUomChangeEmails_NA" value="false" />
    <add key="SendUomChangeEmails_NC" value="false" />
    <add key="SendUomChangeEmails_NE" value="false" />
    <add key="SendUomChangeEmails_PN" value="false" />
    <add key="SendUomChangeEmails_RM" value="false" />
    <add key="SendUomChangeEmails_SO" value="false" />
    <add key="SendUomChangeEmails_SP" value="false" />
    <add key="SendUomChangeEmails_SW" value="false" />
    <add key="SendUomChangeEmails_UK" value="false" />
    <add key="FL_Recipients" value="irma.developers@wholefoods.com" />
    <add key="MA_Recipients" value="irma.developers@wholefoods.com" />
    <add key="MW_Recipients" value="irma.developers@wholefoods.com" />
    <add key="NA_Recipients" value="irma.developers@wholefoods.com" />
    <add key="NC_Recipients" value="irma.developers@wholefoods.com" />
    <add key="NE_Recipients" value="irma.developers@wholefoods.com" />
    <add key="PN_Recipients" value="irma.developers@wholefoods.com" />
    <add key="RM_Recipients" value="irma.developers@wholefoods.com" />
    <add key="SO_Recipients" value="irma.developers@wholefoods.com" />
    <add key="SP_Recipients" value="irma.developers@wholefoods.com" />
    <add key="SW_Recipients" value="irma.developers@wholefoods.com" />
    <add key="UK_Recipients" value="irma.developers@wholefoods.com" />
    <!-- email configuration for Brand Delete alerts -->
    <add key="BrandDeleteEmailSubject" value="Brand Delete Alert" />
    <add key="SendBrandDeleteEmails" value="true" />
    <!--Infor Settings-->
    <add key="EnableInforUpdates" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="IconContext" connectionString="metadata=res://*/IconModel.csdl|res://*/IconModel.ssdl|res://*/IconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cewd1815\SQLSHARED2012D;initial catalog=Icon;integrated security=true;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ItemCatalog_FL" providerName="System.Data.SqlClient" connectionString="data source=idd-fl\fld;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="ItemCatalog_MA" providerName="System.Data.SqlClient" connectionString="data source=idd-ma\mad;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="ItemCatalog_MW" providerName="System.Data.SqlClient" connectionString="data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="ItemCatalog_NA" providerName="System.Data.SqlClient" connectionString="data source=idd-na\nad;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="ItemCatalog_NC" providerName="System.Data.SqlClient" connectionString="data source=idt-nc\nct;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="ItemCatalog_NE" providerName="System.Data.SqlClient" connectionString="data source=idt-ne\net;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="ItemCatalog_PN" providerName="System.Data.SqlClient" connectionString="data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="ItemCatalog_RM" providerName="System.Data.SqlClient" connectionString="data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="ItemCatalog_SO" providerName="System.Data.SqlClient" connectionString="data source=idd-so\sod;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="ItemCatalog_SP" providerName="System.Data.SqlClient" connectionString="data source=idt-sp\spt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="ItemCatalog_SW" providerName="System.Data.SqlClient" connectionString="data source=idt-sw\swt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
    <add name="ItemCatalog_UK" providerName="System.Data.SqlClient" connectionString="data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI;Connection Timeout=30" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="dbLogIconGlobalController" xsi:type="Database" connectionString="data source=cewd1815\SQLSHARED2012D;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName)&#xD;&#xA;                         VALUES            (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="7" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
    <rules>
      <logger name="GlobalEventController.*" minlevel="Info" writeTo="dbLogIconGlobalController" final="true" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>