@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    string message = "MVC3 Error page: At " +
        (Model.ControllerName ?? "(unknown)") + "/" + (Model.ActionName ?? "(unknown)") +
        ", Exception Message=\"" + (Model.Exception == null ? "(unknown)" :
        "\"" + Model.Exception.Message + "\", Stack=\"" + Model.Exception.StackTrace + "\"");
    OutOfStock.MvcApplication.oosLog.Warn(message);
}

<h2>
    Sorry, an error occurred while processing your request.
</h2>
