<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="BrandClient" value="Vim.Service.Brand.HttpClient" />
    <!-- HTTP Client Info. -->
    <add key="VimBaseAddress" value="http://cewd4506:8080/api" />
    <add key="VimBrandEndPointAddress" value="VimBrand" />
    <add key="SendEmails" value="True" />
    <add key="EmailHost" value="smtp.wholefoods.com" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="" />
    <add key="EmailPassword" value="" />
    <add key="Sender" value="Icon-Dev@wholefoods.com" />
    <add key="Recipients" value="irma.developers@wholefoods.com" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="dbLogVimService" xsi:type="Database" connectionString="data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=True;MultipleActiveResultSets=True" commandText="INSERT INTO app.VimMessageHistory(Level, Action, Server, InsertDate, Context, Error, ErrorDetails) VALUES (@Level, @Action, @Server, @InsertDate, @Context, @Error, @ErrorDetails);">
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Action" layout="${mdc:item=Action}" />
        <parameter name="@Server" layout="${machinename}" />
        <parameter name="@InsertDate" layout="${date}" />
        <parameter name="@Context" layout="${message}" />
        <parameter name="@Error" layout="${mdc:item=error}" />
        <parameter name="@ErrorDetails" layout="${mdc:item=errordetails}" />
      </target>
      <target name="json-file" xsi:type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
        <layout xsi:type="JsonLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString}}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="Vim.Service.VimService" minlevel="Info" writeTo="dbLogVimService,json-file" final="true" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>