<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- POSPULL GLOBAL VARS -->
    <add key="POSPullTargetFile" value="C:\IRMA\Test\POSItem.dat"/>
    <add key="POSPullIBMFileName" value="eamitemr.dat"/>
    <add key="POSPullNCRFileName" value="plu.out.irma"/>

    <!-- POSPUSH GLOBAL VARS -->
    <add key="tempPOSFileDir" value="C:\projects\IRMA\Test\"/>
    <add key="MaxPOSBatchRecords" value="65535"/>
    <add key="numDaysToKeepPOSPushFiles" value="1"/>

    <!-- PLUM IMPORT AND EXPORT VARS -->
    <!-- Define the server name for scheduled jobs so that localhost can be replaced in email error messages. -->
    <add key="PLUMJobServer" value="iaq-fl"/>
    <!-- When running remotely, use the share name.  When running on the PLUM Host server, use localhost. -->
    <add key="PlumImportDir" value="\\127.0.0.1\fromirma"/>
    <add key="PlumExportDir" value="\\127.0.0.1\tostores"/>
    <!-- <add key="PlumImportDir" value="\\iad-fl\fromirma" /> -->
    <!-- <add key="PlumExportDir" value="\\iad-fl\tostores"/> -->
    <add key="PlumExportFilename" value="hostchng.dat"/>
    <add key="PlumStoreFilename" value="hostchng.dat"/>
    <add key="PlumHostAppDir" value="E:\Plum4"/>
    <add key="PlumHostExportTimeout" value="180000"/>
    <add key="PlumHostImportTimeout" value="120000"/>

    <!-- TLOG VARS -->
    <add key="TlogBasePath" value="\\flrco-srv1\tlog\"/>
    <add key="RequiredFiles" value="*DWTENDER*,*DWITEM*"/>

    <!-- ERROR NOTIFICATION (separate recipients with a ; ) -->
    <add key="region" value="FL"/>
    <add key="primaryErrorNotification" value="tricia.zingone@wholefoods.com;martin.lux@wholefoods.com"/>
    <add key="secondaryErrorNotification" value="ruth.chapman@wholefoods.com;lisa.necker@wholefoods.com;amanda.black@wholefoods.com"/>
    <add key="errorNotificationFrom" value="amanda.black@wholefoods.com"/>
    <add key="errorSubject" value="FL Test - IRMA System Error"/>

    <!-- Flag set to true if the database connection strings are encrypted -->
    <add key="encryptedConnectionStrings" value="False"/>
  </appSettings>
  
  <connectionStrings>
    <!-- DATABASE CONNECTIONS -->
    <add name="ItemCatalog" providerName="System.Data.SqlClient" connectionString="Data Source=idd-fl;Initial Catalog=ItemCatalog_test;User Id=IRMAAdmin;Password=S@nfordnS0n;"/>
  </connectionStrings>
  
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
    <trace autoflush="true" indentsize="3"/>
    <switches>
      <!-- this switch controls Trace messages for IRMA.POSPush.* -->
      <add name="POSPushSwitch" value="4"/>
      <!-- this switch controls general Trace messages for the application. -->
      <add name="IRMASwitch" value="4"/>
    </switches>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <!-- use for production -->
      <smtp deliveryMethod="Network">
        <network host="smtp.wholefoods.com"/>
      </smtp>
      <!-- use for development -->
      <!--<smtp from ="amanda.black@wholefoods.com"  deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\projects\IRMA" />
      </smtp> -->
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
