<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <esbConnections>
    <connections>
      <esbConnection name="esb" serverUrl="ssl://cerd1616.wfm.pvt:7233" jmsUsername="iconUser" jmsPassword="ouVgOD5ld5V6" jndiUsername="jndiIconUser" jndiPassword="jndiIconUser" connectionFactoryName="ItemQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.Retail.ItemMgmt.Item.Queue.V2" sessionMode="ClientAcknowledge" certificateName="CN=CA-ROOT-I, O=Whole Foods Market" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1616.wfm.pvt" />
    </connections>
  </esbConnections>
  <connectionStrings>
    <add name="Icon" connectionString="data source=cewd1815\SQLSHARED2012D;initial catalog=IconDev;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
    <add name="Mammoth" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionTimeoutSeconds" value="7200" />
    <add key="Region" value="SO" />
    <add key="NonReceivingSysName" value="Slaw,Mammoth,Spice,ESL,1Plum,Infor" />
    <add key="TransactionType" value="Item/Locale" />
    <!-- Specify 0 for MaxNumberOfRows to return all rows. -->
    <add key="MaxNumberOfRows" value="0" />
    <add key="SaveMessages" value="true" />
    <add key="SaveMessagesDirectory" value="Messages" />
    <!-- Specify false if testing and only want to save messages, not transmit with ESB-->
    <add key="SendMessagesToEsb" value="false" />
    <!-- Specify how many rows to include in each ESB message (usually 100)-->
    <add key="numberOfRecordsPerESBMessage" value="100" />
    <!-- After staging, how many rows will be pulled to the client and processed in each batch. Affects client side memory usage.-->
    <add key="clientSideProcessGroupCount" value="5000" />
    <add key="threadCount" value="4" />
  </appSettings>
  <nlog>
    <targets>
      <target name="console" type="Console" layout="${message}" />
      <target name="file" type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/${shortdate}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console,file" />
    </rules>
  </nlog>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>