<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>

	<appSettings>
		<add key="ReprintTagsFileName" value="HXtags"/>

		<add key="FileNotFoundOne" value="No such file or directory"/>
		<add key="FileNotFoundTwo" value="(550) File unavailable"/>
		<add key="FileNotFoundThree" value="(500) File "/>
		<add key="FileNotFoundFour" value="The system cannot find the file specified"/>

		<add key="RemoteBasePath" value="\\localhost\IRMA$\"/>
		<add key="LocalBasePath" value="\\localhost\IRMA$\"/>

		<add key="ImportFilePath" value="ReprintShelfTagsService\"/>
		<add key="ArchivePath" value="ReprintShelfTagsService\AutoArchive\"/>
		<add key="ErrorPath" value="ReprintShelfTagsService\Error\"/>

		<!-- Service timer interval value (in minutes) -->
		<add key="TimerInterval" value="2"/>

		<add key="DeleteSourceFile" value="True"/>
		<add key="FileDelimiter" value="|"/>

		<add key="EmailSMTPServer" value="smtp.wholefoods.com"/>

		<!-- e-mail addresses are in the format "address@email.com" OR "Display Name [address@email.com]" -->
		<add key="EmailErrorToAddress" value="tim.pope@wholefoods.com"/>
		<add key="EmailToAddress" value="tim.pope@wholefoods.com"/>
		<!--<add key="EmailErrorToAddress" value="na.irma.errors@wholefoods.com; ne.irma.errors@wholefoods.com"/>
		<add key="EmailToAddress" value="na.irma.alerts@wholefoods.com; ne.irma.alerts@wholefoods.com"/>-->
		<add key="EmailFromAddress" value="ReprintShelfTags %DBSERVER% [ReprintShelfTags@wholefoods.com]"/>
		<add key="EmailReplyTo" value="IRMA.Technical.Support@wholefoods.com"/>

		<!-- Flag set to true if the user interface should also e-mail output log -->
		<add key="EmailWindowsAppOutput" value="True"/>
		<!-- Flag set to true if the output message should include all information; mainly used when debugging -->
		<add key="VerboseOutput" value="False"/>

		<!-- Flag set to true if the database connection strings are encrypted -->
		<add key="encryptedConnectionStrings" value="False"/>
	</appSettings>

	<connectionStrings>
		<!-- DATABASE CONNECTIONS -->
		<!-- Integrated security so the service logs in with the windows account set up for this service. -->
		<add name="ItemCatalog" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ItemCatalog_Test;Data Source=idd-na;"/>
	</connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
