<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="HierarchyName" value="Financial"/>
    <add key="NonReceivingSysName" value="Slaw,Mammoth,Spice,ESL,1Plum,Infor"/>
  </appSettings>
  <connectionStrings>
    <add name="Icon" connectionString="data source=idp-iCon\Shared3P;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
    <add name="Mammoth" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <esbConnections>
    <connections>
      <esbConnection name="esb"
                     serverUrl="ssl://cerd1619.wfm.pvt:27293,ssl://cerd1622.wfm.pvt:27293"
                     jmsUsername="iconUser"
                     jmsPassword="3E0y369%iz"
                     jndiUsername="jndiIconUser"
                     jndiPassword="jndiI8conUserdUp"
                     connectionFactoryName="ItemQueueConnectionFactory"
                     sslPassword="esb"
                     queueName="WFMESB.Commerce.Retail.HierarchyMgmt.Hierarchy.Queue.V2"
                     sessionMode="ClientAcknowledge"
                     certificateName="CN=CA-ROOT-I, O=Whole Foods Market"
                     certificateStoreName="Root"
                     certificateStoreLocation="LocalMachine"
                     targetHostName="*.wfm.pvt" />
    </connections>
  </esbConnections>
</configuration>