<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseAddress" value="http://mammoth-dev/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Sender" value="Mammoth-Dev@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RegionsToProcess" value="MA" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MaxNumberOfRowsToMark" value="500" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="ItemCatalog_FL" providerName="System.Data.EntityClient" connectionString="data source=idd-fl\fld;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_MA" providerName="System.Data.EntityClient" connectionString="data source=idd-ma\mad;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_MW" providerName="System.Data.EntityClient" connectionString="data source=idd-mw\mwd;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_NA" providerName="System.Data.EntityClient" connectionString="data source=idd-na\nad;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_NC" providerName="System.Data.EntityClient" connectionString="data source=idt-nc\nct;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_NE" providerName="System.Data.EntityClient" connectionString="data source=idt-ne\net;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_PN" providerName="System.Data.EntityClient" connectionString="data source=idt-pn\pnt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_RM" providerName="System.Data.EntityClient" connectionString="data source=idd-rm\rmd;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_SO" providerName="System.Data.EntityClient" connectionString="data source=idd-so\sod;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_SP" providerName="System.Data.EntityClient" connectionString="data source=idt-sp\spt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_SW" providerName="System.Data.EntityClient" connectionString="data source=idt-sw\swt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ItemCatalog_UK" providerName="System.Data.EntityClient" connectionString="data source=idt-uk\ukt;initial catalog=ItemCatalog_Test;Integrated Security=SSPI" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <nlog>
    <targets xdt:Transform="Replace">
      <target
              name="dbLogMammoth"
              type="Database"
              connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI"
              commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
        <parameter name="@AppId" layout="3" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
      </target>
    </targets>
  </nlog>
</configuration>