

.review-shrink-page{
    margin-top:14px;
    .shrink-buttons{
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        button{
            width:44%;
        }
        .upload-btn{
            width:94%;
        }
    }
    .ReactTable{
        .rt-thead{
            margin-right:10px;
        }
        .rt-th  {
            text-align: left;
        }
    }
    .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
        background: rgba(0,40,20,0.5);
    }    
}