<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="OOSConnectionString" connectionString="Data Source=oosdbtest;Initial Catalog=OOS;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient" />
    <add name="OOSEntities" connectionString="metadata=res://*/DataContext.OOS.csdl|res://*/DataContext.OOS.ssdl|res://*/DataContext.OOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=oosdbtest;initial catalog=OOS;integrated security=True;  multipleactiveresultsets=True;Connect Timeout=30; App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Logging" connectionString="data source=promodb-dev;initial catalog=PromotionalLogs;User Id=loggingUser;Password=loggingPassword" providerName="System.Data.SqlClient" />
    <add name="VIM" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=vim_dp)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=vim_dp)));User Id=vim_app_oos;Password=PRDzb1Nyl1ArNI3;" />
    <add name="STELLA" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=vegaprd.wfm.pvt)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=stella_dp)));User Id=stella_user_sbk;Password=st3llasbk;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UseTestData" value="false" />
    <add key="AdvanceControls" value="false" />
    <add key="InitialDelay" value="5000" />
    <add key="NormalDelay" value="5000" />
    <add key="ValidationMode" value="false" />
    <add key="NLogBasePath" value=".\" />
    <add key="HeartBeatInMinutes" value="6" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>