<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets  async="true">
    <!-- Note that a stacktrace at this point would be equvalent to the stack trace provided in an exception -->
    <!--<target name="NLogEventLog" xsi:type="EventLog" source="OutOfStock" eventId="1000"
        layout="${message}" />-->
    <target name="console" xsi:type="Console" layout="${message}"/>
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/OutOfStock.log"
        layout="${message}"
        archiveFileName="${basedir}/Logs/Archive/OutOfStock.{####}.log"
        ArchiveEvery="Month"
        archiveNumbering="Sequence" />
    <target name="json-file" xsi:type="File" fileName="${basedir}/Logs/application-logs.json" 
            archiveAboveSize="51200000" 
            maxArchiveFiles="3">
      <layout xsi:type="JsonLayout">
        <attribute name="date" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console,file,json-file" />
    
  </rules>
</nlog>