<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="wfmAwsConfigurations" type="Wfm.Aws.ConfigurationReader.WfmAwsConfigurationReader, Wfm.Aws" />
    </configSections>
    <appSettings>
        <add key="AwsRegion" value="TestAwsRegion" />
        <add key="AwsAccessKey" value="TestAwsAccessKey" />
        <add key="AwsSecretKey" value="TestAwsSecretKey" />
    </appSettings>
    <wfmAwsConfigurations>
        <s3FacadeConfigurations>
            <s3FacadeConfiguration name="s3FacadeConfiguration1" awsAccessKey="TestAwsAccessKey1" awsSecretKey="TestAwsSecretKey1" awsRegion="TestAwsRegion1" />
            <s3FacadeConfiguration name="s3FacadeConfiguration2" awsAccessKey="TestAwsAccessKey2" awsSecretKey="TestAwsSecretKey2" awsRegion="TestAwsRegion2" />
        </s3FacadeConfigurations>
        <snsFacadeConfigurations>
            <snsFacadeConfiguration name="snsFacadeConfiguration1" awsAccessKey="TestAwsAccessKey1" awsSecretKey="TestAwsSecretKey1" awsRegion="TestAwsRegion1" />
            <snsFacadeConfiguration name="snsFacadeConfiguration2" awsAccessKey="TestAwsAccessKey2" awsSecretKey="TestAwsSecretKey2" awsRegion="TestAwsRegion2" />
        </snsFacadeConfigurations>
        <sqsFacadeConfigurations>
            <sqsFacadeConfiguration name="sqsFacadeConfiguration1" awsAccessKey="TestAwsAccessKey1" awsSecretKey="TestAwsSecretKey1" awsRegion="TestAwsRegion1" />
            <sqsFacadeConfiguration name="sqsFacadeConfiguration2" awsAccessKey="TestAwsAccessKey2" awsSecretKey="TestAwsSecretKey2" awsRegion="TestAwsRegion2" />
        </sqsFacadeConfigurations>
    </wfmAwsConfigurations>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
</configuration>