<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="OffshelfUploadBoundedContextEndpoint" value="msmq://localhost/offshelf_upload_bounded_context"/>
  </appSettings>
  
</configuration>
