/* CSS Document */

#header {
    background-color: #ffffff;  /* background color */
    color: #ffffff;  /* font color */
    
}

#footer {
    background-color: #a0c63a;  /* background color */
    color: #000000;  /* font color */
}

#navbar {
	background-color: #a0c63a;  /* background color */
	/* nothing here */
}

body {
	font-size: medium; /* font */
	font-family: Tahoma, Arial, Sans-Serif;
}

h1 {
    font-weight: bold;  /* font-weight (bold, italic ...) */
}

table {
	vertical-align: middle;
}

tr {
	vertical-align: middle;
}