body {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* set word break for use in bootstrap table*/
.breakText {
  word-break: break-word;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.container-wide {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.customScrollColumn {    
    max-width: 200px;
    overflow: auto;
    white-space: nowrap;
}

.likeTableHeader {
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;
    border: 1px solid #DDD;
    padding: 5px;
}

.likeTableCell {
    text-align: center;
    border: 1px solid #DDD;
    padding: 5px;
    max-height: 32px;
}

.tableHeaderBackground {
    background-color: cornsilk;
}

#errorPanel {
    padding-left: 0;
    padding-right: 0;
}

.label-as-badge {
    border-radius: 1em;
}

.panel-with-margin {
    margin: 10px;
}

.no-right-padding {
    padding-right: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-border {
    border: 0;
}

.pagingForm {
    margin: 10px;
}

.pagingForm form {
     display: inline;
     margin: 0px;
     padding: 0px;
}

.panel form {
     display: inline;
     margin: 0px;
     padding: 0px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.full-width {
    max-width: 100%;
}

div.applicationIdentifierPanel {
     margin-bottom: 0;
     margin-left: 10px;
     margin-right: 10px;
}

div.applicationIdentifierPanelBody {
     padding-top: 6px;
     padding-bottom: 6px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.panel.panel-horizontal {
    display:table;
    width:100%;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
    padding: 0;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 10%;
    border:0;
    vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.denied_background {
    background-image: url('Images/denied.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80vh;
}

#vueElement {
    margin-bottom: 20px;
}

.draggable-div {
    padding: 20px;
    min-height: 10px;
    text-align: center;
}

.drag-item {
    border-radius: 20px;
    border: 2px solid #134E5E;
    padding: 4px;
    margin: 4px;
    background: #00ffff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #93F9B9, #71B280); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #93F9B9, #71B280); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #93F9B9, #71B280); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #93F9B9, #71B280); /* Standard syntax */
}

a.esbAppAnchor {
    color: #000;
}

span.esbAppAnchor {
    color: #000;
}

a:hover.esbAppAnchor, a:focus.esbAppAnchor {
    color: #0026ff;
    text-decoration: underline;
}

.esbEnvPanel {
    border: 4px solid #1D976C;
    border-radius: 10px;
}

.env-drag-item {
    border-radius: 20px;
    border: 2px solid #0E2058;
    padding: 4px;
    margin: 4px;
    background: #99CCFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #99CCFF, #3399FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #99CCFF, #3399FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #99CCFF, #3399FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #99CCFF, #3399FF); /* Standard syntax */
} /* 3399FF 99CCFF*/

a.appServerAnchor {
    color: #000;
}

a:hover.appServerAnchor, a:focus.appServerAnchor {
    color: #FFA07A;
    text-decoration: underline;
}

.dashboardEnvPanel {
    border: 4px solid #3366cc;
    border-radius: 10px;
}

.open > .dropdown-toggle {
    background: transparent !important;

}

.logEntryMessageText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 480px;
}

.logEntryLoggerText {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    max-width:200px;
}

tr:hover td {
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
}
