<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="MammothContext" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MAMMOTH-DB01-QA\MAMMOTH;Initial Catalog=Mammoth;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_FL" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-fl-DB-QA;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_MA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-MA-DB-QA;initial catalog=ItemCatalog;integrated security=sspi;connection timeout=30;app=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_MW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-MW-DB-QA;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_NA" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-NA-DB-QA;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_NC" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-Nc-DB-QA;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_NE" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-NE-DB-QA;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_PN" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-PN-DB-QA;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_RM" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-RM-DB-QA;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_SO" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-SO-DB-QA;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_SP" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-sp-DB-QA;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_SW" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-sw-DB-QA;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Irma_UK" providerName="System.Data.EntityClient" connectionString="metadata=res://*/IrmaModel.csdl|res://*/IrmaModel.ssdl|res://*/IrmaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRMA-UK-DB-QA;initial catalog=ItemCatalog;Integrated Security=SSPI;Connection Timeout=30;App=EntityFramework&quot;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	</connectionStrings>
	<appSettings>
		<!--Email Settings-->
		<add key="SendEmails" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<!-- Service Settings -->
		<!-- AwsAccessKey, AwsSecretKey, IRMA Region will be added after installation to servers through Azure pipeline -->
		<add key="AwsAccountId" value="385627060817" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="AwsRegion" value="us-west-2" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="IrmaRegionCode" value="MW" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
	<nlog>
		<targets xdt:Transform="Replace">
			<target
					name="dbLogMammoth"
					type="Database"
					connectionString="Data Source=MAMMOTH-DB01-QA\MAMMOTH;Initial Catalog=Mammoth;Integrated Security=SSPI"
					commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
				<parameter name="@AppId" layout="14" />
				<parameter name="@Level" layout="${level}" />
				<parameter name="@Logger" layout="${logger}" />
				<parameter name="@UserName" layout="${windows-identity}" />
				<parameter name="@MachineName" layout="${machinename}" />
				<parameter name="@LogDate" layout="${date}" />
				<parameter name="@Thread" layout="${threadid}" />
				<parameter name="@Message" layout="${message}" />
				<parameter name="@CallSite" layout="${callsite}" />
				<parameter name="@Exception" layout="${exception:format=tostring}" />
				<parameter name="@StackTrace" layout="${stacktrace}" />
			</target>
		</targets>
		<rules xdt:Transform="Replace">
			<logger name="*" minlevel="Info" writeTo="dbLogMammoth" final="true" />
		</rules>
	</nlog>
</configuration>