<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="OOSEntities_Development" connectionString="metadata=res://*/DataContext.OOS.csdl|res://*/DataContext.OOS.ssdl|res://*/DataContext.OOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OOSDbTest;initial catalog=OOS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="OOSEntities_Production" connectionString="metadata=res://*/DataContext.OOS.csdl|res://*/DataContext.OOS.ssdl|res://*/DataContext.OOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OOSDbPrd;initial catalog=OOS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="OOSConnectionString_Development" connectionString="Data Source=OOSDbTest;Initial Catalog=OOS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="OOSConnectionString_Production" connectionString="Data Source=OOSDbPrd;Initial Catalog=OOS;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Suffix" value="_Development"/>
    <!--add key="Suffix" value="_Production"/-->

    <add key="ValidationMode" value="false"/>

    <add key="VIM_SERVICE_NAME_Development" value="VIM_DQ"/>
    <add key="VIM_SERVICE_NAME_Production" value="VIM_DP"/>
    <add key="MOVEMENT_SERVICE_NAME_Development" value="STELLA_Dev"/>
    <add key="MOVEMENT_SERVICE_NAME_Production" value="STELLA_Prd"/>

    <!-- Known OOS values -->
    <add key="UnfiDataFtp_Development" value="ftp://oos_user:oos_user@npssdevftp/oos_dev/"/>
    <add key="UnfiDataFtp_Production" value="ftp://oos_user:00$youser@npssprdftp/oos_prd/"/>

    <!-- Reported OOS values -->
    <add key="UploadedBasePath_Development" value="\\oosapptest\$OOSReported\"/>
    <add key="UploadedBasePath_Production" value="\\oosappprd\$OOSReported\"/>

    <!-- Misc values -->
    <add key="NLogBasePath" value=".\"/>
    <add key="AutorunMode" value="false"/>
    <add key="RunOnTimer" value="true"/>
    <!-- 24 hour clock hh:mm -->
    <add key="RunTime" value="21:00"/>
    <!-- Sun,Mon,Tue,Wed,Thu,Fri,Sat,All -->
    <add key="RunDays" value="All"/>

    <!-- Reported OOS post import delete or move (Windows file system using back slash) -->
    <add key="ReportedOOSPostImportDelete" value="false"/>
    <add key="ReportedOOSPostImportMoveToPath" value=".\archive"/>

    <!-- Known OOS post import delete or move (FTP using forward slash) -->
    <add key="KnownOOSPostImportDelete" value="false"/>
    <add key="KnownOOSPostImportMoveToPath" value="./archive/"/>

    <!-- Reported OOS directory heirarchy is region and store abbreviations with the below prefixes -->
    <add key="RegionPrefix" value=""/>
    <add key="StorePrefix" value=""/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
