/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertSummaryElement]    Script Date: 07/22/2008 15:56:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_InsertSummaryElement]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_InsertSummaryElement]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_InsertSummaryElement]    Script Date: 07/22/2008 15:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_InsertSummaryElement]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure dbo.EInvoicing_InsertSummaryElement
	@Invoiceid int,
	@ElementName varchar(255),
	@Elementvalue varchar(255)
as
/*
#################################################################################################################################
Revision History
=================================================================================================================================
Date		DEV		TFS			Comment
05/24/2013	DN		12007		Added NOT EXISTS logics to elimate duplicate PO level charges / allowances.
#################################################################################################################################
*/
begin
		if @Elementvalue = '''' 
			set @Elementvalue = null

		IF NOT EXISTS (SELECT EInvoice_Id FROM EInvoicing_SummaryData WHERE EInvoice_Id = @Invoiceid AND ElementName = @ElementName AND ElementValue = @ElementValue)
			BEGIN
				insert into EInvoicing_SummaryData
				(
					EInvoice_Id,
					ElementName, 
					ElementValue
				)
				values
				(
					@InvoiceId,
					@ElementName,
					@Elementvalue
				)
			END
		ELSE
			BEGIN
				UPDATE EInvoicing_SummaryData SET
				ElementValue = @Elementvalue
				WHERE EInvoice_Id = @Invoiceid AND
				ElementName = @ElementName
			END
end
' 
END
GO

