/****** Object:  StoredProcedure [dbo].[EInvoicing_SetInvoiceStatus]    Script Date: 08/14/2008 10:55:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_SetInvoiceStatus]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_SetInvoiceStatus]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_SetInvoiceStatus]    Script Date: 08/14/2008 10:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_SetInvoiceStatus]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure dbo.EInvoicing_SetInvoiceStatus
	@InvoiceId int,
	@ErrorCode int,
	@Status varchar(255)
AS
/**********************************************************************************************************************************************************************************************************************************
CHANGE LOG
DEV					DATE					TASK						Description
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
DN					2013.01.11				Bug 6103					Added a condition to prevent loaded eInvoicing Header and Item data from being removed for credit invoices
**********************************************************************************************************************************************************************************************************************************/
BEGIN
	IF NOT EXISTS
		(SELECT 
			eh.EInvoice_Id
		 FROM	OrderHeader (nolock) oh	INNER JOIN EInvoicing_Invoices (nolock) ei
		 ON		oh.EInvoice_Id	= ei.EInvoice_Id
		 INNER JOIN EInvoicing_Header (nolock) eh
		 ON		ei.EInvoice_Id = eh.EInvoice_Id
		 INNER JOIN EInvoicing_Item (nolock) eii
		 ON		eh.EInvoice_Id = eii.EInvoice_Id
		 WHERE	oh.Return_Order = 1		AND
				ei.Status		IS NULL	AND
				ei.ErrorCode_Id IS NULL	AND
				ei.Einvoice_Id	= @InvoiceID)
		BEGIN

			UPDATE EInvoicing_Invoices
				Set Errorcode_Id = @ErrorCode,
				Status = @Status
			WHERE EInvoice_Id = @InvoiceId
		END
END
' 
END
GO
GRANT EXECUTE ON [dbo].[EInvoicing_SetInvoiceStatus] TO [IRMAAdminRole]
GO
