/****** Object:  StoredProcedure [dbo].[EInvoicing_CreateEInvoiceRecord]    Script Date: 07/22/2008 15:55:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_CreateEInvoiceRecord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[EInvoicing_CreateEInvoiceRecord]
GO
/****** Object:  StoredProcedure [dbo].[EInvoicing_CreateEInvoiceRecord]    Script Date: 07/22/2008 15:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EInvoicing_CreateEInvoiceRecord]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE procedure dbo.EInvoicing_CreateEInvoiceRecord
	@FileName as varchar(255),
	@FileData as xml, 
	@FileId int OUTPUT
as
begin

	insert into EInvoicing
	(
		[Filename],
		[FileData]
	)
	values
	(
		@FileName,
		@FileData
	)
end

select @FileId = Scope_IDentity()

' 
END
GO

