@model Icon.Web.Mvc.Models.PluAssignmentSearchViewModel

@{
    ViewBag.Title = "PLU Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{Html.RenderPartial("_HeaderPartial", "PLU Assignment");}

<div id="searchOptions" class="page-section">
    @{Html.RenderPartial("_PluSearchOptionsPartial");}    
</div>

<div class="page-subsection">
    @if (ViewData["CreateItemMessage"] != null)
    {
        <div id="createItemAlert" class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>@ViewData["CreateItemMessage"].ToString()</strong>
        </div>
    }
</div>

<div id="searchResults" class="page-section"></div>

@section scripts
{   
    @Scripts.Render("~/Scripts/Plu/plu-assignment-search.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}