<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add  xdt:Locator="Match(name)" xdt:Transform="Replace"  name="KitBuliderDb" providerName="System.Data.SqlClient" connectionString="Server=rds-kitbuilder-perf-1-0.cmzcz5v0yilm.us-east-1.rds.amazonaws.com;Database=KitBuilder;User Id=KitBuilderWebApi;Password=${KBWebAPI.Password.Perf};Application Name=KitBuilderPurgeService" />
  </connectionStrings>


</configuration>