<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.215" newVersion="4.2.1.215" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- Purge Service Settings -->
    <add key="MaxEntries" value="50000" />
    <add key="RunInterval" value="360000" />
    <add key="PurgeStartTime" value="0:01" />
    <add key="PurgeEndTime" value="23:59" />
    
    <!-- Windows Background Service Settings -->
    <add key="ServiceDisplayName" value="KitBuilder Data Purge Service" />
    <add key="ServiceName" value="KitBuilderPurgeService" />
    <add key="ServiceDescription" value="Purge Kit Builder data exceed the retention period defined on the PurgeTableInfo table." />
    
  </appSettings>
  <connectionStrings>
    <add name="KitBuliderDb" providerName="System.Data.SqlClient" connectionString="Server=rds-kitbuilder-test-1-0.cmzcz5v0yilm.us-east-1.rds.amazonaws.com;Database=KitBuilder;User Id=KitBuilderWebApi;Password=D4ng3R##$Z0n3;Application Name=KitBuilderPurgeService" />
  </connectionStrings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <extensions>
      <add assembly="NLog.Extended" />
    </extensions>
    <targets>
      <target name="dbLog" type="Database" connectionStringName="KitBuliderDb">
        <commandText>
          INSERT INTO App.AppLog (AppId, Level, Logger, UserName, MachineName, LogDateUtc, Thread, Message, CallSite, Exception, StackTrace)
          VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDateUtc, @Thread, @Message, @CallSite, @Exception, @StackTrace);
        </commandText>
        <parameter name="@AppId" layout="7" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@LogDateUtc" layout="${date:universalTime=true}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
      </target>
      <target name="Console" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}" />
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}${exception:format=ToString}" fileName="${basedir}/logs/logfile.txt" maxArchiveFiles="7" archiveAboveSize="10240" archiveEvery="Day" />

    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file,dbLog,Console" final="true" />
    </rules>
  </nlog>
</configuration>