@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="/Scripts/angular/angular.min.js"></script>
<script src="/Scripts/promiseTracker.js"></script>
<script src="/Scripts/angular/angular-animate.min.js"></script>
<script src="/Scripts/angular/angular-route.min.js"></script>
<script src="/Scripts/angAdmin.js"></script>


<script>
    $(function () {
        $("#selectAll").click(function (i, v) {
            $(".storeSelect").prop('checked', this.checked);
        });
    });
</script>

<style>
    #storeCounts table td {
        padding-left: 10px;
    }

    #storeDetails table thead tr td {
        font-weight: bold;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    #storeDetails table {
        width: 400px;
        font-family: monospace;
        font-size: 14px;
    }
</style>

<div class="row" id="storeUpdater" ng-app="adminApp" ng-controller="updaterCtrl" style='font-family: tahoma'>
    <h3>Store Administration</h3>

    Select a region: <select ng-model="selectedRegion" ng-options="region.Text for region in regionList"></select>

    <div id="initialCheck">
        <br />
        <div id="checkLoader" ng-show="loadingTracker.active()">
            <img alt="loading..." src="/Content/images/loading.gif" width="100" height="16" />
        </div>
    </div>

    <div ng-hide="selectedRegion == null">
        <h3>Add New Store</h3>

        <table>
            <tr><td>PSBU:</td><td><input type="text" id="newstorebu" /></td></tr>
            <tr><td>Name:</td><td><input type="text" id="newstorename" /></td></tr>
            <tr><td>Abbr:</td><td><input type="text" id="newstoreabbreviation" /></td></tr>
            <tr><td colspan="2" style="text-align: center"><input type="button" value="Add Store" ng-click="addNewStore()" /></td></tr>
            <tr><td colspan="2"><span id="AddStoreMessage"></span></td></tr>
        </table>

    </div>

    <div ng-hide="selectedRegion == null">

        <h3>Open/Close Store</h3>

        <table>
            <tr><td>PSBU:</td><td><input type="text" id="closestoreid" /></td><td>&nbsp;</td></tr>
            <tr><td colspan="3" style="text-align: center"><input type="button" value="Close Store" ng-click="closeStore()" /></td></tr>
            <tr><td colspan="3"><span id="CloseStoreMessage"></span></td></tr>
        </table>

    </div>  
    
    <div ng-hide="selectedRegion == null">

        <h3>Display/Hide Store</h3>

        <table>
            <tr><td>PSBU:</td><td><input type="text" id="displayStorePSBU" /></td><td>&nbsp;</td></tr>
            <tr><td colspan="3" style="text-align: center"><input type="button" value="Toggle Visibility" ng-click="displayHideStore()" /></td></tr>
            <tr><td colspan="3"><span id="VisibilityMessage"></span></td></tr>
        </table>

    </div>  
    
    <div ng-hide="selectedRegion == null">

        <h3>Rename Store</h3>

        <table>
            <tr><td>PSBU:</td><td><input type="text" id="renamestoreid" /></td><td>&nbsp;</td></tr>
            <tr><td>Store Name:</td><td><input type="text" id="renamestorename" /></td><td></td></tr>
            <tr><td>Store Abbr:</td><td><input type="text" id="renamestoreabbr" /></td><td></td></tr>
            <tr><td colspan="2" style="text-align: center"><input type="button" value="Rename Store" ng-click="renameStore()" /></td><td></td></tr>
            <tr><td colspan="2"><span id="RenameStoreMessage"></span></td><td></td></tr>
        </table>
    </div>

    <div>
        <br />
        <br />
        <div id="updateSidePanel">
            <br />
            <div id="storeCounts" ng-show="currentStoreCount > 0">
                <table>
                    <tr>
                        <td>Stores currently in OOS:</td>
                        <td>{{currentStoreCount}}</td>
                        <td><button ng-click="loadStoresCurrentlyInOOS()">Details</button></td>
                    </tr>
                    <tr>
                        <td>New Stores to Add: </td>
                        <td>{{newStoreCount}}</td>

                        <td><button ng-click="loadStoresToBeAdded()">Details</button></td>
                    </tr>
                    <tr>
                        <td>Stores to Update:</td>
                        <td>{{updateStoreCount}}</td>
                        <td><button ng-click="loadStoresThatNeedUpates()">Details</button></td>
                    </tr>
                </table>

            </div>

        </div>
        <div id="updatePanel" ng-show="(updateStoreCount > 0 || newStoreCount > 0) && (initialized)">
            <h4>Update List</h4>
            <p>
                Do you want to update the stores for this app?
            </p>
            <button type="button" ng-click="updateThisApp(view)">UPDATE</button>

            <div ng-show="updateMessage.length > 0">
                <h4>{{updateMessage}}</h4>
            </div>

        </div>

        <div id="storeDetails" ng-show="appData.length > 0">
            <h4>{{selectedDetailHeader}}</h4>
            <table>
                <thead>
                    <tr>
                        <td><input type="checkbox" id="selectAll" /></td>
                        <td>Store</td>
                        <td>BU</td>
                        <td>Name</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="store in appData" ng-class="{updateYes : (NeedsUpdate)}">
                        <td><input type="hidden" class="hiddendata" value="{{store}}" /><input class="storeSelect" type="checkbox" /> </td>
                        <td>{{store.StoreAbbr}}</td>
                        <td>{{store.StoreNumber}}</td>
                        <td>{{store.StoreName}}</td>
                        <td>{{store.Status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>