<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    
    <add key="FirstAttemptWaitTimeInMinute" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SecondAttemptWaitTimeInMinute" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ThirdAttemptWaitTimeInMinute" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BaseAddress" value="http://cewp6555/icon2vim/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sender" value="Icon-Prd@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SendEmails" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="Icon" providerName="System.Data.SqlClient" connectionString="data source=IDP-ICON\SHARED3P;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets xdt:Transform="Replace">
      <target name="dbLogVimLocaleController"
              type="Database"
              connectionString="data source=IDP-ICON\SHARED3P;initial catalog=Icon;Integrated Security=True;MultipleActiveResultSets=True"
              commandText="INSERT INTO app.AppLog(AppId, UserName, LogDate, Level, Logger, Message, MachineName)
                         VALUES            (@AppId, @UserName, @LogDate, @Level, @Source, @Message, @MachineName);">
        <parameter name="@AppId" layout="13" />
        <parameter name="@UserName" layout="${windows-identity}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Source" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
      </target>
    </targets>
    <rules>
      <logger name="Vim.Locale.Controller.*" minlevel="Info" writeTo="dbLogVimLocaleController" final="true" />
    </rules>
  </nlog>
</configuration>