/****** Object:  StoredProcedure [dbo].[Replenishment_TLog_UK_CreateVoidRecord]    Script Date: 09/05/2006 15:44:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Replenishment_TLog_UK_CreateVoidRecord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Replenishment_TLog_UK_CreateVoidRecord]
GO
/****** Object:  StoredProcedure [dbo].[Replenishment_TLog_UK_CreateVoidRecord]    Script Date: 09/05/2006 15:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Replenishment_TLog_UK_CreateVoidRecord]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.[Replenishment_TLog_UK_CreateVoidRecord] 

	@TimeKey smalldatetime,
	@Store_No int,
	@Register_No int, 
	@Transaction_No int,
	@Operator_No int, 
	@Sales_Value money
AS
BEGIN
	SET NOCOUNT ON;


		IF EXISTS 
		(
			SELECT TimeKey FROM TLOG_UK_Voids
			WHERE TimeKey = @TimeKey AND 
			Transaction_No = @Transaction_No AND 
			Store_No = @Store_No AND 
			Register_No = @Register_No
		)
		BEGIN
			DELETE FROM TLOG_UK_Voids
			WHERE TimeKey = @TimeKey AND 
			Transaction_No = @Transaction_No AND 
			Store_No = @Store_No AND 
			Register_No = @Register_No 
			
		END

		INSERT INTO TLOG_UK_Voids
		(
			TimeKey,
			Store_No,
			Register_No,
			Operator_No,
			Transaction_No,
			Sales_Value
		) 
		VALUES
		(
			@TimeKey, 
			@Store_No,
			@Register_No,
			@Operator_No,
			@Transaction_No,
			@Sales_Value
		)
END
' 
END
GO
