@model Icon.Web.Mvc.Models.PluRequestSearchViewModel

@using (Ajax.BeginForm("Search", "PluRequest", null, new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "searchResults",
        InsertionMode = InsertionMode.Replace,
        OnBegin = "searchButtonClick",
        OnSuccess = "displayResults",
        OnFailure = "displayModelValidation"
    }, new { @class = "begin-form" }))
{
    <fieldset>
        <legend>Search Options</legend>

        <div class="form-group">
            @Html.LabelFor(model => Model.SelectedStatusId, new { @class = "form-label" })
            @Html.DropDownListFor(model => Model.SelectedStatusId, Model.Status, new { @class = "form-control form-input" })
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-light form-submit" id="search-button" />
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-md-6 page-subsection">
            @Html.ValidationSummary(true)
        </div>
    </div>
}