<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <!-- Windows Background Service Settings -->
    <add key="ServiceDisplayName" value="Infor Price Listener"/>
    <add key="ServiceName" value="InforPriceListener"/>
    <add key="ServiceDescription" value="Processes Infor Price adds and updates to Mammoth."/>

    <!-- ESB Settings -->
    <add key="ServerUrl" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JmsUsername" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JmsPassword" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JndiUsername" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JndiPassword" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ConnectionFactoryName" value="PriceQueueConnectionFactory" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Price" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SessionMode" value="AutoAcknowledge" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CertificateName" value="CN=CA-ROOT-I, O=Whole Foods Market" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CertificateStoreName" value="Root" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CertificateStoreLocation" value="LocalMachine" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TargetHostName" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SslPassword" value="esb" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Email Settings -->
    <add key="SendEmails" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailHost" value="smtp.wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailPort" value="25" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailUsername" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailPassword" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sender" value="Infor-Gpm-Prd@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Recipients" value="irma.developers@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- Application Specific -->
    <add key="CurrencyQueryCacheExpirationInMinutes" value="1440"/>
    <add key="LocaleQueryCacheExpirationInMinutes" value="5"/>
  </appSettings>
  <connectionStrings>
    <add name="Mammoth" connectionString="Data Source=MAMMOTH-DB01-PRD\MAMMOTH;Initial Catalog=Mammoth;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <nlog
    autoReload="true"
    throwExceptions="false"
    internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
    <targets xdt:Transform="Replace">
      <target
              name="dbLogMammoth"
              type="Database"
              connectionString="Data Source=MAMMOTH-DB01-PRD\MAMMOTH;Initial Catalog=Mammoth;Integrated Security=SSPI"
              commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
        <parameter name="@AppId" layout="" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@UserName" layout="${identity:authType=false:isAuthenticated=false}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@Thread" layout="${threadid}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
        <parameter name="@StackTrace" layout="${stacktrace}" />
      </target>
    </targets>
    <rules xdt:Transform="Replace">
      <logger name="Mammoth.Logging.NLogLogger" minlevel="Info" writeTo="dbLogMammoth" final="true" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
