<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <connectionStrings>
        <add name="MammothContext" providerName="System.Data.SqlClient" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework" />
    </connectionStrings>
    <esbConnections>
        <connections>
            <esbConnection
            name="GPMNearRealTimeListenerEmsConnection"
            serverUrl="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293"
            jmsUsername="mammothUser"
            jmsPassword="J40L5dsM7DQr"
            jndiUsername="jndiMammothUser"
            jndiPassword="maMmothU$er"
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMESB.ProductDev.ItemGateway.Price.Queue.V2"
            sessionMode="ExplicitClientAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="TST-ESB-EMS-1.wfm.pvt"
            reconnectDelay="30000"
		    />
            <esbConnection
            name="GPMActivePriceListenerEmsConnection"
            serverUrl="ssl://cerd1669.wfm.pvt:17233, ssl://cerd1670.wfm.pvt:17233"
            jmsUsername="sb1_auditUser"
            jmsPassword="sb1_auditUser"
            jndiUsername=""
            jndiPassword=""
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMSB1.Mammoth.Retail.JustInTime.PricePushStarter.Queue.V1"
            sessionMode="ExplicitClientAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="cerd1669.wfm.pvt"
            reconnectDelay="30000"
		    />
            <esbConnection
            name="GPMExpiringTprListenerEmsConnection"
            serverUrl="ssl://cerd1669.wfm.pvt:17233, ssl://cerd1670.wfm.pvt:17233"
            jmsUsername="sb1_auditUser"
            jmsPassword="sb1_auditUser"
            jndiUsername=""
            jndiPassword=""
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMSB1.Mammoth.Retail.JustInTime.InactiveTprPriceStarter.Queue.V1"
            sessionMode="ExplicitClientAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="cerd1669.wfm.pvt"
            reconnectDelay="30000"
		    />
            <esbConnection
            name="GPMProcessBODProducerEmsConnection"
            serverUrl="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293"
            jmsUsername="mammothUser"
            jmsPassword="J40L5dsM7DQr"
            jndiUsername="jndiMammothUser"
            jndiPassword="maMmothU$er"
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMESB.Technical.NotificationBOD.SequenceNotification.Queue.V2"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="TST-ESB-EMS-1.wfm.pvt"
            reconnectDelay="30000"
		    />
            <esbConnection
            name="GPMConfirmBODProducerEmsConnection"
            serverUrl="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293"
            jmsUsername="mammothUser"
            jmsPassword="J40L5dsM7DQr"
            jndiUsername="jndiMammothUser"
            jndiPassword="maMmothU$er"
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMESB.Technical.ErrorBOD.Error.Queue.V2"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="TST-ESB-EMS-1.wfm.pvt"
            reconnectDelay="30000"
		    />
            <esbConnection
            name="GPMNearRealTimeProducerEmsConnection"
            serverUrl="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293"
            jmsUsername="mammothUser"
            jmsPassword="J40L5dsM7DQr"
            jndiUsername="jndiMammothUser"
            jndiPassword="maMmothU$er"
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMESB.Commerce.Retail.PriceMgmt.Price.RealTime.Queue.V2"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="TST-ESB-EMS-1.wfm.pvt"
            reconnectDelay="30000"
		    />
            <esbConnection
            name="GPMJustInTimeProducerEmsConnection"
            serverUrl="ssl://cerd1669.wfm.pvt:17233, ssl://cerd1670.wfm.pvt:17233"
            jmsUsername="sb1_auditUser"
            jmsPassword="sb1_auditUser"
            jndiUsername=""
            jndiPassword=""
            sslPassword="esb"
            queueName="WFMSB1.Mammoth.Retail.JustInTime.MammothPrice.Topic.V1"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="cerd1669.wfm.pvt"
            reconnectDelay="30000"
		    />
        </connections>
    </esbConnections>
    <appSettings>
        <!-- service configuration -->
        <add key="ApiDescription" value="GPM Price data producer" />
        <add key="ApiDisplayName" value="GPM Price" />
        <add key="ApiServiceName" value="GPMPrice" />
        <add key="ServiceType" value="NearRealTime" />
        <add key="NumberOfListenerThreads" value="1"/>
        <!-- Email Settings -->
        <add key="SendEmails" value="false"/>
        <add key="EmailHost" value="smtp.wholefoods.com"/>
        <add key="EmailPort" value="25"/>
        <add key="EmailUsername" value=""/>
        <add key="EmailPassword" value=""/>
        <add key="Sender" value="Mammoth-Dev@wholefoods.com"/>
        <add key="Recipients" value="irma.developers@wholefoods.com"/>
        <!-- ActiveMQ Settings (default - beta) -->
        <add key="ActiveMqServerUrl" value="failover:(ssl://b-30e2193f-fe4b-4212-831e-58ef6e0e2784-1.mq.us-west-2.amazonaws.com:61617,ssl://b-ebf4b796-b53d-4480-960c-caa3e8e06722-1.mq.us-west-2.amazonaws.com:61617)?randomize=true" />
        <add key="ActiveMqJmsUsername" value="wfmdatavayuactivemqv2producer" />
        <add key="ActiveMqJmsPassword" value="f16WTI8Uqbh3CCIq" />
        <add key="ActiveMqQueueName" value="WFMActiveMQ.Commerce.Retail.PriceMgmt.Price.Queue.V2" />
        <add key="ActiveMqSessionMode" value="AutoAcknowledge" />
        <add key="ActiveMqReconnectDelay" value="30000"/>
    </appSettings>
    <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
        <targets>
            <target name="dbLogMammoth" type="Database" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI" commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
                <parameter name="@AppId" layout="9" />
                <parameter name="@Level" layout="${level}" />
                <parameter name="@Logger" layout="${logger}" />
                <parameter name="@UserName" layout="${windows-identity}" />
                <parameter name="@MachineName" layout="${machinename}" />
                <parameter name="@LogDate" layout="${date}" />
                <parameter name="@Thread" layout="${threadid}" />
                <parameter name="@Message" layout="${message}" />
                <parameter name="@CallSite" layout="${callsite}" />
                <parameter name="@Exception" layout="${exception:format=tostring}" />
                <parameter name="@StackTrace" layout="${stacktrace}" />
            </target>
            <target name="json-file" type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
                <layout type="JsonLayout">
                    <attribute name="date" layout="${longdate}" />
                    <attribute name="level" layout="${level:upperCase=true}" />
                    <attribute name="message" layout="${message}" />
                    <attribute name="exception" layout="${exception:format=ToString}" />
                </layout>
            </target>
        </targets>
        <rules>
            <logger name="*" minlevel="Info" writeTo="dbLogMammoth, json-file" final="true" />
        </rules>
    </nlog>
</configuration>