<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="MammothContext" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="Data Source=MAMMOTH-DB01-PRD\MAMMOTH;Initial Catalog=Mammoth;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework" />
    </connectionStrings>
    <esbConnections>
        <connections>
            <esbConnection
                xdt:Transform="Replace"
                xdt:Locator="Match(name)"
                name="GPMNearRealTimeListenerEmsConnection"
                serverUrl="ssl://PROD-ESB-EMS-1.wfm.pvt:37293,ssl://PROD-ESB-EMS-2.wfm.pvt:37293,ssl://PROD-ESB-EMS-3.wfm.pvt:37293,ssl://PROD-ESB-EMS-4.wfm.pvt:37293"
                jmsUsername="iconUser"
                jmsPassword="${iconUser.Password}"
                jndiUsername="jndiIconUser"
                jndiPassword="${jndiIconUser.Password}"
                sslPassword="esb"
                connectionFactoryName="ItemQueueConnectionFactory"
                queueName="WFMESB.ProductDev.ItemGateway.Price.Queue.V2"
                sessionMode="ExplicitClientAcknowledge"
                certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
                certificateStoreName="Root"
                certificateStoreLocation="LocalMachine"
                targetHostName="PROD-ESB-EMS-1.wfm.pvt"
                reconnectDelay="30000"
		    />
            <esbConnection
                xdt:Transform="Replace"
                xdt:Locator="Match(name)"
            name="GPMActivePriceListenerEmsConnection"
            serverUrl="ssl://odrp1631.wfm.pvt:37233,ssl://odrp1632.wfm.pvt:37233, ssl://cerp1640.wfm.pvt:37233,ssl://cerp1641.wfm.pvt:37233"
            jmsUsername="sb1_auditUser"
            jmsPassword="${sb1_auditUser.Password}"
            jndiUsername=""
            jndiPassword=""
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMSB1.Mammoth.Retail.JustInTime.PricePushStarter.Queue.V1"
            sessionMode="ExplicitClientAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="cerp1640.wfm.pvt"
            reconnectDelay="30000"
		    />
            <esbConnection
                xdt:Transform="Replace"
                xdt:Locator="Match(name)"
            name="GPMExpiringTprListenerEmsConnection"
            serverUrl="ssl://odrp1631.wfm.pvt:37233,ssl://odrp1632.wfm.pvt:37233, ssl://cerp1640.wfm.pvt:37233,ssl://cerp1641.wfm.pvt:37233"
            jmsUsername="sb1_auditUser"
            jmsPassword="${sb1_auditUser.Password}"
            jndiUsername=""
            jndiPassword=""
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMSB1.Mammoth.Retail.JustInTime.InactiveTprPriceStarter.Queue.V1"
            sessionMode="ExplicitClientAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="cerp1640.wfm.pvt"
            reconnectDelay="30000"
		    />
            <esbConnection
                xdt:Transform="Replace"
                xdt:Locator="Match(name)"
            name="GPMProcessBODProducerEmsConnection"
            serverUrl="ssl://PROD-ESB-EMS-1.wfm.pvt:37293,ssl://PROD-ESB-EMS-2.wfm.pvt:37293,ssl://PROD-ESB-EMS-3.wfm.pvt:37293,ssl://PROD-ESB-EMS-4.wfm.pvt:37293"
            jmsUsername="iconUser"
            jmsPassword="${iconUser.Password}"
            jndiUsername="jndiIconUser"
            jndiPassword="${jndiIconUser.Password}"
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMESB.Technical.NotificationBOD.SequenceNotification.Queue.V2"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="PROD-ESB-EMS-1.wfm.pvt"
            reconnectDelay="30000"
		    />
            <esbConnection
                xdt:Transform="Replace"
                xdt:Locator="Match(name)"
            name="GPMConfirmBODProducerEmsConnection"
            serverUrl="ssl://PROD-ESB-EMS-1.wfm.pvt:37293,ssl://PROD-ESB-EMS-2.wfm.pvt:37293,ssl://PROD-ESB-EMS-3.wfm.pvt:37293,ssl://PROD-ESB-EMS-4.wfm.pvt:37293"
            jmsUsername="iconUser"
            jmsPassword="${iconUser.Password}"
            jndiUsername="jndiIconUser"
            jndiPassword="${jndiIconUser.Password}"
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMESB.Technical.ErrorBOD.Error.Queue.V2"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="PROD-ESB-EMS-1.wfm.pvt"
            reconnectDelay="30000"
		    />
            <esbConnection
                xdt:Transform="Replace"
                xdt:Locator="Match(name)"
            name="GPMNearRealTimeProducerEmsConnection"
            serverUrl="ssl://PROD-ESB-EMS-1.wfm.pvt:37293,ssl://PROD-ESB-EMS-2.wfm.pvt:37293,ssl://PROD-ESB-EMS-3.wfm.pvt:37293,ssl://PROD-ESB-EMS-4.wfm.pvt:37293"
            jmsUsername="iconUser"
            jmsPassword="${iconUser.Password}"
            jndiUsername="jndiIconUser"
            jndiPassword="${jndiIconUser.Password}"
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMESB.Commerce.Retail.PriceMgmt.Price.RealTime.Queue.V2"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="PROD-ESB-EMS-1.wfm.pvt"
            reconnectDelay="30000"
		    />
            <esbConnection
                xdt:Transform="Replace"
                xdt:Locator="Match(name)"
            name="GPMJustInTimeProducerEmsConnection"
            serverUrl="ssl://odrp1631.wfm.pvt:37233,ssl://odrp1632.wfm.pvt:37233, ssl://cerp1640.wfm.pvt:37233,ssl://cerp1641.wfm.pvt:37233"
            jmsUsername="sb1_auditUser"
            jmsPassword="${sb1_auditUser.Password}"
            jndiUsername=""
            jndiPassword=""
            sslPassword="esb"
            queueName="WFMSB1.Mammoth.Retail.JustInTime.MammothPrice.Topic.V1"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="cerp1640.wfm.pvt"
            reconnectDelay="30000"
		    />
        </connections>
    </esbConnections>
    <appSettings>
        <add key="Sender" value="Icon-qa@wholefoods.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="SendEmails" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <!-- ActiveMQ Settings (Prod) -->
        <add key="ActiveMqServerUrl" value="failover:(ssl://b-956057af-2031-4b35-b35c-52344b82aae7-1.mq.us-east-1.amazonaws.com:61617,ssl://b-896b2334-60cf-4b48-90a6-fe91ced0b6b4-1.mq.us-east-1.amazonaws.com:61617,ssl://b-bf60d142-270f-4008-8ac9-7c0156fd5174-1.mq.us-east-1.amazonaws.com:61617)?randomize=true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="ActiveMqJmsUsername" value="wfmdatavayuactivemqv2producer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="ActiveMqJmsPassword" value="${WfmDataVayuActiveMqV2Producer.Password}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="ActiveMqSessionMode" value="AutoAcknowledge" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="ActiveMqReconnectDelay" value="30000" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    </appSettings>
    <nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
        <targets xdt:Transform="Replace" async="true">
            <target name="dbLogMammoth" type="Database" connectionString="Data Source=Data Source=MAMMOTH-DB01-PRD\MAMMOTH;Initial Catalog=Mammoth;Integrated Security=SSPI" commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
                <parameter name="@AppId" layout="9" />
                <parameter name="@Level" layout="${level}" />
                <parameter name="@Logger" layout="${logger}" />
                <parameter name="@UserName" layout="${windows-identity}" />
                <parameter name="@MachineName" layout="${machinename}" />
                <parameter name="@LogDate" layout="${date}" />
                <parameter name="@Thread" layout="${threadid}" />
                <parameter name="@Message" layout="${message}" />
                <parameter name="@CallSite" layout="${callsite}" />
                <parameter name="@Exception" layout="${exception:format=tostring}" />
                <parameter name="@StackTrace" layout="${stacktrace}" />
            </target>
            <target name="json-file" type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
                <layout type="JsonLayout">
                    <attribute name="date" layout="${longdate}" />
                    <attribute name="level" layout="${level:upperCase=true}" />
                    <attribute name="message" layout="${message}" />
                    <attribute name="exception" layout="${exception:format=ToString}" />
                </layout>
            </target>
        </targets>
        <rules>
            <logger name="*" minlevel="Info" writeTo="dbLogMammoth, json-file" final="true" />
        </rules>
    </nlog>
</configuration>