<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
		<section name="wfmAwsConfigurations" type="Wfm.Aws.ConfigurationReader.WfmAwsConfigurationReader, Wfm.Aws" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="MammothContext" providerName="System.Data.SqlClient" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework" />
	</connectionStrings>
	<esbConnections>
		<connections>
			<esbConnection
            name="GPMProcessBODProducerEmsConnection"
            serverUrl="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293"
            jmsUsername="mammothUser"
            jmsPassword="J40L5dsM7DQr"
            jndiUsername="jndiMammothUser"
            jndiPassword="maMmothU$er"
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMESB.Technical.NotificationBOD.SequenceNotification.Queue.V2"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="TST-ESB-EMS-1.wfm.pvt"
            reconnectDelay="30000"
		    />
			<esbConnection
            name="GPMConfirmBODProducerEmsConnection"
            serverUrl="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293"
            jmsUsername="mammothUser"
            jmsPassword="J40L5dsM7DQr"
            jndiUsername="jndiMammothUser"
            jndiPassword="maMmothU$er"
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMESB.Technical.ErrorBOD.Error.Queue.V2"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="TST-ESB-EMS-1.wfm.pvt"
            reconnectDelay="30000"
		    />
			<esbConnection
            name="GPMNearRealTimeProducerEmsConnection"
            serverUrl="ssl://TST-ESB-EMS-1.wfm.pvt:17293,ssl://TST-ESB-EMS-2.wfm.pvt:17293"
            jmsUsername="mammothUser"
            jmsPassword="J40L5dsM7DQr"
            jndiUsername="jndiMammothUser"
            jndiPassword="maMmothU$er"
            sslPassword="esb"
            connectionFactoryName="ItemQueueConnectionFactory"
            queueName="WFMESB.Commerce.Retail.PriceMgmt.Price.RealTime.Queue.V2"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="TST-ESB-EMS-1.wfm.pvt"
            reconnectDelay="30000"
		    />
			<esbConnection
            name="GPMJustInTimeProducerEmsConnection"
            serverUrl="ssl://cerd1669.wfm.pvt:17233, ssl://cerd1670.wfm.pvt:17233"
            jmsUsername="sb1_mammothPriceUser"
            jmsPassword="sb1_mammothPriceUser"
            jndiUsername=""
            jndiPassword=""
            sslPassword="esb"
            queueName="WFMSB1.Mammoth.Retail.JustInTime.MammothPrice.Topic.V1"
            destinationType="Topic"
            sessionMode="AutoAcknowledge"
            certificateName="E=uday.bhaskar@wholefoods.com, CN=Uday Bhaskar, OU=InfraESBAdmins@wholefoods.com, O=Whole Foods Market, L=Austin, S=TX, C=US"
            certificateStoreName="Root"
            certificateStoreLocation="LocalMachine"
            targetHostName="cerd1669.wfm.pvt"
            reconnectDelay="30000"
		    />
		</connections>
	</esbConnections>
	<wfmAwsConfigurations>
		<s3FacadeConfigurations>
			<s3FacadeConfiguration name="ActivePriceListenerS3Config" awsAccessKey="${activeprice-jobscheduleruser.AccessKey}" awsSecretKey="${activeprice-jobscheduleruserSecretKey}" awsRegion="us-west-2" />
			<s3FacadeConfiguration name="ExpiringTPRListenerS3Config" awsAccessKey="${expiringtpr-jobscheduleruser.AccessKey}" awsSecretKey="${expiringtpr-jobscheduleruserSecretKey}" awsRegion="us-west-2" />
		</s3FacadeConfigurations>
		<sqsFacadeConfigurations>
			<sqsFacadeConfiguration name="ActivePriceListenerSQSConfig" awsAccessKey="${activeprice-jobscheduleruser.AccessKey}" awsSecretKey="${activeprice-jobscheduleruserSecretKey}" awsRegion="us-west-2" />
			<sqsFacadeConfiguration name="ExpiringTPRListenerSQSConfig" awsAccessKey="${expiringtpr-jobscheduleruser.AccessKey}" awsSecretKey="${expiringtpr-jobscheduleruserSecretKey}" awsRegion="us-west-2" />
		</sqsFacadeConfigurations>
		<sqsExtendedClientListenerConfigurations>
			<sqsExtendedClientListenerConfiguration name="ActivePriceListenerSQSExtendedClientConfig" sqsListenerApplicationName="ActivePriceListener" sqsListenerQueueUrl="https://sqs.us-west-2.amazonaws.com/486184129078/JobScheduler-ActivePriceServiceIncoming" />
			<sqsExtendedClientListenerConfiguration name="ExpiringTPRListenerSQSExtendedClientConfig" sqsListenerApplicationName="ExpiringTPRListener" sqsListenerQueueUrl="https://sqs.us-west-2.amazonaws.com/486184129078/JobScheduler-ExpiringTprServiceIncoming" />
		</sqsExtendedClientListenerConfigurations>
	</wfmAwsConfigurations>
	<appSettings>
		<!-- service configuration -->
		<add key="ApiDescription" value="GPM Price data producer" />
		<add key="ApiDisplayName" value="GPM Price" />
		<add key="ApiServiceName" value="GPMPrice" />
		<add key="ServiceType" value="NearRealTime" />
		<add key="MaxRedeliveryCount" value="8" />
		<add key="ActivePriceSubsetSize" value="5000" />
		<add key="ExpiringTprSubsetSize" value="1000" />
		<add key="ActivePriceBatchSize" value="100" />
		<add key="ExpiringTprBatchSize" value="100" />
		<add key="TimerProcessRunIntervalInMilliseconds" value="120000" />
		<add key="EmergencyPriceDequeueCount" value="100" />
		<!-- Email Settings -->
		<add key="SendEmails" value="false"/>
		<add key="EmailHost" value="smtp.wholefoods.com"/>
		<add key="EmailPort" value="25"/>
		<add key="EmailUsername" value=""/>
		<add key="EmailPassword" value=""/>
		<add key="Sender" value="Mammoth-Dev@wholefoods.com"/>
		<add key="Recipients" value="irma.developers@wholefoods.com"/>
		<!-- GPM Bridge Settings -->
		<add key="AwsRegion" value="us-west-2" />
		<add key="AwsAccessKey" value="InvalidAwsAccessKey" />
		<add key="AwsSecretKey" value="InvalidAwsSecretKey" />
		<add key="SQSListenerQueueUrl" value="https://sqs.us-west-2.amazonaws.com/286202936536/MammothGpmIngressQueue" />
		<add key="SQSListenerApplicationName" value="NearRealTimeMessageListener" />
		<add key="GpmConfirmBODBucket" value="mammothgpm-bridge-confirmbod-286202936536"/>
		<add key="GpmProcessBODBucket" value="mammothgpm-bridge-processbod-286202936536"/>
		<add key="GpmJustInTimeBucket" value="mammoth-gpm-just-in-time-prices-286202936536"/>
		<add key="GpmJustInTimeTopicArn" value="arn:aws:sns:us-west-2:286202936536:MammothGPMProcessTopic"/>
        <add key="DvsGpmSourceBucket" value="gpmsourcebucket-228490534830" />
	</appSettings>
	<nlog autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
		<targets>
			<target name="dbLogMammoth" type="Database" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI" commandText="INSERT INTO app.AppLog(AppId, Level, Logger, UserName, MachineName, LogDate, Thread, Message, CallSite, Exception, StackTrace) VALUES (@AppId, @Level, @Logger, @UserName, @MachineName, @LogDate, @Thread, @Message, @CallSite, @Exception, @StackTrace);">
				<parameter name="@AppId" layout="9" />
				<parameter name="@Level" layout="${level}" />
				<parameter name="@Logger" layout="${logger}" />
				<parameter name="@UserName" layout="${windows-identity}" />
				<parameter name="@MachineName" layout="${machinename}" />
				<parameter name="@LogDate" layout="${date}" />
				<parameter name="@Thread" layout="${threadid}" />
				<parameter name="@Message" layout="${message}" />
				<parameter name="@CallSite" layout="${callsite}" />
				<parameter name="@Exception" layout="${exception:format=tostring}" />
				<parameter name="@StackTrace" layout="${stacktrace}" />
			</target>
			<target name="json-file" type="File" fileName="application-logs.json" archiveAboveSize="20971520" maxArchiveFiles="3">
				<layout type="JsonLayout">
					<attribute name="date" layout="${longdate}" />
					<attribute name="level" layout="${level:upperCase=true}" />
					<attribute name="message" layout="${message}" />
					<attribute name="exception" layout="${exception:format=ToString}" />
				</layout>
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="dbLogMammoth, json-file" final="true" />
		</rules>
	</nlog>
</configuration>