<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="esbConnections" type="Icon.Esb.ConfigReader.EsbConnectionConfigReader, Icon.Esb" />
  </configSections>
  <esbConnections>
    <connections>
      <esbConnection name="Sb1EmsConnection" serverUrl="ssl://cerd1616.wfm.pvt:7233" jmsUsername="sb1_mammothPriceUser" jmsPassword="sb1_mammothPriceUser" sslPassword="esb" queueName="WFMSB1.Mammoth.Retail.JustInTime.PricePushStarter.Queue.V1" sessionMode="ClientAcknowledge" certificateName="CN=CA-ROOT-I, O=Whole Foods Market" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1616.wfm.pvt" />
      <esbConnection name="EsbEmsConnection" serverUrl="ssl://cerd1616.wfm.pvt:7233" jmsUsername="mammothUser" jmsPassword="tXt5NGpSqaEk" jndiUsername="jndiMammothUser" jndiPassword="maMmothU$er" connectionFactoryName="ItemQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Commerce.Retail.PriceMgmt.Price.RealTime.Queue.V2" sessionMode="ClientAcknowledge" certificateName="CN=CA-ROOT-I, O=Whole Foods Market" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1616.wfm.pvt" />
      <esbConnection name="EsbEmsCheckPointRequestConnection" serverUrl="ssl://cerd1616.wfm.pvt:7233" jmsUsername="mammothUser" jmsPassword="tXt5NGpSqaEk" jndiUsername="jndiMammothUser" jndiPassword="maMmothU$er" connectionFactoryName="ItemQueueConnectionFactory" sslPassword="esb" queueName="WFMESB.Technical.NotificationBOD.SequenceNotification.Queue.V2" sessionMode="ClientAcknowledge" certificateName="CN=CA-ROOT-I, O=Whole Foods Market" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1616.wfm.pvt" />
      <esbConnection name="IRMA" serverUrl="ssl://cerd1616.wfm.pvt:7233" jmsUsername="sb1_irmaPriceUser" jmsPassword="sb1_irmaPriceUser" sslPassword="esb" queueName="WFMSB1.Mammoth.Retail.JustInTimeIrma.IrmaPrice.XX.Queue.V1" sessionMode="ClientAcknowledge" certificateName="CN=CA-ROOT-I, O=Whole Foods Market" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1616.wfm.pvt" />
      <esbConnection name="R10" serverUrl="ssl://cerd1616.wfm.pvt:7233" jmsUsername="sb1_mammothPriceR10User" jmsPassword="sb1_mammothPriceR10User" sslPassword="esb" queueName="WFMSB1.Mammoth.Retail.JustInTimeR10.MammothPrice.Queue.V1" sessionMode="ClientAcknowledge" certificateName="CN=CA-ROOT-I, O=Whole Foods Market" certificateStoreName="Root" certificateStoreLocation="LocalMachine" targetHostName="cerd1616.wfm.pvt" />
    </connections>
  </esbConnections>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="Mammoth" providerName="System.Data.SqlClient" connectionString="Data Source=MAMMOTH-DB01-DEV\MAMMOTH;Initial Catalog=Mammoth_Dev;Integrated Security=SSPI" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
