<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net461" />
  <package id="Dapper" version="1.50.2" targetFramework="net46" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="Esb.Core" version="2017.9.28.1" targetFramework="net461" />
  <package id="Icon.Common" version="2016.10.19.4" targetFramework="net45" />
  <package id="Icon.DbContextFactory" version="2017.2.8.1" targetFramework="net45" />
  <package id="Icon.Esb" version="2017.9.28.1" targetFramework="net461" />
  <package id="Icon.Esb.Schemas.Infor" version="2017.9.13.1" targetFramework="net461" />
  <package id="Icon.Esb.Schemas.Mammoth" version="2017.9.26.6" targetFramework="net461" />
  <package id="Icon.Esb.Schemas.Wfm" version="2017.3.14.1" targetFramework="net45" />
  <package id="Icon.Framework" version="2017.9.1.1" targetFramework="net46" />
  <package id="Icon.Logging" version="2016.10.18.4" targetFramework="net45" />
  <package id="Icon.RenewableContext" version="2016.10.19.5" targetFramework="net45" />
  <package id="Irma.Framework" version="2017.8.31.1" targetFramework="net46" />
  <package id="Irma.Testing" version="2017.6.6.3" targetFramework="net45" />
  <package id="Mammoth.Framework" version="2017.9.20.8" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Moq" version="4.7.127" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NLog" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Extended" version="4.0.0.1" targetFramework="net45" />
  <package id="TIBCO.EMS" version="2016.10.21.1" targetFramework="net45" />
</packages>