/****** Object:  StoredProcedure [dbo].[Teams_CreateNew]    Script Date: 02/05/2007 13:21:46 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teams_CreateNew]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Teams_CreateNew]
GO
/****** Object:  StoredProcedure [dbo].[Teams_CreateNew]    Script Date: 02/05/2007 13:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE dbo.Teams_CreateNew
	@Team_No int, 
	@Team_Name varchar(100),
	@Team_Abbr varchar(10)
AS
BEGIN
	SET NOCOUNT ON;

	Insert Into Team
	(
		Team_No, 
		Team_Name, 
		Team_Abbreviation
	)
	Values
	(
		@Team_No,
		@Team_Name,
		@Team_Abbr
	)

END
GO
