@model IEnumerable<Icon.Dashboard.Mvc.ViewModels.RecentLogEntriesReportViewModel>

@{
    var hoursConsideredRecent = 24;
    if (ViewBag.RecentLogEntriesHours != null)
    {
        Int32.TryParse(ViewBag.RecentLogEntriesHours.ToString(), out hoursConsideredRecent);
    }
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapsible">Errors Logged during Last @hoursConsideredRecent Hours</a>
        </h4>
    </div>
    <div id="collapsible" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="panel-group">
                @foreach (var logEntryReport in Model)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="panel panel-default panel-horizontal">
                            <div class="panel-body" id="logEntryReport@(logEntryReport.AppID)">
                                @{Html.RenderPartial("_RecentLogEntriesReportPartial", logEntryReport);}
                            </div>
                            <div class="panel-footer">
                                @using (Ajax.BeginForm("RecentErrors", "Logs", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "logEntryReport" + logEntryReport.AppID.ToString(), OnFailure = "getRecentErrorsFailed" }))
                                {
                                    <input class="hidden" id="appID" name="appID" value="@logEntryReport.AppID" />
                                    <input class="hidden" id="hours" name="hours" value="@hoursConsideredRecent" />
                                    <input type="submit" class="btn btn-info btn-sm" value="↻" />
                                }
                            </div>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </div>
</div>




