@model OutOfStock.Models.KnownOOSUploadModel
@{
    ViewBag.Title = "Upload OOS files";
}

@(Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text>

    $('#file').first().focus();

</text>))


<table class="CleanTable" style="width:auto;">
    <tr class="CleanTable">
        <td align="left" valign="top" class="CleanTable" style="width:240px;">
            <h2>UPLOAD OUT OF<br />STOCK FILES</h2>
            <p>Choose a file to upload.</p>
        </td>
        <td align="left" valign="top" class="CleanTable">

    @using (Html.BeginForm("ReadExcelSheet", "Upload", FormMethod.Post, new { defaultbutton = "Upload", enctype = "multipart/form-data", id="UpSubmit" }))
    {   
        <div class="InfoPanel" style="text-align: center;">
            <p style="font-size: 1em;">Upload product statuses using an Excel spreadsheet. The columns shown below are required. Use this <a href="/Content/OOSUploadTemplate.xlsx?v=1.1.0.0">template</a> to get started.</p>
            <img src="/Content/images/exceltemplate.png" alt="template"/>
            <table align="center">
                <tr>
                    <td align="left" valign="top" style="padding-right:28px;">
                        <input type="file" name="file" id="file" tabindex="1" />
                    </td> 
                    <td align="left" valign="top" style="padding-left:32px;">
                        <input type="submit" value="&nbsp;&nbsp;Upload&nbsp;&nbsp;" name="Upload" id="Upload" tabindex="2" />
                    </td>
                </tr>
            </table>
        
           
        </div>
        
        if (ViewBag.Message != null)
            {
                <div>
                    <ul id="sortablelist">

                        @if (ViewBag.Message != null)
                        {
                            <li class="@ViewBag.MessageClass">@ViewBag.Message</li> 
                        }
                        @foreach (string message in ViewBag.SheetErrors)
                        {
                            <li class="list_item">@message.Trim()</li> 
                        }
                    </ul>
                </div>
            }
        
    }
        
        </td>
    </tr>
</table>


@section HeadContent   
{
    <style type="text/css">

        #sortablelist {
            font: 11px Arial, Helvetica, sans-serif;
            line-height: 16px;
            padding: 5px;
        }

        #sortablelist li.list_good {
            background: url("/Content/images/icon_small_check.gif") 0 0 no-repeat;
            list-style: none;
            padding-left: 20px;
               
        }
       
        #sortablelist li.list_bad { 
            background: url("/Content/images/dialog-close.png") 0 0 no-repeat;
            list-style: none;
            padding-left: 20px;

        }
        #sortablelist li.list_item { 
            list-style: none;
            padding-left: 40px;
            padding-top: 5px;

        }

    </style>
    
